<ul>
    <li class="login_links show_on_tablet">
    </li>
    <li class="margin-left-0">
        <a href="@Url.RouteUrl("pagesRoute", new { id = "partnerska-programa" })">Партнерська програма</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("pagesRoute", new { id = "stati-postachalnikom" })">Співпраця</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("pagesRoute", new { id = "benefit_tv" })">Benefit TV</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("pagesRoute", new { id = "faq" })">FAQ</a>
    </li>
    <li>
        <a href="#">Новини</a>
    </li>
    <li class="show_on_tablet show_on_mobile">
        <a href="@Url.Action("Map", "Home")">Мапа закладів Benefit Card</a>
    </li>
</ul>
