@using Benefit.Common.Constants
@{
    bool active;
}
<div class="partner_menu col-lg-1 col-md-1 col-sm-1 col-xs-1">
    @if (Request.QueryString[DomainConstants.UserIdKey] == null)
    {
        <ul>
            <li class="partner_menu_main @(ViewContext.RouteData.GetRequiredString("action") == "Index" ? "active" : "")">
                <a href="@Url.Action("Index","Panel")">Головна</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "Profile";
            }
            <li class="partner_menu_profile @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Profile", "Panel")">Профіль</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "Structure";
            }
            <li class="partner_menu_network @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Structure", "Panel")">Структура</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "planvunagorod";
            }
            <li class="partner_menu_reward @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("planvunagorod", "Panel")">План винагород</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "partner_menu_study";
            }
            <li class="partner_menu_study">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="#">Бізнес навчання</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "finansovui_oblik";
            }
            <li class="partner_menu_finance @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("finansovui_oblik", "Panel")">Фінансовий облік</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "history";
            }
            <li class="partner_menu_history @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("history", "Panel")">Історія замовлень</a>
            </li>
            @{
        active = ViewContext.RouteData.GetRequiredString("action") == "Zakladu";
            }
            <li class="partner_menu_zakladu @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Zakladu", "Panel")">Заклади</a>
            </li>
            @{
        active = ViewContext.RouteData.GetRequiredString("action") == "partner_menu_write_us";
            }
            <li class="partner_menu_write_us">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel")" class="partner_menu_back"></a>
                }
                <a href="#">Написати <br>нам</a>
            </li>
        </ul>
    }
    else
    {
        <ul>
            <li class="partner_menu_main @(ViewContext.RouteData.GetRequiredString("action") == "Index" ? "active" : "")">
                <a href="@Url.Action("Index","Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Головна</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "Profile";
            }
            <li class="partner_menu_profile @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Profile", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Профіль</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "Structure";
            }
            <li class="partner_menu_network @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Structure", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Структура</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "planvunagorod";
            }
            <li class="partner_menu_reward @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("planvunagorod", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">План винагород</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "partner_menu_study";
            }
            <li class="partner_menu_study">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="#">Бізнес навчання</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "finansovui_oblik";
            }
            <li class="partner_menu_finance @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("finansovui_oblik", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Фінансовий облік</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "history";
            }
            <li class="partner_menu_history @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("history", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Історія замовлень</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "Zakladu";
            }
            <li class="partner_menu_zakladu @(active ? "active" : "")">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="@Url.Action("Zakladu", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })">Заклади</a>
            </li>
            @{
                active = ViewContext.RouteData.GetRequiredString("action") == "partner_menu_write_us";
            }
            <li class="partner_menu_write_us">
                @if (active)
                {
                    <a href="@Url.Action("Index", "Panel", new { userId = Request.QueryString[DomainConstants.UserIdKey] })" class="partner_menu_back"></a>
                }
                <a href="#">Написати <br>нам</a>
            </li>
        </ul>
    }
</div>