@model Benefit.Domain.Models.ApplicationUser
<div class="partner_head col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="userpic">
        <div class="userpic_wrap">
            @{
                var avaUrl = string.IsNullOrEmpty(Model.Avatar) ? "avatar.jpg" : Model.Avatar;
            }
            <img src="~/Images/UserAvatar/@avaUrl" alt="userpic" class="userpic" />
        </div>
    </div>

    @using (Html.BeginForm("SetAvatar", "Panel", FormMethod.Post, new { id = "set_ava_picture", enctype = "multipart/form-data" }))
    {
        <input type="file" name="avatar" id="ava_select" class="hide" accept="image/*" />
    }
    <p class="user_name">@Model.FullName</p>
    <p class="user_statuse">@Model.Status.ToString()</p>
    <p class="ref_code">Реферальний код:<br>@Model.ExternalNumber</p>
    <p class="card_numb">Номер бонусної картки:<br>@Model.CardNumber</p>
    <p class="bonus_count">Загальна сума зароблених бонусів:<br><span class="bonus_border">@Model.TotalBonusAccount.ToString("F")</span></p>
    <p class="bonus_available">Доступні бонуси:<br><span class="bonus_border">@Model.BonusAccount.ToString("F")</span></p>
    <p class="bonus_personal">Бонуси в обробці<br><span class="bonus_border">@Model.HangingBonusAccount.ToString("F")</span></p>
    <p class="bonus_personal">Особисті бонуси за поточний період:<br><span class="bonus_border">@Model.CurrentBonusAccount.ToString("F")</span></p>
    <p class="ball_personal">Особисті бали за поточний період:<br><span class="bonus_border">@Model.PointsAccount.ToString("F")</span></p>
    @{
        var batteryStatus = "battary_full";
        //todo: to constants
        if (Model.PointsAccount < 199)
        {
            batteryStatus = "battary_low";
        }
        if (Model.PointsAccount >= 200 && Model.PointsAccount < 499)
        {
            batteryStatus = "battary_middle";
        }
        string qualificationEpsilonStr;
        var qualificationEpsilon = 500 - Model.PointsAccount;
        if (qualificationEpsilon > 0)
        {
            qualificationEpsilonStr = string.Format("До виконання кваліфікації та отримання комісійної винагороди залишилось набрати {0} балів", qualificationEpsilon.ToString("F"));
        }
        else
        {
            qualificationEpsilonStr = "Ви виконали кваліфікацію!";
        }
    }
    <div class="battery @batteryStatus" data-toggle="tooltip" data-placement="top" title="@qualificationEpsilonStr"></div>
</div>