@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.Domain.Models.Enums
@model Benefit.Domain.Models.ApplicationUser
<div class="partner_head col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="userpic">
        <div class="userpic_wrap">
            @{
                var avaUrl = string.IsNullOrEmpty(Model.Avatar) ? "avatar.jpg" : Model.Avatar;
            }
            <img src="~/Images/UserAvatar/@avaUrl" alt="userpic" class="userpic" />
        </div>
    </div>

    <div class="user_right">
        @using (Html.BeginForm("SetAvatar", "Panel", FormMethod.Post, new { id = "set_ava_picture", enctype = "multipart/form-data" }))
        {
            <input type="file" name="avatar" id="ava_select" class="hide" accept="image/*" />
        }
        <p class="user_name">@Model.FullName</p>
        @if (!Model.Status.HasValue)
        {
            <p class="user_statuse">CLIENT</p>
        }
        else
        {
            <p class="user_statuse">@Enumerations.GetEnumDescription(Model.Status)</p>
        }
        @if (Model.BusinessLevel != null && Model.BusinessLevel == BusinessLevel.Ultimate)
        {
            <p class="user_business_status">Нарахування за B2B: подвійне</p>
        }

        <p class="ref_code">Реєстраційний код:<br>@Model.ExternalNumber</p>

        <p class="bonus_available bonus_available_mobile">Доступні бонуси: <span class="bonus_border">@Model.BonusAccount.ToDoubleDigits()</span></p>
    </div>

    <p class="card_numb">Номер картки або брелока:<br>@Model.CardNumber</p>
    <p class="bonus_available">
        Доступні бонуси:
        <br />
        <span class="bonus_border">
            @string.Format("{0:0.00}", Math.Truncate(Model.BonusAccount * 100) / 100)
        </span>
    </p>
    <p class="bonus_personal">
        Бонуси в обробці
        <br />
        <span class="bonus_border">
            @string.Format("{0:0.00}", Math.Truncate(Model.HangingBonusAccount * 100) / 100)
        </span>
    </p>
</div>