<div class="partner_menu col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <ul>
        <li>
            <a class="partner_menu_main @(ViewContext.RouteData.GetRequiredString("action") == "Index" ? "active" : "")" href="@Url.Action("Index","Panel")">Головна</a>
        </li>
        <li>
            <a class="partner_menu_profile @(ViewContext.RouteData.GetRequiredString("action") == "Profile" ? "active" : "")" href="@Url.Action("Profile", "Panel")">Профіль</a>
        </li>
        <li>
            <a class="partner_menu_network @(ViewContext.RouteData.GetRequiredString("action") == "Structure" ? "active" : "")" href="@Url.Action("Structure", "Panel")">Структура</a>
        </li>
        <li>
            <a class="partner_menu_reward @(ViewContext.RouteData.GetRequiredString("action") == "planvunagorod" ? "active" : "")" href="@Url.Action("planvunagorod", "Panel")">План винагород</a>
        </li>
        <li>
            <a class="partner_menu_study" href="#">Бізнес навчання</a>
        </li>
        <li>
            @*<a class="partner_menu_finance @(ViewContext.RouteData.GetRequiredString("action") == "finansovui_oblik" ? "active" : "")" href="@Url.Action("finansovui_oblik", "Panel")">Фінансовий облік</a>*@
            <a class="partner_menu_finance @(ViewContext.RouteData.GetRequiredString("action") == "finansovui_oblik" ? "active" : "")" href="#">Фінансовий облік</a>
        </li>
        <li>
            <a class="partner_menu_history @(ViewContext.RouteData.GetRequiredString("action") == "history" ? "active" : "")" href="@Url.Action("history", "Panel")">Історія замовлень</a>
        </li>
        <li>
            <a class="partner_menu_zakladu @(ViewContext.RouteData.GetRequiredString("action") == "Zakladu" ? "active" : "")" href="@Url.Action("Zakladu", "Panel")">Заклади</a>
        </li>
        <li>
            <a class="partner_menu_write_us" href="#">Написати <br>нам</a>
        </li>
    </ul>
</div>