@model Benefit.DataTransfer.ViewModels.ProcessBonusesViewModel

<h2>Результати розрахунку</h2>

<fieldset>
    <legend>Загальні показники</legend>
    <table>
        <tr>
            <td>
                <strong>
                    Кількість партнерів, які заробили бали:
                </strong>
            </td>
            <td>
                @Model.ActiveBuyersCount
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Загальная кількість нарахованих персональних бонусів:
                </strong>
            </td>
            <td>
                @Model.PersonalBonusesAccrued
            </td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Бонуси наставника</legend>
    <table>
        <tr>
            <th>Імя</th>
            <th>Кількість бонусів</th>
        </tr>
        @foreach (var partner in Model.Partners)
        {
            <tr>
                <td>@partner.User.FullName</td>
                <td>@partner.BonusesReckoned</td>
            </tr>
        }
    </table>
</fieldset>
<br />
<fieldset>
    <legend>Бонуси VIP</legend>
    <table>
        <tr>
            <th>Імя</th>
            <th>Кількість бонусів</th>
        </tr>
        @foreach (var partner in Model.VipPartners)
        {
            <tr>
                <td>@partner.User.FullName</td>
                <td>@partner.BonusesReckoned</td>
            </tr>
        }
    </table>
</fieldset>
