@using Benefit.Services
@{
    ViewBag.Title = "VIP функції";
}
@section scripts{
    <script>
        $("#start-bonuses-calculations").click(function () {
            $("#start-bonuses-calculations").attr('disabled', 'disabled');
            $("#start-bonuses-calculations").after("<h1>НЕ ЗАКРИВАЙТЕ ЦЕ ВІКНО БРАЗУРА ДО ЗАВЕРШЕННЯ РОЗРАХУНКУ!</h1>");
        });

        $("#start-close-period").click(function () {
            $("#start-close-period").attr('disabled', 'disabled');
            $("#start-close-period").after("<h1>НЕ ЗАКРИВАЙТЕ ЦЕ ВІКНО БРАЗУРА ДО ЗАВЕРШЕННЯ ЗАКРИТТЯ ПЕРІОДУ!</h1>");
        });
    </script>
}
<fieldset>
    <legend>
        Розрахунок (15 число, зробити бекап та тестувати на біз)
    </legend>
    <a class="btn btn-info" id="start-bonuses-calculations" href="@Url.Action("BonusesCalculation", "AdminStuff")">Провести розрахунок</a>
</fieldset>

<fieldset>
    <legend>
        Закриття періоду (30 число)
    </legend>
    <a class="btn btn-info" id="start-close-period" href="@Url.Action("ClosePeriod", "AdminStuff")">Закрити період</a>
</fieldset>
<fieldset>
    <legend>
        SEO
    </legend>
    <a class="btn btn-info" href="@Url.Action("GenerateSitemap", "AdminStuff")">Згенерувати sitemap.xml</a>
</fieldset>
<fieldset>
    <legend>
        Запустити імпорт
    </legend>
    <a class="btn btn-info" href="@Url.Action("ProcessImportTasks", "Schedule", new {key = SettingsService.ScheduleKey, area = string.Empty})">Імпорт</a>
</fieldset>
<fieldset>
    <legend>
        Очистити кеш категорій
    </legend>
    <a class="btn btn-info" href="@Url.Action("ClearCategoriesCache", "AdminStuff")">Очистити кеш</a>
</fieldset>
<fieldset>
    <legend>
        Згенерувати рекомендовані та нові товари
    </legend>
    <a class="btn btn-info" target="_blank" href="@string.Format("{0}/Schedule/FetchFeaturedProducts?key={1}", SettingsService.BaseApiHostName, SettingsService.ScheduleKey)">Згенерувати</a>
</fieldset>
<fieldset>
    <legend>
        Синхронізувати замовлення з Розетка
    </legend>
    <a class="btn btn-info" target="_blank" href="@string.Format("{0}/Schedule/ProcessRozetkaOrders?key={1}", SettingsService.BaseApiHostName, SettingsService.ScheduleKey)">Синхронізувати</a>
</fieldset>
@*<fieldset>
        <legend>
            Термінація
        </legend>
        <a class="btn btn-info" href="@Url.Action("TerminateNonActivePartners", "AdminStuff")" onclick="$(this).attr('disabled', 'disabled');">Термінація користувачів</a>
    </fieldset>*@
@*<fieldset>
        <legend>
            Чат
        </legend>
        <a class="btn btn-info" href="@Url.Action("ClearChat", "AdminStuff")">Очистити чат</a>
    </fieldset>*@
