@using Benefit.Common.Constants
@using Benefit.Domain.Models
@using Microsoft.AspNet.Identity
<ul class="nav nav-list">
    @if (User.IsInRole(DomainConstants.AdminRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Dashboard")">
                <i class="icon-home"></i>
                <span class="menu-text">Головна</span>
            </a>
        </li>
    }
    @if (User.IsInRole(DomainConstants.AdminRoleName) || User.IsInRole(DomainConstants.OrdersManagerRoleName) || User.IsInRole(DomainConstants.SellerRoleName) || User.IsInRole(DomainConstants.SellerOperatorRoleName) || User.IsInRole(DomainConstants.SellerModeratorRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Orders")">
                <i class="icon-money"></i>
                <span class="menu-text"> Замовлення </span>
            </a>
        </li>
    }
    @if (User.IsInRole(DomainConstants.AdminRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Users")">
                <i class="icon-group"></i>
                <span class="menu-text"> Партнери </span>
            </a>
        </li>
    }
    @if (User.IsInRole(DomainConstants.AdminRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Sellers")">
                <i class="icon-truck"></i>
                <span class="menu-text"> Постачальники </span>
            </a>
        </li>
    }
    else if (User.IsInRole(DomainConstants.SellerRoleName) || User.IsInRole(DomainConstants.SellerModeratorRoleName))
    {
        <li>
            <a href="@Url.Action("CreateOrUpdate", "Sellers", new { id = Seller.CurrentAuthorizedSellerId })">
                <i class="icon-truck"></i>
                <span class="menu-text"> Дані постачальника </span>
            </a>
        </li>
    }

    @if (User.IsInRole(DomainConstants.AdminRoleName) || User.IsInRole(DomainConstants.SellerRoleName) || User.IsInRole(DomainConstants.SellerModeratorRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Products")">
                <i class="icon-barcode"></i>
                <span class="menu-text"> Товари</span>
            </a>
        </li>
    }
    @if (User.IsInRole(DomainConstants.AdminRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Reviews")">
                <i class="icon-star"></i>
                <span class="menu-text"> Відгуки</span>
            </a>
        </li>
    }

    @if (User.IsInRole(DomainConstants.AdminRoleName))
    {
        <li>
            <a href="@Url.Action("Index", "Categories")">
                <i class="icon-list"></i>
                <span class="menu-text"> Категорії</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("SellerTurnover", "Statistics")">
                <i class="icon-book"></i>
                <span class="menu-text">Звітність</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "InfoPages")">
                <i class="icon-desktop"></i>
                <span class="menu-text">Інформаційні сторінки</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Banners")">
                <i class="icon-desktop"></i>
                <span class="menu-text">Банери</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Cards")">
                <i class="icon-credit-card"></i>
                <span class="menu-text">Картки та брелоки</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Regions")">
                <i class="icon-globe"></i>
                <span class="menu-text"> Регіони</span>
            </a>
        </li>
        if (User.IsInRole(DomainConstants.SuperAdminRoleName))
        {
            <li>
                <a href="@Url.Action("Index", "AdminStuff")">
                    <i class="icon-key"></i>
                    <span class="menu-text">VIP функції</span>
                </a>
            </li>
        }
    }
    <li>
        <a href="@Url.Action("Index", "ImportExport")">
            <i class="icon-download-alt"></i>
            <span class="menu-text">Імпорт/Експорт</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("TabableContent", "InfoPages", new { pageUrls = "instrukciya_dlya_postachalnika,instrukciya_vstanovlennya_ta_vikoristannya_komplektu_b2b"})">
            <i class="icon-bullhorn"></i>
            <span class="menu-text">Інструкції</span>
        </a>
    </li>
</ul>
