@using Benefit.Domain.Models
@using Benefit.Common.Constants
@model Benefit.Domain.Models.Order

<p class="bigger-150">Вміст замовлення №@Model.OrderNumber</p>
@if (Seller.CurrentAuthorizedSellerId != null)
{
    <p>Додати новий товар</p>
    <div class="display-flex padding-10">
        <button type="button" id="fn-add-product" class="btn btn-success">Додатковий товар</button>
        <input type="text" placeholder="Введіть ID або назву товару" id="product-name" class="width-60 margin-left-30" />
    </div>
}
<div>
    <div style="max-height: 360px;overflow-y: scroll; flex-grow:1;" class="edit-products-container">
        @foreach (var product in Model.OrderProducts)
        {
            <div class="product-wrap" data-product-id="@product.ProductId" data-product-price="@product.ActualPrice">
                <div class="border-bottom padding-10" style="display:flex;">
                    @if (Model.OrderProducts.Count > 1)
                    {
                        <div style="width: 20px;">
                            <a href="#">
                                <i class="icon icon-remove remove-sign"></i>
                            </a>
                        </div>
                    }
                    <div style="width: 200px; text-align: center;">
                        <img src="@product.ProductImageUrl" />
                    </div>
                    <div class="width-100">
                        <div class="product-title">@product.ProductName</div>
                        <div class="product-secondary">
                            Код товару: @product.ProductSku
                        </div>
                        <div style="display:flex; justify-content: space-between;" class="product-purchase-info">
                            <div class="product-price">@product.ActualPrice грн</div>
                            <div _ngcontent-c31="" class="counter no-update">
                                <a _ngcontent-c31="" class="minus fn-update-price" href="#">
                                    <i class="icon icon-minus"></i>
                                </a>
                                <input name="quantity" class="quantity" type="text" value="@product.Amount" data-weight-product="@product.IsWeightProduct">
                                <a class="plus fn-update-price" href="#">
                                    <i class="icon icon-plus"></i>
                                </a>
                            </div>
                            <div class="total-product-price" data-original-price="@product.ActualPrice"><span>@(product.ActualPrice * product.Amount)</span> грн</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="display-flex padding-15 font-bigger">
        <div style="flex-grow:1; text-align:right; margin-right: 100px;">Всього за товари</div>
        <span class="total" style="width:100px;">@(Model.OrderProducts.Sum(entry => entry.Amount * entry.ActualPrice).ToString("F"))</span> грн
    </div>

</div>

@*@foreach (var product in Model.OrderProducts)
    {
        var productOptionsSum = product.DbOrderProductOptions.Sum(entry => entry.ProductOptionPriceGrowth * entry.Amount);
        var productSum = product.ProductPrice * product.Amount;
        <tr data-product-id="@product.ProductId" class="order-product">
            <td class="padding-horizontal-10">
                <input type="text" class="product-name col-sm-10" value="@product.ProductName" />
                @if (!string.IsNullOrEmpty(product.ProductUrlName))
                {
                    <a class="btn btn-xs btn-info margin-left-10" href="@Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", product.ProductUrlName, product.ProductSku) })" target="_blank">
                        <i class="icon-eye-open bigger-120"></i>
                    </a>
                }
            </td>
            <td>
                <input type="text" class="number-input product-amount col-sm-12" value="@product.Amount" />
            </td>
            <td>
                <input type="text" class="number-input product-price col-md-12" value="@product.ProductPrice" />

            </td>
            <td>@((productSum + productOptionsSum).ToString("F"))</td>
            <td>
                @if (Model.Status == OrderStatus.Processed)
                {
                    <a class="btn btn-danger" href="@Url.Action("DeleteOrderProduct", new {orderId = Model.Id, productId = product.ProductId})" onclick=" return confirm('Ви впевненні?') ">
                        <i class="icon-trash"></i>
                    </a>
                }
            </td>
        </tr>
    }*@
<div class="modal-footer" style="border:0; background:none;">
    <button type="button" class="btn btn-primary fn-update-order-products" data-order-id="@Model.Id">Застосувати</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
</div>