@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Order
<p class="history_modal_title">Інформація про замовлення</p>
<table class="order_ifo_table">
    <tbody>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Сума (грн)</th>
            @if (Model.PaymentType == PaymentType.Bonuses)
            {
                <th>Сплачено бонусами</th>
            }
            <th>Бали</th>
            <th>Бонуси</th>
            <th>Спосіб оплати</th>
            <th>Спосіб доставки</th>
            <th>Адреса доставки</th>
            <th>Вартість доставки</th>
            @if (Model.OrderType == OrderType.BenefitSite)
            {
                <th>Коментар</th>
            }
            @if (Model.OrderType == OrderType.BenefitCard)
            {
                <th>Номер чеку</th>
            }
        </tr>
        <tr>
            <td>@Model.OrderNumber</td>
            <td>@Model.Time.ToLocalTimeWithFormat()</td>
            <td>@Model.Sum.ToString("F")</td>
            @if (Model.PaymentType == PaymentType.Bonuses)
            {
                <td>@Math.Abs(Model.BonusPaymentTransaction.Bonuses).ToString("F")</td>
            }
            <td>@Model.PointsSum.ToString("F")</td>
            <td>@Model.PersonalBonusesSum.ToString("F")</td>
            <td>@Model.PaymentType</td>
            <td>@Model.ShippingName</td>
            <td>@Model.ShippingAddress</td>
            <td>@Model.ShippingCost</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td style="text-align: left;">
                @if (Model.Status == OrderStatus.Created || Model.Status == OrderStatus.Processed)
                {
                    @Html.DropDownList("OrderStatus", EnumHelper.GetSelectList(typeof(OrderStatus), Model.Status))
                }
                else
                {
                    @Enumerations.GetEnumDescription(Model.Status)
                }
            </td>
            <td>Коментар статусу</td>
            <td colspan="5">
                @Html.TextBox("StatusComment", Model.StatusComment, new { @class = "width-100" })
            </td>
        </tr>
    </tbody>
</table>
@if (Model.Status == OrderStatus.Created || Model.Status == OrderStatus.Processed)
{
    <p>
        <a class="btn btn-primary margin-right-10  btn-sm" href="#" title="Зберегти статус" id="updateStatus">Зберегти статус</a>
    </p>
}

<p class="history_modal_title">Товари в кошику</p>
<table class="order_in_table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="max-height:none; overflow-y: auto;">
        @foreach (var product in Model.OrderProducts)
        {
            var productOptionsSum = product.DbOrderProductOptions.Sum(entry => entry.ProductOptionPriceGrowth * entry.Amount);
            var productSum = product.ProductPrice * product.Amount;
            <tr>
                <td>
                    @product.ProductName
                </td>
                <td>
                    @if (Model.Status == OrderStatus.Processed)
                    {
                        <input type="text" class="number-input product-amount col-sm-12" value="@product.Amount" />
                    }
                    else
                    {
                        @product.Amount
                    }
                </td>
                <td>
                    @if (Model.Status == OrderStatus.Processed)
                    {
                        <input type="text" class="number-input product-price col-md-12" value="@product.ProductPrice" />
                    }
                    else
                    {
                        @product.ProductPrice
                    }
                </td>
                <td>@((productSum + productOptionsSum).ToString("F"))</td>
                <td>
                    @if (Model.Status == OrderStatus.Processed)
                    {
                        <a class="btn btn-success update-product" href="#" data-product-id="@product.ProductId">
                            <i class="icon-refresh"></i>
                        </a>
                        <a class="btn btn-danger" href="@Url.Action("DeleteOrderProduct", new {orderId = Model.Id, productId = product.ProductId})" onclick=" return confirm('Ви впевненні?') ">
                            <i class="icon-trash"></i>
                        </a>
                    }
                </td>
            </tr>
            foreach (var productOption in product.DbOrderProductOptions)
            {
                <tr>
                    <td>@productOption.ProductOptionName</td>
                    <td>
                        @if (Model.Status == OrderStatus.Processed)
                        {
                            <input type="text" class="number-input product-amount col-sm-12" value="@productOption.Amount" />
                        }
                        else
                        {
                            @productOption.Amount
                        }
                    </td>

                    <td>
                        @if (Model.Status == OrderStatus.Processed)
                        {
                            <input type="text" class="number-input product-price col-md-12" value="@productOption.ProductOptionPriceGrowth" />
                        }
                        else
                        {
                            @productOption.ProductOptionPriceGrowth
                        }
                    </td>
                    @if (Model.Status == OrderStatus.Processed)
                    {
                        <td></td>
                        <td>
                            <a class="btn btn-success update-product-option" href="#" data-product-option-id="@productOption.ProductOptionId" data-product-id="@product.ProductId">
                                <i class="icon-refresh"></i>
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("DeleteOrderProductOption", new { orderId = Model.Id, productId = product.ProductId, productOptionId = productOption.ProductOptionId })" onclick=" return confirm('Ви впевненні?') ">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<button class="btn btn-light" onclick="window.open('@Url.Action("Print", new { id = Model.Id })')">
    <i class="icon-print bigger-160"></i>
    Розрдрукувати
</button>

