@model Benefit.Domain.Models.Order

@{
    ViewBag.Title = "Замовлення №" + Model.OrderNumber;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Content/css/order-details.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script>
        var orderProductFromUrl = '@Url.Action("AddProductForm", new {orderId = Model.Id})';
        var updateOrderStatusUrl = '@Url.Action("UpdateStatus")';
        var bulkUpdateProductDetailsUrl = '@Url.Action("BulkUpdateOrderProducts", new { orderId = @Model.Id })';

        function LoadOrderProductForm() {
            $("#orderProductForm").load(orderProductFromUrl, function(data) {
                $("#dialog").removeClass('hide').dialog({
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function() {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        };

        $(function() {
            $("#updateStatus").click(function() {
                var status = $("#OrderStatus").val();
                var statusComment = $("#StatusComment").val();
                $.post(updateOrderStatusUrl,
                {
                    orderStatus: status,
                    statusComment: statusComment,
                    orderId: '@Model.Id'
                }, function() {
                    location.reload();
                });
            });

            $("#update-order-products").click(function () {
                var orderProducts = new Array();
                var orderProductOptions = new Array();
                $(".order_in_table tbody tr.order-product").each(function () {
                    var tr = $(this);
                    var productId = tr.attr("data-product-id");
                    var name = tr.find(".product-name").val();
                    var amount = tr.find(".product-amount").val();
                    var price = tr.find(".product-price").val();
                    orderProducts.push({
                        ProductId: productId,
                        ProductName: name,
                        Amount: amount,
                        ProductPrice: price
                    });
                });

                $(".order_in_table tbody tr.order-product-option").each(function () {
                    var tr = $(this);
                    var productOptionId = tr.attr("data-product-option-id");
                    var productId = tr.attr("data-product-id");
                    var name = tr.find(".product-option-name").val();
                    var amount = tr.find(".product-option-amount").val();
                    var price = tr.find(".product-option-price").val();
                    orderProductOptions.push({
                        ProductId: productId,
                        ProductOptionId: productOptionId,
                        ProductOptionName: name,
                        Amount: amount,
                        ProductOptionPriceGrowth: price
                    });
                });
                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    url: bulkUpdateProductDetailsUrl,
                    data: JSON.stringify({ orderProducts: orderProducts, orderProductOptions: orderProductOptions }),
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    complete: function (url) {
                        window.location.href = url.responseJSON;
                        flashMessage("Замовлення оновленно");
                    }
                });
            });
        });
    </script>
}
<div id="orderProductForm" class="margin-top-10">
</div>
@Html.Partial("_OrderDetailsPartial", Model)

