@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Benefit.Web.Models.Admin.OrdersFilters
@{
    ViewBag.Title = "Замовлення";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles {

    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/order-details.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    @if (User.IsInRole(DomainConstants.SuperAdminRoleName))
    {
        <script>
            $(function () {
                var deleteOrderUrl = '@Url.Action("Delete")';
                $("body").on("click", "#delete-order", function (e) {
                    e.preventDefault();
                    if (!confirm('Ви впевненні?'))
                        return;
                    var parent = $(this).parents("tr");
                    var id = $(this).attr("data-order-id");
                    $.post(deleteOrderUrl + "?id=" + id, null, function (data) {
                        if (data.status) {
                            parent.remove();
                        }
                    });
                }
                );
            });
        </script>
    }
    <script>
        var getOrderDetailsUrl = '@Url.Action("Details")';

        $(function () {
            $(".fn-show-order").click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-order-id");
                $.get(getOrderDetailsUrl + "?id=" + id, function (data) {
                    $("#order-details").html(data);
                    $(".modal").modal();
                });
            });

            $(".chosen-select").chosen({
                search_contains: true
            });

            $('#date-range-picker').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Ок",
                    "cancelLabel": "Відміна",
                    "customRangeLabel": "Обрати період"
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                autoApply: true
            });

            $(".switchNavigationType").click(function () {
                $(".switchNavigationType").removeClass("btn-primary");
                $(this).addClass("btn-primary");
                var navType = $(this).attr("data-navtype");
                $("#navType").val(navType);
            });

            $(".pagination a").click(function () {
                $("#page").val($(this).attr("data-page-number"));
                $("form").submit();
            });

            $("button[type=submit]").click(function () {
                $("#page").val(0);
            });

            $("input[name=PaymentTypeChk]").change(function () {
                var paymentTypes = $("input[name=PaymentTypeChk]:checked").map(function () { return $(this).val() }).get().toString();
                $("#PaymentType").val(paymentTypes);
            });
            $("input[name=StatusChk]").change(function () {
                var statuses = $("input[name=StatusChk]:checked").map(function () { return $(this).val() }).get().toString();
                $("#Status").val(statuses);
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    <div class="page-header no-padding-bottom">
        <h1 class="no-padding-bottom">Тип замовлення</h1>
    </div>
    <div class="row">
        @Html.Hidden("page", Model)
        <div class="col-md-3">
            <a data-navtype="BenefitSite" class="btn switchNavigationType @(Model.NavigationType == OrderType.BenefitSite ? "btn-primary" : "")">Онлайн</a>
            <a data-navtype="BenefitCard" class="btn switchNavigationType @(Model.NavigationType == OrderType.BenefitCard ? "btn-primary" : "")">Benefit Card</a>
            @Html.Hidden("NavigationType", Model.NavigationType.ToString(), new { id = "navType" })
        </div>
        <div class="col-md-2">
            @if (Model.NavigationType == OrderType.BenefitSite)
            {
                <input type="text" class="width-100 form-control number-input" name="OrderNumber" placeholder="Номер замовлення" value="@Model.OrderNumber" />
            }
            @if (Model.NavigationType == OrderType.BenefitCard)
            {
                <input type="text" class="width-100 form-control" name="PersonnelName" placeholder="І’мя касира" value="@Model.PersonnelName" />
            }
        </div>
        <div class="col-md-2">
            <input type="text" class="width-100 form-control" name="ClientName" placeholder="І’мя клієнта" value="@Model.ClientName" />
        </div>

        <div class="col-md-2">
            @if (User.IsInRole(DomainConstants.AdminRoleName) || User.IsInRole(DomainConstants.OrdersManagerRoleName))
            {
                @Html.DropDownList("SellerId", Model.Sellers, "Вибрати постачальника", new { @class = "width-70 chosen-select" })
            }
        </div>
        <div class="col-md-2">
            <input type="text" id="date-range-picker" name="DateRange" class="form-control" placeholder="Виберіть період" value="@Model.DateRange">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-purple btn-sm">
                Фільтрувати
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.HiddenFor(m => m.PaymentType)
            <div class="page-header no-padding-bottom">
                <h1 class="no-padding-bottom">Метод оплати</h1>
            </div>
            <ul style="list-style-type: none; margin: 0;">
                @foreach (Enum paymentMethod in Enum.GetValues(typeof(PaymentType)))
                {
                    <li>
                        @{
                            var paymentName = Enumerations.GetEnumDescription(paymentMethod);
                        }
                        <input type="checkbox" name="PaymentTypeChk" value="@paymentMethod" @(Model.PaymentType.Contains(paymentMethod.ToString()) ? "checked" : "") />
                        <label for="@paymentMethod">@paymentName</label>
                    </li>
                }
            </ul>
        </div>
        @if (Model.NavigationType == OrderType.BenefitSite)
        {
            <div class="col-md-3">
                @Html.HiddenFor(m => m.Status)
                <div class="page-header no-padding-bottom">
                    <h1 class="no-padding-bottom">Статус</h1>
                </div>
                <ul style="list-style-type: none; margin: 0;">
                    @foreach (Enum status in Enum.GetValues(typeof(OrderStatus)))
                    {
                        <li>
                            @{
                                var statusName = Enumerations.GetEnumDescription(status);
                            }
                            <input type="checkbox" name="StatusChk" value="@status" @(Model.Status.Contains(status.ToString()) ? "checked" : "") />
                            <label for="@status">@statusName</label>
                        </li>
                    }
                </ul>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.DateRange))
        {
            <div class="col-md-3">
                <div class="page-header no-padding-bottom">
                    <h1 class="no-padding-bottom">Додаткові опції</h1>
                </div>
                <ul style="list-style-type: none; margin: 0;">
                    <li>
                        @Html.CheckBoxFor(m => m.ClientGrouping)
                        <label for="ClientGrouping">Групувати за клієнтом</label>
                    </li>
                </ul>
            </div>
        }
        <div class="col-md-3">
            <div class="page-header no-padding-bottom">
                <h1 class="no-padding-bottom">Сортування</h1>
            </div>
            <ul style="list-style-type: none; margin: 0;">
                @foreach (var item in Model.Sorting)
                {
                    <li>
                        <label>
                            @Html.RadioButtonFor(m => m.Sort, item.Value)
                            @Html.Raw(item.Text)
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<div id="ordersList">
    @Html.Partial("_OrdersListPartial", Model.Orders)
</div>

<div class="page-header no-padding-bottom">
    <h1 class="no-padding-bottom pull-left">Загальна сума обраних замовлень:</h1> <h1 class="orange">@Model.Sum.ToString("F") грн</h1>
    <h1 class="no-padding-bottom pull-left">Кількість обраних замовлень:</h1> <h1 class="orange">@Model.Number.ToString("F")</h1>
</div>

<div class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document" style="width:85%;">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-remove-sign"></i>
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                </div>
            <div class="modal-body" id="order-details">
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>