@using Benefit.Common.Constants
@using Benefit.Domain.Models
@model Benefit.Web.Models.Admin.OrdersFilters
@{
    ViewBag.Title = "Замовлення";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles {
    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>

    <script>
        $(function () {
            $(".chosen-select").chosen({
                search_contains: true
            });

            $('#date-range-picker').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Ок",
                    "cancelLabel": "Відміна",
                    "customRangeLabel": "Обрати період"
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                autoApply: true
            });

            $(".switchNavigationType").click(function () {
                $(".switchNavigationType").removeClass("btn-primary");
                $(this).addClass("btn-primary");
                var navType = $(this).attr("data-navtype");
                $("#navType").val(navType);
            });

            $(".pagination a").click(function () {
                $("#page").val($(this).text());
                $("form").submit();
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    <label>Тип замовлення</label>
    <div class="row">
        @Html.Hidden("page", Model)
        <div class="col-md-2">
            <a data-navtype="BenefitSite" class="btn switchNavigationType @(Model.NavigationType == OrderType.BenefitSite ? "btn-primary":"")">Онлайн</a>
            <a data-navtype="BenefitCard" class="btn switchNavigationType @(Model.NavigationType == OrderType.BenefitCard ? "btn-primary":"")">Benefit Card</a>
            @Html.Hidden("NavigationType", Model.NavigationType.ToString(), new { id = "navType" })
        </div>
        <div class="col-md-4">
            <input type="text" class="width-100 form-control" name="ClientName" placeholder="Введіть імя клієнта" value="@Model.ClientName" />
        </div>
        <div class="col-md-3">
            @if (User.IsInRole(DomainConstants.AdminRoleName))
            {
                @Html.DropDownList("SellerId", Model.Sellers, "Вибрати постачальника", new {@class = "width-90 chosen-select"})
            }
        </div>
        <div class="col-md-2">
            <input type="text" id="date-range-picker" name="DateRange" class="form-control" placeholder="Виберіть період" value="@Model.DateRange">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-purple btn-sm">
                Фільтрувати
                <i class="icon-search icon-on-right bigger-110"></i>
            </button>
        </div>
    </div>
}

<div id="ordersList">
    @Html.Partial("_OrdersListPartial", Model.Orders)
</div>