@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Benefit.Web.Models.Admin.AdminOrdersFilters
@{
    ViewBag.Title = "Замовлення";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles {

    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Areas/Admin/styles/admin.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    <script>
        var changeStatusUrl = '@Url.Action("UpdateStatus")';
        var addCommentUrl = '@Url.Action("AddComment")';
        $(function () {
            var popOverSettings = {
                placement: 'bottom',
                container: 'body',
                html: true,
                selector: '[data-rel="popover"]',
                content: function () {
                    return $(this).next('.popover-content-wrapper').html();
                }
            };
            $('[data-rel="hoverpopover"]').popover({
                trigger: "hover",
                placement: 'bottom'
            });
            $('body').popover(popOverSettings);

            $("body").on("keyup", ".data-status-comment", function () {
                if ($(this).val()) {
                    $(".fn-add-comment-submit").prop("disabled", "");
                }
                else {
                    $(".fn-add-comment-submit").prop("disabled", "disabled");
                }
            });
            $("body").on("click", ".fn-add-comment-submit", function () {
                var orderId = $(this).attr("data-order-id");
                $.post(addCommentUrl, {
                    orderId: orderId,
                    status: $(this).attr("data-status"),
                    comment: $(".data-status-comment").val()
                }, function (data) {
                    $(".data-status-wrap[data-order-id=" + orderId + "]").html(data.statusPartial);
                });
            });

            $("body").on("change", ".status-list input", function () {
                if (this.checked) {
                    $(".fn-change-status-submit").prop("disabled", "");
                    if ($(this).attr("data-status") == '@((int)OrderStatus.PassedToDelivery)') {
                        $(this).parent().siblings(".data-delievery").show();
                    }
                    else {
                        $(this).parent().siblings(".data-delievery").hide();
                    }
                    if ($(this).attr("data-status-schema") == 'danger' || $(this).attr("data-status-schema") == 'default') {
                        var commentSection = $(".comment-section");
                        commentSection.appendTo($(this).parent());
                        commentSection.show();
                    }
                }
            });
            $("body").on("click", ".fn-change-status-submit", function () {
                var btn = $(this);
                var orderId = btn.attr("data-order-id");
                var status = btn.parents(".change-status").find(".status-list input:checked").attr("data-status");
                var comment = btn.parents(".status-wrap").find(".status-comment").val();
                var model = { orderStatus: status, orderId: orderId, comment: comment };
                var ttn = btn.parents(".change-status").find(".delievery-tracking").val();
                var shipDetails = btn.parents(".change-status").find(".delievery-city").val() + ", від. " + btn.parents(".change-status").find(".delievery-otd").val();
                if (ttn) {
                    delieveryType = btn.parents(".change-status").find(".delievery-type").val();
                    model.delieveryType = delieveryType;
                    model.delieveryTracking = ttn;
                    model.delieveryAddress = shipDetails;
                }
                $.post(changeStatusUrl, model, function (data) {
                    $('[data-rel=popover]').popover('hide');
                    $(".data-status-preview[data-order-id=" + orderId + "]").html(data.statusPreview);
                    $(".data-status-wrap[data-order-id=" + orderId + "]").html(data.statusPartial);
                });
            });
            $("body").on("click", ".fn-popover-close", function () {
                $('[data-rel=popover]').popover('hide');
            });

            $(".images-thmb").each(function () {
                var maxWidth = $(this).get(0).scrollWidth;
                $(this).css("max-width", maxWidth + "px");
                $(this).find("img").each(function () {
                    $(this).attr("src", $(this).attr("data-src"));
                })
            })

            $("body").on("click", ".order-number", function (e) {
                e.preventDefault();
                var orderWrap = $(this).parents(".order-wrap");
                if (orderWrap.attr("data-collapsed") == "true") {
                    orderWrap.find(".order-preview i").removeClass("icon-chevron-down");
                    orderWrap.find(".order-preview i").addClass("icon-chevron-up");
                    orderWrap.animate({ height: orderWrap.get(0).scrollHeight }, 200);
                    orderWrap.attr("data-collapsed", "false")
                    $(".images-thmb").hide();
                }
                else {
                    orderWrap.find("i").addClass("icon-chevron-down");
                    orderWrap.find("i").removeClass("icon-chevron-up");
                    orderWrap.animate({ height: 54 }, 200);
                    orderWrap.attr("data-collapsed", "true")
                    $(".images-thmb").show();
                }
            });
        })
    </script>
    @if (User.IsInRole(DomainConstants.SuperAdminRoleName))
    {
        <script>
            $(function () {
                var deleteOrderUrl = '@Url.Action("Delete")';
                $("body").on("click", "#delete-order", function (e) {
                    e.preventDefault();
                    if (!confirm('Ви впевненні?'))
                        return;
                    var parent = $(this).parents("tr");
                    var id = $(this).attr("data-order-id");
                    $.post(deleteOrderUrl + "?id=" + id, null, function (data) {
                        if (data.status) {
                            parent.remove();
                        }
                    });
                });
            });
        </script>
    }
    <script>
        var getOrderDetailsUrl = '@Url.Action("Details")';

        $(function () {
            //$(".fn-show-order").click(function (e) {
            //    e.preventDefault();
            //    var id = $(this).attr("data-order-id");
            //    $.get(getOrderDetailsUrl + "?id=" + id, function (data) {
            //        $("#order-details").html(data);
            //        $(".modal").modal();
            //    });
            //});

            $(".chosen-select").chosen({
                search_contains: true,
                width: "360px"
            });

            $('#date-range-picker').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Ок",
                    "cancelLabel": "Відміна",
                    "customRangeLabel": "Обрати період"
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                autoApply: true
            });

            $(".switchNavigationType").click(function () {
                $(".switchNavigationType").removeClass("btn-primary");
                $(this).addClass("btn-primary");
                var navType = $(this).attr("data-navtype");
                $("#navType").val(navType);
            });

            $(".pagination a").click(function () {
                $("#page").val($(this).attr("data-page-number"));
                $("form").submit();
            });

            $("button[type=submit]").click(function () {
                $("#page").val(0);
            });

            $("input[name=PaymentTypeChk]").change(function () {
                var paymentTypes = $("input[name=PaymentTypeChk]:checked").map(function () { return $(this).val() }).get().toString();
                $("#PaymentType").val(paymentTypes);
            });
            $("input[name=StatusChk]").change(function () {
                var statuses = $("input[name=StatusChk]:checked").map(function () { return $(this).val() }).get().toString();
                $("#Status").val(statuses);
            });
        });
    </script>
}
<div class="filters-wrap display-flex border-bottom width-100">
    @{
        var status = 0;
        int.TryParse(Request.QueryString["status"], out status);
    }
    <a class="filter-tab border-left border-right @(status == 0 ? "active" : "")" href="@Url.Action("Index", new { status=0 })">В обробці</a>
    <a class="filter-tab border-right @(status == 1 ? "active" : "")" href="@Url.Action("Index", new { status=1 })">Успішно завершені</a>
    <a class="filter-tab border-right @(status == 2 ? "active" : "")" href="@Url.Action("Index", new { status=2 })">Неуспішно завершені</a>
    <a class="filter-tab border-right @(status == 3 ? "active" : "")" href="@Url.Action("Index", new { status=3 })">Створити замовлення</a>
</div>
<br />
<div class="alert alert-secondary orders-filters">
    @using (Html.BeginForm())
    {
        @*@Html.Hidden("page", Model)*@
        <div style="width: 140px;">
            <p>Номер замовлення</p>
            <input type="text" class="form-control" name="OrderNumber" value="@Model.OrderNumber" />
        </div>
        <div style="width: 260px;">
            <p>Назва товару / Код товару</p>
            <input type="text" class="form-control" name="ProductName" value="@Model.ProductName" />
        </div>
        @*<div style="width: 260px;">
                <p>Статус замовлення</p>
                @Html.EnumDropDownListFor(m => m.Status, "Не обрано")
            </div>*@
        <div style="width: 260px;">
            <p>Дата замовлення</p>
            <input type="text" id="date-range-picker" name="DateRange" class="form-control" placeholder="Виберіть період" value="@Model.DateRange" autocomplete="off">
        </div>
        <div style="width: 200px;">
            <p>Телефон</p>
            <input type="text" class="form-control" name="Phone" value="@Model.Phone" />
        </div>
        <div style="width: 260px;">
            <p>ПІБ покупця</p>
            <input type="text" class="form-control" name="ClientName" value="@Model.ClientName" />
        </div>
        <div style="width: 260px;">
            <p>Коментар менеджера</p>
            <input type="text" class="form-control" name="Comment" value="@Model.Comment" />
        </div>
        <div style="width: 250px;">
            <p>Сума замовлення</p>
            <input type="number" style="width:100px;" class="form-control display-inline" name="SumFrom" value="@Model.SumFrom" /> -
            <input type="number" style="width:100px;" class="form-control display-inline" name="SumTo" value="@Model.SumTo" />
        </div>
        if (User.IsInRole(DomainConstants.AdminRoleName) || User.IsInRole(DomainConstants.OrdersManagerRoleName))
        {
            <div style="width: 360px; margin-top:20px;">
                @Html.DropDownList("SellerId", Model.Sellers, "Вибрати постачальника", new { @class = "chosen-select" })
            </div>
        }

        @*<input type="text" class="width-100 form-control" name="ClientName" placeholder="І’мя клієнта" value="@Model.ClientName" />

            <div class="col-md-2">
                <input type="text" id="date-range-picker" name="DateRange" class="form-control" placeholder="Виберіть період" value="@Model.DateRange">
            </div>

            @Html.HiddenFor(m => m.PaymentType)
            <div class="page-header no-padding-bottom">
                <h1 class="no-padding-bottom">Метод оплати</h1>
            </div>
            <ul style="list-style-type: none; margin: 0;">
                @foreach (Enum paymentMethod in Enum.GetValues(typeof(PaymentType)))
                {
                    <li>
                        @{
                            var paymentName = Enumerations.GetEnumDescription(paymentMethod);
                        }
                        <input type="checkbox" name="PaymentTypeChk" value="@paymentMethod" @(Model.PaymentType.Contains(paymentMethod.ToString()) ? "checked" : "") />
                        <label for="@paymentMethod">@paymentName</label>
                    </li>
                }
            </ul>
            <div class="col-md-3">
                @Html.HiddenFor(m => m.Status)
                <div class="page-header no-padding-bottom">
                    <h1 class="no-padding-bottom">Статус</h1>
                </div>
                <ul style="list-style-type: none; margin: 0;">
                </ul>
                @if (!string.IsNullOrEmpty(Model.DateRange))
                {
                    <div class="col-md-3">
                        <div class="page-header no-padding-bottom">
                            <h1 class="no-padding-bottom">Додаткові опції</h1>
                        </div>
                        <ul style="list-style-type: none; margin: 0;">
                            <li>
                                @Html.CheckBoxFor(m => m.ClientGrouping)
                                <label for="ClientGrouping">Групувати за клієнтом</label>
                            </li>
                        </ul>
                    </div>
                }
                <div class="col-md-3">
                    <div class="page-header no-padding-bottom">
                        <h1 class="no-padding-bottom">Сортування</h1>
                    </div>
                    <ul style="list-style-type: none; margin: 0;">
                        @foreach (var item in Model.Sorting)
                        {
                            <li>
                                <label>
                                    @Html.RadioButtonFor(m => m.Sort, item.Value)
                                    @Html.Raw(item.Text)
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        *@
        <div style="clear:both; margin-top:25px;">
            <button type="submit" class="btn btn-purple btn-sm">
                Фільтрувати
            </button>
        </div>
        <br style="clear:both" />
    }

</div>

<div id="ordersList">
    @Html.Partial("_OrdersListPartial", Model.Orders)
</div>

<div class="page-header no-padding-bottom">
    <h1 class="no-padding-bottom pull-left">Загальна сума обраних замовлень:</h1> <h1 class="orange">@Model.TotalSum.ToString("F") грн</h1>
    <h1 class="no-padding-bottom pull-left">Кількість обраних замовлень:</h1> <h1 class="orange">@Model.Number.ToString("F")</h1>
</div>