@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Замовлення №@Model.OrderNumber</title>
    <link href="~/Content/css/order-print.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="print-container container">
        <div class="row">
            <h2 class="pull-left">Замовлення №@Model.OrderNumber</h2>
            <h2 class="pull-right">@Model.Time.ToLocalDateTimeWithFormat()</h2>
        </div>

        <table>
            <tr>
                <td style="width: 30%;">ПІБ покупця</td>
                <td style="width: 70%;">@Model.User.FullName</td>
            </tr>
            <tr>
                <td style="width: 30%;">Номер Телефону</td>
                <td style="width: 70%;">@Model.User.PhoneNumber</td>
            </tr>
            <tr>
                <td style="width: 30%;">Адреса доставки</td>
                <td style="width: 70%;">@Model.ShippingAddress</td>
            </tr>
            <tr>
                <td style="width: 30%;">Метод доставки</td>
                <td style="width: 70%;">@Model.ShippingName</td>
            </tr>
            <tr>
                <td style="width: 30%;">Коментар</td>
                <td style="width: 70%;">@Model.Description</td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    Метод оплати
                </td>
                <td style="width: 70%;">
                    @(Model.PaymentType == PaymentType.Bonuses ? Enumerations.GetEnumDescription(PaymentType.Cash) : Enumerations.GetEnumDescription(Model.PaymentType))
                </td>
            </tr>
            @if (Model.PaymentType == PaymentType.Bonuses)
            {
                <tr>
                    <td style="width: 30%;">Використано бонусів</td>
                    <td style="width: 70%;">
                        @Math.Abs(Model.BonusPaymentTransaction.Bonuses).ToString("F")
                    </td>
                </tr>
                <tr>
                    @{
                var doplata = (Model.Sum - Math.Abs(Model.BonusPaymentTransaction.Bonuses));
                    }
                    <td style="width: 30%;">
                        @if (doplata < 0)
                        {
                            <span>
                                Повернено бонусів
                            </span>
                        }
                        else
                        {
                            <span>
                                Доплата
                            </span>
                        }
                    </td>
                    <td style="width: 70%;">
                        @Math.Abs(doplata).ToString("F")
                    </td>
                </tr>
            }
            <tr>
                <td style="width: 30%;">Вартість доставки</td>
                <td style="width: 70%;">@Model.ShippingCost.ToString("F")</td>
            </tr>
            <tr>
                <td style="width: 30%;">Загальна сума замовлення</td>
                <td style="width: 70%;">@Model.Sum.ToString("F")</td>
            </tr>
            @if (Model.SellerDiscount != null)
            {
                <tr>
                    <td style="width: 30%;">@Model.SellerDiscountName</td>
                    <td style="width: 70%;">@Model.SellerDiscount.Value.ToString("F")</td>
                </tr>
            }
            <tr>
                <td style="width: 30%;">Нараховано балів</td>
                <td style="width: 70%;">@Model.PointsSum</td>
            </tr>
            <tr>
                <td style="width: 30%;">Нараховано бонусів</td>
                <td style="width: 70%;">@Model.PersonalBonusesSum</td>
            </tr>
        </table>

        <br />

        <p>Товари в кошику</p>
        <table class="order_in_table">
            <thead>
                <tr>
                    <th>Назва</th>
                    <th class="text-center">Кількість</th>
                    <th class="text-center">Ціна</th>
                    <th class="text-center">Сума</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.OrderProducts)
                {
                    var productOptionsSum = product.DbOrderProductOptions.Sum(entry => entry.ProductOptionPriceGrowth * entry.Amount);
                    var productSum = product.ProductPrice * product.Amount;
                    <tr>
                        <td>@product.ProductName</td>
                        <td class="text-center">@product.Amount</td>
                        <td class="text-center">@product.ProductPrice</td>
                        <td class="text-center">@((productSum + productOptionsSum).ToString("F"))</td>
                    </tr>
                    foreach (var productOption in product.DbOrderProductOptions)
                    {
                        <tr>
                            <td class="text-center">@productOption.ProductOptionName</td>
                            <td class="text-center">@productOption.Amount</td>
                            <td class="text-center">@productOption.ProductOptionPriceGrowth</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <br />
        <div class="row">
            <div class="pull-right clearfix width-50 margin-right-20">
                <table>
                    <tr>
                        <td>Сума замовлення:</td>
                        @{
                            var total = Model.OrderProducts.Sum(
                                entry =>
                                    entry.ActualPrice * entry.Amount +
                                    entry.OrderProductOptions.Sum(option => option.ProductOptionPriceGrowth * option.Amount));
                        }
                        <td id="order-total">@total.ToString("F")</td>
                    </tr>
                    <tr id="discount-row" style="display: none;">
                        <td>Знижка:</td>
                        <td id="discount"></td>
                    </tr>
                    <tr>
                        <td>Доставка:</td>
                        <td id="shipping-cost">@Model.ShippingCost</td>
                    </tr>
                    @if (Model.SellerDiscount != null)
                    {
                        <tr>
                            <td>@Model.SellerDiscountName:</td>
                            <td id="promotion">@Model.SellerDiscount.Value.ToString("F")</td>
                        </tr>
                    }
                    <tr>
                        <td>До сплати:</td>
                        <td id="pay-total">@((Model.Sum + Model.ShippingCost).ToString("F"))</td>
                    </tr>
                </table>
        </div>
        
        <br/>
        <div class="text-center row">
            <i style="margin-top: 80px;">Я підтверджую, що претензій до отриманого замовлення не маю.</i>
        </div>
        <div class="row">
            <div style="width: 15%; float: left;">
                <div style="border-bottom: 1px solid black; height: 50px;"></div>
                <div class="text-center small">Дата та час отримання</div>
            </div>
            <div style="width: 15%; float: right;">
                <div style="border-bottom: 1px solid black; height: 50px;"></div>
                <div class="text-center small">Підпис</div>
            </div>
            </div>
    </div>
</body>
</html>