@using Benefit.Common.Constants
@using Benefit.Domain.Models
@using Benefit.Services.Domain

@model Product
@{
    var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", Model.UrlName, Model.SKU) });
    var isFavorites = ViewBag.IsFavorites as bool?;
    var className = "col-xl-3 col-md-4 col-lg-4 col-sm-4 col-xs-12";
    if (Model.IsFeatured)
    {
        className = "col-xl-2-5 col-md-4 col-lg-4 col-sm-4 col-xs-12";
    }
    if (Model.IsNewProduct || Model.IsPromotion)
    {
        className = "col-xs-12";
    }
}

<div class="@className products_item product-item position-relative" id="@Model.Id" data-seller-id="@Model.SellerId">
    @if (isFavorites.GetValueOrDefault(false))
    {
        <div class="position-absolute" style="width: 80%; z-index: 10000;">
            <input type="checkbox" class="doublesize-checkbox m-3 select-product" />
            <a href="#" class="remove-from-favorites pull-right h3" data-product-id="@Model.Id">
                <i class="fa fa-remove"></i>
            </a>
            <div class="clearfix"></div>
        </div>
    }
    <article class="list-product">
        <div class="product-desc-wrap">
            <div class="img-block">
                <a href="@productDetailsUrl" class="thumbnail js-product-url">
                    @if (Model.DefaultImage == null)
                    {
                        <img class="first-img js-product-image" src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Title" title="@Model.Title">
                    }
                    else
                    {
                        if (Model.DefaultImage.IsAbsoluteUrl)
                        {
                            <img class="first-img js-product-image" src="@Model.DefaultImage.ImageUrl" alt="Фото @Model.Name" title="Купить @Model.Name" />
                        }
                        else
                        {
                            <img class="first-img js-product-image" src="~/Images/ProductGallery/@Model.Id/@Model.DefaultImage.ImageUrl" alt="Фото @Model.Name" title="Купить @Model.Name" />
                        }
                    }
                </a>
                @*<div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>*@
            </div>
            @*<ul class="product-flag">
                    <li class="new">New</li>
                </ul>*@
            <div class="product-decs">
                @*<a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>*@
                <h2><a href="@productDetailsUrl" class="product-link js-product-name">@Model.Name</a></h2>
                @*<div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>*@
                <div class="pricing-meta">
                    <ul>
                        @if (Model.OldPrice.HasValue)
                        {
                            <li class="old-price fn_old_price">@Model.OldPrice.Value.ToString("F") грн</li>
                        }
                        <li class="current-price fn_price js-product-price">@Model.Price.ToString("F")<span> грн/@(@Model.IsWeightProduct ? "кг" : "шт")</span></li>
                        @if (Model.OldPrice.HasValue)
                        {
                            var perc = (int)(100 - Model.Price * 100 / Model.OldPrice.Value);
                            <li class="discount-price">-@perc%</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="add-to-link">
                <ul>
                    <li class="cart flex-grow-2">
                        <a class="cart-btn product_buy" href="#" data-product-id="@Model.Id" data-seller-id="@Model.SellerId" data-is-weight-product="@Model.IsWeightProduct">
                            <i class="ion-android-cart"></i> Купити
                        </a>
                        <div class="counter">
                            <input type="hidden" class="quantity" value="1" />
                        </div>
                    </li>
                    <li class="flex-grow-1">
                        <a href="#" data-product-id="@Model.Id" class="fn_wishlist wishlist_button fav-switch add-to-favorites"><i class="ion-android-favorite-outline"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>