@model Benefit.Domain.Models.ProductParameterValue
<div id="dialog" title="Додати значення характеристики" class="hide">
    <div class="ui-dialog-content ui-widget-content" id="dialog-confirm" style="width: auto; min-height: 27px; max-height: none; height: auto;">
        @using (Html.BeginForm("CreateOrUpdateValue", "ProductParameters"))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ProductParameterId)
            @Html.Hidden("categoryId", (string)ViewBag.CategoryId)

            <label class="col-sm-5">Значення </label>@Html.TextBoxFor(m => m.ParameterValue, new { @class = "col-sm-7 name" })
            <label class="col-sm-5">URL</label>@Html.TextBoxFor(m => m.ParameterValueUrl, new { placeholder = "Url назва", @class = "col-sm-7 urlName" })
            <label class="col-sm-5">Порядковий номер</label>
                        @Html.TextBoxFor(m => m.Order, new { placeholder = "Порядковий номер", @class = "col-sm-7" })
        }
    </div>
</div>
