@model Benefit.Domain.Models.ProductParameterValue
@{
    ViewBag.Title = "Нове значення характеристики";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductParameterId)

        <div class="form-group">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">
                <div>Основне значення</div>
                <div>
                    @Html.TextBoxFor(model => model.StartValue)
                    @Html.ValidationMessageFor(model => model.StartValue)
                </div>
            </div>
           @* <div class="col-sm-2">

                <div>Додаткове значення</div>
                <div>
                    @Html.TextBoxFor(model => model.EndValue)
                    @Html.ValidationMessageFor(model => model.EndValue)
                </div>
            </div>*@
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">
                    <i class="icon-ok bigger-110"></i>
                    Зберегти
                </button>

                &nbsp; &nbsp; &nbsp;
                <a href="@Url.Action("Index", "Products")" class="btn">
                    <i class="icon-undo bigger-110"></i>
                    До пошуку
                </a>
            </div>
        </div>
    </div>
}