@model Benefit.Domain.Models.ProductParameter

@{
    ViewBag.Title = "Нова характеристика";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Назва</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Url Назва</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UrlName, new { @class = "urlName" })
                @Html.ValidationMessageFor(model => model.UrlName)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Опис</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Показувати в фільтрах</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayInFilters)
                @Html.ValidationMessageFor(model => model.DisplayInFilters)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Одиниця виміру (за необхідністю)</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.MeasureUnit)
                @Html.ValidationMessageFor(model => model.MeasureUnit)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Тип заповнення</label>
            <div class="col-md-10">
                @Html.DropDownList("Type")
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Порядковий номер</label>

            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Order, new { type="number", @class="number-input" })
                @Html.ValidationMessageFor(model => model.Order)
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="icon-ok bigger-110"></i>
                Зберегти
            </button>

            &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("Index", "Products")" class="btn">
                <i class="icon-undo bigger-110"></i>
                До пошуку
            </a>
        </div>
    </div>
}