@model  KeyValuePair<Benefit.Domain.Models.Category, IEnumerable<Benefit.Domain.Models.ProductParameter>>

@{
    ViewBag.Title = "Характеристики товарів для категорії " + Model.Key.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script>
        function ProductParameterValue(parameterId) {
            $("#dialogContainer").load(routePrefix + "/Admin/ProductParameters/ProductParameterValue?parameterId=" + parameterId + "&categoryId=@Model.Key.Id", function (response, status, xhr) {
                $("#dialog").removeClass('hide').dialog({
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        }
    </script>
}
<div id="dialogContainer">

</div>
<a class="btn btn-purple btn-sm" href="@Url.Action("CreateOrUpdate", new { categoryId = Model.Key.Id })">Додати характеристику</a>
<br />
<hr />
@foreach (var parameter in Model.Value)
{
    <div class="row">
        @{
    var type = parameter.Type == typeof(string).ToString() ? "значення" : "число";
        }
        <div class="col-sm-4">
            @parameter.Name (@type)
            <a href="@Url.Action("CreateOrUpdate", new { id = parameter.Id })">
                <i class="icon-edit blue"></i>
            </a>
            <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new { id = parameter.Id, categoryId = Model.Key.Id })">
                <i class="icon-remove red"></i>
            </a>
            @if (parameter.Type == typeof(string).ToString())
            {
                <a onclick="ProductParameterValue('@parameter.Id')" href="#">+ Додати значення</a>
            }
        </div>
        <div class="col-sm-3">
            @foreach (var prParValue in @parameter.ProductParameterValues.OrderBy(entry=>entry.Order))
            {
                <div>
                    @prParValue.ParameterValue
                    <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("DeleteValue", new { id = prParValue.Id, categoryId = Model.Key.Id })">
                        <i class="icon-remove red"></i>
                    </a>
                </div>
            }
        </div>
    </div>
    <br />
    <hr />
}
