@model  KeyValuePair<Benefit.Domain.Models.Category, IEnumerable<Benefit.Domain.Models.ProductParameter>>

@{
    ViewBag.Title = "Характеристики товарів для категорії " + Model.Key.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/common.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script>
        var saveParametersOrdering = '@Url.Action("Index")';

        $(function () {
            $(".parameters-list").sortable();
            $(".parameters-list").disableSelection();

            $("#save-ordering").click(function () {
                $("#save-ordering").prop("disabled", true);
                $(".parameters-list").each(function () {
                    var currentListContaner = $(this);
                    var sortedParams = [];
                    currentListContaner.find("li").each(function () {
                        var paramId = $(this).attr("data-parameter-value-id");
                        sortedParams.push(paramId);
                    });
                    $.ajax({
                        type: 'Post',
                        dataType: 'json',
                        url: saveParametersOrdering,
                        data: JSON.stringify({ sortedParameters: sortedParams }),
                        contentType: 'application/json; charset=utf-8',
                        async: true
                    });
                });
                flashMessage("Сортування збережено");
            });
        });

        function ProductParameterValue(parameterId, valueId) {
            $("#dialogContainer").load(routePrefix + "/Admin/ProductParameters/ProductParameterValue?parameterId=" + parameterId + "&categoryId=@Model.Key.Id&valueId=" + valueId, function (response, status, xhr) {
                $("#dialog").removeClass('hide').dialog({
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        }
    </script>
}
<div id="dialogContainer">

</div>
<a class="btn btn-purple btn-sm" href="@Url.Action("CreateOrUpdate", new { categoryId = Model.Key.Id })">Додати характеристику</a>
<a class="btn btn-success btn-sm" href="#" id="save-ordering">Зберегти сортування</a>
<br />
<hr />
@foreach (var parameter in Model.Value)
{
    <div class="row">
        <div class="col-sm-4">
            @if (parameter.Order != null)
            {
                <span>
                    @parameter.Order)
                </span>
            }
            @parameter.Name (@parameter.MeasureUnit)
            <a href="@Url.Action("CreateOrUpdate", new {id = parameter.Id})">
                <i class="icon-edit blue"></i>
            </a>
            <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new {id = parameter.Id, categoryId = Model.Key.Id})">
                <i class="icon-remove red"></i>
            </a>
            @if (parameter.Type == typeof(string).ToString())
            {
                <a onclick="ProductParameterValue('@parameter.Id')" href="#">+ Додати значення</a>
            }
        </div>
        <ul class="parameters-list no-list-style col-sm-2" data-parameter-id="@parameter.Id">
            @foreach (var prParValue in @parameter.ProductParameterValues.OrderBy(entry => entry.Order))
            {
                <li class="well well-sm clearfix margin-bottom-5 cursor-move" data-parameter-value-id="@prParValue.Id">
                    @prParValue.ParameterValue
                    <a onclick="ProductParameterValue('@parameter.Id','@prParValue.Id')" href="#">
                        <i class="icon-edit blue"></i>

                    </a>
                    <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("DeleteValue", new {id = prParValue.Id, categoryId = Model.Key.Id})">
                        <i class="icon-remove red"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
    <br />
    <hr />
}
