@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@model ExportImport

@using (Html.BeginForm("CreateOrUpdate", "ImportExport"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SellerId)
        @Html.HiddenFor(model => model.IsImport)
        @Html.HiddenFor(model => model.SyncType)

        <div class="form-group">
            <label class="control-label col-md-2" for="IsActive">Статус</label>
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.IsActive)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="IsActive">URL</label>
            <div class="col-md-10">
                @if (Model.SyncType != SyncType.YmlExport)
                {
                    @Html.TextBoxFor(model => model.FileUrl, new { @class = "col-md-8" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.FileUrl, new { @class = "col-md-8", @readonly = "readonly" })
                }
                @Html.ValidationMessageFor(model => model.FileUrl)
            </div>
        </div>

        @if (Model.SyncType != SyncType.YmlExport)
        {
            <div class="form-group">
                <label class="control-label col-md-2" for="SyncPeriod">Частота оновлення</label>
                <div class="col-md-10">
                    @Html.DropDownList("SyncPeriod", null, new { @class = "col-md-3" })
                </div>
            </div>

            if (Model.LastUpdateStatus.HasValue)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Статус останнього оновлення</label>
                    <div class="col-md-10">
                        @if (Model.LastUpdateStatus.GetValueOrDefault(false))
                        {
                            <i class="icon icon-check green bigger-200"></i>
                        }
                        else
                        {
                            <i class="icon icon-remove red bigger-200"></i>
                            <div>Помилка: @Model.LastUpdateMessage</div>
                        }
                        <div>
                            Час: @Model.LastSync.Value.ToLocalDateTimeWithFormat()
                        </div>
                        <div>
                            Наступне оновлення відбудеться: @Model.LastSync.Value.AddDays(Model.SyncPeriod).ToLocalDateTimeWithFormat()
                        </div>
                    </div>
                </div>
            }
            else if (Model.Id != null)
            {
                <div class="col-md-offset-2">
                    Наступне оновлення відбудеться: @DateTime.UtcNow.ToLocalTime().EndOfDay().AddHours(3).ToLocalDateTimeWithFormat()
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-info" />
                @if (Model.SyncType == SyncType.Yml)
                {
                    <button type="button" class="margin-left-30 btn btn-success fn-launch-yml-import">Запустити</button>
                }
                @if (Model.SyncType == SyncType.Gbs)
                {
                    <button type="button" class="margin-left-30 btn btn-success fn-launch-gbs-import">Запустити</button>
                }
            </div>
        </div>
    </div>
}