@model System.Collections.Generic.List<Benefit.Domain.Models.ExportImport>

@{
    ViewBag.Title = "Експорти";
}
@section scripts
{
    <script>
        $(function () {
            $("#new-export").click(function () {
                $(".modal").modal();
            });
        });
    </script>
}
<h2>Експорти</h2>

<p>
    <a href="#" id="new-export" class="btn btn-info">Створити новий</a>
</p>
<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            Посилання
        </th>
        <th>
            Дії
        </th>
    </tr>

    @foreach (var export in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => export.Name)
            </td>
            <td>
                @{
                    var link = string.Format("{0}://{1}/Export/{2}/index.xml", Request.Url.Scheme, Request.Url.Host, export.Name);
                }
                <a href="@link" target="_blank">@link</a>
            </td>
            <td>
                @Html.ActionLink("Згенерувати", "GenerateExportFiles", "Schedule", new { key = "15e77370-9268-4007-a00d-49aca257b7d6", exportId = export.Id, area = string.Empty }, new { @class = "btn btn-success" })
                |
                @Html.ActionLink("Видалити", "DeleteExport", new { id = export.Id }, new { onclick = "return confirm('Ви впевнені? Також видаляться звязані назви категорій і звязки товарів з експортом. ');" })
            </td>
        </tr>
    }
</table>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Новий експорт</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CreateOrUpdateExport", "ImportExport"))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">* Назва</label>
                            <div class="col-sm-9">
                                @Html.TextBox("Name", null, new { placeholder = "Назва" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Тип</label>
                            <div class="col-sm-9">
                                <select name="SyncType">
                                    <option value="YmlExport">YML Rozetka</option>
                                    <option value="YmlExportEpicentr">YML Epicentr</option>
                                    <option value="YmlExportProm">YML Prom.ua</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                </div>
            }
        </div>
    </div>
</div>