@using Benefit.Domain.Models
@model Benefit.Domain.Models.Seller

@{
    ViewBag.Title = "Імпорт/Експорт";
}
@section scripts
{
    <script>
        var launchImportUrl = apiUrl + 'Import/ProcessImport?sellerId=@Model.Id';
        var getImportStatusUrl = '@Url.Action("ImportStatus","ImportExport", new {sellerId = Model.Id})';
        var intervalId;

        $(function() {
            $("#1CCommerceML").click(function() {
                var btn = $(this);
                btn.attr("disabled", "disabled");
                $("#warning-message").text("Будь ласка зачекайте результатів імпорту, не клацайте нічого!");
                $.get(apiUrl + 'Import/OneCCommerceMLImport?id=@Model.Id', function (result) {
                    if (result.error) {
                        flashMessage(result.error, true, true);
                    } else {
                        flashMessage(result.message, false, true);
                    }
                    btn.removeAttr("disabled");
                });
            });

            $("#ExcelImport").click(function () {
                $("#importing-process").show();
                $("#warning-message").text("Будь ласка зачекайте результатів імпорту, не клацайте нічого!");
                $.ajax({
                    type: "POST",
                    url: routePrefix + '/Admin/ImportExport/ExceleImport?id=@Model.Id',
                    success: function(result) {
                        if (result.error) {
                            flashMessage(result.error, true, true);
                        } else {
                            flashMessage(result.message, false, true);
                        }
                        $("#importing-process").hide();
                    }
                });
            });

            $(".fn-launch-yml-import").click(function () {
                $("#importing-process").show();
                debugger;
                $.get(launchImportUrl +"&type=Yml",
                    function(data) {
                        if (data.error) {
                            flashMessage(data.error, true, true);
                        } else {
                            flashMessage(data.message, false, true);
                            intervalId = setInterval(function f() {
                                $.get(getImportStatusUrl+"&type=Yml",
                                    function (data) {
                                        if (!data.status) {
                                            $("#importing-process").hide();
                                            clearInterval(intervalId);
                                            location.reload();
                                        }
                                    });
                            }, 5000);
                        }
                    });
            });

            $(".fn-launch-gbs-import").click(function () {
                $("#importing-process").show();
                $.get(launchImportUrl + "&type=Gbs",
                    function (data) {
                        if (data.error) {
                            flashMessage(data.error, true, true);
                        } else {
                            flashMessage(data.message, false, true);
                            intervalId = setInterval(function f() {
                                $.get(getImportStatusUrl+"&type=Gbs",
                                    function (data) {
                                        if (!data.status) {
                                            $("#importing-process").hide();
                                            clearInterval(intervalId);
                                            location.reload();
                                        }
                                    });
                            }, 5000);
                        }
                    });
            });
        });
    </script>
}
<div id="importing-process" style="display: none;">
    <div class="loader"></div>
    <h2 style="color: red;">Відбувається процес імпорту</h2>
</div>
<h2>Імпорт\Експорт</h2>
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#prom">
                Prom.ua/Yandex market
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#excel">
                Excel
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#1ccommerceml">
                1C Commerce ML
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#gbs">
                GBS Market
            </a>
        </li>
        @*<li>
            <a data-toggle="tab" href="#ymlexport">
                YML Export
            </a>
        </li>*@
    </ul>
    <div class="tab-content">
        <div id="prom" class="tab-pane in active">
            @Html.Action("GetImportForm", new { syncType = SyncType.Yml })
        </div>
        <div id="gbs" class="tab-pane">
            @Html.Action("GetImportForm", new { syncType = SyncType.Gbs })
        </div>
        @*<div id="ymlexport" class="tab-pane">
            @Html.Action("GetImportForm", new { syncType = SyncType.YmlExport })
        </div>*@
        <div id="excel" class="tab-pane">
            <div>
                <h3 class="red" id="warning-message">Імпорт з файлу зробить неактивними всі товари з бази, яких немає у файлі імпорту.</h3>
                <h2 class="underlined">
                    Excel
                </h2>
                <p>1) Завантажте Excel файл (import.xls) та зображення (в архіві ZIP)</p>
                @using (Html.BeginForm("UploadExcelFile", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p>
                        import.xls <input type="file" name="import" accept=".xlsx, .xls" value="Файл імпорту" />
                    </p>
                    <p>
                        images.zip <input type="file" name="images" accept=".zip" value="Архів зображень" />
                    </p>
                    <input type="hidden" name="sellerUrlName" value="@Model.UrlName" />
                    <br />
                    <input type="submit" value="Завантажити" class="btn btn-default" />
                }
                <p>
                    2) Натисніть кнопку
                    <button type="button" class="btn btn-success" id="ExcelImport">Excel Import</button>
                </p>
            </div>
        </div>
        <div id="1ccommerceml" class="tab-pane">
            <div id="importFiles">
                <h3 class="red" id="warning-message">Імпорт з файлу зробить неактивними всі товари з бази, яких немає у файлі імпорту.</h3>
                <h2 class="underlined">
                    1C Commerce ML
                </h2>
                @Html.Action("GetImportForm", new { syncType = SyncType.OneCCommerceMl })

                <p>1) Завантажте файли експортовані з 1С на наш FTP</p>
                <p>
                    2) Натисніть кнопку
                    <button type="button" class="btn btn-success" id="1CCommerceML">Завантажити</button>
                </p>
            </div>
        </div>
    </div>
</div>