@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@using Benefit.Web.Helpers
@{
    var seller = ViewBag.Seller as Seller;
    var sellerLogo = seller.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerLogo);
    var todayShedule = seller.Schedules.FirstOrDefault(entry => entry.Day == DateTime.Now.DayOfWeek);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @ViewBag.Seller.Name</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="@ViewBag.Seller.ShortDescription">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index,follow">
    <meta name="format-detection" content="telephone=no">

    <link href="~/Content/seller/css/style.css" rel="stylesheet" />
    <link href="~/Content/seller/css/main.css" rel="stylesheet" />

    <script src="~/Scripts/seller/jquery.js"></script>
    <script src="~/Scripts/seller/jquery-migrate-1.js"></script>

    <style type="text/css">
        body {
            padding-top: 25px;
        }

        .ic-tooltip-body {
            padding-top: 0
        }

        .ic-tooltip {
            background-color: #444444;
            display: flex;
            justify-content: space-between;
            position: fixed;
            height: 25px;
            top: 0;
            left: 0;
            right: 0;
            z-index: 101
        }

        .ic-tooltip__logo {
            display: flex;
            align-items: center;
            padding-left: 25px;
        }

        .ic-tooltip__buttons {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            padding-right: 20px;
            align-items: center;
        }

            .ic-tooltip__buttons a {
                display: inline-block;
                text-align: center;
                font-size: 13px;
                color: #fff;
                background-color: #7a2511;
                min-height: 20px;
                line-height: 20px;
                padding: 0 20px;
                text-decoration: none;
                margin: 0 10px;
                border-radius: 2px;
            }

                .ic-tooltip__buttons a:hover {
                    text-decoration: none;
                    opacity: .9;
                    color: #fff;
                }
    </style>
</head>
<body class="page fullWidht boxed MainView">
    <div class="wrapper">
        <header id="header">
            <div id="top">
                <div class="container p-x-1">
                    <div class="row">
                        @*<div class="col-xs-12 col-lg-7 pages_menu overlay-menu">
                                <div id="toggle" class="hidden-lg-up"><i class="ico-menu"></i> <span>Информация</span></div>
                                <div class="overlay" id="overlay">
                                    <nav>
                                        <ul class="list-inline">
                                            <li><a href="blog">Новости</a></li>
                                            <li><a href="dostavka">Доставка</a></li>
                                            <li><a href="oplata">Оплата</a></li>
                                            <li><a href="contact">Контакты</a></li>
                                        </ul>
                                    </nav>
                                    <script>
                                        $('.overlay-menu>#toggle').click(function () {
                                            $(this).toggleClass('active');
                                            $('#overlay').toggleClass('open');
                                        });
                                    </script>
                                </div>
                            </div>*@
                        @Html.Partial("_FlashMessage")
                        <div class="col-xs-12 col-lg-12 text-xs-right">
                            <ul class="list-inline">
                                <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="@Url.Action("index", "panel", routeValues: new { area = DomainConstants.CabinetAreaName })">
                                            @HttpUtility.UrlDecode(Request.Cookies[RouteConstants.FullNameCookieName].Value)
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("login", "account")">Вхід / Реєстрація</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 text-sm-left logo p-r-sm">
                            <a href="">
                                <img class="img-fluid logo_fix" src="~/Images/SellerLogo/@sellerLogo.ImageUrl" alt="@seller.Name" height="54" />
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-6 p-y-sm hidden-md-down">
                            <form id="fn-search" action="products">
                                <button class="ico-search" type="submit"></button>
                                <input class="fn-search" type="text" name="keyword" value="" placeholder="Пошук" />
                            </form>
                        </div>

                        @if (!string.IsNullOrEmpty(seller.OnlineOrdersPhone))
                        {
                            <div class="col-xs-12 col-sm-4 col-md-8 offset-lg-3 col-lg-6 offset-xl-0 col-xl-4 list-inline text-sm-left text-xl-center">
                                <div class="text-plus-icon ico-head_phone1 info hidden-sm-down">
                                    <a class="name" href="tel:@seller.OnlineOrdersPhone">@seller.OnlineOrdersPhone</a>
                                    <div class="small">
                                        Час роботи
                                        @if (todayShedule != null)
                                        {
                                            <span>
                                                @todayShedule.StartHour:@todayShedule.StartMinutes.GetValueOrDefault(0).ToString("00")-@todayShedule.EndHour:@todayShedule.EndMinutes.GetValueOrDefault(0).ToString("00")
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                вихідний
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id='catMenu'>
                <nav class="container">
                    <a class="list_drop b-block btn-primary btn-lg text-center hidden-lg-up"><i class="ico-menu"></i> МЕНЮ/КАТАЛОГ ПОСЛУГ</a>
                    <ul class="lev1">
                        <li>
                            <a class="cat_index list_drop">МЕНЮ/КАТАЛОГ ПОСЛУГ<i class="f-sm_down"></i></a>

                            <ul id="id000" class="lev2">
                                <li class="sub ">
                                    <a href="catalog/mobilnye-telefony">Телефоны и смарт-часы</a>
                                    <button class="list_drop btn btn-primary pull-right hidden-lg-up" type="button">+</button>
                                    <ul id="id1" class="lev3">
                                        <li class="sub "><a href="catalog/smartfony">Смартфоны</a></li>
                                        <li><a href="catalog/statsionarnye-sotovye-telefony">Стационарные сотовые телефоны</a></li>
                                        <li><a href="catalog/umnye-chasy">Умные часы</a></li>
                                        <li><a href="catalog/garnitury">Гарнитуры</a></li>
                                        <li><a href="catalog/aksessuary-dlya-zaschity-i-perenoski">Аксессуары для защиты и переноски</a></li>
                                        <li><a href="catalog/dlya-zaryadki-i-podklyucheniya">Для зарядки и подключения</a></li>
                                        <li><a href="catalog/radiostantsii">Радиостанции</a></li>
                                        <li><a href="catalog/provodnye-telefony">Проводные телефоны</a></li>
                                        <li class="hidden"><a href="catalog/faksy">Факсы</a></li>
                                        <li class="hidden"><a href="catalog/mini-ats">Мини АТС</a></li>
                                        <li class="hidden"><a href="catalog/radiotelefony">Радиотелефоны</a></li>
                                        <li class="hidden"><a href="catalog/kategoriya-bez-izobrazheniya">Категория без изображения</a></li>
                                    </ul>
                                </li>
                                <li class="sub ">
                                    <a href="catalog/bytovaya-tehnika">Бытовая техника</a>
                                    <button class="list_drop btn btn-primary pull-right hidden-lg-up" type="button">+</button>
                                    <ul id="id2" class="lev3">
                                        <li class="sub "><a href="catalog/Техника_для_дома">Техника для дома</a></li>
                                        <li class="sub "><a href="catalog/krupnaya-tehnika-dlya-kuhni-">Крупная техника для кухни </a></li>
                                        <li class="sub "><a href="catalog/kofevarki-i-kofemashiny">Кофеварки и кофемашины</a></li>
                                        <li class="sub "><a href="catalog/vstraivaemaya-tehnika">Встраиваемая техника</a></li>
                                        <li><a href="catalog/tovary-dlya-kuhni">Товары для кухни</a></li>
                                        <li><a href="catalog/filtry-dlya-vody">Фильтры для воды</a></li>
                                    </ul>
                                </li>
                                <li><a href="catalog/fotoapparaty">Фотоаппараты</a></li>
                                <li class="sub ">
                                    <a href="catalog/sport-i-turizm">Спорт и туризм</a>
                                    <button class="list_drop btn btn-primary pull-right hidden-lg-up" type="button">+</button>
                                    <ul id="id7" class="lev3">
                                        <li><a href="catalog/567567567567567">567567567567567</a></li>
                                        <li><a href="catalog/5675675675675">5675675675675</a></li>
                                    </ul>
                                </li>
                                <li><a href="catalog/parfyumeriya">Парфюмерия</a></li>
                                <li><a href="catalog/noutbuki-i-planshety">Ноутбуки и планшеты</a></li>
                                <li><a href="catalog/kompyutery-i-periferiya">Компьютеры и периферия</a></li>
                                <li><a href="catalog/ofisnaya-tehnika-i-mebel">Офисная техника и мебель</a></li>
                                <li><a href="catalog/ventilyatsiya">Вентиляция</a></li>
                                <li><a href="catalog/otoplenie">Отопление</a></li>
                                <li><a href="catalog/vodosnabzhenie">Водоснабжение</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="@Url.Action("reviews", "home")">Відгуки</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="@Url.Action("contacts", "home")">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer id="footer">
            <section class="foo-main">
                <div class="container p-t-1">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8 col-xl-9">
                            <div class="col-xs-12 p-x-0">
                                Текст подвала Letraset с образцами Lorem Ipsum в 60-х годах и, в
                                более недавнее время, программы электронной вёрстки типа Aldus
                                PageMaker, в шаблонах которых используется Lorem Ipsum.
                                <hr class="sm">
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                    <div class="h4 text-caps text-bold text-xs-left">Информация</div>
                                    <ul class="list-inline nav-link-line text-xs-left">
                                        <li><a href="http://demo.simpla-template.ru/simpla_clear/blog">Новости</a></li>
                                        <li><a href="">Главная</a></li>
                                        <li><a href="http://demo.simpla-template.ru/simpla_clear/dostavka">Доставка</a></li>
                                        <li><a href="http://demo.simpla-template.ru/simpla_clear/oplata">Оплата</a></li>
                                        <li><a href="http://demo.simpla-template.ru/simpla_clear/garantii">Гарантии</a></li>
                                        <li><a href="http://demo.simpla-template.ru/simpla_clear/contact">Контакты</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-8 col-xl-6">
                                    <div class="h4 text-caps text-bold text-xs-left">Разделы каталога</div>
                                    <ul class="row list-inline nav-link-line text-xs-left">
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/mobilnye-telefony" data-category="1">Телефоны и смарт-часы</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/bytovaya-tehnika" data-category="2">Бытовая техника</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/fotoapparaty" data-category="5">Фотоаппараты</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/sport-i-turizm" data-category="7">Спорт и туризм</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/parfyumeriya" data-category="8">Парфюмерия</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/noutbuki-i-planshety" data-category="46">Ноутбуки и планшеты</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/kompyutery-i-periferiya" data-category="47">Компьютеры и периферия</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/ofisnaya-tehnika-i-mebel" data-category="48">Офисная техника и мебель</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/ventilyatsiya" data-category="49">Вентиляция</a></li>
                                        <li class="col-xs-6 col-sm-12 col-md-6 p-a-0"><a href="http://demo.simpla-template.ru/simpla_clear/catalog/otoplenie" data-category="50">Отопление</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-3 hidden-lg-down">
                                    <div class="h4 text-caps text-bold text-xs-left">Дополнительно</div>
                                    <ul class="row list-none">
                                        <li><a class="" href="">Как выбрать товар</a></li>
                                        <li><a class="" href="">Гарантия и возврат</a></li>
                                        <li><a class="" href="">Как получить скидку</a></li>
                                        <li><a class="" href="">Любая ссылка</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 col-xl-3 text-lg-right">
                            <div class="text-plus-icon ico-head_phone1 hidden-md-down">
                                <a class="name" href="tel:+7%20(495)%20504-72-45" target="_blank"><span>+7 (495)</span> 504-72-45</a>
                                <div class="small">Время работы 9:00-19:00</div>
                            </div>
                            <div>
                                <div class="h4 text-caps text-bold">Понравилось? Делитесь!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="foo-copy">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 col-lg-10 text-xs-center text-sm-left">
                            <p><b>ООО "Великолепный интернет-магазин" © 2013-2018.</b></p>
                        </div>
                        <a class="des_by" title="" target="_blank" href="#">Сайт створено на системі  <img src="images/b.jpg" width="25"></a>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <a href="#" class="inpage-scroll scrollUp">Наверх</a>

    <script src="~/Scripts/seller/jquery-ui.js"></script>
    <script src="~/Scripts/seller/main.js"></script>
    <script src="~/Scripts/seller/custom.js"></script>

    <div class="ic-tooltip " data-ic-tooltip>
        <div class="ic-tooltip__logo hidden-md-down">
            <a href="#">
                <img src="~/Content/seller/images/b.jpg" width="20" class="custom-logo">
            </a>
            <div class="ic-tooltip__buttons hidden-xs">
                <a href="@Url.SubdomainRoute(seller.UrlName, "pagesRoute", new {id = "stati_postachalnikom"}, true)" target="_blank">
                    Пакет «@Enumerations.GetEnumDescription(seller.Status)»
                </a>

                <a href="@Url.SubdomainRoute(seller.UrlName, "pagesRoute", new {id = "stati_postachalnikom"}, true)" title="Стати постачальником Benefit" target="_blank">
                    Стати постачальником
                </a>
            </div>
        </div>
        <div class="ic-tooltip__buttons hidden-xs">
            <a href="#" title="Подробнее о шаблоне" target="_blank">
                Кошик (0)
            </a>
        </div>
    </div>
</body>
</html>