@model Benefit.Web.Areas.Cabinet.Models.RegisteredCardsViewModel
<br />
<button class="btn btn-success" id="add-card" data-toggle="modal" data-target="#add-card-modal">
    Додати картку
</button>
@if (Model.Registered.Any())
{
    <h3>
        Зареєстровані
    </h3>
    <hr />
    <ul>
        @foreach (var card in Model.Registered)
        {
            <li>
                @card.Id
            </li>
        }
    </ul>
}

@if (Model.Available.Any())
{
    <h3>
        Доступні для реєстрації
    </h3>
    <hr />
    <ul>
        @foreach (var card in Model.Available)
        {
            <li>
                @card.Id
                <a href="#" class="remove-card">
                    <a href="@Url.Action("RemoveRegisteredCard", "BenefitFamily", new { cardNumber = card.Id })">
                    <i class="glyphicon glyphicon-remove font-red margin-left-10"></i>
                    </a>
                </a>
            </li>
        }
    </ul>
}
<br />
<div id="add-card-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Реєстраційна картка
                </h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddRegisteredCard", "BenefitFamily", new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "registered-cards",
                        OnFailure = "alert('Неможливо додати цю картку');"
                    }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBox("cardNumber", null, new { placeholder = "Номер картки", @class = "form-control" })<br />
                    <input type="submit" value="Додати" class="btn btn-success" onclick="$('#add-card-modal').modal('hide');" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                }
            </div>
        </div>
    </div>
</div>
