@using Benefit.Common.Constants
@using Benefit.Domain.Models
@model ApplicationUser

@{
    ViewBag.Title = "Benefit Family";
    ViewBag.CabinetProfileClass = "kabinet_profile";
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}
@section styles
{
    <link href="~/Content/css/input-icon-left.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/common.js"></script>

    <script>
        var createOrUpdateMemberUrl = '@Url.Action("CreateOrUpdate")';

        function SetTrinketTextBox() {
            var readOnlyLength = $('#cardNumber').val().length;

            $('#cardNumber').on('keypress, keydown', function (event) {
                if ((event.which != 37 && (event.which != 39))
                    && ((this.selectionStart < readOnlyLength)
                        || ((this.selectionStart == readOnlyLength) && (event.which == 8)))) {
                    return false;
                }

                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(event.which, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: home, end, left, right, down, up
                    (event.which >= 35 && event.which <= 40)) {
                    // let it happen, don't do anything
                    return true;
                }

                // Ensure that it is a number and stop the keypress
                if (((event.which < 48 || event.which > 57)) && (event.which < 96 || event.which > 105)) {
                    return false;
                }
            });
        }

        $(function () {
            $("body").on("change", "#IsTrinket", function () {
                if (this.checked) {
                    $("#card-example").text("BC000001");
                    $("#cardNumber").val("BC");
                    SetTrinketTextBox();
                } else {
                    $("#card-example").text("000001");
                    $('#cardNumber').val('');
                    $('#cardNumber').off('keydown');
                    $('#cardNumber').off('keypress');
                }
            });

            //validation
            $("body").on('submit', 'form', function (e) {
                $(this).find("input").removeClass("input-validation-error");
                var emptyInputs = $("input.required").filter(function () {
                    return $(this).val() == "";
                });
                if (emptyInputs.length > 0) {
                    e.preventDefault();
                }
                emptyInputs.addClass("input-validation-error");
            });

            $("#add-member, .edit-family-member").click(function (e) {
                e.preventDefault();
                if ($(this).attr("href") != undefined) {
                    createOrUpdateMemberUrl += "?id=" + $(this).attr("href");
                }
                $("#modal-container").load(createOrUpdateMemberUrl, function () {
                    $("#modal-container").modal("show");
                });
            });
        });
    </script>
}

<div class="partner_main col-lg-9 col-md-9 col-sm-9 col-xs-9">
    @Html.Partial("_FlashMessage")
    @Html.Action("PageContent", "Pages", new { id = "32b21ab3-79ae-45c2-8a5a-bd85d5f0db23", area = string.Empty })
    @if (Model.BenefitCards.Any())
    {
        <table>
            <tr>
                <th class="col-md-4 border-bottom padding-vertical-5px">Ім’я учасника</th>
                <th class="col-md-4 border-bottom padding-vertical-5px">Номер картки або брелка</th>
                <th class="col-md-4"></th>
            </tr>
            @foreach (var card in Model.BenefitCards)
            {
                <tr>
                    <td class="col-md-4 border-bottom padding-vertical-5px">@card.HolderName</td>
                    <td class="col-md-4 border-bottom padding-vertical-5px">@card.Id</td>
                    <td class="col-md-4">
                        <a href="@Url.Action("contact_us", "Panel", new { subject = "Запит на видалення картки/брелка з мого акаунту", body = "Прошу видалити картку номер " + card.Id + " у зв’язку з:" })" title="Видалити" class="title-to-tooltip">
                            <i class="glyphicon glyphicon-remove font-red margin-left-10"></i>
                        </a>
                        @if (User.IsInRole(DomainConstants.AdminRoleName))
                        {
                            <a href="@Url.Action("Delete", new {id = card.Id, userId = ViewBag.User.Id})" title="Видалити" class="title-to-tooltip" onclick=" return confirm('Ви впевнені?') ">
                                <i class="glyphicon glyphicon-trash font-red margin-left-10"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    <br />
    <button type="button" class="btn btn-success btn-lg" id="add-member">Додати учасника</button>
</div>
<div id="modal-container" class="modal fade in"></div>