@using Benefit.Common.Constants
@using Benefit.Web.Helpers
@model Benefit.DataTransfer.ViewModels.BreadCrumbsViewModel

<div style="height: 50px; width: 100%;" class="visible-xs"></div>
<div class="breadcrumbs hidden-xs" id="navigation" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="@Url.Action("Index", "Home")" title="Головна" itemprop="item">
            <span itemprop="name">
                Головна
            </span>
            <meta itemprop="position" content="1">
        </a>
    </div>
    @if (Model.IsNews)
    {
        var newsUrl = Model.Page == null ? string.Empty : Url.Action("index", "news");
        <span class="separator">-</span>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="@newsUrl" title="Новини Benefit" itemprop="item">
                <span itemprop="name">Новини</span>
            </a>
        </div>
    }
    @if (Model.Page != null)
    {
        <span class="separator">-</span>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#" title="@Model.Page.Title" itemprop="item">
                <span itemprop="name">@Model.Page.Name</span>
            </a>
        </div>
    }
    @if (Model.Seller != null && !Model.IsInfoPage)
    {
        <input type="hidden" id="seller-id" value="@Model.Seller.Id" />
        <span class="separator">-</span>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="@Url.SubdomainAction(Model.Product.Seller.UrlName, "Index", "Home", null)" title="@Model.Seller.Name" itemprop="item">
                <span itemprop="name">@Model.Seller.Name</span>
            </a>
        </div>
    }
    @if (Model.Categories != null)
    {
        foreach (var breadCrumb in Model.Categories)
        {
            var hasDrop = breadCrumb.Value.Any();
            var dropClass = hasDrop ? "drop" : "";
            <span class="separator">-</span>
            <div class="bx-breadcrumb-item @dropClass" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                @if (Model.Seller == null || (Model.Seller != null && Request.RequestContext.RouteData.Values["action"].ToString().ToLower() == "info"))
                {
                    if (Model.Categories.Last().Key.Id == breadCrumb.Key.Id && Model.Product == null)
                    {
                        <span itemprop="name" itemprop="item">@breadCrumb.Key.Name
                        @if (hasDrop)
                        {
                            <span class="separator"></span>
                        }
                        </span>
                    }
                    else
                    {
                        <a class="number" href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = breadCrumb.Key.UrlName})" title="@breadCrumb.Key.Title" itemprop="item">
                            <span itemprop="name">@breadCrumb.Key.Name</span>
                            @if (hasDrop)
                            {
                                <span class="separator"></span>
                            }
                        </a>
                    }
                }
                else
                {
                    <a class="number" href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {sellerUrl = Model.Seller.UrlName, categoryUrl = breadCrumb.Key.UrlName})" title="@breadCrumb.Key.Title" itemprop="item">
                        <span itemprop="name">@breadCrumb.Key.Name</span>
                    </a>
                }
                @if (breadCrumb.Value.Any())
                {
                    <div class="dropdown_wrapp">
                        <div class="dropdown">
                            @foreach (var cat in breadCrumb.Value)
                            {
                                <a class="dark_link" href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = cat.UrlName})" title="@cat.Title">@cat.Name</a>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    }
    @if (Model.Seller != null && Model.IsInfoPage)
    {
        <span class="separator">-</span>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="@Url.SubdomainAction(Model.Product.Seller.UrlName, "Index", "Home", null)" title="@Model.Seller.Name" itemprop="item">
                <span itemprop="name">@Model.Seller.Name</span>
            </a>
        </div>
    }
    @if (Model.Product != null)
    {
        <span class="separator">-</span>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="item">@Model.Product.Name</span>
        </div>
    }
</div>
