@using Benefit.Common.Constants
@model KeyValuePair<string, IEnumerable<Benefit.Domain.Models.Category>>

<ul id="@(Model.Key == null ? "categories" : "")" class="@(ViewBag.IsDropDown ? "" : "nav navbar-nav")">
    @if (Model.Key != null)
    {
        <li>
            <span class="bold">@Model.Key</span>
        </li>
    }

    @foreach (var category in Model.Value)
    {
        <li>
            <a href="@Url.RouteUrl(RouteConstants.CategoriesRouteName, new { id = category.UrlName })" title="@category.Description">@category.Name</a>
            @if (Model.Key == null && category.ChildCategories.Any())
            {
                <ul>
                    @foreach (var subCategory in category.ChildCategories)
                    {
                        <li>
                            <a href="@Url.RouteUrl(RouteConstants.CategoriesRouteName, new { id = subCategory.UrlName })" title="@subCategory.Description">@subCategory.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
