@using Benefit.Common.Constants
@using Benefit.Domain.Models
@{
    var categories = ViewBag.Categories as List<Category>;
    var isMainPage = ViewContext.RouteData.GetRequiredString("action") == "Index" && ViewContext.RouteData.GetRequiredString("controller") == "Home";
}

<div id="headerfixed" style="top: 0px;">
    <div class="maxwidth-theme" style="background: #b41818;">
        <div class="logo-row v2 row margin0 menu-row">

            <!--<div class="inner-table-block">
                <div class="logo ">
                    <a href="#"><img src="images/logo_1.jpg" alt="" title=""></a>
                </div>
            </div>-->

            <div class="inner-table-block menu-block">
                <div class="navs table-menu js-nav opacity1" style="width: 1160px;">
                    <nav class="mega-menu sliced ovisible initied">
                        <div class="table-menu">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="menu-item dropdown catalog" style="visibility: visible;">
                                        <div class="wrap" style="text-align: left;">
                                            <div class="logo ">
                                                <a href="#"><img src="images/logo_1.jpg" alt="" title="" width="30"></a>
                                            </div>
                                            <a class="dropdown-toggle" href="#">
                                                <div style="color: white;">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12" viewBox="0 0 24.75 24.75" style="enable-background:new 0 0 24.75 24.75;" xml:space="preserve">
                                                        <g>
                                                            <path style="fill:#ffffff;" d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2
		c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2
		c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"></path>
                                                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                    </svg>
                                                    КАТАЛОГ ТОВАРІВ, ПОСЛУГ
                                                    <div class="line-wrapper"><span class="line"></span></div>
                                                </div>
                                            </a>
                                            <span class="tail"></span>
                                            @if (!isMainPage)
                                            {
                                                <ul class="dropdown-menu" style="width: 306px;">
                                                    <li id="section-menu" class="no-select mobile-hid">
                                                        <ul class="section-menu">
                                                            @foreach (var cat in categories)
                                                            {
                                                                <li class="li-depth-1">
                                                                    <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName })" class="a-depth-1">
                                                                        <div class="section-icon">
                                                                            <img src="~/Images/CategoryLogo/@cat.ImageUrl" alt="@cat.Name" height="20">
                                                                        </div>
                                                                        <span>@cat.Name</span>
                                                                    </a>
                                                                    @if (cat.ChildCategories.Any())
                                                                    {
                                                                        <i class="fa fa-angle-right"></i>
                                                                        <div class="child-menu child-menu-2 hidden">
                                                                            <ul>
                                                                                @foreach (var subCat in cat.ChildCategories)
                                                                                {
                                                                                    <li class="li-depth-2">
                                                                                        <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = subCat.UrlName })" class="a-depth-2">
                                                                                            <span>@subCat.Name</span>
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 185.343 185.343" style="enable-background: new 0 0 185.343 185.343;" xml:space="preserve" width="512px" height="512px">
                                                                                                <g><g><path d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" fill="#bababa" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                                                        </a>
                                                                                        <span class="next-level hidden-lg hidden-md hidden-sm">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 185.343 185.343" style="enable-background: new 0 0 185.343 185.343;" xml:space="preserve" width="512px" height="512px">
                                                                                                <g>
                                                                                                    <g><path d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175    l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934    c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z" fill="#bababa" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                                                        </span>
                                                                                        <div class="child-menu child-menu-3 hidden">
                                                                                            <div style="padding: 15px; clear: both;">
                                                                                                @foreach (var childCat in subCat.ChildCategories)
                                                                                                {
                                                                                                    <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = childCat.UrlName })" class="pull-left child-category">
                                                                                                        <img src="~/Images/CategoryLogo/@childCat.ImageUrl" style="width: 100%;" />
                                                                                                        <br />
                                                                                                        @childCat.Name
                                                                                                    </a>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            }
                                        </div>
                                    </td>

                                    <td class="menu-item dropdown  wide_menu" style="visibility: visible;">
                                        <div class="wrap">
                                            <a class="dropdown-toggle" href="#">
                                                <div style="color: white;">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12" viewBox="0 0 24.75 24.75" style="enable-background:new 0 0 24.75 24.75;" xml:space="preserve">
                                                    <g>
                                                    <path style="fill:#ffffff;" d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2
		c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2
		c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"></path>
                                                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                                    </svg>
                                                    КАТАЛОГ ПОСТАЧАЛЬНИКІВ
                                                    <div class="line-wrapper"><span class="line"></span></div>
                                                </div>
                                            </a>
                                            <span class="tail"></span>
                                            <ul class="dropdown-menu">
                                                @foreach (var cat in categories)
                                                {
                                                    <div class="dropdown-submenu" style="width: 20%; float: left; text-align: center; padding-bottom: 20px;">
                                                        <div class="menu_img">
                                                            <a href="@HttpUtility.UrlDecode(Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName, options="nav=sellers;/" }))" title="@cat.Name" class="dark_link">
                                                                <img src="~/Images/CategoryLogo/@cat.ImageUrl" alt="@cat.Name" title="@cat.Name">
                                                            </a>
                                                            <a href="@HttpUtility.UrlDecode(Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName, options="nav=sellers;/" }))" title="@cat.Name" class="dark_link">@cat.Name</a>
                                                        </div>
                                                    </div>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                    <td colspan="8" style="min-width: 450px; visibility: visible;">

                                        <div class="search-block ">
                                            <div class="search-wrapper">
                                                <div id="title-search_fixed">
                                                    <form action="#" class="search">
                                                        <div class="search-input-div">
                                                            <input class="search-input" id="title-search-input_fixed" placeholder="Пошук товарів" size="20" maxlength="50" autocomplete="off">
                                                        </div>
                                                        <div class="search-button-div">
                                                            <button class="btn btn-search" type="submit" name="s" value="Поиск"><i class="svg svg-search svg-black"></i></button>
                                                            <span class="close-block inline-search-hide"><span class="svg svg-close close-icons"></span></span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="inner-table-block nopadding small-block">
                <div class="wrap_icon wrap_cabinet">
                    @if (Request.IsAuthenticated)
                    {
                        <a rel="nofollow" title="Мій кабінет" class="personal-link dark-color animate-load" href="@Url.Action("Index", "Panel", routeValues: new { area = DomainConstants.CabinetAreaName })">
                            <i class="svg svg-cabinet lg" aria-hidden="true"></i>
                        </a>
                    }
                    else
                    {
                        <a rel="nofollow" title="Мій кабінет" class="personal-link dark-color animate-load" href="@Url.Action("Login", "Account")">
                            <i class="svg svg-cabinet-login lg" aria-hidden="true"></i>
                        </a>
                    }
                </div>
            </div>

            <a rel="nofollow" class="basket-link basket  inner-table-block nopadding lg " href="#">
                <span class="js-basket-block">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 19.25 19.25" style="enable-background:new 0 0 19.25 19.25;" xml:space="preserve" width="16px" height="16px">
                        <g>
                            <g id="Layer_1_107_">
                                <g>
                                    <path d="M19.006,2.97c-0.191-0.219-0.466-0.345-0.756-0.345H4.431L4.236,1.461     C4.156,0.979,3.739,0.625,3.25,0.625H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124     c0.016,0.053,0.029,0.103,0.054,0.151c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112     c0.058,0.054,0.125,0.092,0.193,0.13c0.038,0.021,0.071,0.049,0.112,0.065c0.116,0.047,0.238,0.075,0.367,0.075     c0.001,0,11.001,0,11.001,0c0.553,0,1-0.447,1-1s-0.447-1-1-1H6.097l-0.166-1H17.25c0.498,0,0.92-0.366,0.99-0.858l1-7     C19.281,3.479,19.195,3.188,19.006,2.97z M17.097,4.625l-0.285,2H13.25v-2H17.097z M12.25,4.625v2h-3v-2H12.25z M12.25,7.625v2     h-3v-2H12.25z M8.25,4.625v2h-3c-0.053,0-0.101,0.015-0.148,0.03l-0.338-2.03H8.25z M5.264,7.625H8.25v2H5.597L5.264,7.625z      M13.25,9.625v-2h3.418l-0.285,2H13.25z" fill="#FFFFFF"/>
                                    <circle cx="6.75" cy="17.125" r="1.5" fill="#FFFFFF"/>
                                    <circle cx="15.75" cy="17.125" r="1.5" fill="#FFFFFF"/>
                                </g>
                            </g>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>

@*                    <i class="svg svg-basket " aria-hidden="true"></i>*@
                    <span class="title dark_link">Кошик</span>
                    <span class="count cart-items-number">0</span>
                </span>
            </a>

            <!--
            <div class="inner-table-block small-block nopadding inline-search-show" data-type_search="fixed">
                <div class="search-block top-btn"><i class="svg svg-search lg"></i></div>
            </div>
            -->
        </div>
    </div>
    <div class="loader" style="display: none;"></div>
</div>
