@using Benefit.Common.Constants
@using Benefit.Domain.Models
@using Benefit.Web.Helpers

@{
    var categories = ViewBag.Categories as List<CategoryVM>;
    var isMainPage = RouteDataHelper.ActionName == "index" && RouteDataHelper.ControllerName == "home";
    var href = (RouteDataHelper.ControllerName == "home" && RouteDataHelper.ActionName == "index") ? "#" : Url.Action("index", "Home", new { area = string.Empty }, Request.Url.Scheme);
}

<header id="header" class="header-v4 header-wrapper">
    <div class="logo_and_menu-row">
        <div class="logo-row">
            <div class="maxwidth-theme">
                <div class="row">
                    <div class="logo-block pull-left col-md-2 col-sm-3">
                        <div class="logo ">
                            <a href="@href">
                                <img src="~/Content/img/logo.png" alt="Benefit Company" title="Benefit Company">
                            </a>
                        </div>
                    </div>
                    <div id="selectRegionWrap" class="inline-block pull-left" data-url="@Url.Action("GetSelectRegionsForm","ProductRegions")">
                        @Html.Partial("_SelectRegionPartial", true)
                    </div>
                    <div class="col-md-3 col-lg-3 search_wrap">
                        <div class="search-block inner-table-block">
                            <div class="search-wrapper">
                                <div id="title-search_fixed">
                                    @using (Html.BeginForm("index", "search", new { area = string.Empty, options = string.Empty }, FormMethod.Get, new { @class = "search-form search" }))
                                    {
                                        <div class="search-input-div">
                                            <input class="search-input" name="term" aria-label="Пошук" placeholder="Я шукаю ..." />
                                        </div>
                                        <div class="search-button-div">
                                            <button class="btn btn-search" type="submit" value="Пошук"><i class="svg svg-search svg-black"></i></button>
                                            <span class="close-block inline-search-hide"><span class="svg svg-close close-icons"></span></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-icons pull-right">
                        <div class="pull-right block-link">
                            <div class="wrap_icon inner-table-block baskets">
                                <a rel="nofollow" class="delay with_price lg basket-link no-action" href="@Url.Action("favorites","tovar")" title="Улюблені товари">
                                    <span class="js-basket-block">
                                        <i class="svg svg-wish "></i>
                                        <span class="title dark_link">&nbsp;</span>
                                        <span class="count favorites-number">0</span>
                                    </span>
                                </a>
                            </div>
                            <div class="wrap_icon inner-table-block baskets">
                                <a rel="nofollow" class="basket-link basket has_prices with_price" href="@Url.Action("index", "cart")">
                                    <span class="js-basket-block">
                                        <i class="svg svg-basket "></i>
                                        <span class="wrap">
                                            <span class="title dark_link">Кошик</span>
                                            <span id="cart-items-price" class="prices">порожній</span>
                                        </span>
                                        <span class="count cart-items-number">0</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="sub_header_right_links pull-right" id="loginPartial">
                        </div>
                        <div class="pull-right">
                            <div class="wrap_icon inner-table-block">
                                <div class="phone-block">
                                    <div class="phone">
                                        <i class="svg svg-phone"></i>
                                        <a rel="nofollow" href="tel:+380500354555">+38 (050) 035 45 55</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-row middle-block bgcolored">
        <div class="maxwidth-theme">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-only">
                        <nav class="mega-menu sliced ovisible">
                            <div class="table-menu">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="menu-item dropdown catalog @(isMainPage ? "" : "active")">
                                                <div class="wrap">
                                                    <a class="dropdown-toggle" href="@Url.Action("index","catalog", new { categoryUrl = string.Empty })" style="padding-top: 10px;">
                                                        <div class="no-hover-underline">
                                                            КАТАЛОГ<br>ТОВАРІВ ТА ПОСЛУГ
                                                            <div class="line-wrapper">
                                                                <span class="line"></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    @if (!isMainPage)
                                                    {
                                                        <ul class="dropdown-menu" style="width: 306px;">
                                                            <li id="section-menu" class="no-select mobile-hid">
                                                                @Html.Partial("_CategoriesPartial", categories)
                                                            </li>
                                                        </ul>
                                                    }
                                                </div>
                                            </td>

                                            <td class="menu-item catalog wide_menu">
                                                <div class="wrap">
                                                    <a class="" href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = "postachalnuky" })" style="padding-top: 10px;">
                                                        <div class="no-hover-underline">
                                                            КАТАЛОГ<br>ПОСТАЧАЛЬНИКІВ<div class="line-wrapper"><span class="line"></span></div>
                                                        </div>
                                                    </a>
                                                    @*<ul class="dropdown-menu">
                                                            @foreach (var cat in categories)
                                                            {
                                                                <div class="dropdown-submenu" style="width: 20%; float: left; text-align: center; padding-bottom: 20px;">
                                                                    <div class="menu_img">
                                                                        <a href="@HttpUtility.UrlDecode(Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName, options="nav=sellers;/" }))" title="@cat.Name" class="dark_link">
                                                                            <img src="~/Images/CategoryLogo/@cat.ImageUrl" alt="@cat.Name" title="@cat.Name">
                                                                        </a>
                                                                        <a href="@HttpUtility.UrlDecode(Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName, options="nav=sellers;/" }))" title="@cat.Name" class="dark_link">@cat.Name</a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </ul>*@
                                                </div>
                                            </td>
                                            @Html.Partial("_MenuPartial")
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-row visible-xs"></div>
</header>
<div class="loader" style="display: none;"></div>