<!DOCTYPE html>
<html lang="uk">
<head>
    <title>@ViewBag.Title - Benefit</title>
    @Html.Partial("_head")
    @RenderSection("meta", false)
    @RenderSection("image_src", required: false)
    @RenderSection("styles", required: false)
    @RenderSection("headscripts", required: false)
</head>
<body class="@ViewBag.MainPageClass">
    <div class="darker hidden"></div>
    @Html.Partial("_header")
    @Html.Partial("_ControlPanelPartial")
    <!-- overlay -->
    <div class="login_box_over hidden"></div>
    <div class="empty_over hidden"></div>
    <div class="container container_provider container_padding">
        <div class="container_table clearfix @ViewBag.MainContentClass">
            <aside class="left_sidebar left_sidebar_main">
                @RenderSection("LeftAside", false)
            </aside>
            <main class="@(ViewBag.MainContainerClass ?? "col-8 full_content")">
                @RenderBody()
            </main>
            <aside class="right_sidebar right_sidebar_main">
                @Html.Partial("_SocialGroups")
                @Html.Partial("_MobileApplications")
            </aside>
        </div>
    </div>
    <footer>
        @Html.Partial("_FooterPartial")
    </footer>
    @Scripts.Render("~/bundles/master")
    @RenderSection("scripts", required: false)
    <script>
        var searchWordsUrl = '@Url.Action("SearchWords", "Search")';
        var searchUrl = '@Url.Action("Index", "Search")';
        $("#search").devbridgeAutocomplete({
            width: 660,
            minChars: 3,
            serviceUrl: searchWordsUrl,
            onSelect: function (suggestion) {
                window.location.href = searchUrl + "?term=" + suggestion.data;
            }
        });

        $('#loginPartial').load('@Url.Action("LoginPartial", "Home")');
        $('.login_links').load('@Url.Action("MobileLoginPartial", "Home")');
        var categoriesUrl = '@Url.Action("CategoriesPartial", "Home")';

        var categoryId = $('#right-menu').attr("data-category-id");
        if (!categoryId) {
            categoryId = "";
        }
        categoriesUrl = categoriesUrl + "?parentCategoryId=" + categoryId;

        var sellerUrl = $('#right-menu').attr("data-seller-url");
        if (!sellerUrl) {
            sellerUrl = "";
        }
        categoriesUrl = categoriesUrl + "&sellerUrl=" + sellerUrl;

        //load left menu
        $('#right-menu').load(categoriesUrl);

        //load dropdown Категорії меню
        if ($(".categories_drop").length > 0) {
            $.get('@Url.Action("CategoriesPartial"
             , "Home")?isDropDown=true',
                function (data) {
                    $(".categories_drop").after(data);
                });
        }

        $("#order-cart, .deliveri_edit").click(function () {
            var cartUrl = '@Url.Action("GetCart","Cart")';
            $("#cart-container").load(cartUrl, function () {
                $("#basket_modal").modal('show');
            });
        });

    </script>
    @Html.Partial("_RegionModal")
    <div id="cart-container"></div>
</body>
</html>