@using Benefit.Web.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="uk">
    <title>@ViewBag.Title</title>
    @Html.Partial("_head")
    @RenderSection("meta", required: false)
    @RenderSection("image_src", required: false)
    @RenderSection("styles", required: false)
    @RenderSection("headscripts", required: false)
    <script charset="UTF-8" src="//cdn.sendpulse.com/9dae6d62c816560a842268bde2cd317d/js/push/d1e0ff751a19b39e76347f42538b15f4_1.js" async></script>
</head>
<body class="fill_bg_n" id="main">
    <div id="bg"></div>
    <div id="panel"></div>
    <div id="popover-here"></div>
    <div class="wrapper1 with_left_block front_page basket_normal basket_fill_COLOR side_LEFT catalog_icons_Y banner_auto  mheader-v1 header-v3 regions_Y fill_N footer-v2 front-vindex3 title-v3 with_phones">
        <div class="header_wrap visible-lg visible-md title-v3 index">
            @Html.Partial("_header")
        </div>

        @Html.Partial("_headerFixed")

        @Html.Partial("_mobileHeader")

        @RenderBody()

        @Html.Partial("_FooterPartial")
        <div class="bx_areas"></div>
        <div class="inline-search-block fixed with-close big">
            <div class="maxwidth-theme" style="background: #f9f9f9;">
                <div class="col-md-12">
                    <div class="search-wrapper">
                        <div id="title-search">
                            @using (Html.BeginForm("index", "search", new { area = "", options = string.Empty }, FormMethod.Get, new { @class = "search-form search" }))
                            {
                            <div class="search-input-div">
                                <input class="search-input" name="term" aria-label="Пошук" placeholder="Я шукаю ..." />
                            </div>
                                <div class="search-button-div">
                                    <button class="btn btn-search btn-default bold btn-lg" type="submit">Пошук</button>
                                    <span class="close-block inline-search-hide"><span class="svg svg-close close-icons"></span></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <script type="text/javascript">if(!window.BX)window.BX={};if(!window.BX.message)window.BX.message=function(mess){if(typeof mess=='object') for(var i in mess) BX.message[i]=mess[i]; return true;};</script>
        -->
        <script>
            var searchWordsUrl = '@Url.Action("SearchWords", "Search")';
            var searchUrl = '@Url.Action("Index", "Search")';
            var cartUrl = '@Url.Action("GetCart", "Cart", new {area = string.Empty})';

        </script>
        <script type="text/javascript" src="~/Scripts/v3/kernel_main.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="~/Scripts/v3/ajax.js"></script>
        <script type="text/javascript" src="~/Scripts/v3/template_318eaa753f456b90a6d135cb3f5aace3.js"></script>
        <script type="text/javascript" src="~/Scripts/v3/default_84b0f0da7abeae3ee8bdab600a51e10a.js"></script>
        <script type="text/javascript" src="~/Scripts/v3/default_34abd663f55e3f30e482309b7ae729af.js"></script>
        <script type="text/javascript" src="~/@Html.IncludeVersionedFile("Scripts/site.js")"></script>
        <script src="~/Scripts/jquery.mask.min.js"></script>
        <script src="~/Scripts/v3/menu.js"></script>
        @RenderSection("scripts", required: false)
        <script>
            var loginPartialUrl = '@Url.Action("LoginPartial", "Home")';
        </script>
        <script src="~/Scripts/v3/mainpage.js"></script>
        <div class="title-search-result title-search-input_fixed"></div>
        <div class="title-search-result title-search-input fixed_type"></div>

        <a class="scroll-to-top ROUND_COLOR PADDING" href="#" id="scrollToTop"></a>
    </div>
    @Html.Partial("_RegionModal")
    <div id="cart-container"></div>
</body>
</html>