@using Benefit.Web.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="uk">
    <title>@ViewBag.Title</title>
    @Html.Partial("_head")
    @RenderSection("meta", required: false)
    @RenderSection("image_src", required: false)
    @RenderSection("styles", required: false)
    @RenderSection("headscripts", required: false)
    <script charset="UTF-8" src="//cdn.sendpulse.com/9dae6d62c816560a842268bde2cd317d/js/push/d1e0ff751a19b39e76347f42538b15f4_1.js" async></script>
</head>
<body class="fill_bg_n" id="main">
    <div id="bg"></div>
    <div id="panel"></div>
    <div id="popover-here"></div>
    <div class="wrapper1 with_left_block front_page basket_normal basket_fill_COLOR side_LEFT catalog_icons_Y banner_auto  mheader-v1 header-v3 regions_Y fill_N footer-v2 front-vindex3 title-v3 with_phones">
        <div class="header_wrap visible-lg visible-md title-v3 index">
            @Html.Partial("_header")
        </div>

        @Html.Partial("_mobileHeader")

        @RenderBody()

        <div class="bx_areas"></div>
        <div class="inline-search-block fixed with-close big">
            <div class="maxwidth-theme" style="background: #f9f9f9;">
                <div class="col-md-12">
                    <div class="search-wrapper">
                        <div id="title-search">
                            @using (Html.BeginForm("index", "search", new { area = "", options = string.Empty }, FormMethod.Get, new { @class = "search-form search" }))
                            {
                                <div class="search-input-div">
                                    <input class="search-input" name="term" aria-label="Пошук" placeholder="Я шукаю ..." />
                                </div>
                                <div class="search-button-div">
                                    <button class="btn btn-search btn-default bold btn-lg" type="submit">Пошук</button>
                                    <span class="close-block inline-search-hide"><span class="svg svg-close close-icons"></span></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <script type="text/javascript">if(!window.BX)window.BX={};if(!window.BX.message)window.BX.message=function(mess){if(typeof mess=='object') for(var i in mess) BX.message[i]=mess[i]; return true;};</script>
        -->
        <script>
            var searchWordsUrl = '@Url.Action("SearchWords", "Search")';
            var searchUrl = '@Url.Action("Index", "Search")';
            var cartUrl = '@Url.Action("GetCart", "Cart", new {area = string.Empty})';
            var loginPartialUrl = '@Url.Action("LoginPartial", "Home")';


var arNextOptions = ({
    "SITE_DIR": "/",
    "SITE_ID": "s1",
    "SITE_ADDRESS": "/",
    "FORM": ({
        "ASK_FORM_ID": "ASK",
        "SERVICES_FORM_ID": "SERVICES",
        "FEEDBACK_FORM_ID": "FEEDBACK",
        "CALLBACK_FORM_ID": "CALLBACK",
        "RESUME_FORM_ID": "RESUME",
        "TOORDER_FORM_ID": "TOORDER"
    }),
    "PAGES": ({
        "FRONT_PAGE": "1",
        "BASKET_PAGE": "",
        "ORDER_PAGE": "",
        "PERSONAL_PAGE": "",
        "CATALOG_PAGE": "",
        "CATALOG_PAGE_URL": "/catalog/",
        "BASKET_PAGE_URL": "/basket/",
    }),
    "PRICES": ({
        "MIN_PRICE": "1000",
    }),
    "THEME": ({
        'THEME_SWITCHER': 'Y',
        'BASE_COLOR': '5',
        'BASE_COLOR_CUSTOM': 'b41818',
        'TOP_MENU': '',
        'TOP_MENU_FIXED': 'Y',
        'COLORED_LOGO': 'Y',
        'SIDE_MENU': 'LEFT',
        'SCROLLTOTOP_TYPE': 'ROUND_COLOR',
        'SCROLLTOTOP_POSITION': 'PADDING',
        'CAPTCHA_FORM_TYPE': '',
        'PHONE_MASK': '+7 (999) 999-99-99',
        'VALIDATE_PHONE_MASK': '^[+][7] [(][0-9]{3}[)] [0-9]{3}[-][0-9]{2}[-][0-9]{2}$',
        'DATE_MASK': 'd.m.y',
        'DATE_PLACEHOLDER': 'дд.мм.гггг',
        'VALIDATE_DATE_MASK': '^[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{4}$',
        'DATETIME_MASK': 'd.m.y h:s',
        'DATETIME_PLACEHOLDER': 'дд.мм.гггг чч:мм',
        'VALIDATE_DATETIME_MASK': '^[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{4} [0-9]{1,2}\:[0-9]{1,2}$',
        'VALIDATE_FILE_EXT': 'png|jpg|jpeg|gif|doc|docx|xls|xlsx|txt|pdf|odt|rtf',
        'BANNER_WIDTH': '',
        'BIGBANNER_ANIMATIONTYPE': 'SLIDE_HORIZONTAL',
        'BIGBANNER_SLIDESSHOWSPEED': '5000',
        'BIGBANNER_ANIMATIONSPEED': '600',
        'PARTNERSBANNER_SLIDESSHOWSPEED': '5000',
        'PARTNERSBANNER_ANIMATIONSPEED': '600',
        'ORDER_BASKET_VIEW': 'NORMAL',
        'SHOW_BASKET_ONADDTOCART': 'Y',
        'SHOW_BASKET_PRINT': 'N',
        "SHOW_ONECLICKBUY_ON_BASKET_PAGE": 'Y',
        'SHOW_LICENCE': 'Y',
        'LICENCE_CHECKED': 'N',
        'SHOW_TOTAL_SUMM': 'Y',
        'CHANGE_TITLE_ITEM': 'N',
        'DISCOUNT_PRICE': '',
        'STORES': '',
        'STORES_SOURCE': 'IBLOCK',
        'TYPE_SKU': 'TYPE_1',
        'MENU_POSITION': 'LINE',
        'DETAIL_PICTURE_MODE': 'POPUP',
        'PAGE_WIDTH': '3',
        'PAGE_CONTACTS': '2',
        'HEADER_TYPE': '3',
        'HEADER_TOP_LINE': '',
        'HEADER_FIXED': '2',
        'HEADER_MOBILE': '1',
        'HEADER_MOBILE_MENU': '2',
        'HEADER_MOBILE_MENU_SHOW_TYPE': '',
        'TYPE_SEARCH': 'fixed',
        'PAGE_TITLE': '3',
        'INDEX_TYPE': 'index3',
        'FOOTER_TYPE': '2',
        'PRINT_BUTTON': 'N',
        'EXPRESSION_FOR_PRINT_PAGE': 'Версия для печати',
        'FILTER_VIEW': 'VERTICAL',
        'YA_GOALS': 'N',
        'YA_COUNTER_ID': '111',
        'USE_FORMS_GOALS': 'COMMON',
        'USE_SALE_GOALS': '',
        'USE_DEBUG_GOALS': 'N',

    }),
    "REGIONALITY": ({
        'USE_REGIONALITY': 'Y',
        'REGIONALITY_VIEW': 'POPUP_REGIONS_SMALL',
    }),
    "COUNTERS": ({
        "YANDEX_COUNTER": 1,
        "GOOGLE_COUNTER": 1,
        "YANDEX_ECOMERCE": "N",
        "GOOGLE_ECOMERCE": "N",
        "TYPE": {
            "ONE_CLICK": "Купить в 1 клик",
            "QUICK_ORDER": "Быстрый заказ",
        },
        "GOOGLE_EVENTS": {
            "ADD2BASKET": "addToCart",
            "REMOVE_BASKET": "removeFromCart",
            "CHECKOUT_ORDER": "checkout",
        }
    }),
    "JS_ITEM_CLICK": ({
        "precision": 6,
        "precisionFactor": Math.pow(10, 6)
    })
});

        </script>
        <script type="text/javascript" src="~/Scripts/v3/kernel_main.js" defer></script>
        <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js" defer></script>
        <script type="text/javascript" src="~/Scripts/jquery.autocomplete.min.js" defer></script>
        <script type="text/javascript" src="~/Scripts/v3/template_318eaa753f456b90a6d135cb3f5aace3.js" defer></script>
        <script type="text/javascript" src="~/@Html.IncludeVersionedFile("Scripts/site.js")" defer></script>
        <script src="~/Scripts/jquery.mask.min.js" defer></script>
        <script src="~/Scripts/v3/menu.js" defer></script>
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/v3/mainpage.js" defer></script>
        <script src="~/Scripts/image-defer.min.js" defer></script>
        <div class="title-search-result title-search-input_fixed"></div>
        <div class="title-search-result title-search-input fixed_type"></div>

        <a class="scroll-to-top ROUND_COLOR PADDING" href="#" id="scrollToTop"></a>
    </div>
    @Html.Partial("_RegionModal")
    <div id="cart-container"></div>
</body>
</html>