<td class="menu-item dropdown" style="visibility: visible;">
    <div class="wrap">
        <a class="dropdown-toggle">
            <div class="no-hover-underline">
                Покупцям
                <div class="line-wrapper"><span class="line"></span></div>
            </div>
        </a>
        <span class="tail"></span>
        <ul class="dropdown-menu">
            <li>@*<a href="#" title="Відгуки покупців"><span class="name">Відгуки покупців</span></a>*@</li>
            <li><a href="@(Request.Url.LocalPath.Contains("pravila-benefit-card") ? "#" : Url.RouteUrl("pagesRoute", new { id = "pravila-benefit-card" }))" title="Правила Benefit Card"><span class="name">Правила Benefit Card</span></a></li>
            <li><a href="@(Request.Url.LocalPath.Contains("partnerska-programa") ? "#" : Url.RouteUrl("pagesRoute", new { id = "partnerska-programa" }))" title="Партнерська програма"><span class="name">Партнерська програма</span></a></li>
            <li><a href="@(Request.Url.LocalPath.Contains("faq") ? "#" :Url.RouteUrl("pagesRoute", new {id = "faq"}))" title="Питання та відповіді"><span class="name">Питання та відповіді</span></a></li>
        </ul>
    </div>
</td>
<td class="menu-item dropdown" style="visibility: visible;">
    <div class="wrap">
        <a class="dropdown-toggle">
            <div class="no-hover-underline">Постачальникам<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
        <span class="tail"></span>
        <ul class="dropdown-menu">
            <li><a href="@(Request.Url.LocalPath.Contains("stati-postachalnikom") ? "#" : Url.RouteUrl("pagesRoute", new { id = "stati-postachalnikom" }))" title="Співпраця з компанією"><span class="name">Співпраця з компанією</span></a></li>
            <li><a href="@(Request.Url.LocalPath.Contains("tarifi-ta-mozhlivosti") ? "#" : Url.RouteUrl("pagesRoute", new { id = "tarifi-ta-mozhlivosti" }))" title="Тарифи та можливості"><span class="name">Тарифи та можливості</span></a></li>
            <li>@*<a href="#" title="Реєстрація постачальника"><span class="name">Реєстрація постачальника</span></a>*@</li>
            <li><a href="@(Request.Url.LocalPath.Contains("sistema-benefit-card") ? "#" : Url.RouteUrl("pagesRoute", new { id = "sistema-benefit-card" }))" title="Система Benefit Card"><span class="name">Система Benefit Card</span></a></li>
        </ul>
    </div>
</td>
<td class="menu-item dropdown" style="visibility: visible;">
    <div class="wrap">
        <a class="dropdown-toggle">
            <div class="no-hover-underline">Про нас<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
        <span class="tail"></span>
        <ul class="dropdown-menu">
            <li><a href="@(Request.Url.LocalPath.Contains("sistema-benefit-card") ? "#" : Url.RouteUrl("pagesRoute", new { id = "pro-kompaniyu-benefit-company" }))" title="Про компанію Benefit Company"><span class="name">Про компанію Benefit Company</span></a></li>
            <li><a href="@(Request.Url.LocalPath.Contains("news") ? "#" :Url.Action("index","news"))" title="Новини компанії"><span class="name">Новини компанії</span></a></li>
            @*<li><a href="#" title="Відгуки про компанію"><span class="name">Відгуки про компанію</span></a></li>*@
            <li><a href="@(Request.Url.LocalPath.Contains("ugoda-korustuvacha") ? "#" :Url.RouteUrl("pagesRoute", new { id = "ugoda-korustuvacha" }))" title="Угода користувача"><span class="name">Угода користувача</span></a></li>
        </ul>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@(Request.Url.LocalPath.Contains("contacts") ? "#" :Url.RouteUrl("pagesRoute", new { id = "contacts" }))">
            <div class="no-hover-underline">Контакти<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
