@using Benefit.Domain.Models
@model IEnumerable<NotificationChannel>

@{
    ViewBag.Title = "Сповіщення";
}
@section scripts
{
    <script>
        var fbJoinUrl = '@Url.Action("SendFacebookAccoutJoinRequest","Email", new { area = string.Empty })';

        $(function () {
            $(".add-notification").click(function (e) {
                e.preventDefault();
                var addNotificationUrl = '@Url.Action("Create")';
                addNotificationUrl += "?channelType=" + $(this).attr("data-channel-type");
                $("#modal-container").load(addNotificationUrl, function () {
                    $("#modal-container").modal("show");
                });
            });

            $("#send-fb-acc").click(function () {
                var fbAcc = $("#facebook-account").val();
                if (fbAcc === "") {
                    alert("Поле Facebook акаунту має бути заповнено");
                    return;
                }
                var model = {
                    facebookAccount: fbAcc
                }
                $.post(fbJoinUrl, model, function () {
                    flashMessage("Повідомлення було відправлено");
                    $("#facebook-account").val("");
                });
            });
        });
    </script>
}
<div id="modal-container" class="modal fade in"></div>

<div class="row">
    <div class="col-sm-5">
        <h3 class="row header smaller lighter blue">
            <span class="col-sm-8">
                <i class="icon-facebook-sign"></i>
                Facebook
            </span>
            <span class="col-sm-4">
                <a class="btn btn-success btn-xs pull-right add-notification" data-channel-type="Facebook">
                    <i class="icon-plus bigger-110 icon-only"></i>
                </a>
            </span>
        </h3>
        <div>
            <p>
                Для того, щоб підключити фейсбук повідомлення про нові замовлення пройдіть таку нескладну процедуру
            </p>
            <p>
                1. Лайкнути нашу Facebook сторінку <br />
                <!-- FB Widget -->
                <div class="social_block fb hide_on_tablet">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=635571649935665";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/benefitcompany/" data-width="225" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/benefitcompany/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/benefitcompany/">Global Benefit Network Company</a></blockquote>
                    </div>
                </div>
            </p>
            @* <p>
                    2. Відправити нам посилання на свій Facebook акаунт <br/>
                    <input type="text" id="facebook-account" class="col-md-6"/>
                    <button type="button" class="btn btn-info btn-sm" id="send-fb-acc">Відправити</button>
                </p>*@
            <p>
                2. Відправте повідомлення на нашу Facebook сторінку
                <a href="https://www.facebook.com/benefitcompany/" target="_blank">https://www.facebook.com/benefitcompany/</a>
                з цим текстом: @Seller.CurrentAuthorizedSellerId
            </p>
            @foreach (var fb in Model.Where(entry => entry.ChannelType == NotificationChannelType.Facebook))
            {
            <div class="well well-sm clearfix">
                <span class="col-sm-11">
                    @fb.Address
                </span>
                <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new {id = fb.Id})" class="pull-right">
                    <i class="icon-remove red"></i>
                </a>
            </div>
            }
        </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
        <h3 class="row header smaller lighter orange">
            <span class="col-sm-8">
                <i class="icon-envelope-alt"></i>
                Email
            </span>
            <span class="col-sm-4">
                <a class="btn btn-success btn-xs pull-right add-notification" data-channel-type="Email">
                    <i class="icon-plus bigger-110 icon-only"></i>
                </a>
            </span>
        </h3>
        <div>
            @foreach (var email in Model.Where(entry => entry.ChannelType == NotificationChannelType.Email))
            {
            <div class="well well-sm clearfix">
                <span class="col-sm-11">
                    @email.Address
                </span>
                <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new { id = email.Id })" class="pull-right">
                    <i class="icon-remove red"></i>
                </a>
            </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <h3 class="row header smaller lighter purple">
            <span class="col-sm-8">
                <i class="icon-phone-sign"></i>
                SMS
            </span>
            <span class="col-sm-4">
                <a class="btn btn-success btn-xs pull-right add-notification" data-channel-type="Phone">
                    <i class="icon-plus bigger-110 icon-only"></i>
                </a>
            </span>
        </h3>
        <div>
            @foreach (var phone in Model.Where(entry => entry.ChannelType == NotificationChannelType.Phone))
            {
            <div class="well well-sm clearfix">
                <span class="col-sm-11">
                    @phone.Address
                </span>
                <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new {id = phone.Id})" class="pull-right">
                    <i class="icon-remove red"></i>
                </a>
            </div>
            }
        </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
        <h3 class="row header smaller lighter red">
            <span class="col-sm-8">
                <i class="fa fa-telegram"></i>
                Telegram
            </span>
            <span class="col-sm-4">
                <a class="btn btn-success btn-xs pull-right add-notification" data-channel-type="Telegram">
                    <i class="icon-plus bigger-110 icon-only"></i>
                </a>
            </span>
        </h3>
        <div>
            <p>
                Для того, щоб підключити Telegram повідомлення про нові замовлення пройдіть таку нескладну процедуру
            </p>
            <p>
                Відправте повідомлення чат боту <a href="tg://resolve?domain=BenefitCompanyBot">BenefitCompanyBot</a>
                з цим текстом: @Seller.CurrentAuthorizedSellerId
            </p>
            @foreach (var telegram in Model.Where(entry => entry.ChannelType == NotificationChannelType.Telegram))
            {
                <div class="well well-sm clearfix">
                    <span class="col-sm-11">
                        @telegram.Address
                    </span>
                    <a onclick="return confirm('Ви впевненні?')" href="@Url.Action("Delete", new { id = telegram.Id })" class="pull-right">
                        <i class="icon-remove red"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</div>