@using Benefit.Common.Constants
@using Benefit.Web.Models.ViewModels
@model Benefit.Web.Models.Admin.ProductFilters

<label>Категорія</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.Partial("_HierarchySelect", new HierarchySelectViewModel
        {
            Name = "CategoryId",
            Value = Request.QueryString["CategoryId"],
            Items = Model.Categories
        })
    </div>
</div>
@if (User.IsInRole(DomainConstants.AdminRoleName))
{
    <br />
    <label>Постачальник</label>
    <div class="row">
        <div class="col-xs-8 col-sm-11">
            @Html.DropDownList("SellerId", Model.Sellers, "Не обрано", new { @class = "width-90 chosen-select" })
        </div>
    </div>
}
<br />
<label>Характеристики</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("HasParameters", Model.HasParameters, "Не обрано", new { @class = "width-90" })
    </div>
</div>
<br />
<label>Виробник</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("HasVendor", Model.HasVendor, "Не обрано", new { @class = "width-90" })
    </div>
</div>
<br />
<label>Країна вирбник</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("HasOriginCountry", Model.HasOriginCountry, "Не обрано", new { @class = "width-90" })
    </div>
</div>
<br />
<label>Наявність</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("IsAvailable", Model.IsAvailable, "Не обрано", new { @class = "width-90" })
    </div>
</div>
@*<div class="row">
        <div class="col-xs-8 col-sm-11">
            <label>
                @Html.CheckBoxFor(m => m.IsAvailable, new { @class = "ace" })
                <span class="lbl"> Тільки в наявності</span>
            </label>
        </div>
    </div>*@
<br />
<label>У експорті</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("ExportId", Model.Exports, "Не обрано", new {@class = "width-90"})
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <label>
            @Html.CheckBoxFor(m => m.IsActive, new { @class = "ace" })
            <span class="lbl"> Активні</span>
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <label>
            @Html.CheckBoxFor(m => m.HasImage, new { @class = "ace" })
            <span class="lbl"> Без зображення</span>
        </label>
    </div>
</div>
<br />
<hr />
@*<div class="row">
        <div class="col-xs-8 col-sm-11">
            <label>
                @Html.CheckBoxFor(m => m.HasImage, new { @class = "ace" })
                <span class="lbl"> Без зображення</span>
            </label>
        </div>
    </div>*@
<br />
<div class="row">
    <button type="submit" class="btn btn-purple btn-sm">
        Фільтрувати
        <i class="icon-search icon-on-right bigger-110"></i>
    </button>
</div>