@using Benefit.Common.Constants
@using Benefit.Domain.Models.ModelExtensions
@model IEnumerable<Benefit.Domain.Models.Product>
@if (!Model.Any())
{
    <div>Пошук не дав жодних результатів</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th>
                        Код товару
                    </th>
                    <th>
                        Назва
                    </th>
                    <th>
                        Порядок
                    </th>
                    <th>
                        Категорія
                    </th>
                    <th>
                        Назва постачальника
                    </th>
                    <th>
                        Наявність
                    </th>
                    <th>
                        Ваговий
                    </th>
                    <th>
                        Ціна
                    </th>
                    <th>
                        Дії
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr id="tr-@product.Id">
                        <td>
                            @product.SKU
                        </td>
                        <td>
                            @Html.RouteLink(product.Name, RouteConstants.ProductRouteWithSellerName,
                                new {productUrl = product.UrlName, categoryUrl = product.Category.UrlName, sellerUrl = product.Seller.UrlName},
                                new {target = "_blank"})
                        </td>
                        <td>
                            @product.Order
                        </td>
                        <td>
                            @product.Category.Name
                        </td> 
                        <td>
                            @product.Seller.Name
                        </td>
                        <td>
                            @if (product.AvailableAmount == 0)
                            {
                                <div class="icon-ban-circle red"></div>
                            }
                            else if (product.AvailableAmount == null)
                            {
                                <div class="icon-check-sign green"></div>
                            }
                            else
                            {
                                @product.AvailableAmount
                            }
                        </td>
                        <td>
                            <input type="checkbox" class="weight-product" @(product.IsWeightProduct ? "checked" : "") data-product-id="@product.Id" />
                        </td>
                        <td>
                            @product.Price
                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <a class="btn btn-xs btn-info" href="@Url.Action("CreateOrUpdate", new { id = product.Id })" target="_blank">
                                    <i class="icon-edit bigger-120"></i>
                                </a>
                                @{
                                    var lockClassName = product.IsActive ? "unlock" : "lock";
                                }
                                <a class="btn btn-xs btn-warning" onclick="LockUnlock('@product.Id');">
                                    <i class="lockUser-@product.Id icon-@lockClassName bigger-120"></i>
                                </a>

                                <a class="btn btn-xs btn-danger" onclick="DeleteProduct('@product.Id', '@product.Name.Sanitize()');">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
