@using Benefit.Common.Extensions
@model  Benefit.Domain.Models.Product

<div class="form-horizontal">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Назва</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-10 col-sm-5 name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Url Назва</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.UrlName, new { @class = "col-xs-10 col-sm-5 urlName" })
            @Html.ValidationMessageFor(model => model.UrlName)
        </div>
    </div>
    @if (Model.LastModifiedBy != null)
    {
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Код товару</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.SKU, new { @class = "col-xs-10 col-sm-5", disabled = "true" })
                @Html.ValidationMessageFor(model => model.SKU)
            </div>
        </div>
    }
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Ціна</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Price, new { @class = "col-sm-1 pull-left" }) 
            @Html.DropDownList("CurrencyId", null, new { @class = "col-sm-2" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Доступна кількість</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Amount) 
            <label>
                <input type="checkbox" class="ace" id="amountSwitcher">
                <span class="lbl"> Завжди в наявності</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="IsActive">Активний</label>
        <div class="col-md-9">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
    </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Категорія</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m=>m.CategoryId, null, "Не обрано", new { @class = "chosen-select col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Постачальник</label>
        <div class="col-md-9">
            @Html.DropDownList("SellerId", null, new { @class = "chosen-select col-xs-10 col-sm-5" })
            @Html.ValidationMessageFor(model => model.SellerId)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Опис</label>
        <div class="col-xs-10 col-sm-5">
            @Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 5 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    @if (Model.LastModifiedBy != null)
    {
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Коли останній раз редагувалось</label>
            <div class="col-md-9">
                @Html.TextBox("LastModified", @Model.LastModified.ToLocalTimeWithFormat(), new { disabled = "true" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ким останній раз редагувалось</label>
            <div class="col-md-9">
                @Html.TextBox("LastModifiedBy", @Model.LastModifiedBy, new { disabled = "true" })
            </div>
        </div>
    }
</div>