@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@using Benefit.Web.Helpers
@model Benefit.Domain.Models.Product

@{
    ViewBag.Title = "Товар " + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/dropzone.css" rel="stylesheet" />
    <link href="~/Content/css/hierarchy-select.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery.mask.min.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    <script src="~/Scripts/hierarchy-select.min.js"></script>
    <script src="~/Areas/Admin/assets/js/dropzone.min.js"></script>
    <script src="~/Areas/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script>
        $(function () {
            var tag_input = $('#SearchTags');
            if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()))) {
                tag_input.tag(
                    {
                        placeholder: tag_input.attr('placeholder'),
                        source: ace.variable_US_STATES, //defined in ace.js >> ace.enable_search_ahead
                    }
                );
            } else {
                tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            }

            var removeReviewUrl = '@Url.Action("RemoveReview","Reviews")';

            $(".remove-review").click(function () {
                if (!confirm("Видалити відгук?")) {
                    return;
                }
                var id = $(this).attr("data-review-id");
                var row = $(this).parent().parent();
                $.post(removeReviewUrl,
                    { reviewId: id },
                    function (data) {
                        if (!data.error) {
                            row.remove();
                            flashMessage("Відгук видалено", true);
                        }
                    }
                );
            });

            $("body").on("change", "select.product-option-value", function () {
                var selectedText = $(this).find("option:selected").text();
                $(this).next().val(selectedText);
            });

            $('form').submit(function () {
                $(".product-option-value").each(function (index) {
                    $(this).attr("name", $(this).attr("name").replace("{n}", index));
                    $(this).nextAll().each(function () {
                        if ($(this).attr("name") != undefined) {
                            $(this).attr("name", $(this).attr("name").replace("{n}", index));
                        }
                    });
                });
            });

            $(".add-product-option-value").click(function () {
                var parameterId = $(this).attr("data-parameter-id");
                var parameterType = $(this).attr("data-parameter-type");
                var valuesContainer = $(this).parent().next();
                if (parameterType == "System.String") {
                    $.get(routePrefix + "/Admin/ProductParameters/GetProductParameterDefinedValues?parameterId=" + parameterId,
                        function (data) {
                            valuesContainer.append(data);
                        });
                }
            });
            $("#imagesOrder").sortable();
            $("#imagesOrder").disableSelection();

            var saveImagesOrderUrl = '@Url.Action("SaveImagesOrder", "Products")';
            $("#saveImagesOrder").click(function () {
                $("#saveImagesOrder").prop("disabled", true);
                var currentListContaner = $("#imagesOrder");
                var sortedImgs = [];
                currentListContaner.find("li").each(function () {
                    var imgId = $(this).attr("data-image-id");
                    sortedImgs.push(imgId);
                });
                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    url: saveImagesOrderUrl,
                    data: JSON.stringify({ sortedImages: sortedImgs }),
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        flashMessage(data);
                        $("#saveImagesOrder").removeAttr("disabled");
                    },
                    error: function (data) {
                        console.debug(data);
                    }
                });
            });

            $(".chosen-select").chosen({
                search_contains: true
            });
            $('.hierarchy-select').hierarchySelect({
                width: 170
            });
            $('#Price, #WholesalePrice').mask("#0.00", { reverse: true });
            $('#SKU, #WholesaleFrom').mask("#");
            $('#Amount').mask("#");

            CKEDITOR.replace('Description', {
                //                filebrowserImageBrowseUrl: '/home/uploadPartial',
                //                filebrowserImageUploadUrl: '/home/uploadnow'
                filebrowserImageUploadUrl: '/home/UploadImage'
            });

            try {
                Dropzone.autoDiscover = false;
                var fileList = new Array;
                var i = 0;
                $(".dropzone").dropzone({
                    url: routePrefix + "/Admin/Products/SaveUploadedFile?type=ProductGallery&parentId=@Model.Id",
                    maxFilesize: 12, // MB
                    addRemoveLinks: true,
                    dictDefaultMessage:
                        '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload \
				    <span class="smaller-80 grey">(or click)</span> <br /> \
				    <i class="upload-icon icon-cloud-upload blue icon-3x"></i> \
                    <div class="dz-default dz-message"></div>',
                    dictResponseError: 'Error while uploading file!',

                    //change the previewTemplate to use Bootstrap progress bars
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>",
                    maxFiles: 15,
                    parallelUploads: 5,
                    dictMaxFilesExceeded: "You can only upload upto 15 images",
                    dictRemoveFile: "Delete",
                    dictCancelUploadConfirmation: "Are you sure to cancel upload?",
                    accept: function (file, done) {
                        if ((file.type).toLowerCase() != "image/jpg" &&
                            (file.type).toLowerCase() != "image/gif" &&
                            (file.type).toLowerCase() != "image/jpeg" &&
                            (file.type).toLowerCase() != "image/png"
                        ) {
                            done("Invalid file");
                        } else {
                            done();
                        }
                    },
                    init: function () {
                        var thisDropzone = this;
                        $.get(routePrefix + "/Admin/Products/GetProductGallery?id=@Model.Id", function (data) {
                            $.each(data, function (key, value) {
                                var mockFile = { name: value.ImageUrl, size: 100000 };
                                thisDropzone.options.addedfile.call(thisDropzone, mockFile);
                                thisDropzone.options.thumbnail.call(thisDropzone, mockFile, routePrefix + "/Images/ProductGallery/@Model.Id/" + value.ImageUrl);
                            });

                        });

                        this.on("success", function (file, serverFileName) {
                            fileList[i] = { "serverFileName": serverFileName, "fileName": file.name, "fileId": i };
                            console.log(fileList);
                            i++;

                        });
                        this.on("removedfile", function (file) {
                            var rmvFile = "";
                            for (f = 0; f < fileList.length; f++) {
                                if (fileList[f].fileName == file.name) {
                                    rmvFile = fileList[f].serverFileName.Message;
                                }
                            }
                            if (!rmvFile) {
                                rmvFile = file.name;
                            }
                            $.ajax({
                                url: routePrefix + "/Admin/Products/DeleteUploadedFile?fileName=" + rmvFile + "&parentId=@Model.Id" + "&type=ProductGallery",
                                type: "POST",
                            });
                        });
                    },
                });
            } catch (e) {
                alert('Dropzone.js does not support older browsers!');
            }
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    <i class="blue icon-info bigger-110"></i>
                    Основна інфо
                </a>
            </li>
            <li>
                <a href="#images" data-toggle="tab">
                    <i class="red icon-camera bigger-110"></i>
                    Зображення
                </a>
            </li>
            @if (User.IsInRole(DomainConstants.AdminRoleName))
            {
                <li>
                    <a href="#advertisement" data-toggle="tab">
                        <i class="purple icon-bullhorn bigger-110"></i>
                        Промоушен
                    </a>
                </li>
                <li>
                    <a href="#options" data-toggle="tab">
                        <i class="purple icon-plus bigger-110"></i>
                        Додаткові опції
                    </a>
                </li>
                <li>
                    <a href="#parameters" data-toggle="tab">
                        <i class="orange icon-check bigger-110"></i>
                        Характеристики
                    </a>
                </li>
                <li>
                    <a href="#reviews" data-toggle="tab">
                        <i class="green icon-edit bigger-110"></i>
                        Відгуки
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <div class="tab-pane in active" id="home">
                @Html.Partial("_ProductForm")
            </div>
            <div class="tab-pane" id="options">
                @Html.Partial("_ProductOptions")
            </div>
            @if (User.IsInRole(DomainConstants.AdminRoleName))
            {
                <div class="tab-pane" id="advertisement">
                    @Html.Partial("_ProductAdvertisement")
                </div>
            }
            <div class="tab-pane" id="parameters">
                @Html.Partial("_ProductParameters")
            </div>
            <div class="tab-pane" id="images">
                @Html.Partial("_Images", Model)
            </div>
            <div class="tab-pane" id="reviews">
                @Html.Partial("~/Areas/Admin/Views/Reviews/_ReviewsList.cshtml", Model.Reviews)
            </div>
            <div class="tab-pane" id="recommendations">
            </div>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="icon-ok bigger-110"></i>
                Зберегти
            </button>

            &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("Index", "Products")" class="btn">
                <i class="icon-undo bigger-110"></i>
                До пошуку
            </a>
        </div>
    </div>
}