@model Benefit.Web.Models.Admin.ProductsViewModel
@{
    ViewBag.Title = "Товари";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    @*    <script src="~/Scripts/sorting-filtering.js"></script>*@

    <script>
        $(function () {
            $(".chosen-select").chosen({
                search_contains: true
            });

            $(".pagination a").click(function () {
                $("#Page").val($(this).text());
                $("form").submit();
            });

            $("button[type=submit]").click(function () {
                $("#Page").val(1);
            });
        });

        function LockUnlock(id) {
            $.post(routePrefix + "/Admin/Products/LockUnlock?id=" + id,
                function (data) {
                    flashMessage("Статус товару змінено");
                    $(".lockUser-" + id).removeClass("icon-lock");
                    $(".lockUser-" + id).removeClass("icon-unlock");
                    if (data) {
                        $(".lockUser-" + id).addClass("icon-lock");
                    } else {
                        $(".lockUser-" + id).addClass("icon-unlock");
                    }
                });
        }

        function DeleteProduct(id, name) {
            if (confirm("Видалити товар " + name + "?")) {
                $.post(routePrefix + "/Admin/Products/Delete?id=" + id,
                    function (data) {
                        if (data) {
                            flashMessage("Товар видалено");
                            $("#tr-" + id).remove();
                        }
                    });
            }
        }
    </script>
}

@section styles{
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="col-sm-2 border-right page-content">
        <div class="row">
            @Html.ActionLink("Створити товар", "CreateOrUpdate", "Products", null, new { @class = "btn btn-info" })
        </div>
        <br />
        @Html.Partial("_Filters", Model.ProductFilters)
    </div>
    <div class="col-sm-10">
        <div class="row right">
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input name="search" id="searchText" type="text" placeholder="Введіть назву або код товару" class="form-control search-query" value="@Model.ProductFilters.Search">
                    <span class="input-group-btn">
                        <button class="btn btn-purple btn-sm" type="submit">
                            Пошук
                            <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div id="searchResults">
            <div class="text-right">
                Сортувати за
                <select name="Sorting" id="Sorting" data-val-required="The Sorting field is required." data-val="true">
                    <option value="">Не обрано</option>
                    @foreach (var option in Model.ProductFilters.Sorting)
                    {
                        <option value="@option.Value" @(option.Selected ? "selected='true'" : "")>@Html.Raw(option.Text)</option>
                    }
                </select>
            </div>

            @Html.Partial("_ProductsSearch", Model.Products)

            @Html.Hidden("Page", 1)
            <div class="table-responsive">

                @if (Model.ProductFilters.PagesCount > 0)
                {
                    <ul class="pagination">
                        @for (var i = 0; i < Model.ProductFilters.PagesCount; i++)
                        {
                            var className = Request.QueryString["Page"] == (i + 1).ToString() ? "active" : "";
                            <li class="@className">
                                <a href="#">@(i + 1)</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}