@using Benefit.Web.Models.Enumerations
@using Benefit.Web.Models.ViewModels
@model Benefit.Web.Models.Admin.ProductsViewModel
@{
    ViewBag.Title = "Товари";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/hierarchy-select.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>

    @*    <script src="~/Scripts/sorting-filtering.js"></script>*@

    <script>
        var updateWeightProductUrl = '@Url.Action("UpdateWeightProduct")';
        var bulkProductsActionUrl = '@Url.Action("BulkProductsAction")';
        var hSelect;
        $(function () {
            $("#products-bulk-action").change(function () {
                if ($(this).val() == "@((int)ProductsBulkAction.SetCategory)") {
                    $("#move-to-categoryId").show();
                } else {
                    $("#move-to-categoryId").hide();
                }
                if ($(this).val() == "@((int)ProductsBulkAction.ExportAll)" ||
                    $(this).val() == "@((int)ProductsBulkAction.ExportSelected)") {
                    $("#exportId").show();
                } else {
                    $("#exportId").hide();
                }
            });

            $("#products-bulk-action-btn").click(function() {
                var productIds = $(".product-select:checked").map(function () {
                    return $(this).attr("data-product-id");
                }).get();
                var action = $("#products-bulk-action").val();
                var categoryId = $("[name=move-to-categoryId]").val();
                var exportId = $("[name=exportId]").val();
                $.post(bulkProductsActionUrl + location.search,
                    {
                        "productIds": productIds,
                        "action": action,
                        "categoryId": categoryId,
                        "exportId": exportId
                    }, function() {
                        window.location.reload();
                    });
            });

            $(".chosen-select").chosen({
                search_contains: true
            });

            $('.hierarchy-select').hierarchySelect({
                width: 170
            });

            $(".pagination a").click(function () {
                $("#Page").val($(this).text());
                $("form").submit();
            });

            $("button[type=submit]").click(function () {
                $("#Page").val(1);
            });

            $("body").on("click", ".weight-product", function () {
                var product = $(this);
                product.attr("disabled", true);
                var id = product.attr("data-product-id");
                var checked = this.checked;
                $.post(updateWeightProductUrl,
                {
                    id: id,
                    isWeight: checked
                }, function () {
                    product.removeAttr("disabled");
                });
            });

            $("#select-all").click(function() {
                $(".product-select").click();
            });
        });

        function LockUnlock(id) {
            $.post(routePrefix + "/Admin/Products/LockUnlock?id=" + id,
                function (data) {
                    flashMessage("Статус товару змінено");
                    $(".lockUser-" + id).removeClass("icon-lock");
                    $(".lockUser-" + id).removeClass("icon-unlock");
                    if (data) {
                        $(".lockUser-" + id).addClass("icon-unlock");
                    } else {
                        $(".lockUser-" + id).addClass("icon-lock");
                    }
                });
        }

        function DeleteProduct(id, name) {
            if (confirm("Видалити товар " + name + "?")) {
                $.post(routePrefix + "/Admin/Products/Delete?id=" + id,
                    function (data) {
                        if (data) {
                            flashMessage("Товар видалено");
                            $("#tr-" + id).remove();
                        }
                    });
            }
        }
    </script>
}

@section styles{
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/pygments.css" rel="stylesheet" />
    <link href="~/Content/css/hierarchy-select.min.css" rel="stylesheet" />
    <style>
        #select-all {
            cursor: pointer;
            border-bottom: 1px dotted #4D4D4D;
            font-weight: normal;
            font-style: normal;
            color: #4D4D4D;
            text-decoration: none;
        }

        .chosen-drop {
            width: 400px !important;
        }
    </style>
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="col-sm-2 border-right page-content">
        <div class="row">
            @Html.ActionLink("Створити товар", "CreateOrUpdate", "Products", null, new { @class = "btn btn-info" })
        </div>
        <br />
        @Html.Partial("_Filters", Model.ProductFilters)
    </div>
    <div class="col-sm-10">
        <div class="row right">
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input name="search" id="searchText" type="text" placeholder="Введіть назву або код товару" class="form-control search-query" value="@Model.ProductFilters.Search">
                    <span class="input-group-btn">
                        <button class="btn btn-purple btn-sm" type="submit">
                            Пошук
                            <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div id="searchResults">
            <div class="text-right">
                Сортувати за
                <select name="Sorting" id="Sorting" data-val-required="The Sorting field is required." data-val="true">
                    <option value="">Не обрано</option>
                    @foreach (var option in Model.ProductFilters.Sorting)
                    {
                        <option value="@option.Value" @(option.Selected ? "selected='true'" : "")>@Html.Raw(option.Text)</option>
                    }
                </select>
            </div>

            @Html.Partial("_ProductsSearch", Model.Products)
            @if (Model.Products.Any())
            {
                <div class="row">
                    <div class="col-md-2">
                        <label id="select-all">Вибрати всі</label>
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("products-bulk-action", EnumHelper.GetSelectList(typeof(ProductsBulkAction)))
                    </div>
                    <div class="col-md-2">
                        <div class="padding-left-19">
                            @Html.Partial("_HierarchySelect", new HierarchySelectViewModel
                            {
                                Name = "move-to-categoryId",
                                Value = null,
                                Items = Model.ProductFilters.Categories
                            })

                            @Html.DropDownList("exportId", Model.ProductFilters.Exports, null, new { id = "exportId", style="display:none;" })
                        </div>
                    </div>
                    <button class="btn btn-success pull-right" id="products-bulk-action-btn">Застосувати</button>
                </div>
            }
            @if (Model.Products.Any())
            {
                <div class="page-header">
                    <h2 class="no-padding-bottom pull-left">Товарів знайдено:</h2>
                    <h2 class="orange">@Model.TotalProductsCount</h2>
                </div>
            }

            @Html.Hidden("Page", 1)
            <div class="table-responsive">

                @if (Model.ProductFilters.PagesCount > 0)
                {
                    <ul class="pagination">
                        @for (var i = 0; i < Model.ProductFilters.PagesCount; i++)
                        {
                            var className = Request.QueryString["Page"] == (i + 1).ToString() ? "active" : "";
                            <li class="@className">
                                <a href="#">@(i + 1)</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}