@model Benefit.Domain.Models.Order

<div class="basket_modal modal fade in" id="basket_modal" style="display: block;" data-seller-id="@Model.SellerId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true"><span></span></div>
            <div class="modal-body">
                @if (Model.OrderProducts.Count == 0)
                {
                    <p>Ваш кошик пустий</p>
                }
                else
                {
                    <p class="basket_modal_title">Товари в кошику</p>
                    <table class="basket_modal_table">
                        <thead>
                            <tr class="basket_modal_table_row">
                                <th>Назва</th>
                                <th>Кількість</th>
                                <th>Ціна</th>
                                <th>Сума</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.OrderProducts)
                            {
                                <tr class="basket_modal_table_row product" data-product-id="@product.ProductId" data-original-price="@product.ProductPrice">
                                    <td class="basket_modal_td">@product.ProductName</td>
                                    <td class="basket_modal_td">
                                        <div class="modal_amount_wrap" data-weight-product="@product.IsWeightProduct">
                                            <div class="product_modal_minus">-</div>
                                            <input class="product_modal_amount" value="@product.Amount" type="text" data-is-weight-product="@product.IsWeightProduct">
                                            <div class="product_modal_plus">+</div>
                                        </div>
                                    </td>
                                    <td class="basket_modal_td">@product.ProductPrice.ToString("F")</td>
                                    @{
                                var productOptionsSum = product.OrderProductOptions.Sum(entry => entry.ProductOptionPriceGrowth * entry.Amount);
                                var productSum = product.ProductPrice * product.Amount;
                                    }
                                    <td class="basket_modal_td product-total-price">@((productSum + productOptionsSum).ToString("F"))</td>
                                    <td class="basket_modal_td">
                                        <div class="delete_product" data-product-id="@product.ProductId"></div>
                                    </td>
                                </tr>
                                if (product.OrderProductOptions.Any())
                                {
                                    foreach (var orderProductOption in product.OrderProductOptions)
                                    {
                                        <tr class="basket_modal_table_row option" data-option-id="@orderProductOption.ProductOptionId" data-original-price="@orderProductOption.ProductOptionPriceGrowth">
                                            <td class="basket_modal_td">@orderProductOption.ProductOptionName</td>
                                            <td class="basket_modal_td">
                                                <div class="modal_amount_wrap">
                                                    <div class="product_modal_minus">-</div>
                                                    <input class="product_modal_amount" value="@orderProductOption.Amount" type="text">
                                                    <div class="product_modal_plus">+</div>
                                                </div>
                                            </td>
                                            <td class="basket_modal_td">@orderProductOption.ProductOptionPriceGrowth.ToString("F")</td>
                                            <td class="basket_modal_td"></td>
                                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

                    var cartSum = Model.OrderProducts.Sum(entry => entry.ProductPrice * entry.Amount + entry.OrderProductOptions.Sum(option => option.ProductOptionPriceGrowth * option.Amount));
                    <p class="basket_modal_price">Всього: <span>@cartSum.ToString("F")</span></p>
                    <div class="basket_modal_kontrols clearfix">
                        <a href="#" class="goto_back">Продовжити покупки</a>
                        <a href="#" id="complete-order" class="goto_ahead">Оформити замовлення</a>
                    </div>
@*                    <p class="get_bonus">Ви отримаєте 43,60 бонусів</p>*@
                    //todo: add рекомендовані продукти
                    //todo: add weight product amount
                    @*                    <p class="basket_recomendation_title">Рекомендовані товари</p>*@
                    @*<div class="product_recomendation">
                            <div class="product_recomendation_item">
                                <div class="product_recomendation_img_wrap">
                                    <img src="assets/img/cola.jpg" alt="cola">
                                </div>
                                <p class="product_recomendation_name">Coca-cola, 1л</p>
                                <div class="product_recomendation_rating">
                                    <span class="rating_star good"></span>
                                    <span class="rating_all">35 відгуків</span>
                                </div>
                                <p class="product_recomendation_price">18,50 грн</p>
                            </div>

                            <div class="product_recomendation_item">
                                <div class="product_recomendation_img_wrap">
                                    <img src="assets/img/nestea.jpg" alt="nestea">
                                </div>
                                <p class="product_recomendation_name">Nestea, 1л</p>
                                <div class="product_recomendation_rating">
                                    <span class="rating_star good"></span>
                                    <span class="rating_all">8 відгуків</span>
                                </div>
                                <p class="product_recomendation_price">28,50 грн</p>
                            </div>

                            <div class="product_recomendation_item">
                                <div class="product_recomendation_img_wrap">
                                    <img src="assets/img/plate_01.jpg" alt="cezar">
                                </div>
                                <p class="product_recomendation_name">Салат Цезар, 350 гр.</p>
                                <div class="product_recomendation_rating">
                                    <span class="rating_star middle"></span>
                                    <span class="rating_all">18 відгуків</span>
                                </div>
                                <p class="product_recomendation_price">94,00 грн</p>
                            </div>

                            <div class="product_recomendation_item">
                                <div class="product_recomendation_img_wrap">
                                    <img src="assets/img/plate_02.jpg" alt="spring_salad">
                                </div>
                                <p class="product_recomendation_name">Салат весняний, 220 гр</p>
                                <div class="product_recomendation_rating">
                                    <span class="rating_star good"></span>
                                    <span class="rating_all">15 відгуків</span>
                                </div>
                                <p class="product_recomendation_price">69,00 грн</p>
                            </div>
                        </div>*@
                }
            </div>
        </div>
    </div>
</div>