@model Benefit.DataTransfer.ViewModels.CompleteOrderViewModel
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Оформлення замовлення";
}
@section scripts
{
    <script>
        var shippingMethodsJson = @Html.Raw(JsonConvert.SerializeObject(Model.ShippingMethods))
        $(function () {
            $(".delivery_address_item").click(function () {
                var addressId = $(this).attr("data-address-id");
                $("#AddressId").val(addressId);
                $(".delivery_address_item").removeClass("active");
                $(".delivery_address_item").hide();
                $(this).addClass("active");
                $(this).show();
            });
            $(".chose_new_address").click(function (e) {
                e.preventDefault();
                $(".delivery_address_item").show();
            });

            $("input[name=ShippingMethodId]").change(function () {
                var selectedShippingId = this.value;
                var orderSum = parseFloat($("#order-total").text());
                var shippingCost = 0;
                var selectedShipping = shippingMethodsJson.filter(function (shipping) {
                    return shipping.Id == selectedShippingId;
                })[0];
                if (orderSum < selectedShipping.FreeStartsFrom) {
                    if (selectedShipping.CostBeforeFree == null) {
                        $("#shipping-cost").text("По тарифам кур'єрської служби");
                    } else {
                        $("#shipping-cost").text(selectedShipping.CostBeforeFree.toFixed(2));
                    }
                    shippingCost = selectedShipping.CostBeforeFree;
                } else {
                    $("#shipping-cost").text(shippingCost.toFixed(2));
                }
                $("#pay-total").text((shippingCost + orderSum).toFixed(2));
            });

            $("input[name='PaymentType']").change(function () {
                if ($(this).attr("id") == "@PaymentType.Bonuses.ToString()") {
                    var bonusesRadio = this;
                    var checkBonusesUrl = '@Url.Action("CheckEnaughBonuses", "Cart")';
                    var sum = $("#order-total").text();
                    $.get(checkBonusesUrl + "?sum=" + sum, function (data) {
                        if (data.total) {
                            $("#comission-cost").text(data.comission.toFixed(2));
                            $("#discount").text((sum - 0.01).toFixed(2));
                            $("#pay-total").text("0.01");
                            $("#comission-row").show();
                            $("#discount-row").show();
                        } else {
                            //todo: add pretty windows
                            alert("Недостатньо бонусів на рахунку");
                            bonusesRadio.checked = false;
                        }
                    });
                } else {
                    var comission = parseFloat($("#comission-cost").text());
                    if (comission) {
                        var paytotal = parseFloat($("#pay-total").text());
                        $("#comission-row").hide();
                        $("#discount-row").hide();
                        var totalMinusComission = paytotal - comission;
                        $("#pay-total").text(totalMinusComission.toFixed(2));
                    }
                }
            });
        })
    </script>
}
@using (Html.BeginForm())
{
    <div class="arrange_content">
        @Html.ValidationSummary()
        <p class="arrange_content_title">Оформлення замовлення</p>
        <div class="delivery_facilities">
            <p class="delivery_facilities_title">Спосіб доставки</p>
            @foreach (var shipping in Model.ShippingMethods)
            {
                <input class="hidden" type="radio" id="@shipping.Id" name="ShippingMethodId" value="@shipping.Id">
                <label class="label_for_radio" for="@shipping.Id">@shipping.Name</label>
            }
        </div>
        @Html.Partial("_ShippingAddresses", Model)
        @Html.Partial("_PaymentTypes", Model)
        <div class="delivery_coment">
            <p class="delivery_coment_title">Коментар</p>
            @Html.TextAreaFor(m => m.Comment)
        </div>
        @Html.Partial("_OrderProducts", Model)
        @Html.Partial("_PaymentSummary", Model)
        <div class="delivery_kontrols clearfix">
            <a href="#" class="deliveri_edit goto_back">Редагувати замовлення</a>
            <input type="submit" class="checkout goto_ahead" value="Оформити замовлення" />
        </div>
        @*        <p class="get_bonus">Ви отримаєте 43,60 бонусів</p>*@
    </div>
}
