@model Benefit.DataTransfer.ViewModels.CompleteOrderViewModel
@using Benefit.Domain.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Оформлення замовлення";
}
@section scripts
{
    <script>
        var shippingMethodsJson = @Html.Raw(JsonConvert.SerializeObject(Model.ShippingMethods))
        $(function() {
            CalculateSummary();

            $(".delivery_address_item").click(function() {
                var addressId = $(this).attr("data-address-id");
                $("#AddressId").val(addressId);
                $(".delivery_address_item").removeClass("active");
                $(".delivery_address_item").hide();
                $(this).addClass("active");
                $(this).show();
            });
            $(".chose_new_address").click(function(e) {
                e.preventDefault();
                $(".delivery_address_item").show();
            });

            $("input[name=ShippingMethodId]").change(function () {
                if ($(this).attr("data-skip-address").toLowerCase() === "true") {
                    $(".delivery_address").hide();
                    $("#RequireAddress").val("False");
                } else {
                    $(".delivery_address").show();
                    $("#RequireAddress").val("True");
                }
            });

            $("input[name=ShippingMethodId], input[name=PaymentType]").change(function() {
                CalculateSummary();
            });

            function CalculateSummary() {
                var selectedShippingId = $("input[name=ShippingMethodId]:checked");
                var selectedPaymentType = $("input[name=PaymentType]:checked");

                if (selectedShippingId.length > 0 && selectedPaymentType.length > 0) {
                    var selectedShipping = shippingMethodsJson.filter(function(shipping) {
                        return shipping.Id == selectedShippingId.val();
                    })[0];
                    $("#payment-summary").show();
                    $("#checkout").removeAttr("disabled");
                    //shipping
                    var selectedShippingId = selectedShipping.Id;
                    var orderSum = parseFloat($("#order-total").text());
                    var promotion = 0;
                    if ($("#promotion").length > 0) {
                        promotion = parseFloat($("#promotion").text());
                    }
                    var shippingCost = 0;
                    var selectedShipping = shippingMethodsJson.filter(function(shipping) {
                        return shipping.Id == selectedShippingId;
                    })[0];
                    if (orderSum < selectedShipping.FreeStartsFrom) {
                        if (selectedShipping.CostBeforeFree == null) {
                            $("#shipping-cost").text("По тарифам кур'єрської служби");
                        } else {
                            $("#shipping-cost").text(selectedShipping.CostBeforeFree.toFixed(2));
                            shippingCost = selectedShipping.CostBeforeFree;
                        }
                    } else {
                        $("#shipping-cost").text(shippingCost.toFixed(2));
                    }

                    //paymentType
                    var sum = parseFloat($("#order-total").text());
                    if (selectedPaymentType.attr("id") == "@PaymentType.Bonuses.ToString()") {
                        var checkBonusesUrl = '@Url.Action("CheckEnaughBonuses", "Cart")';
                        $.get(checkBonusesUrl + "?sum=" + (orderSum - promotion), function (data) {
                            if (data.total) {
                                $("#bonuses-summary").show();
                                //bonuses section
                                $("#bonuses-discount").text(((sum-promotion) - 0.01).toFixed(2));
                                $("#bonuses-comission").text(data.comission.toFixed(2));
                                $("#bonuses-total").text(((sum - promotion) + data.comission - 0.01).toFixed(2));

                                //payment section
                                $("#pay-total").text((shippingCost + 0.01).toFixed(2));
                                $("#discount").text(((sum-promotion) - 0.01).toFixed(2));
                                $("#discount-row").show();
                            } else {
                                //todo: add pretty windows
                                alert("Недостатньо бонусів на рахунку");
                                selectedPaymentType[0].checked = false;
                                $("#checkout").attr("disabled", "disabled");
                            }
                        });
                    } else {
                        $("#bonuses-summary").hide();
                        $("#discount-row").hide();
                    }
                    $("#pay-total").text((shippingCost + orderSum - promotion).toFixed(2));
                }
            }
        });
    </script>
}
@using (Html.BeginForm())
{
    <div class="arrange_content">
        @Html.ValidationSummary()
        <p class="arrange_content_title">Оформлення замовлення</p>
        <div class="delivery_facilities">
            <p class="delivery_facilities_title">Спосіб доставки</p>
            @foreach (var shipping in Model.ShippingMethods)
            {
                <input class="hidden" type="radio" id="@shipping.Id" name="ShippingMethodId" value="@shipping.Id" data-skip-address="@shipping.SkipOrderAddress">
                <label class="label_for_radio" for="@shipping.Id">@shipping.Name</label>
            }
            @Html.HiddenFor(m=>m.RequireAddress)
        </div>
        @Html.Partial("_ShippingAddresses", Model)
        @Html.Partial("_PaymentTypes", Model)
        <div class="delivery_coment">
            <p class="delivery_coment_title">Коментар</p>
            @Html.TextAreaFor(m => m.Comment)
        </div>
        @Html.Partial("_OrderProducts", Model)
        @Html.Partial("_PaymentSummary", Model)
        <div class="delivery_kontrols clearfix">
            <a href="#" class="deliveri_edit goto_back btn"><span>Редагувати<br /> замовлення</span></a>
            <button type="submit" class="checkout goto_ahead btn" id="checkout" disabled>Оформити<br /> замовлення</button>
        </div>
        @*        <p class="get_bonus">Ви отримаєте 43,60 бонусів</p>*@
    </div>
}
