@using Benefit.Common.Extensions
@model Benefit.Web.Models.Admin.EditUserViewModel

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Загальна сума зароблених бонусів</label>

        <div class="col-sm-9">
            @Html.TextBox("TotalBonusAccount", Model.TotalBonusAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Доступні бонуси</label>

        <div class="col-sm-9">
            @Html.TextBox("BonusAccount", Model.BonusAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Бонуси в обробці</label>

        <div class="col-sm-9">
            @Html.TextBox("HangingBonusAccount", Model.HangingBonusAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Бонуси за поточний період</label>

        <div class="col-sm-9">
            @Html.TextBox("CurrentBonusAccount", Model.CurrentBonusAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Бали за поточний період</label>

        <div class="col-sm-9">
            @Html.TextBox("PointsAccount", Model.PointsAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Бали в обробці</label>

        <div class="col-sm-9">
            @Html.TextBox("HangingPointsAccount", Model.HangingPointsAccount.ToDoubleDigits(), new { @class = "col-xs-10 col-sm-5 number-float-input" })
        </div>
    </div>
</div>