@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@model Benefit.Web.Models.Admin.EditUserViewModel

<div class="form-horizontal">

    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label class="col-sm-3"></label>

        <div class="col-sm-9">
            @Html.ActionLink("Перейти до особистого кабінету", "Profile", "Panel", new { area = DomainConstants.CabinetAreaName, userId = Model.Id }, new { target="_blank" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Реферальний код</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.ExternalNumber, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">ПІБ</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.FullName, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Email</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Телефон</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Реферал</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.ReferalNumber, new { @class = "col-xs-10 col-sm-5" })
            @if (Model.ReferalId != null)
            {
                @Html.ActionLink("Перейти до рефералу", "Edit", new { id = Model.ReferalId })
            }
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Номер картки</label>

        <div class="col-sm-9">
            @Html.EditorFor(m => m.CardNumber, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">NFC картки</label>

        <div class="col-sm-9">
            @Html.EditorFor(m => m.NFCNumber, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Бізнес рівень</label>

        <div class="col-sm-9">
            @Html.EnumDropDownListFor(m => m.BusinessLevel, "Не має", new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Статус</label>

        <div class="col-sm-9">
            @Html.EnumDropDownListFor(m => m.Status, "Не має", new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(m => m.IsActive)
            <span class="lbl" for="IsActive"> Активний</span>
        </label>

        <label class="col-sm-3 control-label no-padding-right" style="margin-left: 10px;"></label>
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(m => m.IsCardVerified)
            <span class="lbl" for="IsCardVerified"> Карта верифікована</span>
        </label>

        <label class="col-sm-3 control-label no-padding-right" style="margin-left: 10px;"></label>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Зареєстрований</label>

        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" value="@Model.RegisteredOn.ToLocalDateTimeWithFormat()" name="RegisteredOn" disabled="" />
        </div>
    </div>
    <hr />

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right red">Новий Пароль</label>

        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" name="newPassword" />
        </div>
    </div>
</div>