@using Benefit.Common.Extensions
@model IEnumerable<Benefit.Domain.Models.ApplicationUser>
@if (!Model.Any())
{
    <div>Пошук не дав жодних результатів</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th>
                        Реферальний код
                    </th>
                    <th>
                        Ім'я
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Телефон
                    </th>
                    <th>
                        Номер Карти
                    </th>
                    <th>
                        Зареєстрований
                    </th>
                    <th>
                        Дії
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr id="tr-@user.Id">
                        <td>
                            @user.ExternalNumber
                        </td>
                         <td>
                            @user.FullName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.PhoneNumber
                        </td>
                        <td>
                            @user.CardNumber
                        </td> 
                        <td>
                            @user.RegisteredOn.ToLocalTimeWithFormat()
                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <a class="btn btn-xs btn-info" href="@Url.Action("Edit", new { id = user.Id })" target="_blank">
                                    <i class="icon-edit bigger-120"></i>
                                </a>

                                <a class="btn btn-xs btn-warning" onclick="LockUnlock('@user.Id');">
                                    <i class="lockUser-@user.Id icon-lock bigger-120"></i>
                                </a>

                                <a class="btn btn-xs btn-danger" onclick="DeleteUser('@user.Id');">
                                    <i class="icon-trash bigger-120"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
