@model Benefit.Web.Models.Admin.EditUserViewModel
@{
    ViewBag.Title = "Редагувати партнера " + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Scripts/address.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/4.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        var getNfcUrl = '@Url.Action("GetNfcCode")';
        var userId = '@Model.Id';
        var customBonusesPaymentUrl = '@Url.Action("AddCustomBonusesPayment", new { id=Model.Id })';

        $(function () {
            $('.number-float-input').inputmask("decimal", {
                digits: 2
            });

            $("#NFCNumber").focus(function () {
                var nfc = $(this);
                if (nfc.val() == "") {
                    $.get(getNfcUrl + "?cardNumber=" + $("#CardNumber").val() + "&userId=" + userId, function (data) {
                        if (data == "") {
                            alert("Картку не знайдено");
                            $("#CardNumber").focus();
                        } else if (data == "occupied") {
                            alert("Ця картка вже зайнята");
                            $("#CardNumber").focus();
                        } else {
                            nfc.val(data);
                        }
                    });
                }
            });

            $("#add-bonuses-payment").click(function (e) {
                e.preventDefault();
                $("#add-bonuses-payment").attr('disabled', 'disabled');
                var sum = $("#bonuses-sum").val();
                var comment = $("#bonuses-comment").val();
                var model = {
                    sum: sum,
                    comment: comment
                };
                $.post(customBonusesPaymentUrl, model, function (data) {
                    $("#add-bonuses-payment").removeAttr('disabled');
                    if (data.length == 0) {
                        flashMessage("Бонуси успішно зараховані");
                        $("#bonuses-sum").val("");
                        $("#bonuses-comment").val("");
                    } else {
                        flashMessage(data, true);
                    }
                });
            });
        });
    </script>
}
@section styles{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/address.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    <i class="blue icon-info bigger-110"></i>
                    Основна інфо
                </a>
            </li>
             <li>
                <a href="#finance" data-toggle="tab">
                    <i class="blue icon-info bigger-110"></i>
                    Фінансова інформація
                </a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab">
                    <i class="green icon-home bigger-110"></i>
                    Адреси
                </a>
            </li>
            @*<li>
                <a href="#card-orders" data-toggle="tab">
                    <i class="green icon-money bigger-110"></i>
                    Benefit Card Транзакції
                </a>
            </li>
            <li>
                <a href="#onlin-orders" data-toggle="tab">
                    <i class="green icon-money bigger-110"></i>
                    Онлайн замовлення
                </a>
            </li>*@
            <li>
                <a href="#additionalPayments" data-toggle="tab">
                    <i class="green icon-money bigger-110"></i>
                    Додаткові нарахування
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane in active" id="home">
                @Html.Partial("_UserForm", Model)
            </div>
            <div class="tab-pane" id="finance">
                @Html.Partial("_FinanceUserForm", Model)
            </div>
           @* <div class="tab-pane" id="card-orders">
                @Html.Partial("_FinanceUserForm", Model)
            </div>
            <div class="tab-pane" id="online-orders">
                @Html.Partial("_FinanceUserForm", Model)
            </div>*@
            <div class="tab-pane" id="addresses">
                @Html.Partial("_Addresses", Model)
            </div>
            <div class="tab-pane" id="additionalPayments">
                @Html.Partial("_AdditionalPaymentsPartial", Model)
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="icon-ok bigger-110"></i>
                Зберегти
            </button>

            &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("Index", "Users")" class="btn">
                <i class="icon-undo bigger-110"></i>
                До пошуку
            </a>
        </div>
    </div>
}