@using Benefit.Domain.Models
@model Benefit.Domain.Models.Currency

@{
    ViewBag.Title = "Редагування курсу/індексу";
}
@section styles
{
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/assets/js/jquery.mask.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        $(function () {
            $('.mask-number').mask("#0.00", { reverse: true });
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SellerId)

        <div class="form-group">
            <label class="control-label col-md-2">Назва</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Індекс</label>

            <div class="col-md-10">
                @if (Model.Provider == CurrencyProvider.Custom)
                {
                    @Html.TextBox("Rate", Model.Rate.ToString("0.00"), new { @class = "mask-number" })
                }
                else
                {
                    @Html.TextBox("Rate", Model.Rate.ToString("0.00"), new { @class = "mask-number", @readonly = "readonly", disabled = "disabled" })
                }
                @Html.ValidationMessageFor(model => model.Rate)
            </div>
        </div>
        @if (Model.Provider == CurrencyProvider.Custom)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зберегти" class="btn btn-default" />
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Назад до списку", "Index")
        </div>
    </div>
}


