@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model IEnumerable<Benefit.Domain.Models.Currency>

@{
    ViewBag.Title = "Курси та індекси";
}

<p>
    @Html.ActionLink("Створити новий", "CreateOrUpdate", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            Провайдер
        </th>
        <th>
            Індекс
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Enumerations.GetDisplayNameValue(item.Provider)
            </td>
            <td>
                @item.Rate.ToString("F")
            </td>
            <td>
                @Html.ActionLink("Деталі", "CreateOrUpdate", new { id = item.Id })
                @if (item.Provider == CurrencyProvider.Custom)
                {
                    <span>
                        |
                        @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { onclick = "return confirm('При видаленні курсу до всіх товарів, які мали цей курс, застосується курс за замовчуванням (UAH)');" })
                    </span>
                }
            </td>
        </tr>
    }

</table>
