@model IEnumerable<Benefit.Domain.Models.Category>

<ul style="list-style-type: none;">
    @foreach (var cat in Model)
    {
        <li>
            <div class="row padding-vertical-5px">
                <div class="col-md-2 font-bigger">
                    @cat.Name
                </div>
                @if (cat.ChildCategories.Any())
                {
                    <div class="padding-left-40" style="clear: both;">
                        @Html.Partial("_MappingCategoriesList", cat.ChildCategories.ToList())
                    </div>
                }
                else
                {
                    <div class="pull-left">
                        <i class="icon-arrow-right"></i>
                    </div>
                    <div class="col-md-4">
                        @if (cat.MappedParentCategory != null)
                        {
                            <span>
                                @cat.MappedParentCategory.Name
                            </span>
                        }
                        <button class="btn btn-info btn-xs add-mapping-category" id="@cat.Id">
                            <i class="icon-edit"></i>
                        </button>
                        @if (cat.MappedParentCategory != null)
                        {
                            <button class="btn btn-danger btn-xs remove-mapping-category" data-cat-id="@cat.Id">
                                <i class="icon-remove"></i>
                            </button>
                        }
                    </div>
                }
            </div>
        </li>
    }
</ul>
