@model Benefit.Domain.Models.Category

@{
    ViewBag.Title = "Створити нову категорію";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#CategoryImage").ace_file_input({
                style: 'well',
                btn_choose: 'Drop images here or click to choose',
                btn_change: null, /* we don't need it */
                no_icon: 'icon-cloud-upload',
                droppable: true,
                thumbnail: 'large',
                before_change: function (files, dropped) {
                    var file = files[0];
                    if (typeof file == "string") {
                        //file is just a file name here (in browsers that don't support FileReader API such as IE8)
                        if (!(/\.(jpe?g|png|gif)$/i).test(file)) {
                            //not an image extension?
                            //alert user
                            return false;
                        }
                    } else {
                        var type = $.trim(file.type);
                        if (
                            (type.length > 0 && !(/^image\/(jpe?g|png|gif)$/i).test(type))
                                ||
                            //for android's default browser!
                                (type.length == 0 && !(/\.(jpe?g|png|gif)$/i).test(file.name))
                        ) {
                            //alert user
                            return false;
                        }

                        /* if (file.size > 1024 * 100) {
                             //is the file size larger than 100KB?
                             //alert user
                             return false;
                         }*/
                    }

                    return true;
                },

                before_remove: function () {
                    //if(upload_in_progress) return false;//don't allow resetting the file input while upload in progress
                    return true;
                },

                preview_error: function (filename, error_code) {
                    alert(error_code);
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',//the loaded file is not an image
                    //3 = 'THUMBNAIL_FAILED'//somehow creating the thumbnail failed.
                    //notify user?!
                }
            });

            $(".switchNavigationType").click(function () {
                $(".switchNavigationType").removeClass("btn-primary");
                $(this).addClass("btn-primary");
                var navType = $(this).attr("data-navtype");
                $("#navType").val(navType);
            });

            $("#urlName").focus(function() {
                if ($(this).val() == "") {
                    var originalName = $("#catName").val();
                    $(this).val(urlRusLat(originalName));
                }
            });
        })
    </script>
}
<h2>Створити нову категорію</h2>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>

        @*  <textarea name="editor1" id="editor1" cols="45" rows="5"></textarea>
        <script type="text/javascript">
            CKEDITOR.replace('editor1', {
//                filebrowserImageBrowseUrl: '/home/uploadPartial',
                //                filebrowserImageUploadUrl: '/home/uploadnow'
                filebrowserImageUploadUrl: '/home/UploadImage'
            });
        </script>*@
        @Html.ActionLink("Редагувати фільтри", "Index", "Filters", new { categoryId = Model.Id })

        <label>Тип навігації</label>
        <div>
            <a data-navtype="SellersOnly" class="btn switchNavigationType @(Model.NavigationType == "SellersOnly" ? "btn-primary" : "")">Тільки постачальники</a>
            <a data-navtype="SellersAndProducts" class="btn switchNavigationType @(Model.NavigationType == "SellersAndProducts" ? "btn-primary" : "")">Постачальники та товари</a>
        </div>
        <br/>
        @Html.HiddenFor(entry => entry.NavigationType, new { id = "navType" })

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_CategoryLocalizedInfo")

        <br/>
        <div class="form-group">
            <div class="col-md-1">
                <label class="text-left control-label" for="UrlName">Url назва</label>    
            </div>
            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UrlName, new {id = "urlName"})
                @Html.ValidationMessageFor(model => model.UrlName)
            </div>
        </div>
        @*<div class="width-30">
            <input type="file" id="CategoryImage" name="categoryImage" />
        </div>*@
    </div>
    <hr />
    <div class="control-group">
        <input type="submit" value="Створити" class="btn btn-success width-20" />
        @Html.ActionLink("Cкасувати", "Index", "Categories", null, new { @class = "btn btn-danger width-20" })
    </div>
}
