@model IEnumerable<Benefit.Domain.Models.Category>

@{
    ViewBag.Title = "Категорії";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#categories").sortable();
            $("#categories").disableSelection();
        });

        function SaveCatOrder() {
            $("#saveCatsOrder").prop("disabled", true);
            var sortedCats = [];
            $("#categories li").each(function () {
                var catId = $(this).attr("data-catid");
                sortedCats.push(catId);
            });
            console.log(sortedCats);
            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: routePrefix + "/Admin/Categories/Index",
                data: JSON.stringify({ sortedCategories: sortedCats }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    flashSuccess(data);
                    $("#saveCatsOrder").removeAttr("disabled");
                },
                error: function (data) {
                    console.debug(data);
                }
            });
        }
    </script>
}

<p>
    @Html.ActionLink("Створити нову категорію", "Create", "Categories", null, new { @class = "btn btn-info" })
</p>

<ol class="dd-list width-30" id="categories">
    @foreach (var cat in Model)
    {
        <li class="dd-item cursor-move" data-catid="@cat.Id">
            <div class="dd-handle">
                @cat.Name

                <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = cat.Id })" onclick="return confirm('Видалити категорію @cat.Name?');">
                    <i class="icon-trash"></i>
                </a>
                <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("Edit", new { id = cat.Id })">
                    <i class="icon-edit"></i>
                </a>
                <div style="clear: both;"></div>
            </div>
        </li>
    }
</ol>

@if (Model.Count() >= 2)
{
    <hr />
    <div class="control-group">
        <button id="saveCatsOrder" class="btn btn-success width-20" onclick="SaveCatOrder();">Зберегти сортування</button>
        @Html.ActionLink("Cкасувати", "Index", "Categories", null, new { @class = "btn btn-danger width-20" })
    </div>
}