@model List<Benefit.Domain.Models.Category>
    @using Benefit.Domain.Models;

@{
    ViewBag.Title = "Зведення категорій";
}
@section styles{
    <link href="~/Content/css/category-selector.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/bootbox.min.js"></script>

    <script>
        var getCatsUrl = '@Url.Action("GetMappingCategories")';
        var mapCatsUrl = '@Url.Action("MapCategories")';
        var removeIncativeUrl = '@Url.Action("RemoveInactive")';
        var selectedSellerCategoryId;
        var selectedSiteCategoryId;
        var selectedSiteCategoryName;

        $(function () {
            $("#fn-remove-inactive").click(function () {
                $.post(removeIncativeUrl, { "sellerId": '@Seller.CurrentAuthorizedSellerId' }, function () {
                    document.location.reload();
                });
            });
            $(".add-mapping-category").click(function () {
                selectedSellerCategoryId = $(this).attr("id");
                $(".modal").modal();
            });

            $(".remove-mapping-category").click(function () {
                var catId = $(this).attr("data-cat-id");
                $.post(mapCatsUrl, { 'sellerCatId': catId });
                location.reload();
            });

            $("body").on("click", "#category-selector-box li", function () {
                var currentLi = $(this);
                currentLi.parent().find("li").removeClass();
                currentLi.addClass("current");
                selectedSiteCategoryId = currentLi.attr("data-category-id");
                selectedSiteCategoryName = currentLi.text();
                $.get(getCatsUrl + "?parentId=" + selectedSiteCategoryId, function (data) {
                    currentLi.parent("ul").parent("div").nextAll().remove();
                    if (data.selectable) {
                        $("#select-category").removeAttr("disabled");
                    } else {
                        currentLi.parent("ul").parent("div").after(data.html);
                        $("#select-category").attr("disabled", "disabled");
                    }
                });
            });

            $("#select-category").click(function() {
                $("#" + selectedSellerCategoryId).prevAll().remove();
                $("#" + selectedSellerCategoryId).before("<span>" + selectedSiteCategoryName + "</span>");
                $(".modal").modal("hide");
                $.post(mapCatsUrl, { 'sellerCatId': selectedSellerCategoryId, 'siteCatId': selectedSiteCategoryId });
            });

            $("body").on("click", ".select-searched-category", function() {
                selectedSiteCategoryId = $(this).attr("data-category-id");
                selectedSiteCategoryName = $(this).attr("data-category-name");
                $("#" + selectedSellerCategoryId).prevAll().remove();
                $("#" + selectedSellerCategoryId).before("<span>" + selectedSiteCategoryName + "</span>");
                $(".modal").modal("hide");
                $.post(mapCatsUrl, { 'sellerCatId': selectedSellerCategoryId, 'siteCatId': selectedSiteCategoryId });
                $(".search-result").html("");
                $("#search-text").val("");
            });

            var searchUrl = '@Url.Action("SearchCategories")';
            $("#search-category").click(function() {
                var text = $("#search-text").val();
                if (text.length < 3) {
                    alert("Поле пошуку має містити мінімум 3 символи");
                    return;
                }
                $.get(searchUrl + "?search=" + text, function (data) {
                    $(".search-result").html(data);
                    $(".search-result").show();
                });
            });
        });
    </script>
}
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#active">
                <i class="green icon-list bigger-110"></i>
                Активні
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#nonActive">
                <i class="red icon-list bigger-110"></i>
                Неактивні
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="active" class="tab-pane in active">
            @Html.Partial("_MappingCategoriesList", Model.Where(entry => entry.IsActive))
        </div>
        <div id="nonActive" class="tab-pane">
            <button class="btn btn-danger" type="button" id="fn-remove-inactive">
                <i class="icon-trash align-top bigger-125"></i>
                Видалити всі неактивні категорії
            </button>
            @Html.Partial("_MappingCategoriesList", Model.Where(entry => !entry.IsActive))
        </div>
    </div>
</div>
@Html.Partial("_MapCategoryPartial")
