<div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#auth" aria-controls="home" role="tab" data-toggle="tab">Авторизація</a></li>
        <li role="presentation"><a href="#reg" aria-controls="home" role="tab" data-toggle="tab">Реєстрація</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content no-padding-top">
        <div role="tabpanel" class="tab-pane active padding-0" id="auth">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "enter_left", role = "form" }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6">
                        <label> Логін </label>
                        @Html.TextBox("UserName", null, new { @class = "enter_email", type = "email" })
                        @Html.ValidationMessage("UserName")
                    </div>
                    <div class="col-sm-6">
                        <label> Пароль </label>
                        @Html.Password("Password", null, new { @class = "enter_password" })
                        @Html.ValidationMessage("Password")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CheckBox("RememberMe")
                        <label for="RememberMe">Запамятати мене</label>
                        <br />
                        @Html.ActionLink("Забули пароль", "forgotpassword", null, new { @class = "enter_forgot" })
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-default btn-lg btn-order-save" value="Увійти" />
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="reg">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "enter_left", role = "form" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <label> Ім'я *</label>
                        @Html.TextBox("FirstName", null)
                        @Html.ValidationMessage("FirstName")
                    </div>
                    <div class="col-sm-6">
                        <label> Прізвище *</label>
                        @Html.TextBox("LastName", null)
                        @Html.ValidationMessage("LastName")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> Номер телефону *</label>
                        @Html.TextBox("PhoneNumber", null, new { type = "tel" })
                        @Html.ValidationMessage("PhoneNumber")
                    </div>
                    <div class="col-sm-6">
                        <label> E-mail *</label>
                        @Html.TextBox("Email", null, new { type = "email" })
                        @Html.ValidationMessage("Email")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> Місто *</label>
                        @Html.TextBox("RegionName", null, new { @class = "regionSearch" })
                        @Html.Hidden("RegionId")
                        @Html.ValidationMessage("RegionId")
                    </div>
                    <div class="col-sm-6">
                        <label> Номер картки (за наявності)</label>
                        @Html.TextBox("CardNumber", null)
                        @Html.ValidationMessage("CardNumber")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> Реєстраційний код (за наявності)</label>
                        @Html.TextBox("ReferalNumber", null)
                        <p style="text-align: center; font-size: 1.2em;" id="referal-name">
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <label> Пароль *</label>
                        @Html.TextBox("Password", null, new { type = "password" })
                        @Html.ValidationMessage("Password")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        Реєструючись, ви погоджуєтесь з
                        <a href="@Url.RouteUrl("pagesRoute", new {id = "ugoda-korustuvacha"})">угодою користувача</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-default btn-lg btn-order-save" value="Зареєструватися" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>