@using Benefit.Web.Helpers
@using Microsoft.Owin.Security

@{
    var actionName = RouteDataHelper.ActionName;
}
<div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="@(actionName == "login" ? "active" : string.Empty )"><a href="#auth" aria-controls="home" role="tab" data-toggle="tab">Авторизація</a></li>
        <li role="presentation" class="@(actionName == "register" ? "active" : string.Empty )"><a href="#reg" aria-controls="home" role="tab" data-toggle="tab">Реєстрація</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content no-padding-top">
        <div role="tabpanel" class="tab-pane padding-0 @(actionName == "login" ? "active" : string.Empty )" id="auth">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "enter_left", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6">
                        <label> Логін </label>
                        @Html.TextBox("UserName", null, new { @class = "enter_email", type = "email" })
                        @Html.ValidationMessage("UserName")
                    </div>
                    <div class="col-sm-6">
                        <label> Пароль </label>
                        @Html.Password("Password", null, new { @class = "enter_password" })
                        @Html.ValidationMessage("Password")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CheckBox("RememberMe")
                        <label for="RememberMe">Запамятати мене</label>
                        <br />
                        @Html.ActionLink("Забули пароль", "forgotpassword", null, new { @class = "enter_forgot" })
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-default btn-lg btn-order-save" value="Увійти" />
                    </div>
                </div>

            }
            <hr />
            @*<p>Вхід через</p>
                <div>
                    @{var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes(); }
                    @if (loginProviders.Count() == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        string action = "ExternalLogin";
                        using (Html.BeginForm(action, "Account"))
                        {
                            <div id="socialLoginList">
                                <p>
                                    @foreach (var p in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                    }
                                </p>
                            </div>
                        }
                    }*@
            <p>Увійти як користувач</p>
            @using (Html.BeginForm("ExternalLogin", "Account"))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList" class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="button-sc button-large button-gray" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button style="padding-left:56px; display:flex;" type="submit" class="button-sc button-large button-gray" id="Google" name="provider" value="Google" title="Log in using your Google account">
                            <svg height="18" width="18" class="margin-15">
                                <svg viewBox="0 0 512 512" id="icon-google-colored">
                                    <path style="fill:#FBBB00;" d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256  c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456  C103.821,274.792,107.225,292.797,113.47,309.408z"></path>
                                    <path style="fill:#518EF8;" d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451  c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535  c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"></path>
                                    <path style="fill:#28B446;" d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512  c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771  c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"></path>
                                    <path style="fill:#F14336;" d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012  c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0  C318.115,0,375.068,22.126,419.404,58.936z"></path>
                                </svg>
                            </svg>
                            <span>
                                Google
                            </span>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane @(actionName == "register" ? "active":string.Empty )" id="reg">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "enter_left", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6">
                        <label> Ім'я та прізвище*</label>
                        @Html.TextBox("FullName", null)
                        @Html.ValidationMessage("FullName")
                    </div>
                    <div class="col-sm-6">
                        <label> Номер телефону *</label>
                        @Html.TextBox("PhoneNumber", null, new { type = "tel", @class = "phone-input" })
                        @Html.ValidationMessage("PhoneNumber")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> E-mail *</label>
                        @Html.TextBox("Email", null, new { type = "email" })
                        @Html.ValidationMessage("Email")
                    </div>
                    <div class="col-sm-6">
                        <label> Місто *</label>
                        @Html.TextBox("RegionName", null, new { @class = "regionSearch" })
                        @Html.Hidden("RegionId")
                        @Html.ValidationMessage("RegionId")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> Номер картки (за наявності)</label>
                        @Html.TextBox("CardNumber", null)
                        @Html.ValidationMessage("CardNumber")
                    </div>
                    <div class="col-sm-6">
                        <label> Реферальний код (за наявності)</label>
                        @Html.TextBox("ReferalNumber", null)
                        <p style="text-align: center; font-size: 1.2em;" id="referal-name">
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label> Пароль *</label>
                        @Html.TextBox("Password", null, new { type = "password" })
                        @Html.ValidationMessage("Password")
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        Реєструючись, ви погоджуєтесь з
                        <a href="@Url.RouteUrl("pagesRoute", new {id = "ugoda-korustuvacha"})">угодою користувача</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-default btn-lg btn-order-save" value="Зареєструватися" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>