@using Benefit.Common.Constants
@using Benefit.Domain.Models

@{
    ViewBag.Title = "Авторизація";
    var lastNews = ViewBag.LastNews as List<InfoPage>;
}
@section styles
{
    <link href="~/Content/css/validation-errors.css" rel="stylesheet" />
    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />
    <link href="~/Content/css/address.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/common.js" defer></script>
    <script src="~/Scripts/jquery.autocomplete.min.js" defer></script>
    <script src="~/Scripts/address.js" defer></script>
    <script>
        var referalUserUrl = '@Url.Action("GetReferalName")';
        var registeredCardUrl = '@Url.Action("CheckRegisteredCard")';

        function GetReferalName() {
            var externalId = $("#ReferalNumber").val();
            $.get(referalUserUrl + "?id=" + externalId, function (data) {
                if (data) {
                    $("#referal-name").text("Наставник: " + data);
                } else {
                    $("#referal-name").text("Даний реєстраційний номер не існує");
                }
            });
        }

        window.addEventListener('DOMContentLoaded', function() {
            $('[data-toggle="tooltip"]').tooltip();
            SetRegionsAutocomplete();

            if ($("#ReferalNumber").val()) {
                GetReferalName();
            }

            $("#ReferalNumber").focusout(function () {
                GetReferalName();
            });

            $("#CardNumber").focusout(function () {
                var cardNumber = $("#CardNumber").val();
                if (cardNumber !== "") {
                    $.get(registeredCardUrl + "?id=" + cardNumber, function (data) {
                        if (data) {
                            $("#ReferalNumber").val(data.ExternalNumber);
                            $("#ReferalNumber").attr("readonly", "readonly");
                            $("#referal-name").text("Наставник: " + data.FullName);
                        }
                    });
                }
            });
        });
    </script>
}
<div class="wraps hover_shine" id="content">
    <section class="page-top maxwidth-theme">
        <h1 id="pagetitle" style="margin-top: 15px;">Авторизація</h1>
    </section>
    <div class="wrapper_inner wide_page">
        <div class="middle ">
            <div class="container">
                <div class="maxwidth-theme">
                    <div class="head-block top">
                        <div class="bottom_border"></div>
                    </div>
                    <div class="wrapper_inner">
                        <div class="right_block  wide_">
                            <div class="col-md-12 col-sm-12" style="padding: 0;">
                                @Html.ValidationSummary()
                                @Html.Partial("_LoginForm")
                            </div>
                        </div>
                    </div>
                    <div class="left_block">
                        @Html.Partial("~/Views/News/_LastNewsPartial.cshtml", lastNews)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>