@model Benefit.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Реєстрація";
}
@section styles
{
    <link href="~/Content/css/validation-errors.css" rel="stylesheet" />
    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />
    <link href="~/Content/css/address.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.autocomplete.min.js"></script>
    <script src="~/Scripts/address.js"></script>
    <script>
        var referalUserUrl = '@Url.Action("GetReferalName")';

        function GetReferalName() {
            var externalId = $("#ReferalNumber").val();
            $.get(referalUserUrl + "?id=" + externalId, function (data) {
                if (data) {
                    $("#referal-name").text("Наставник: " + data);
                }
            });
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            SetRegionsAutocomplete();

            if ($("#ReferalNumber").val()) {
                GetReferalName();
            }

            $("#ReferalNumber").focusout(function () {
                GetReferalName();
            });
        });
    </script>
}
<div class="enter_wrap">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "enter_left", role = "form" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <p class="enter_title">Реєстрація</p>

        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "І’мя *" })
        @Html.ValidationMessageFor(m => m.FirstName)

        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Прізвище *" })
        @Html.ValidationMessageFor(m => m.LastName)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.RegionName, new { placeholder = "Місто *", @class = "regionSearch" })
            @Html.HiddenFor(m => m.RegionId)
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-map-marker form-control-feedback" title="Почніть вводити місто проживання і виберіть із списку">
            </a>
        </div>
        @Html.ValidationMessageFor(m => m.RegionId)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email *", type = "email" })
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-envelope form-control-feedback">
            </a>
        </div>
        @Html.ValidationMessageFor(m => m.Email)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Номер телефону *", type = "tel" })
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-phone form-control-feedback">
            </a>
        </div>
        @Html.ValidationMessageFor(m => m.PhoneNumber)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.CardNumber, new { placeholder = "Номер карти (при наявності)" })
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-credit-card form-control-feedback" title="Номер картки Benefit Card, залишіть поле пустим, якщо не маєте картки">
            </a>
        </div>
        @Html.ValidationMessageFor(m => m.CardNumber)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Пароль *", type = "password" })
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-asterisk form-control-feedback" title="Пароль має бути не менший за 4 символи">
            </a>
        </div>
        @Html.ValidationMessageFor(m => m.Password)

        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.ReferalNumber, new { placeholder = "Реєстраційний код" })
            <a href="#" data-toggle="tooltip" class="glyphicon glyphicon-question-sign form-control-feedback" title="Введіть реєстраційний код наставника, або ми підберемо для вас найкращого наставника, якщо поле залишається незаповненим">
            </a>
            <p style="text-align: center; font-size: 1.2em;" id="referal-name">

            </p>
        </div>
        @Html.ValidationMessageFor(m => m.ReferalNumber)

        <div>
            Реєструючись, ви погоджуєтесь з
            <a href="@Url.RouteUrl("pagesRoute", new {id = "ugoda-korustuvacha"})">угодою користувача</a>
        </div>
        <br />

        <input type="submit" class="enter_button" value="Реєстрація" />
    }

    @*<div class="enter_right">
        <p class="enter_title_social">Вхід через</p>
        <a href="" class="enter_soc enter_fb clearfix">
            <span class="enter_soc_logo">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
            <span class="enter_soc_text">Facebook</span>
        </a>
        <a href="" class="enter_soc enter_go clearfix">
            <span class="enter_soc_logo">
                <i class="fa fa-google" aria-hidden="true"></i>
            </span>
            <span class="enter_soc_text">Google</span>
        </a>
    </div>*@
</div>
@*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">

                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Забули пароль", "ForgotPassword")
                </p>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>
            </section>

        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@
