@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

<div id="product_gallery" class="product_photo_wrap carousel slide" data-ride="carousel">
    <div class="product_photo_smal">
        @for (var i = 0; i < Model.Product.Images.Count(); i++)
        {
            <div class="photo-small-wrap">
                @if (Model.Product.Images.OrderBy(entry => entry.Order).ElementAt(i).IsAbsoluteUrl)
                {
                    <img class="@(i == 0 ? "active" : "")" src="@Model.Product.Images.OrderBy(entry => entry.Order).ElementAt(i).ImageUrl" data-target="#product_gallery" data-slide-to="@i" />
                }
                else
                {
                    <img class="@(i == 0 ? "active" : "")" src="~/Images/ProductGallery/@Model.Product.Id/@Model.Product.Images.OrderBy(entry => entry.Order).ElementAt(i).ImageUrl" data-target="#product_gallery" data-slide-to="@i" />
                }
            </div>
        }
    </div>
    <div class="product_photo_big carousel-inner">
        @if (Model.Product.Images.Any())
        {
            var hasActive = false;
            foreach (var image in Model.Product.Images.OrderBy(entry => entry.Order))
            {
                if (image.IsAbsoluteUrl)
                {
                    <a class="item @(hasActive? "":"active") fancybox" rel="group" href="@image.ImageUrl">
                        <img src="@image.ImageUrl" alt="@Model.Product.AltText">
                    </a>
                }
                else
                {
                    <a class="item @(hasActive? "":"active") fancybox" rel="group" href="~/Images/ProductGallery/@Model.Product.Id/@image.ImageUrl">
                        <img src="~/Images/ProductGallery/@Model.Product.Id/@image.ImageUrl" alt="@Model.Product.AltText">
                    </a>
                }
                hasActive = true;
            }
        }
        else
        {
            <img src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Product.Name" style="width: 100%;">
        }
    </div>
</div>
