@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

<div class="product_modal modal fade" id="product_modal" style="text-align: center;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true">
                <span></span>
            </div>
            <div class="modal-body">
                <h2 class="no-margin">@Model.Product.Name</h2>
                <hr />
                <form class="product_modal_form">
                    <div class="product_modal_form_top clearfix" style="max-height: 400px; overflow-y: auto;">
                        @for (var i = 0; i < Model.ProductOptions.Count; i++)
                        {
                            var optionsGroup = Model.ProductOptions[i];

                            <fieldset class="product_modal_portion margin-bottom-15 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <span class="bold">@optionsGroup.Name</span>
                                <br />
                                @if (optionsGroup.MultipleSelection)
                                {
                                    foreach (var option in optionsGroup.ChildProductOptions)
                                    {
                                        <div class="product_modal_row">
                                            @{
                                                var editableAmountClass = option.EditableAmount ? "editable-amount" : "";
                                            }
                                            <input class="@editableAmountClass" type="checkbox" id="@option.Id" data-price-growth="@option.PriceGrowth.ToString("F")" data-option-name="@option.Name" data-binded-option-id="@option.BindedProductOptionId" />
                                            <label for="@option.Id">
                                                @option.Name ( +@option.PriceGrowth.ToString("F"))
                                            </label>
                                            <div class="counter display-after-checked no-float">
                                                <div class="minus">-</div>
                                                <input class="product_modal_amount quantity" value="1" name="quantity" type="text" data-weight-product="false">
                                                <div class="plus">+</div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    foreach (var option in optionsGroup.ChildProductOptions)
                                    {
                                        <input type="radio" id="@option.Id" name="@optionsGroup.Id" data-price-growth="@option.PriceGrowth.ToString("F")" data-option-name="@option.Name" data-binded-option-id="@option.BindedProductOptionId" />
                                        <label class="label_for_radio" for="@option.Id">@option.Name ( +@option.PriceGrowth.ToString("F"))</label>
                                        <br />
                                    }
                                }

                            </fieldset>


                        }
                    </div>
                </form>
                <div class="clearfix"></div>
                <hr />
                <p class="product_modal_price pull-right bold">Сума <span class="product-price" data-original-price="@Model.Product.Price">@Model.Product.Price.ToString("F")</span> грн</p>
                <div class="product_modal_kontrols clearfix">
                    <a href="#" class="goto_back btn disable_button" data-dismiss="modal" aria-hidden="true">До товарів</a>
                    <a href="#" id="buy-product-with-options" class="goto_ahead btn btn-default pull-right" data-product-id="@Model.Product.Id" data-seller-id="@Model.Product.SellerId">Додати в кошик</a>
                </div>
            </div>
        </div>
    </div>
</div>
