@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

<div class="product_modal modal fade" id="product_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true">
                <span></span>
            </div>
            <div class="modal-body">
                <p class="product_modal_title">@Model.Product.Name</p>
                <form class="product_modal_form">
                    <div class="product_modal_form_top clearfix">
                        @for (var i = 0; i < Model.ProductOptions.Count; i++)
                        {
                            var optionsGroup = Model.ProductOptions[i];

                            <fieldset class="product_modal_portion">
                                <p class="product_modal_subtitle">@optionsGroup.Name</p>

                                @if (optionsGroup.MultipleSelection)
                                {
                                    foreach (var option in optionsGroup.ChildProductOptions)
                                    {
                                        <div class="product_modal_row">
                                            <input class="hidden" type="checkbox" id="@option.Id" data-price-growth="@option.PriceGrowth.ToString("F")" />
                                            <label class="label_for_check" for="@option.Id">
                                                @option.Name ( +@option.PriceGrowth.ToString("F"))
                                            </label>
                                            <div class="modal_amount_wrap">
                                                <div class="product_modal_minus">-</div>
                                                <input class="product_modal_amount" type="text" value="1">
                                                <div class="product_modal_plus">+</div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    foreach (var option in optionsGroup.ChildProductOptions)
                                    {
                                        <input class="hidden" type="radio" id="@option.Id" name="@optionsGroup.Id" data-price-growth="@option.PriceGrowth.ToString("F")" />
                                        <label class="label_for_radio" for="@option.Id">@option.Name ( +@option.PriceGrowth.ToString("F"))</label>
                                    }
                                }

                            </fieldset>

                            if (i % 3 == 2)
                            {
                                <div class="clearfix"></div>
                                <hr />
                            }
                        }

                    </div>
                </form>
                <p class="product_modal_price">Сума <span id="product-price" data-original-price="@Model.Product.Price">@Model.Product.Price.ToString("F")</span> грн</p>
                <div class="product_modal_kontrols clearfix">
                    <a href="#" class="goto_back" data-dismiss="modal" aria-hidden="true">До товару</a>
                    <a href="#" class="goto_ahead">Додати в кошик</a>
                </div>
            </div>
        </div>
    </div>
</div>
