@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = @Model.Product.Name;
}

@section LeftAside{

}
@section scripts
{
    <script>
        $(function () {
            $('.carousel').carousel({
                interval: 3000
            });

            $(".product_modal_form input[type=checkbox], .product_modal_form input[type=radio], .product_modal_form div.product_modal_minus, .product_modal_form div.product_modal_plus").click(function () {
                CalculateProductPrice();
            });

            var addToCartUrl = '@Url.Action("AddProduct", "Cart")';
            $("#buy-product, .goto_ahead").click(function () {
                $("#buy-product, .goto_ahead").attr('disabled', 'disabled');
                $(".product_info_wrap").css("opacity", 0.3);

                var productAmount = $("#product_amount").val();

                var productOptions = $(".product_modal_form input[type=checkbox]:checked, .product_modal_form input[type=radio]:checked").map(function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("data-option-name");
                    var priceGrowth = parseFloat($(this).attr("data-price-growth"));
                    var amount = $(this).siblings(".modal_amount_wrap").find(".product_modal_amount").val();
                    if (!amount) {
                        amount = 1;
                    }
                    return {
                        ProductOptionId: id,
                        //                            Name: name,
                        //                            PriceGrowth: priceGrowth
                        Amount: amount
                    };
                }).get();

                var product = {
                    ProductId: '@Model.Product.Id',
                    Amount: $(".product_description_amount").val(),
                    //                    Name: '@Model.Product.Name',
                    //                    SKU: '@Model.Product.SKU',
                    OrderProductOptions: productOptions
                };

                var order = {
                    product: product,
                    amount: productAmount
                };
                $.post(addToCartUrl,
                    order,
                    function (data) {
                        $('#product_modal').modal('hide');
                        setTimeout(function f() {
                            $("#buy-product, .goto_ahead").removeAttr('disabled');
                            $(".product_info_wrap").css("opacity", 1);
                            $("#cart-items-number").text(data);
                            $("#cart-items-number").show();
                            setCookie("cartNumber", data, { expires: 36000, path: "/" });
                        }, 1000);
                    });
                console.log(order);
            });
        });

        function CalculateProductPrice() {
            var checkOptions = $(".product_modal_form input[type=checkbox]:checked").map(function () {
                var checkboxPriceGrowth = parseFloat($(this).attr("data-price-growth"));
                var amount = $(this).siblings(".modal_amount_wrap").find(".product_modal_amount").val();
                return checkboxPriceGrowth * amount;
            }).get();
            var radioOptions = $(".product_modal_form input[type=radio]:checked").map(function () {
                return parseFloat($(this).attr("data-price-growth"));
            }).get();
            var checkPriceGrowth = checkOptions.reduce(function (pv, cv) { return pv + cv; }, 0);
            var radioPriceGrowth = radioOptions.reduce(function (pv, cv) { return pv + cv; }, 0);
            var originalPrice = parseFloat($(".product-price").attr("data-original-price"));
            $(".product-price").text((originalPrice + checkPriceGrowth + radioPriceGrowth).toFixed(2));
        }
    </script>
}
<main class="full_content product_content">
    <div class="clearfix">
        @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
        <div class="product_info_wrap clearfix">
            <div id="product_gallery" class="product_photo_wrap carousel slide" data-ride="carousel">
                <div class="product_photo_smal">
                    @for (var i = 0; i < Model.Product.Images.Take(4).Count(); i++)
                    {
                        <img class="@(i == 0 ? "active" : "")" src="~/Images/ProductGallery/@Model.Product.Id/@Model.Product.Images.ElementAt(i).ImageUrl" data-target="#product_gallery" data-slide-to="@i">
                    }
                </div>
                <div class="product_photo_big carousel-inner">
                    @if (Model.Product.Images.Any())
                    {
                        var hasActive = false;
                        foreach (var image in Model.Product.Images)
                        {
                            <div class="item @(hasActive? "":"active")">
                                <img src="~/Images/ProductGallery/@Model.Product.Id/@image.ImageUrl" alt="@Model.Product.Name">
                            </div>
                            hasActive = true;
                        }
                    }
                    else
                    {
                        <img src="~/Images/ProductGallery/default_product_picture.png" alt="@Model.Product.Name">
                    }
                </div>
            </div>
            <div class="product_description_wrap">
                @Html.HiddenFor(m => m.Product.Id)
                <p id="Product_Name" class="product_description_title">@Model.Product.Name</p>
                <p id="Product_SKU" class="product_description_code">Код товару @Model.Product.SKU</p>
                <div class="product_description_rating">
                    <span class="rating_star good"></span>
                    <span class="rating_all">2 відгука</span>
                </div>
                <p class="product_description_in_stock">В наявності</p>
                <p class="product_description_price">
                    <span class="product-price" data-original-price="@Model.Product.Price">@Model.Product.Price.ToString("F")</span> грн
                </p>
                <div class="product_description">@Html.Raw(Model.Product.Description)</div>
                <div class="product_description_amount_wrap">
                    <div class="product_description_amount_minus">-</div>
                    <input type="text" class="product_description_amount" value="1">
                    <div class="product_description_amount_plus">+</div>
                </div>
                <div class="product_description_control_wrap">
                    @*<div class="product_description_like"></div>
                    <div class="product_description_scale"></div>*@
                    @if (Model.Product.ProductOptions.Any())
                    {
                        <a class="product_description_buy" href="" data-toggle="modal" data-target="#product_modal">Купити</a>
                    }
                    else
                    {
                        <a id="buy-product" href="#">Купити</a>
                    }
                </div>
                <div class="product_description_share_title">
                    <div class="product_description_share_icon"></div>
                    <div class="product_description_share_text">Поділитись</div>
                </div>
                <div class="product_description_share_wrap">
                    <ul>
                        <li><a class="facebook" href=""></a></li>
                        <li><a class="vk" href=""></a></li>
                        <li><a class="ok" href=""></a></li>
                        <li><a class="sml" href=""></a></li>
                        <li><a class="twitter" href=""></a></li>
                        <li><a class="instagram" href=""></a></li>
                        <li><a class="google" href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="tab_menu nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#product_descr_tab">Опис</a></li>
            <li><a data-toggle="tab" href="#prodact_recall">Відгуки</a></li>
        </ul>

        <div class="tab-content">
            <div id="product_descr_tab" class="product_descr_tab tab-pane fade in active">
                <table>
                    @foreach (var productParameter in Model.Product.ProductParameterProducts)
                    {
                        <tr>
                            <td>@productParameter.ProductParameter.Name</td>
                            <td>
                                @productParameter.StartValue
                                @if (!string.IsNullOrEmpty(productParameter.EndValue))
                                {
                                    <span>- @productParameter.EndValue</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div id="prodact_recall" class="prodact_recall tab-pane fade">
                <form>
                    <label class="recall_label" for="recall">Залишити відгук</label>
                    <textarea class="recall_text" id="recall" placeholder="Залишити відгук може лише авторизований користувач"></textarea>
                    <p class="recall_register_notice"><a href="">Увійдіть</a> або <a href="">зареєструйтесь,</a> щоб залишити коментар</p>
                </form>
            </div>
        </div>

        @*  <p class="product_recomendation_title">Рекомендовані товари</p>
            <div class="product_recomendation">
                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/cola.jpg" alt="cola">
                    </div>
                    <p class="product_recomendation_name">Coca-cola, 1л</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">35 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">18,50 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/nestea.jpg" alt="nestea">
                    </div>
                    <p class="product_recomendation_name">Nestea, 1л</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">8 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">28,50 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/plate_01.jpg" alt="cezar">
                    </div>
                    <p class="product_recomendation_name">Салат Цезар, 350 гр.</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star middle"></span>
                        <span class="rating_all">18 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">94,00 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/plate_02.jpg" alt="spring_salad">
                    </div>
                    <p class="product_recomendation_name">Салат весняний, 220 гр</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">15 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">69,00 грн</p>
                </div>
            </div>*@
    </div>
</main>
@if (Model.ProductOptions.Any())
{
    @Html.Partial("_ProductOptions", Model)
}