@using Benefit.Common.Constants
@using Benefit.Domain.Models
@using Benefit.Services
@using Benefit.Services.Domain
@using Benefit.DataTransfer.ViewModels;
@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = @Model.Product.Name;
}
@{
    var image_src = Model.Product.Images.FirstOrDefault(entry => entry.ImageType == ImageType.ProductGallery);
    var shareUrl = string.Format("{0}?{1}={2}", Request.Url.AbsoluteUri, RouteConstants.ReferalUrlName, CookiesService.Instance.GetCookieValue<string>(RouteConstants.SelfReferalCookieName));
}
@section image_src
{
    @if (image_src != null)
    {
        <link rel="image_src" href="~/Images/ProductGallery/@Model.Product.Id/@image_src.ImageUrl" />
    }
}
@section meta{
    <meta name="description" content="@Model.Product.ShortDescription">
    <meta name="keywords" content="@Model.Product.SearchTags">

    <meta property="og:url" content="@shareUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Product.Name" />
    <meta property="og:description" content="Model.Product.ShortDescription" />
    <meta property="og:image" content="@(image_src == null ? "" : SettingsService.BaseHostName + "/Images/ProductGallery/" +Model.Product.Id+"/"+image_src.ImageUrl)" />
}
@section LeftAside{

}
@section styles
{
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
}
@section headscripts{
    <script type="text/javascript" src="https://vk.com/js/api/share.js?90" charset="windows-1251"></script>
}
@section scripts
{
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.touchSwipe.js"></script>

    <script>
        $(function() {
            $(".fancybox").fancybox();

            $('.carousel').carousel({
                interval: 3000
            });

            var addToCartUrl = '@Url.Action("AddProduct", "Cart", new {sellerId = Model.Product.SellerId})';
            var checkSellerCartUrl = '@Url.Action("CheckSeller", "Cart")';
            var sellerId = '@Model.Product.SellerId';

            $("#buy-product, #buy-product-with-options").click(function() {
                var buttonId = $(this).attr("id");
                $.get(checkSellerCartUrl + "?sellerId=" + sellerId, function(isAnotherSeller) {
                    //if купить баттон
                    if (buttonId == "buy-product") {
                        if (isAnotherSeller) {
                            if (!confirm("Увага! У кошику є товари від іншого постачальника. Вони будуть видалені, якщо Ви продовжите цю дію.")) {
                                return;
                            }
                        }

                        //if there are options to show
                        if ($("#product_modal").length > 0) {
                            //show options
                            $("#product_modal").modal("show");
                            return;
                        }
                    }

                    $(this).attr("disabled", "disabled");
                    $("#buy-product, #buy-product-with-options").attr('disabled', 'disabled');
                    $(".product_info_wrap").css("opacity", 0.3);

                    var productAmount = $("#product_amount").val();
                    var productOptions = $(".product_modal_form input[type=checkbox]:checked, .product_modal_form input[type=radio]:checked").map(function() {
                        var id = $(this).attr("id");
                        var amount = $(this).siblings(".modal_amount_wrap").find(".product_modal_amount").val();
                        if (!amount) {
                            amount = 1;
                        }
                        return {
                            ProductOptionId: id,
                            Amount: amount
                        };
                    }).get();

                    var product = {
                        ProductId: '@Model.Product.Id',
                        IsWeightProduct: '@Model.Product.IsWeightProduct',
                        Amount: $(".product_description_amount").val(),
                        OrderProductOptions: productOptions
                    };

                    var order = {
                        product: product,
                        amount: productAmount
                    };
                    $.post(addToCartUrl,
                        order,
                        function(data) {
                            $('#product_modal').modal('hide');
                            setTimeout(function f() {
                                $("#buy-product, #buy-product-with-options").removeAttr('disabled');
                                $(".product_info_wrap").css("opacity", 1);
                                setCartSummary(data);
                            }, 1000);
                        });
                    console.log(order);
                });
            });
        });
    </script>
}
    <main class="full_content product_content">
    <div class="clearfix">
    @Html.Partial("_FlashMessage")
    @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
    <div class="product_info_wrap clearfix">
    @Html.Partial("_GalleryPartial", Model)
    <div class="product_description_wrap">
    @Html.HiddenFor(m => m.Product.Id)
    <h1 id="Product_Name" class="product_description_title margin-top-0">@Model.Product.Name</h1>
    <p class="margin-bottom-5">
        Перейти до
        <a href="@Url.RouteUrl(Benefit.Common.Constants.RouteConstants.SellersRouteName, new {id = Model.Product.Seller.UrlName, action = string.Empty})" target="_blank">@Model.Product.Seller.Name</a>
    </p>
    <p id="Product_SKU" class="product_description_code">Код товару @Model.Product.SKU</p>
    <div class="product_description_rating">
        <span class="rating_star @CommonConstants.RatingToClass[Model.Product.AvarageRating ?? default(int)]"></span>
    </div>
    <p class="product_description_in_stock">
        @if (Model.Product.AvailableAmount == null)
        {
            <span>
                В наявності
            </span>
        }
        else if (Model.Product.AvailableAmount == 0)
        {
            <span>
                Немає в наявності
            </span>
        }
        else
        {
            <span>В наявності: @Model.Product.AvailableAmount @(@Model.Product.IsWeightProduct ? "кг" : "шт")</span>
        }
    </p>
    <p class="product_description_price">
        <span class="product-price" data-original-price="@Model.Product.Price">@Model.Product.Price.ToString("F")</span> грн/@(@Model.Product.IsWeightProduct ? "кг" : "шт")
    </p>
    <div class="product_description">
        @*                    <div class="text-length-140">@Html.Raw(Model.Product.Description)</div>*@
        <a href="#product_descr_tab">Детальніше</a>
    </div>

    <div class="product_description_control_wrap pull-right">
        @*<div class="product_description_like"></div>
                        <div class="product_description_scale"></div>*@
        @if (Model.Product.AvailableAmount == 0)
        {
            <a class="product_description_buy bg-grey" href="#">Купити</a>
        }
        else
        {
            var availableForPurchase = Model.Product.AvailableForPurchase(RegionService.GetRegionId());
            if (availableForPurchase.Key)
            {
                <a id="buy-product" class="product_description_buy" href="#">Купити</a>

            }
            else
            {
                <a class="product_description_buy bg-grey title-to-tooltip" href="#" disabled="disabled" title="Доставка по вибраному регіону неможлива. Доставка здійснюється по: @availableForPurchase.Value">Купити</a>
            }
        }
    </div>
    <div class="product_description_amount_wrap pull-right" data-weight-product="@Model.Product.IsWeightProduct">
        <div class="product_description_amount_minus">-</div>
        @if (Model.Product.IsWeightProduct)
{
    <input type="text" class="product_description_amount" value="0.1" data-is-weight-product="true">
        }
        else
        {
        <input type="text" class="product_description_amount" value="1" data-is-weight-product="false">
        }
        <div class="product_description_amount_plus">+</div>
    </div>
                <div class="clearfix"></div>
                <div class="product_description_share_title">
                    <div class="product_description_share_icon"></div>
                    <div class="product_description_share_text">Поділитись</div>
                </div>
                <div class="product_description_share_wrap">
                    <ul>
                        <li class="facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl" target="_blank"></a>
                        </li>
                        <li class="vk">
                            <script type="text/javascript">
                                document.write(VK.Share.button({
                                        url: '@shareUrl',
                                        title: "@Model.Product.Name",
                                        description: "@Model.Product.ShortDescription",
                                        image: '@(image_src == null ? "" : SettingsService.BaseHostName + "/Images/ProductGallery/" + Model.Product.Id + "/" + image_src.ImageUrl)',
                                        noparse: true
                                    },
                                    {
                                        type: 'custom',
                                        text: ' '
                                    }
                                ));
                            </script>
                        </li>
                        @* <li><a class="ok" href=""></a></li>
                            <li><a class="sml" href=""></a></li>
                            <li><a class="twitter" href=""></a></li>
                            <li><a class="instagram" href=""></a></li>*@
                        <li class="google">
                            <a href="https://plus.google.com/share?url=@shareUrl"
                               onclick=" javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false; ">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="tab_menu nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#product_descr_tab">Опис</a></li>
            <li><a data-toggle="tab" href="#product_charachters_tab">Характеристики</a></li>
            <li><a data-toggle="tab" href="#prodact_recall">Відгуки</a></li>
            <li><a data-toggle="tab" href="#product_shipping">Доставка</a></li>
        </ul>

        <div class="tab-content">
            <div id="product_descr_tab" class="product_descr_tab tab-pane fade in active">
                @Html.Raw(Model.Product.Description)
            </div>

            <div id="product_charachters_tab" class="product_descr_tab tab-pane fade in active">
                <table>
                    @foreach (var productParameter in Model.Product.ProductParameterProducts)
                    {
                        <tr>
                            <td>@productParameter.ProductParameter.Name</td>
                            <td>
                                @productParameter.StartValue
                                @if (!string.IsNullOrEmpty(productParameter.EndValue))
                                {
                                    <span>- @productParameter.EndValue</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div id="prodact_recall" class="prodact_recall tab-pane fade">
                @Html.Partial("_ReviewsPartial", new ReviewsViewModel
                {
                    AvarageRating = Model.Product.AvarageRating ?? default(int),
                    CanReview = Model.CanReview,
                    ProductId = Model.Product.Id,
                    TargetName = Model.Product.Name,
                    Reviews = Model.Product.ApprovedReviews
                })
            </div>
            <div id="product_shipping" class="tab-pane fade">
                <h3>Умови доставки постачальника @Model.Product.Seller.Name</h3>
                <div>
                    @Html.Raw(Model.Product.Seller.ShippingDescription)
                </div>
            </div>
        </div>

        @*  <p class="product_recomendation_title">Рекомендовані товари</p>
            <div class="product_recomendation">
                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/cola.jpg" alt="cola">
                    </div>
                    <p class="product_recomendation_name">Coca-cola, 1л</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">35 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">18,50 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/nestea.jpg" alt="nestea">
                    </div>
                    <p class="product_recomendation_name">Nestea, 1л</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">8 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">28,50 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/plate_01.jpg" alt="cezar">
                    </div>
                    <p class="product_recomendation_name">Салат Цезар, 350 гр.</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star middle"></span>
                        <span class="rating_all">18 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">94,00 грн</p>
                </div>

                <div class="product_recomendation_item">
                    <div class="product_recomendation_img_wrap">
                        <img src="assets/img/plate_02.jpg" alt="spring_salad">
                    </div>
                    <p class="product_recomendation_name">Салат весняний, 220 гр</p>
                    <div class="product_recomendation_rating">
                        <span class="rating_star good"></span>
                        <span class="rating_all">15 відгуків</span>
                    </div>
                    <p class="product_recomendation_price">69,00 грн</p>
                </div>
            </div>*@
    </div>
</main>
@if (Model.ProductOptions.Any())
{
    @Html.Partial("_ProductOptions", Model)
}