@model Benefit.Web.Models.Admin.SellerFilterOptions

<label for="id-date-range-picker-1">Дата реєстрації</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
            </span>

            <input type="text" id="id-date-range-picker-1" name="DateRange" class="form-control">
        </div>
    </div>
</div>
<br />
<label>Спеціалізація</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("CategoryId", Model.Categories, "Не обрано", new { @class = "width-90 chosen-select" })
    </div>
</div>
<br />
<label>Баллове співвідношення</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("PointRatio", Model.PointRatio, "Не обрано", new { @class = "width-100" })
    </div>
</div>
<br />
<label>Загальна знижка</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("TotalDiscountPercent", Model.TotalDiscountPercent, "Не обрано", new { @class = "width-100" })
    </div>
</div>
<br />
<label>Особиста вигода</label>
<div class="row">
    <div class="col-xs-8 col-sm-11">
        @Html.DropDownList("UserDiscountPercent", Model.UserDiscountPercent, "Не обрано", new { @class = "width-100" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <label>
            @Html.CheckBoxFor(m => m.BenefitCard, new { @class = "ace" })
            <span class="lbl"> Benefit Card</span>
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-8 col-sm-11">
        <label>
            @Html.CheckBoxFor(m => m.Ecommerce, new { @class = "ace" })
            <span class="lbl"> Ecommerce</span>
        </label>
    </div>
</div>
<br />
<div class="row">
    <button type="submit" class="btn btn-purple btn-sm">
        Фільтрувати
        <i class="icon-search icon-on-right bigger-110"></i>
    </button>
</div>