@using Benefit.Common.Helpers
@using Benefit.Domain.Models.Enums
@model Benefit.Web.Models.Admin.SellerViewModel
           
<fieldset>
    <legend>Види оплати</legend>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Seller.IsPrePaidPaymentActive, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-xs-10 col-sm-5 margin-top-5">
                @Html.CheckBoxFor(m => m.Seller.IsPrePaidPaymentActive)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Seller.IsPostPaidPaymentActive, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-xs-10 col-sm-5 margin-top-5">
                @Html.CheckBoxFor(m => m.Seller.IsPostPaidPaymentActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Seller.IsCashPaymentActive, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-xs-10 col-sm-5 margin-top-5">
                @Html.CheckBoxFor(m => m.Seller.IsCashPaymentActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Seller.IsBonusesPaymentActive, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-xs-10 col-sm-5 margin-top-5">
                @Html.CheckBoxFor(m => m.Seller.IsBonusesPaymentActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Seller.IsAcquiringActive, new { @class = "col-sm-3 control-label no-padding-right" })
            <div class="col-xs-10 col-sm-5 margin-top-5">
                @Html.CheckBoxFor(m => m.Seller.IsAcquiringActive)
            </div>
        </div>
    </div>
</fieldset>


<fieldset>
    <legend>Коефіцієнт винагороди за запрошення</legend>
    <div class="margin-left-10">
        @for (var i = 0; i < Model.Seller.BusinessLevelIndexes.Count; i++)
        {
            <div class="row">
                <div class="col-md-3">@Enumerations.GetEnumDescription((BusinessLevel)i)</div>
                @Html.Hidden(string.Format("Seller.BusinessLevelIndexes[{0}].SellerId", i), Model.Seller.Id, new { @class = "col-sm-2" })
                @Html.Hidden(string.Format("Seller.BusinessLevelIndexes[{0}].BusinessLevel", i), i, new { @class = "col-sm-2" })
                @Html.TextBox(string.Format("Seller.BusinessLevelIndexes[{0}].Index", i), Model.Seller.BusinessLevelIndexes.ElementAt(i).Index, new { @class = "col-sm-1 number-input" })
            </div>
        }
    </div>
</fieldset>
