@model Benefit.Web.Models.Admin.SellerViewModel


<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Seller_TerminalOrderNotification">Сповіщення про замовлення</label>
        <div class="col-xs-10 col-sm-5">
            @Html.CheckBoxFor(m => m.Seller.TerminalOrderNotification)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Seller_TerminalBillEnabled">Номер чеку</label>
        <div class="col-xs-10 col-sm-5">
            @Html.CheckBoxFor(m => m.Seller.TerminalBillEnabled)
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Seller_TerminalBonusesPaymentActive">Розрахунок бонусами</label>
        <div class="col-xs-10 col-sm-5">
            @Html.CheckBoxFor(m => m.Seller.TerminalBonusesPaymentActive)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Seller_IsObsoleteTerminal">Старий термінал (планшет)</label>
        <div class="col-xs-10 col-sm-5">
            @Html.CheckBoxFor(m => m.Seller.IsObsoleteTerminal)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Логін для терміналу</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Seller.TerminalLogin, new { @class = "col-sm-5" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Пароль для терміналу АБО ліцензійний ключ</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Seller.TerminalPassword, new { @class = "col-sm-5" })
            <button type="button" onclick="GenerateLicenseKey();">Згенерувати ліцензійний ключ</button>
            <a href="@Url.Action("DownloadIntelHexFile", new { id = Model.Seller.Id })" download>Завантажити файл прошивки</a>
        </div>
    </div>
</div>