@using Benefit.Common.Constants
@model Benefit.Web.Models.Admin.SellerViewModel

@{
    ViewBag.Title = "Постачальник " + Model.Seller.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/css/address.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/dropzone.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />
    <link href="~/Content/css/input-icon-left.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/datepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery.mask.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.min.js"></script>
    <script src="~/Scripts/address.js"></script>
    <script src="~/Areas/Admin/assets/js/dropzone.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/seller/fileupload.js"></script>

    <script>
        var createPersonnelUrl = '@Url.Action("Create", "Personnel")';
        var createModeratorUrl = '@Url.Action("CreateModerator", "Personnel")';
        var getUserUrl = '@Url.Action("GetUserByExternalNumber", "Users")';
        var getPromotionFormUrl = '@Url.Action("GetPromotionForm")';
        var addPromotionUrl = '@Url.Action("CreateOrUpdatePromotion")';
        var deletePromotionUrl = '@Url.Action("DeletePromotion")';
        var removeReviewUrl = '@Url.Action("RemoveReview","Reviews")';
        var sellerId = '@Model.Seller.Id';

        $("body").on("change",
            ".predefined-shipping",
            function () {
                var text = $(this).find("option:selected").text();
                if ($(this).val() > 0) {
                    $(this).next(".shipping-name ").val(text);
                }
            });

        $(".remove-review").click(function () {
            if (!confirm("Видалити відгук?")) {
                return;
            }
            var id = $(this).attr("data-review-id");
            var row = $(this).parent().parent();
            $.post(removeReviewUrl,
                { reviewId: id },
                function (data) {
                    if (!data.error) {
                        row.remove();
                        flashMessage("Відгук видалено", true);
                    }
                }
            );
        });

        function GenerateLicenseKey() {
            $("#Seller_TerminalLicense").val(guid());
        }

        function UpdateCurrenciesNumber() {
            var maxNumber = parseInt(GetMaxAttributeValue('.currency-id', 'data-number'));
            var href = $("#addNewCurrency").attr("href");
            href = href.replace(/[0-9]/g, "");
            href = href + (maxNumber + 1);
            $("#addNewCurrency").attr("href", href);
            $("#addNewCurrency").removeAttr('disabled');
        }

        function UpdateCategoriesNumber() {
            //$("html, body").animate({ scrollTop: $(document).height() }, 500);
            var maxNumber = parseInt(GetMaxAttributeValue('.category-id', 'data-number'));
            var href = $("#addNewCategory").attr("href");
            href = href.replace(/[0-9]/g, "");
            if ($(".category-id").length > 0) {
                maxNumber++;
            }
            href = href + maxNumber;

            $("#addNewCategory").attr("href", href);
            $(".chosen-select").chosen({
                search_contains: true,
                width: "350px"
            });
            $('#addNewCategory').removeAttr('disabled');
        }

        function UpdateShippingMethodsNumber() {
            var maxNumber = parseInt(GetMaxAttributeValue('.shipping-id', 'data-number'));
            var href = $("#addNewShippingMethod").attr("href");
            href = href.replace(/[0-9]/g, "");
            href = href + (maxNumber + 1);
            $("#addNewShippingMethod").attr("href", href);
            $("#addNewShippingMethod").removeAttr('disabled');
            SetRegionsAutocomplete();
        }

        function DeletePromotion(id) {
            $.post(deletePromotionUrl + "/" + id);
        }

        $(function () {
            SetRegionsAutocomplete();
            
            $('.number-float-input').mask("#0.000000");

            $("#imagesOrder").sortable();
            $("#imagesOrder").disableSelection();

            var saveImagesOrderUrl = '@Url.Action("SaveImagesOrder", "Products")';
            $("#saveImagesOrder").click(function () {
                $("#saveImagesOrder").prop("disabled", true);
                var currentListContaner = $("#imagesOrder");
                var sortedImgs = [];
                currentListContaner.find("li").each(function () {
                    var imgId = $(this).attr("data-image-id");
                    sortedImgs.push(imgId);
                });
                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    url: saveImagesOrderUrl,
                    data: JSON.stringify({ sortedImages: sortedImgs }),
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        flashMessage(data);
                        $("#saveImagesOrder").removeAttr("disabled");
                    },
                    error: function (data) {
                        console.debug(data);
                    }
                });
            });

            $("body").on("click", ".remove-personnel", function (e) {
                if (confirm('Ви впевненні?')) {
                    e.preventDefault();
                    var href = $(this).attr("href");
                    $.post(href, {}, function (data) {
                        $("#personell").html(data);
                    });
                }
            });

            $("body").on("click", "#create-personnel", function () {
                var model = {
                    Name: $("#PersonnelForm_Name").val(),
                    Phone: $("#PersonnelForm_Phone").val(),
                    CardNumber: $("#PersonnelForm_CardNumber").val(),
                    SellerId: '@Model.Seller.Id'
                };
                $.post(createPersonnelUrl, model, function (data) {
                    if (data.error) {
                        $(".personell-error").show();
                        $(".personell-error").html(data.error);
                    } else {
                        $("#personell").html(data);
                        $(".personell-error").hide();
                        $("#personnel_modal").modal("hide");
                        $("#PersonnelForm_Name").val("");
                        $("#PersonnelForm_Phone").val("");
                        $("#PersonnelForm_CardNumber").val("");
                    }
                });
            });

            $("body").on("focusout", "#ModeratorForm_ExternalNumber", function () {
                var externalNumber = $(this).val();
                $.get(getUserUrl + "?externalNumber=" + externalNumber, function (user) {
                    if (user == "") {
                        $("#create-moderator").attr("disabled", "disabled");
                        $("#ModeratorForm_Name").val("");
                        $("#ModeratorForm_Phone").val("");
                    } else {
                        $("#ModeratorForm_UserId").val(user.Id);
                        $("#ModeratorForm_Name").val(user.FullName);
                        $("#ModeratorForm_Phone").val(user.PhoneNumber);
                        $("#create-moderator").removeAttr("disabled");
                    }
                });
            });

            $("body").on("click", "#create-moderator", function () {
                var model = {
                    UserId: $("#ModeratorForm_UserId").val(),
                    Name: $("#ModeratorForm_Name").val(),
                    Phone: $("#ModeratorForm_Phone").val(),
                    RoleName: $("#ModeratorForm_Role").val(),
                    SellerId: '@Model.Seller.Id'
                };
                $.post(createModeratorUrl, model, function (data) {
                    $("#personell").html(data);
                    $("#moderator_modal").modal("hide");
                    $("#ModeratorForm_ExternalNumber").val("");
                    $("#ModeratorForm_UserId").val("");
                    $("#ModeratorForm_Name").val("");
                    $("#ModeratorForm_Phone").val("");
                });
            });

            $("body").on("change", "#categories .main-cat", function () {
                if (this.checked) {
                    $("#categories .main-cat").not(this).prop("disabled", true);
                } else {
                    $("#categories .main-cat").not(this).prop("disabled", false);
                }
            });

            $("body").on("click", "#add-promotion", function () {
                $.get(getPromotionFormUrl + "?sellerId=@Model.Seller.Id", function (data) {
                    $(".new-promotions").prepend(data);
                    SetDatePickers();
                    SetNumberMasks();
                });
            });

            $("body").on("click", ".submit-promo", function () {
                var parent = $(this).parent();
                var promo = {
                    Id: parent.find("#Promotion_Id").val(),
                    Name: parent.find("#Promotion_Name").val(),
                    Start: parent.find("#Promotion_Start").val(),
                    End: parent.find("#Promotion_End").val(),
                    StartTime: parent.find("#Promotion_StartTime").val(),
                    EndTime: parent.find("#Promotion_EndTime").val(),
                    DiscountFrom: parent.find("#Promotion_DiscountFrom").val(),
                    DiscountValue: parent.find("#Promotion_DiscountValue").val(),
                    IsValuePercent: parent.find("#Promotion_IsValuePercent:checked").length > 0,
                    IsActive: parent.find("#Promotion_IsActive:checked").length > 0,
                    IsBonusDiscount: parent.find("#Promotion_IsBonusDiscount:checked").length > 0,
                    IsCurrentAccountBonusPromotion: parent.find("#Promotion_IsCurrentAccountBonusPromotion:checked").length > 0,
                    IsMentorPromotion: parent.find("#Promotion_IsMentorPromotion:checked").length > 0,
                    ShouldBeVisibleInStructure: parent.find("#Promotion_ShouldBeVisibleInStructure:checked").length > 0,
                    Level: parent.find("#Promotion_Level").val(),
                    ProductId: parent.find("#Promotion_ProductId").val(),
                    SellerId: "@Model.Seller.Id"
                };
                $.post(addPromotionUrl, promo, function (data) {
                    if (data.error) {
                        flashMessage(data.error, true, true);
                    } else {
                        flashMessage("Акцію збережено");
                        $(".promotions-list").html(data);
                        $(".new-promotions").html("");
                    }
                });
            });

            $('.mask-number').mask("#0.00", { reverse: true });
            $('.mask-int-number').mask("#");

            $("#Seller_TotalDiscount, #WebSiteReferaExternalId, #BenefitCardReferaExternalId, #OwnerExternalId").mask('#');

            CKEDITOR.replace('sellerDescription', {
                filebrowserImageUploadUrl: '/home/UploadImage'
            });

            $("#Seller_UserDiscount").focus(function () {
                if ($(this).val() == "") {
                    var userDiscount;
                    var totalDiscount = parseInt($("#Seller_TotalDiscount").val());
                    if (totalDiscount <= 10) {
                        userDiscount = totalDiscount / 2;
                    } else {
                        userDiscount = 5 + totalDiscount - 10;
                    }
                    $(this).val(userDiscount);
                }
            });
        });

    </script>
}
@using (Html.BeginForm("CreateOrUpdate", "Sellers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            @{
                var displayClass = User.IsInRole(DomainConstants.AdminRoleName) ? "" : "hidden";
                var activeClass = User.IsInRole(DomainConstants.AdminRoleName) ? "" : "active";
            }
            <li class="active @displayClass">
                <a href="#home" data-toggle="tab">
                    <i class="blue icon-info bigger-110"></i>
                    Основна інфо
                </a>
            </li>
            <li class="@displayClass">
                <a href="#finance" data-toggle="tab">
                    <i class="green icon-money bigger-110"></i>
                    Фінансова інфо
                </a>
            </li>
            <li class="@displayClass">
                <a href="#paymentTypes" data-toggle="tab">
                    <i class="grey icon-money bigger-110"></i>
                    Види оплати та <br /> коефіцієнти
                </a>
            </li>
            <li class="@displayClass">
                <a href="#location" data-toggle="tab">
                    <i class="red icon-map-marker bigger-110"></i>
                    Місцезнаходження
                </a>
            </li>
            <li class="@displayClass">
                <a href="#categories" data-toggle="tab">
                    <i class="grey icon-list bigger-110"></i>
                    Категорії
                </a>
            </li>
            <li class="@activeClass">
                <a href="#images" data-toggle="tab">
                    <i class="red icon-camera bigger-110"></i>
                    Зображення та опис
                </a>
            </li>
            <li>
                <a href="#galery" data-toggle="tab">
                    <i class="orange2 icon-picture bigger-110"></i>
                    Фотогалерея
                </a>
            </li>
            <li>
                <a href="#SEO" data-toggle="tab">
                    <i class="orange2 icon-search bigger-110"></i>
                    SEO
                </a>
            </li>
            <li class="@displayClass">
                <a href="#notifications" data-toggle="tab">
                    <i class="green icon-bullhorn bigger-110"></i>
                    Сповіщення
                </a>
            </li>
            <li>
                <a href="#security" data-toggle="tab">
                    <i class="red icon-lock bigger-110"></i>
                    Безпека
                </a>
            </li>
            <li>
                <a href="#terminal" data-toggle="tab">
                    <i class="grey icon-tablet bigger-110"></i>
                    Термінал
                </a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab">
                    <i class="green icon-home bigger-110"></i>
                    Адреси
                </a>
            </li>
            <li>
                <a href="#shipping" data-toggle="tab">
                    <i class="orange icon-fighter-jet bigger-110"></i>
                    Доставка
                </a>
            </li>
            <li class="@displayClass">
                <a href="#promotion" data-toggle="tab">
                    <i class="blue icon-gift bigger-110"></i>
                    Акції
                </a>
            </li>
            <li>
                <a href="#schedule" data-toggle="tab">
                    <i class="purple icon-calendar bigger-110"></i>
                    Графік роботи
                </a>
            </li>
            @*<li>
            <a href="#currency" data-toggle="tab">
                <i class="blue icon-money bigger-110"></i>
                Курси валют
            </a>
        </li>*@
            <li>
                <a href="#personell" data-toggle="tab">
                    <i class="pink icon-group bigger-110"></i>
                    Персонал
                </a>
            </li>
            <li>
                <a href="#reviews" data-toggle="tab">
                    <i class="green icon-edit bigger-110"></i>
                    Відгуки
                </a>
            </li>
            <li>
                <a href="#advertisement" data-toggle="tab">
                    <i class="purple icon-adver bigger-110"></i>
                    Реклама
                </a>
            </li>
        </ul>

        <div class="tab-content" style="min-height: 450px;">
            <div class="tab-pane in active @displayClass" id="home">
                @Html.Partial("_SellerForm")
            </div>
            <div class="tab-pane" id="SEO">
                @Html.Partial("_Seo")
            </div>
            <div class="tab-pane" id="finance">
                @Html.Partial("_Finance")
            </div>
            <div class="tab-pane" id="terminal">
                @Html.Partial("_TerminalForm")
            </div>
            <div class="tab-pane" id="location">
                @Html.Partial("_LocationPartial")
            </div>
            <div class="tab-pane" id="security">
                @Html.Partial("_Security", Model)
            </div>
            <div class="tab-pane" id="notifications">
                @Html.Partial("_Notifications", Model)
            </div>
            <div class="tab-pane @displayClass" id="paymentTypes">
                @Html.Partial("_PaymentTypes")
            </div>
            <div class="tab-pane @displayClass" id="categories">
                @Html.Partial("_Categories", Model.Seller)
            </div>
            <div class="tab-pane @activeClass" id="images">
                @Html.Partial("_Images", Model)
            </div>
            <div class="tab-pane" id="galery">
                @Html.Partial("_Gallery", Model)
            </div>
            <div class="tab-pane" id="addresses">
                @Html.Partial("_Addresses", Model.Seller)
            </div>
            <div class="tab-pane" id="shipping">
                @Html.Partial("_ShippingMethods", Model.Seller)
            </div>
            <div class="tab-pane" id="promotion">
                <button type="button" class="btn btn-info" id="add-promotion">
                    Нова акція
                </button>
                <div>
                    <div class="new-promotions"></div>
                    <div class="promotions-list">
                        @Html.Partial("_Promotions", Model.Seller.Promotions)
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="schedule">
                @Html.Partial("_Schedules", Model.Seller.Schedules.ToList())
            </div>
            @*    <div class="tab-pane" id="currency">
            @Html.Partial("_Currencies", Model.Seller)
        </div>*@
            <div class="tab-pane" id="personell">
                @Html.Partial("~/Areas/Admin/Views/Personnel/_PersonnelList.cshtml", Model.Seller.Personnels)
            </div>
            <div class="tab-pane" id="reviews">
                @Html.Partial("~/Areas/Admin/Views/Reviews/_ReviewsList.cshtml", Model.Seller.Reviews)
            </div>
            <div class="tab-pane" id="advertisement">
                @Html.Partial("_Advertisement", Model)
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="icon-ok bigger-110"></i>
                Зберегти
            </button>

            &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("Index", "Sellers")" class="btn">
                <i class="icon-undo bigger-110"></i>
                До пошуку
            </a>
        </div>
    </div>
}
@Html.Partial("~/Areas/Admin/Views/Personnel/_PersonnelForm.cshtml")
@Html.Partial("~/Areas/Admin/Views/Personnel/_ModeratorForm.cshtml")
