@using Benefit.Common.Constants
@model Benefit.Web.Models.Admin.SellerViewModel

@{
    ViewBag.Title = "Постачальник " + Model.Seller.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/css/address.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/dropzone.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery.mask.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.min.js"></script>
    <script src="~/Scripts/address.js"></script>
    <script src="~/Areas/Admin/assets/js/dropzone.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>


    <script>
        function UpdateCurrenciesNumber() {
            var maxNumber = GetMaxAttributeValue('.currency-id', 'data-number');
            var href = $("#addNewCurrency").attr("href");
            href = href.substring(0, href.length - 1) + (maxNumber + 1);
            $("#addNewCurrency").attr("href", href);
        }

        function UpdateCategoriesNumber() {
            var maxNumber = GetMaxAttributeValue('.category-id', 'data-number');
            var href = $("#addNewCategory").attr("href");
            href = href.substring(0, href.length - 1) + (maxNumber + 1);
            $("#addNewCategory").attr("href", href);
            $(".chosen-select").chosen({
                search_contains: true,
                width: "450px"
            });
        }

        function UpdateShippingMethodsNumber() {
            var maxNumber = GetMaxAttributeValue('.shipping-id', 'data-number');
            var href = $("#addNewShippingMethod").attr("href");
            href = href.substring(0, href.length - 1) + (maxNumber + 1);
            $("#addNewShippingMethod").attr("href", href);
            SetRegionsAutocomplete();
        }

        $(function () {
            SetRegionsAutocomplete();

            $(".chosen-select").chosen({
                search_contains: true,
                width: "450px"
            });

            $('#txtUploadFile').on('change', function (e) {
                var files = e.target.files;
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        $.ajax({
                            type: "POST",
                            url: routePrefix + '/Admin/Sellers/Import1C?id=@Model.Seller.Id',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                flashMessage(result.message);
                            },
                            error: function (xhr) {
                                flashMessage(xhr.responseJSON, true);
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });

            $('.mask-number').mask("#0.00", { reverse: true });
            $('.mask-int-number').mask("#");

            $("#Seller_TotalDiscount, #WebSiteReferaExternalId, #BenefitCardReferaExternalId, #OwnerExternalId").mask('#');

            CKEDITOR.replace('sellerDescription', {
                //                filebrowserImageBrowseUrl: '/home/uploadPartial',
                //                filebrowserImageUploadUrl: '/home/uploadnow'
                filebrowserImageUploadUrl: '/home/UploadImage'
            });

            $("#Seller_UserDiscount").focus(function () {
                if ($(this).val() == "" || $(this).val() == "0") {
                    var userDiscount;
                    var totalDiscount = parseInt($("#Seller_TotalDiscount").val());
                    if (totalDiscount <= 10) {
                        userDiscount = totalDiscount / 2;
                    } else {
                        userDiscount = 5 + totalDiscount - 10;
                    }
                    $(this).val(userDiscount);
                }
            });

            try {
                Dropzone.autoDiscover = false;
                var fileList = new Array;
                var i = 0;
                $(".dropzone").dropzone({
                    url: routePrefix + "/Admin/Sellers/SaveUploadedFile?type=SellerGallery&parentId=@Model.Seller.Id",
                    maxFilesize: 12, // MB
                    addRemoveLinks: true,
                    dictDefaultMessage:
                    '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload \
				    <span class="smaller-80 grey">(or click)</span> <br /> \
				    <i class="upload-icon icon-cloud-upload blue icon-3x"></i> \
                    <div class="dz-default dz-message"></div>',
                    dictResponseError: 'Error while uploading file!',

                    //change the previewTemplate to use Bootstrap progress bars
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>",
                    maxFiles: 15,
                    parallelUploads: 5,
                    dictMaxFilesExceeded: "You can only upload upto 15 images",
                    dictRemoveFile: "Delete",
                    dictCancelUploadConfirmation: "Are you sure to cancel upload?",
                    accept: function (file, done) {
                        if ((file.type).toLowerCase() != "image/jpg" &&
                                (file.type).toLowerCase() != "image/gif" &&
                                (file.type).toLowerCase() != "image/jpeg" &&
                                (file.type).toLowerCase() != "image/png"
                                ) {
                            done("Invalid file");
                        }
                        else {
                            done();
                        }
                    },
                    init: function () {
                        var thisDropzone = this;
                        $.get(routePrefix + "/Admin/Sellers/GetSellerGallery?id=@Model.Seller.Id", function (data) {
                            $.each(data, function (key, value) {
                                var mockFile = { name: value.ImageUrl, size: 100000 };
                                thisDropzone.options.addedfile.call(thisDropzone, mockFile);
                                thisDropzone.options.thumbnail.call(thisDropzone, mockFile, routePrefix + "/Images/SellerGallery/" + value.SellerId + "/" + value.ImageUrl);
                            });

                        });

                        this.on("success", function (file, serverFileName) {
                            fileList[i] = { "serverFileName": serverFileName, "fileName": file.name, "fileId": i };
                            console.log(fileList);
                            i++;

                        });
                        this.on("removedfile", function (file) {
                            var rmvFile = "";
                            for (f = 0; f < fileList.length; f++) {
                                if (fileList[f].fileName == file.name) {
                                    rmvFile = fileList[f].serverFileName.Message;
                                }
                            }
                            debugger;
                            if (!rmvFile) {
                                rmvFile = file.name;
                            }
                            $.ajax({
                                url: routePrefix + "/Admin/Sellers/DeleteUploadedFile?fileName=" + rmvFile + "&type=SellerGallery",
                                type: "POST",
                            });
                        });
                    },
                });
            } catch (e) {
                alert('Dropzone.js does not support older browsers!');
            }
        });

    </script>
}
@using (Html.BeginForm("CreateOrUpdate", "Sellers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="tabbable">
        <ul class="nav nav-tabs">
            @{
                var displayClass = User.IsInRole(DomainConstants.AdminRoleName) ? "" : "hidden";
            }
            <li class="active @displayClass">
                <a href="#home" data-toggle="tab">
                    <i class="blue icon-info bigger-110"></i>
                    Основна інфо
                </a>
            </li>
            <li class="@displayClass">
                <a href="#categories" data-toggle="tab">
                    <i class="grey icon-list bigger-110"></i>
                    Категорії
                </a>
            </li>
            <li>
                <a href="#images" data-toggle="tab">
                    <i class="red icon-camera bigger-110"></i>
                    Зображення
                </a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab">
                    <i class="green icon-home bigger-110"></i>
                    Адреси
                </a>
            </li>
            <li>
                <a href="#shipping" data-toggle="tab">
                    <i class="orange icon-fighter-jet bigger-110"></i>
                    Доставка
                </a>
            </li>
            <li>
                <a href="#schedule" data-toggle="tab">
                    <i class="purple icon-calendar bigger-110"></i>
                    Графік роботи
                </a>
            </li>
            <li>
                <a href="#currency" data-toggle="tab">
                    <i class="blue icon-money bigger-110"></i>
                    Курси валют
                </a>
            </li>
            <li>
                <a href="#import" data-toggle="tab">
                    <i class="pink icon-download-alt bigger-110"></i>
                    Імпорт
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane in active @displayClass" id="home">
                @Html.Partial("_SellerForm")
            </div>
            <div class="tab-pane @displayClass" id="categories">
                @Html.Partial("_Categories", Model.Seller)
            </div>
            <div class="tab-pane" id="images">
                @Html.Partial("_Images", Model.Seller)
            </div>
            <div class="tab-pane" id="addresses">
                @Html.Partial("_Addresses", Model.Seller)
            </div>
            <div class="tab-pane" id="shipping">
                @Html.Partial("_ShippingMethods", Model.Seller)
            </div>
            <div class="tab-pane" id="schedule">
                @Html.Partial("_Schedules", Model.Seller.Schedules.ToList())
            </div>
            <div class="tab-pane" id="currency">
                @Html.Partial("_Currencies", Model.Seller)
            </div>
            <div class="tab-pane" id="import">
                @Html.Partial("_Import", Model.Seller)
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="icon-ok bigger-110"></i>
                Зберегти
            </button>

            &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("Index", "Sellers")" class="btn">
                <i class="icon-undo bigger-110"></i>
                До пошуку
            </a>
        </div>
    </div>
}
