@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@using Benefit.Services.Domain
@using Microsoft.AspNet.Identity
@model Seller
@{
    Layout = "_SellerLayout.cshtml";
    ViewBag.Title = "Головна";
    var seller = ViewBag.Seller as Seller;
}
@section meta
{
    <meta name="description" content="@seller.ShortDescription">
}
@section styles{
    <link href="~/Content/css/bootstrap.modal.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/v3/products.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/seller/megashop/jquery-ui.js"></script>
    <script>
        var productOptionsUrl = '@Url.Action("GetProductOptions", "Tovar")';
        var addToCartUrl = '@Url.Action("AddProduct", "Cart")';
        var addToFavoritesUrl =
            '@Html.Raw(Url.Action("AddToFavorites", "Tovar", new {returnUrl = Request.Url.PathAndQuery}))';
        var showMessagePopupUrl = '@Url.Action("ShowMessagePopup", "Home")';
    </script>
}
@section LeftAside
{
    @{
        var sellerNews = seller.InfoPages.Where(entry => entry.IsActive && entry.IsNews).OrderByDescending(entry => entry.CreatedOn).Take(3).ToList();
    }
    @if (sellerNews.Any())
    {
        <div class="block">
            <div class="h1">
                <a href="@Url.Action("Index", "News")">
                    <span data-language="main_news">Новини</span>
                </a>
            </div>
            <div class="news">
                @foreach (var news in sellerNews)
                {
                    <div class="news_item">
                        <a class="news_name" href="@Url.RouteUrl("pagesRoute", new {id = news.UrlName})">@news.Name</a>
                        <div class="news_date"><span>@news.CreatedOn.ToLocalTimeWithDateFormat()</span></div>
                        <div class="news_annotation">
                            <p>@news.ShortContent</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(seller.Widget))
    {
        <div class="block hidden-xs">
            @Html.Raw(seller.Widget)
        </div>
    }
}

<div class="col-md-8 col-xl-9 content">
    <div class="fn_banner_group1 banners tablet-hidden">
        @foreach (var image in Model.Images.Where(entry => entry.ImageType == ImageType.SellerGallery).OrderBy(entry => entry.Order))
        {
            <div>
                <img src="~/Images/SellerGallery/@Model.Id/@image.ImageUrl" alt="@Model.AltText" />
            </div>
        }
    </div>
    <div class="fn_ajax_content">

        @if (Model.FeaturedProducts.Any())
        {
            <div class="featured_products block">
                <div class="h1 slidehead">
                    <a href="bestsellers"><span data-language="main_recommended_products">Хіти продажу</span></a>
                </div>

                <div class="clearfix">
                    @foreach (var product in Model.FeaturedProducts)
                    {
                        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", product.UrlName, product.SKU) });
                        var image = product.Images.OrderBy(entry => entry.Order).FirstOrDefault();
                        var availableForPurchase = product.AvailableForPurchase(RegionService.GetRegionId());

                        <div class="products_item col-xl-3 col-xs-6">
                            <div class="preview fn_product">
                                <div class="fn_transfer clearfix" id="@product.Id">
                                    <a class="preview_image" href="@productDetailsUrl">
                                        @if (image == null)
                                        {
                                            <img class="fn_img preview_img" src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Title" title="@Model.Title">
                                        }
                                        else
                                        {
                                            if (image.IsAbsoluteUrl)
                                            {
                                                <img class="fn_img preview_img" src="@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                            else
                                            {
                                                <img class="fn_img preview_img" src="~/Images/ProductGallery/@product.Id/@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                        }
                                        <img class="promo_img" src="~/Content/seller/megashop/images/hit.png" alt="hit.png" title="hit.png">
                                    </a>
                                    @if (product.Favorites.All(entry => entry.UserId != User.Identity.GetUserId()))
                                    {
                                        <div class="overlay_buttons">
                                            @*<a class="fn_comparison comparison_button" href="#" data-id="114" title="В сравнение" data-result-text="Из сравнения"><i class="compare_icon"></i></a>*@
                                            <a href="#" data-product-id="@product.Id" class="fn_wishlist wishlist_button add-to-favorites" title="В избранное" data-result-text="Из избранного">
                                                <i class="wish_icon"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="preview_details">
                                        <a class="product_name" data-product="114" href="@productDetailsUrl">@product.Name</a>
                                        <div class="price_container">
                                            @if (product.OldPrice.HasValue)
                                            {
                                                <div class="old_price hidden">
                                                    <span class="fn_old_price">@product.OldPrice.Value.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                                </div>
                                            }
                                            <div class="price">
                                                <span class="fn_price">@product.Price.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                            </div>
                                        </div>
                                        <div class="fn_variants preview_form">
                                            @if (availableForPurchase.Key)
                                            {
                                                <button class="button fn_is_stock btn btn-primary product_buy" data-product-id="@product.Id" data-seller-id="@product.Seller.Id" data-is-weight-product="@product.IsWeightProduct">Купити</button>
                                            }
                                            else
                                            {
                                                <a class="button btn btn-primary" href="@productDetailsUrl">Детальніше</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (Model.NewProducts.Any())
        {
            <div class="discounted_products block">
                <div class="h1 slidehead">
                    <a href="discounted"><span data-language="main_discount_products">Новинки</span></a>
                </div>
                <div class=" clearfix">
                    @foreach (var product in Model.NewProducts)
                    {
                        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", product.UrlName, product.SKU) });
                        var image = product.Images.OrderBy(entry => entry.Order).FirstOrDefault();
                        var availableForPurchase = product.AvailableForPurchase(RegionService.GetRegionId());

                        <div class="products_item col-xl-3 col-xs-6">
                            <div class="preview fn_product">
                                <div class="fn_transfer clearfix" id="@product.Id">
                                    <a class="preview_image" href="@productDetailsUrl">
                                        @if (image == null)
                                        {
                                            <img class="fn_img preview_img" src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Title" title="@Model.Title">
                                        }
                                        else
                                        {
                                            if (image.IsAbsoluteUrl)
                                            {
                                                <img class="fn_img preview_img" src="@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                            else
                                            {
                                                <img class="fn_img preview_img" src="~/Images/ProductGallery/@product.Id/@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                        }
                                        <img class="promo_img" src="~/Content/seller/megashop/images/hit.png" alt="hit.png" title="hit.png">
                                    </a>
                                    @if (product.Favorites.All(entry => entry.UserId != User.Identity.GetUserId()))
                                    {
                                        <div class="overlay_buttons">
                                            @*<a class="fn_comparison comparison_button" href="#" data-id="114" title="В сравнение" data-result-text="Из сравнения"><i class="compare_icon"></i></a>*@
                                            <a href="#" data-product-id="@product.Id" class="fn_wishlist wishlist_button add-to-favorites" title="В избранное" data-result-text="Из избранного">
                                                <i class="wish_icon"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="preview_details">
                                        <a class="product_name" data-product="114" href="@productDetailsUrl">@product.Name</a>
                                        <div class="price_container">
                                            @if (product.OldPrice.HasValue)
                                            {
                                                <div class="old_price hidden">
                                                    <span class="fn_old_price">@product.OldPrice.Value.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                                </div>
                                            }
                                            <div class="price">
                                                <span class="fn_price">@product.Price.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                            </div>
                                        </div>
                                        <div class="fn_variants preview_form">
                                            @if (availableForPurchase.Key)
                                            {
                                                <button class="button fn_is_stock btn btn-primary product_buy" data-product-id="@product.Id" data-seller-id="@product.Seller.Id" data-is-weight-product="@product.IsWeightProduct">Купити</button>
                                            }
                                            else
                                            {
                                                <a class="button btn btn-primary" href="@productDetailsUrl">Детальніше</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (Model.PromotionProducts.Any())
        {
            <div class="discounted_products block">
                <div class="h1 slidehead">
                    <a href="discounted"><span data-language="main_discount_products">Акційні товари</span></a>
                </div>
                <div class=" clearfix">
                    @foreach (var product in Model.PromotionProducts)
                    {
                        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", product.UrlName, product.SKU) });
                        var image = product.Images.OrderBy(entry => entry.Order).FirstOrDefault();
                        var availableForPurchase = product.AvailableForPurchase(RegionService.GetRegionId());

                        <div class="products_item col-xl-3 col-xs-6">
                            <div class="preview fn_product">
                                <div class="fn_transfer clearfix" id="@product.Id">
                                    <a class="preview_image" href="@productDetailsUrl">
                                        @if (image == null)
                                        {
                                            <img class="fn_img preview_img" src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Title" title="@Model.Title">
                                        }
                                        else
                                        {
                                            if (image.IsAbsoluteUrl)
                                            {
                                                <img class="fn_img preview_img" src="@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                            else
                                            {
                                                <img class="fn_img preview_img" src="~/Images/ProductGallery/@product.Id/@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                                            }
                                        }
                                        <img class="promo_img" src="~/Content/seller/megashop/images/hit.png" alt="hit.png" title="hit.png">
                                    </a>
                                    @if (product.Favorites.All(entry => entry.UserId != User.Identity.GetUserId()))
                                    {
                                        <div class="overlay_buttons">
                                            @*<a class="fn_comparison comparison_button" href="#" data-id="114" title="В сравнение" data-result-text="Из сравнения"><i class="compare_icon"></i></a>*@
                                            <a href="#" data-product-id="@product.Id" class="fn_wishlist wishlist_button add-to-favorites" title="В избранное" data-result-text="Из избранного">
                                                <i class="wish_icon"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="preview_details">
                                        <a class="product_name" data-product="114" href="@productDetailsUrl">@product.Name</a>
                                        <div class="price_container">
                                            @if (product.OldPrice.HasValue)
                                            {
                                                <div class="old_price hidden">
                                                    <span class="fn_old_price">@product.OldPrice.Value.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                                </div>
                                            }
                                            <div class="price">
                                                <span class="fn_price">@product.Price.ToString("F")</span> <span>грн/@(product.IsWeightProduct ? "кг" : "шт")</span>
                                            </div>
                                        </div>
                                        <div class="fn_variants preview_form">
                                            @if (availableForPurchase.Key)
                                            {
                                                <button class="button fn_is_stock btn btn-primary product_buy" data-product-id="@product.Id" data-seller-id="@product.Seller.Id" data-is-weight-product="@product.IsWeightProduct">Купити</button>
                                            }
                                            else
                                            {
                                                <a class="button btn btn-primary" href="@productDetailsUrl">Детальніше</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="modal-container"></div>
