@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@model Seller
@{
    Layout = "_SellerLayout.cshtml";
    ViewBag.Title = "Головна";
    var seller = ViewBag.Seller as Seller;
}
@section meta
{
    <meta name="description" content="@seller.ShortDescription">
}
@section styles{
    <link href="~/Content/css/bootstrap.modal.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/v3/products.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/seller/megashop/jquery-ui.js"></script>
    <script>
        var productOptionsUrl = '@Url.Action("GetProductOptions", "Tovar")';
        var productVariantsUrl = '@Url.Action("GetProductVariants", "Tovar")';
        var addToCartUrl = '@Url.Action("AddProduct", "Cart")';
        var addToFavoritesUrl =
            '@Html.Raw(Url.Action("AddToFavorites", "Tovar", new {returnUrl = Request.Url.PathAndQuery}))';
        var showMessagePopupUrl = '@Url.Action("ShowMessagePopup", "Home")';
    </script>
}
@section LeftAside
{
    @{
        var sellerNews = seller.InfoPages.Where(entry => entry.IsActive && entry.IsNews).OrderByDescending(entry => entry.CreatedOn).Take(3).ToList();
    }
    @if (sellerNews.Any())
    {
        <div class="block">
            <div class="h1">
                <a href="@Url.Action("Index", "News")">
                    <span data-language="main_news">Новини</span>
                </a>
            </div>
            <div class="news">
                @foreach (var news in sellerNews)
                {
                    <div class="news_item">
                        <a class="news_name" href="@Url.RouteUrl("pagesRoute", new {id = news.UrlName})">@news.Name</a>
                        <div class="news_date"><span>@news.CreatedOn.ToLocalTimeWithDateFormat()</span></div>
                        <div class="news_annotation">
                            <p>@news.ShortContent</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(seller.Widget))
    {
        <div class="block hidden-xs">
            @Html.Raw(seller.Widget)
        </div>
    }
}

<div class="col-md-8 col-xl-9 content">
    <div class="fn_banner_group1 banners tablet-hidden">
        @foreach (var image in Model.Banners.OrderBy(entry => entry.Order))
        {
            <a href="@image.NavigationUrl" target="_blank">
                <img src="~/Images/PrimaryMainPage/@image.ImageUrl" alt="@Model.AltText" />
            </a>
        }
    </div>
    <div class="fn_ajax_content">

        @if (Model.FeaturedProducts.Any())
        {
            <div class="featured_products block">
                <div class="h1 slidehead">
                    <span data-language="main_recommended_products">Хіти продажу</span>
                </div>

                <div class="clearfix">
                    @foreach (var product in Model.FeaturedProducts)
                    {
                        @Html.Partial("~/views/sellerarea/megashop/_ProductPartial.cshtml", product)
                    }
                </div>
            </div>
        }
        @if (Model.NewProducts.Any())
        {
            <div class="discounted_products block">
                <div class="h1 slidehead">
                    <span data-language="main_discount_products">Новинки</span>
                </div>
                <div class=" clearfix">
                    @foreach (var product in Model.NewProducts)
                    {
                        @Html.Partial("~/views/sellerarea/megashop/_ProductPartial.cshtml", product)
                    }
                </div>
            </div>
        }
        @if (Model.PromotionProducts.Any())
        {
            <div class="discounted_products block">
                <div class="h1 slidehead">
                    <span data-language="main_discount_products">Акційні товари</span>
                </div>
                <div class=" clearfix">
                    @foreach (var product in Model.PromotionProducts)
                    {
                        @Html.Partial("~/views/sellerarea/megashop/_ProductPartial.cshtml", product)
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="modal-container"></div>
