@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@using Benefit.Services.Domain
@using Microsoft.AspNet.Identity
@using Image = System.Drawing.Image
@model Benefit.DataTransfer.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = Model.Product.Name;
    Layout = "_SellerLayout.cshtml";
    var image_src = Model.Product.Images.FirstOrDefault(entry => entry.ImageType == ImageType.ProductGallery);
    var img_src = image_src == null ? "default_product_picture.png" : image_src.ImageUrl;
    var seller = Model.Product.Seller;
    var paymentTypes = new List<PaymentType>();
    if (seller.IsPrePaidPaymentActive)
    {
        paymentTypes.Add(PaymentType.PrePaid);
    }
    if (seller.IsPostPaidPaymentActive)
    {
        paymentTypes.Add(PaymentType.PostPaid);
    }
    if (seller.IsCashPaymentActive)
    {
        paymentTypes.Add(PaymentType.Cash);
    }
    if (seller.IsAcquiringActive)
    {
        paymentTypes.Add(PaymentType.Acquiring);
    }
    if (seller.IsBonusesPaymentActive)
    {
        paymentTypes.Add(PaymentType.Bonuses);
    }

    var parameters = Model.Product.ProductParameterProducts.Where(entry => entry.StartValue != null).ToList();
    var availableForPurchase = Model.Product.AvailableForPurchase(RegionService.GetRegionId());
}

@section scripts
{
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/seller/megashop/jquery-ui.js"></script>
    <script>
        $(function() {
            var addToCartUrl = '@Url.Action("AddProduct", "Cart", new {sellerId = Model.Product.SellerId})';
            var sellerId = '@Model.Product.SellerId';
            var showMessagePopupUrl = '@Url.Action("ShowMessagePopup","Home")';
            var addToFavoritesUrl = '@Html.Raw(Url.Action("AddToFavorites", "Tovar", new {productId = Model.Product.Id, returnUrl = Request.Url.PathAndQuery}))';
            var removeFromFavoritesUrl = '@Url.Action("RemoveFromFavorites", "Tovar", new {productId = Model.Product.Id})';

            $(".add-to-favorites").click(function (e) {
                e.preventDefault();
                $.post(addToFavoritesUrl,
                    null,
                    function (data) {
                        if (data.count !== undefined) {
                            alert(data.message);
                            setCookie("favoritesNumber", data.count, { expires: 31536000, path: "/" });
                            $(".remove-from-favorites").show();
                            $(".add-to-favorites").hide();
                            setFavorites(data.count);
                        } else {
                            $.post(showMessagePopupUrl,
                                { message: data.message, showButtons: false },
                                function (popupHtml) {
                                    $(".modal-container").html(popupHtml);
                                    $(".message-modal").modal();
                                }
                            );
                        }
                    });
            });

            $(".remove-from-favorites").click(function (e) {
                e.preventDefault();
                $.post(removeFromFavoritesUrl,
                    null,
                    function (data) {
                        alert(data.message);
                        if (data.count !== undefined) {
                            setCookie("favoritesNumber", data.count, { expires: 31536000, path: "/" });
                            $(".remove-from-favorites").hide();
                            $(".add-to-favorites").show();
                            setFavorites(data.count);
                        }
                    });
            });
            $("#buy-product, #buy-product-with-options").click(function () {
               //var buttonId = $(this).attr("id");
               //     if (buttonId == "buy-product") {
               //         //if there are options to show
               //         if ($("#product_modal").length > 0) {
               //             //show options
               //             $("#product_modal").modal("show");
               //             return;
               //         }
               //     }

                    $(this).attr("disabled", "disabled");
                    $("#buy-product, #buy-product-with-options").attr('disabled', 'disabled');
                    $(".product_info_wrap,.item_main_info").css("opacity", 0.3);

                    var productAmount = $(".quantity").val();
                    var productOptions = $(".product_modal_form input[type=checkbox]:checked, .product_modal_form input[type=radio]:checked").map(function () {
                        var id = $(this).attr("id");
                        var amount = $(this).siblings(".modal_amount_wrap").find(".product_modal_amount").val();
                        if (!amount) {
                            amount = 1;
                        }
                        return {
                            ProductOptionId: id,
                            Amount: amount
                        };
                    }).get();

                    var available = $("#available-amount");
                    var amount = $(".quantity").val();

                    if (available.length > 0) {
                        available = parseFloat(available.text());
                        var amount = parseFloat(amount);
                        if (amount > available) {
                            alert("Не можливо замовити більше товарів, ніж є в наявності");
                            $("#buy-product, #buy-product-with-options").removeAttr('disabled');
                            $(".product_info_wrap").css("opacity", 1);
                            return;
                        }
                    } else {
                        available = "";
                    }

                    var product = {
                        ProductId: '@Model.Product.Id',
                        IsWeightProduct: '@Model.Product.IsWeightProduct',
                        Amount: amount,
                        AvailableAmount: available,
                        OrderProductOptions: productOptions
                    };

                    var order = {
                        product: product,
                        amount: productAmount
                    };
                    $.post(addToCartUrl,
                        order,
                        function (data) {
                            //$('#product_modal').modal('hide');
                            setTimeout(function f() {
                                $("#buy-product, #buy-product-with-options").removeAttr('disabled');
                                $(".product_info_wrap,.item_main_info").css("opacity", 1);
                                $(".button_block  ").removeClass("loadings");
                                setCartSummary(data);
                            }, 1000);
                        });
            });
        })
    </script>
}
@section styles{
    <link href="~/Content/seller/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.modal.css" rel="stylesheet" />
}
<div class="col-md-8 col-xl-9 content">
    @Html.Partial("~/views/sellerarea/Megashop/_BreadcrumbsPartial.cshtml", Model.Breadcrumbs)
    <div class="fn_ajax_content">
        <div class="block padding">
            <div class="fn_product product product_info_wrap" itemscope="" itemtype="http://schema.org/Product">
                <h1 class="h2">
                    <span itemprop="name">@Model.Product.Name</span>
                </h1>

                <div class="fn_transfer row">
                    <div class="col-xl-6">
                        <div class="product_image">
                            <a href="@img_src" data-fancybox="group" data-caption="@Model.Product.Name">
                                <img class="fn_img product_img" itemprop="image" src="@img_src" alt="@Model.Product.AltText" title="@Model.Product.Title">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="product_details" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                            <span class="hidden">
                                <link itemprop="availability" href="https://schema.org/InStock">
                                <link itemprop="itemCondition" href="https://schema.org/NewCondition">
                                <span itemprop="seller" itemscope="" itemtype="http://schema.org/Organization">
                                    <span itemprop="name">@Model.Product.Seller.Name</span>
                                </span>
                            </span>

                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.Partial("_StarsRatingPartial", new ReviewStarsViewModel() { IsActive = false, Rating = Model.Product.AvarageRating, SmallStars = true })
                                    @*<div id="product_22" class="product_rating">
                                            <span class="details_label" data-language="product_rating">Рейтинг:</span>
                                            <span class="rating_starOff" style="cursor: pointer;">
                                                <span class="rating_starOn" style="width: 0px; cursor: pointer;"></span>
                                            </span>
                                            <span class="rating_text"></span>
                                            <span class="hidden">(0.0)</span>
                                        </div>*@
                                </div>


                                <div class="available col-sm-6">
                                    <span class="details_label" data-language="available">Наявність:</span>

                                    @if (Model.Product.AvailabilityState == ProductAvailabilityState.AlwaysAvailable || Model.Product.AvailabilityState == ProductAvailabilityState.Available)
                                    {
                                        <span class="in_stock" data-language="product_in_stock">В нявності</span>
                                    }
                                    else
                                    {
                                        <span class="no_stock" data-language="product_out_of_stock">Немає</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    @if (User.Identity.IsAuthenticated && Model.Product.Favorites.Any(entry => entry.UserId == User.Identity.GetUserId()))
                                    {
                                        <a href="#" class="product_wish add-to-favorites fn_wishlist product_wish" title="Додати до улюблених" style="display: none;">
                                            <i class="wish_icon"></i>
                                        </a>

                                        <a href="#" class="product_wish remove-from-favorites" title="Видалити із улюблених">
                                            <i class="no_stock" style="top: -12px;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="product_wish add-to-favorites product_wish" title="Додати до улюблених">
                                            <i class="wish_icon"></i>
                                        </a>

                                        <a href="#" class="product_wish remove-from-favorites" title="Видалити із улюблених" style="display: none;">
                                            <i class="no_stock" style="top: -12px;"></i>
                                        </a>

                                        @*<a href="#" class="add-to-favorites">
                                                <i class="fa fa-heart"></i>
                                                Додати до улюблених
                                            </a>
                                            <a href="#" class="remove-from-favorites" style="display: none;">
                                                <i class="fa fa-remove"></i>
                                                Видалити із улюблених
                                            </a>*@
                                    }
                                </div>

                                @*<div class="col-sm-6">
                                        <a class="fn_comparison product_compare" href="#" data-id="22" title="В сравнение" data-result-text="Из сравнения" data-language="product_add_comparison"><i class="compare_icon"></i></a>
                                    </div>*@
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="sku">
                                        <span class="details_label" data-language="product_sku">Номер товару:</span>
                                        <span class="fn_sku sku_nubmer">@Model.Product.SKU</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="sku">
                                        @if (Model.DiscountPercent > 0)
                                        {
                                            <span style="color: white; background: red; padding: 5px;">Кешбек @Model.DiscountPercent%</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <form class="fn_variants" action="/cart">
                                <div class="row">
                                    <div class="col-sm-6 amount_wrap fn_is_stock">
                                        <span class="details_label quontity_label" data-language="product_quantity">Кількість<span class="fn_units"></span>:</span>


                                        <div class="amount fn_product_amount">
                                            <input class="input_amount quantity" name="amount" value="1" data-max="10" type="text">
                                            <span class="plus"></span>
                                            <span class="minus"></span>
                                        </div>
                                    </div>

                                    @*<div class="col-sm-6">

                                            <select name="variant" class="fn_variant variant_select hidden">
                                                <option value="22" data-price="2 899" data-stock="3" selected="selected">Кресло мешок груша L Cats</option>
                                            </select>
                                        </div>*@
                                </div>

                                <div class="price_wrap">

                                    <span class="price ">
                                        <span class="fn_price" itemprop="price" content="@Model.Product.Price">@Model.Product.Price.ToString("F")</span>
                                        <span itemprop="priceCurrency" content="UAH">грн</span>
                                    </span>

                                    @if (Model.Product.OldPrice.HasValue)
                                    {
                                        <span class="old_price">
                                            <span class="fn_old_price">@Model.Product.OldPrice.Value.ToString("F")</span> грн
                                        </span>
                                    }
                                </div>
                                @if (Model.Product.AvailabilityState == ProductAvailabilityState.AlwaysAvailable || Model.Product.AvailabilityState == ProductAvailabilityState.Available)
                                {
                                    <button id="buy-product" class="fn_is_stock button" type="submit" data-language="product_add_cart">Купити</button>
                                }
                            </form>

                            <div class="product_share">
                                <div class="addthis_inline_share_toolbox"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("_FlashMessage")
                <div class="tabs clearfix">
                    <div class="tab_navigation">
                        <a href="#description" data-language="product_description" class="selected">Опис</a>
                        <a href="#reviews" data-language="product_description">Відгуки</a>
                        <a href="#features" data-language="product_features">Характеристики</a>
                        <a href="#comments" data-language="product_comments">Доставка та оплата</a>
                    </div>

                    <div class="tab_container">
                        <div id="description" class="tab product_description" itemprop="description" style="display: block;">
                            @Html.Raw(Model.Product.Description)
                        </div>
                        <div id="reviews" class="tab product_description" itemprop="reviews" style="display: block;">
                            <div class="col-xl-6">
                                @Html.Partial("_ReviewsPartial", new ReviewsViewModel
                                {
                                    CanReview = Model.CanReview,
                                    ProductId = Model.Product.Id,
                                    TargetName = Model.Product.Name,
                                    Reviews = Model.Product.ApprovedReviews
                                })
                            </div>
                            <div class="col-xl-6">
                                @Html.Partial("_ReviewFormPartial", new ReviewsViewModel()
                                {
                                    CanReview = Model.CanReview,
                                    ProductId = Model.Product.Id,
                                    TargetName = Model.Product.Name,
                                })
                            </div>
                        </div>

                        <div id="features" class="tab">
                            <ul class="features">
                                @foreach (var productParameter in parameters)
                                {
                                    <li>
                                        <span class="features_name"><span>@productParameter.ProductParameter.Name</span></span>
                                        <span class="features_value">
                                            @if (productParameter.Amount.HasValue)
                                            {
                                                <span>@(productParameter.Amount.Value)x</span>
                                            }
                                            @(productParameter.StartText ?? productParameter.StartValue)
                                            @if (!string.IsNullOrEmpty(productParameter.EndValue))
                                            {
                                                <span>- @productParameter.EndValue</span>
                                            }
                                            @if (!string.IsNullOrEmpty(productParameter.ProductParameter.MeasureUnit))
                                            {
                                                <span>@productParameter.ProductParameter.MeasureUnit</span>
                                            }
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div id="comments" class="tab">
                            @Html.Raw(Model.Product.Seller.ShippingDescription)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-container"></div>
