@model Benefit.Domain.Models.InfoPage

@{
    ViewBag.Title = Model.Name;
}
@section LeftAside{
    <div class="vertical_menu" id="right-menu">
    </div>
}
@section styles
{
    <link href="~/Content/css/chat.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        var chatUrl = '@Url.Action("Chat", "Helper")';
        var messagesUrl = '@Url.Action("Comments", "Helper")';
        var addChatMessageUrl = '@Url.Action("AddChatMessage", "Helper")';
        var deleteChatMessageUrl = '@Url.Action("DeleteComment", "Helper")';

        $(function () {
            $(".seller-application").click(function () {
                var sellerApplicationUrl = '@Url.Action("SellerApplication", "Email")';
                $("#seller-application-container").load(sellerApplicationUrl, function () {
                    $("#seller-application-modal").modal("show");
                });
            });

            $("#faq a").parents("p").next().hide();

            $("#faq a").click(function (e) {
                e.preventDefault();
                $(this).parents("p").next().slideToggle("medium");
            });

            $("#chat-root").load(chatUrl);

            setInterval(function () {
                $(".chat").load(messagesUrl);
            }, 5000);

            $("body").on('keydown', '#btn-input', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $("#btn-chat").click();
                }
            });

            $("body").on("click", "#btn-chat", function () {
                var message = $("#btn-input").val();
                $.post(addChatMessageUrl, { message: message }, function (data) {
                    $(".chat").html(data);
                    $("#btn-input").val("");
                });
            });

            $("body").on("click", ".delete-message", function () {
                var message = $(this);
                var messageId = message.attr("data-message-id");
                $.post(deleteChatMessageUrl, { messageId: messageId }, function (data) {
                    message.parents("li").remove();
                });
            });
        });
    </script>
}
@Html.Raw(Model.Content)
<div id="seller-application-container"></div>