@using Benefit.Common.Extensions
@model List<Benefit.Domain.Models.InfoPage>

@{
    ViewBag.Title = "Новини";
}

<h2>Новини</h2>
@foreach (var page in Model)
{
    <div class="content margin-top-10">
        <div class="row">
            <div class="col-md-3">
                <a href="@Url.RouteUrl("pagesRoute", new { id = page.UrlName })">
                    <img src="~/Images/NewsLogo/@page.ImageUrl" width="300" height="225" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="margin-left-10">
                    <h3 class="margin-top-0">
                        <a href="@Url.RouteUrl("pagesRoute", new { id = page.UrlName })" class="font-red">
                            @page.Name
                        </a>
                    </h3>
                    <p>
                        @page.ShortContent
                    </p>
                    <p>
                        @page.CreatedOn.ToLocalTimeWithDateFormat()
                    </p>
                </div>
            </div>
        </div>
    </div>
}
