@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@model IQueryable<Benefit.Domain.Models.Review>

@Html.Partial("_FlashMessage")

@section scripts
{
    <script>
        $(function () {
            var removeReviewUrl = '@Url.Action("RemoveReview")';
            var acceptReviewUrl = '@Url.Action("AcceptReview")';

            $(".remove-review").click(function () {
                if (!confirm("Видалити відгук?")) {
                    return;
                }
                var id = $(this).attr("data-review-id");
                var row = $(this).parent().parent();
                $.post(removeReviewUrl,
                    { reviewId: id },
                    function (data) {
                        if (!data.error) {
                            row.remove();
                            flashMessage("Відгук видалено", true);
                        }
                    }
                );
            });

            $(".accept-review").click(function () {
                if (!confirm("Прийняти відгук?")) {
                    return;
                }
                var id = $(this).attr("data-review-id");
                var row = $(this).parent().parent();
                $.post(acceptReviewUrl,
                    { reviewId: id },
                    function (data) {
                        if (!data.error) {
                            row.remove();
                            flashMessage("Відгук прийнятий");
                        }
                    }
                );
            });
        })
    </script>
}
<h2>Модерація відгуків</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Час
            </th> 
            <th>
                Користувач
            </th>
            <th>
                Рейтинг
            </th>
            <th>
                Коментар
            </th>
            <th>
                Товар
            </th>
            <th>
                Постачальник
            </th>
            <th>
                Дії
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Where(entry=>entry.ParentReview == null))
        {
            <tr>
                <td>
                    @review.Stamp.ToLocalDateTimeWithFormat()
                </td>
                <td>
                    @review.UserFullName
                </td>
                <td>
                    @review.Rating
                </td>
                <td class="word-break-all">
                    @review.Message
                </td>
                <td>
                    @if (review.Product != null)
                    {
                        @Html.RouteLink(review.Product.Name, RouteConstants.ProductRouteWithSellerName,
                            new { productUrl = review.Product.UrlName, categoryUrl = review.Product.Category.UrlName, sellerUrl = review.Product.Seller.UrlName },
                            new { target = "_blank" })
                    }
                </td>
                <td>
                    @if (review.Seller != null)
                    {
                        @Html.RouteLink(review.Seller.Name, RouteConstants.SellersRouteName,
                                 new { id = review.Seller.UrlName, action = string.Empty },
                                 new { target = "_blank" })
                    }
                </td>
                <td>
                    <a class="btn btn-xs btn-success accept-review" data-review-id="@review.Id">
                        <i class="icon-check-sign bigger-120"></i>
                    </a>
                    <a class="btn btn-xs btn-danger remove-review" data-review-id="@review.Id">
                        <i class="icon-trash bigger-120"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br/>
<h2>Модерація коментарів</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Час
            </th>
            <th>
                Користувач
            </th>
            <th>
                Відгук
            </th>
            <th>
                Коментар
            </th>
            <th>
                Дії
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Where(entry => entry.ParentReview != null))
        {
            <tr>
                <td>
                    @review.Stamp.ToLocalDateTimeWithFormat()
                </td>
                <td>
                    @review.UserFullName
                </td>
                <td>
                    @review.ParentReview.Message
                </td>
                <td style="max-width: 500px; overflow: visible; word-wrap: break-word; overflow-wrap: break-word;">
                    @review.Message
                </td>
                <td>
                    <a class="btn btn-xs btn-success accept-review" data-review-id="@review.Id">
                        <i class="icon-check-sign bigger-120"></i>
                    </a>
                    <a class="btn btn-xs btn-danger remove-review" data-review-id="@review.Id">
                        <i class="icon-trash bigger-120"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>