@using Benefit.Domain.Models
@model IEnumerable<Banner>

@{
    ViewBag.Title = "Банери";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
        var saveSortUrl = '@Url.Action("Index")';
        $("#banners").sortable();
        $("#banners").disableSelection();

        function SaveOrder() {
            $("#saveOrder").prop("disabled", true);
            var sortedPages = [];
            $("#banners li").each(function () {
                var bannerId = $(this).attr("data-banner-id");
                sortedPages.push(bannerId);
            });
            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: saveSortUrl,
                data: JSON.stringify({ sortedBanners: sortedPages }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                complete: function (data) {
                    flashMessage("Сортування збережено");
                    $("#saveOrder").removeAttr("disabled");
                }
            });
        }
    </script>
}

<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#mainPage">
                <i class="green icon-desktop bigger-110"></i>
                Основний
            </a>
        </li>
        @if (Seller.CurrentAuthorizedSellerId != null)
        {
            <li>
                <a data-toggle="tab" href="#mainPageTopSide">
                    <i class="green icon-desktop bigger-110"></i>
                    Додаткові
                </a>
            </li>
        }
        @if (Seller.CurrentAuthorizedSellerId == null)
        {
            <li>
                <a data-toggle="tab" href="#mainPageTopSide">
                    <i class="green icon-desktop bigger-110"></i>
                    Правий верхній
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#mainPageBottomSide">
                    <i class="green icon-desktop bigger-110"></i>
                    Правий нижній
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#mainPageRows">
                    <i class="green icon-desktop bigger-110"></i>
                    Строки
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#mainPageMobile">
                    <i class="green icon-desktop bigger-110"></i>
                    Мобільний
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#cabinet">
                    <i class="green icon-group bigger-110"></i>
                    Особистий кабінет
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        <p>
            @Html.ActionLink("Додати банер", "CreateOrUpdate", null, new { @class = "btn btn-success" })
            <button id="saveOrder" class="btn btn-info width-20" onclick="SaveOrder();">Зберегти сортування</button>
        </p>
        <div id="mainPage" class="tab-pane in active">
            <ol id="banners">
                @foreach (var banner in Model.Where(entry => entry.BannerType == BannerType.PrimaryMainPage))
                {
                    <li class="dd-item cursor-move" data-banner-id="@banner.Id">
                        <div class="dd-handle">
                            <img src="~/Images/@banner.BannerType.ToString()/@banner.ImageUrl" height="100" />

                            <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = banner.Id })" onclick="return confirm('Видалити банер?');">
                                <i class="icon-trash"></i>
                            </a>
                            <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("CreateOrUpdate", new { id = banner.Id })">
                                <i class="icon-edit"></i>
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                }
            </ol>
        </div>
        <div id="mainPageTopSide" class="tab-pane">
            <ol id="banners">
                @foreach (var banner in Model.Where(entry => entry.BannerType == BannerType.SideTopMainPage))
                {
                    <li class="dd-item cursor-move" data-banner-id="@banner.Id">
                        <div class="dd-handle">
                            <img src="~/Images/@banner.BannerType.ToString()/@banner.ImageUrl" height="100" />

                            <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = banner.Id })" onclick="return confirm('Видалити банер?');">
                                <i class="icon-trash"></i>
                            </a>
                            <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("CreateOrUpdate", new { id = banner.Id })">
                                <i class="icon-edit"></i>
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                }
            </ol>
        </div>
        @if (Seller.CurrentAuthorizedSellerId == null)
        {
            <div id="mainPageBottomSide" class="tab-pane">
                <ol id="banners">
                    @foreach (var banner in Model.Where(entry => entry.BannerType == BannerType.SideBottomMainPage))
                    {
                        <li class="dd-item cursor-move" data-banner-id="@banner.Id">
                            <div class="dd-handle">
                                <img src="~/Images/@banner.BannerType.ToString()/@banner.ImageUrl" height="100" />

                                <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = banner.Id })" onclick="return confirm('Видалити банер?');">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("CreateOrUpdate", new { id = banner.Id })">
                                    <i class="icon-edit"></i>
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
            <div id="mainPageMobile" class="tab-pane">
                <ol id="banners">
                    @foreach (var banner in Model.Where(entry => entry.BannerType == BannerType.MobileMainPage))
                    {
                        <li class="dd-item cursor-move" data-banner-id="@banner.Id">
                            <div class="dd-handle">
                                <img src="~/Images/@banner.BannerType.ToString()/@banner.ImageUrl" height="100" />

                                <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = banner.Id })" onclick="return confirm('Видалити банер?');">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("CreateOrUpdate", new { id = banner.Id })">
                                    <i class="icon-edit"></i>
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
            <div id="mainPageRows" class="tab-pane">
                <ol id="banners">
                    @foreach (var banner in Model.Where(entry => entry.BannerType == BannerType.FirstRowMainPage || entry.BannerType == BannerType.SecondRowMainPage))
                    {
                        <li class="dd-item cursor-move" data-banner-id="@banner.Id">
                            <div class="dd-handle">
                                <img src="~/Images/@banner.BannerType.ToString()/@banner.ImageUrl" style="width: 100%;" />

                                <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = banner.Id })" onclick="return confirm('Видалити банер?');">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("CreateOrUpdate", new { id = banner.Id })">
                                    <i class="icon-edit"></i>
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
            var cabinetBanners = Model.Where(entry => entry.BannerType == BannerType.PartnerPageBanners).ToList();
            <div id="cabinet" class="tab-pane">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 bordered">
                            @{
                                var first = cabinetBanners.FirstOrDefault(entry => entry.Order == 0) ?? new Banner();
                            }
                            <a href="@Url.Action("CreateOrUpdate", new { id = first.Id, order = 0 })">
                                <img src="~/Images/@BannerType.PartnerPageBanners.ToString()/@first.ImageUrl" class="width-100" style="min-height: 250px;" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bordered">
                            @{
                                var second = cabinetBanners.FirstOrDefault(entry => entry.Order == 1) ?? new Banner();
                            }
                            <a href="@Url.Action("CreateOrUpdate", new { id = second.Id, order = 1 })">
                                <img src="~/Images/@BannerType.PartnerPageBanners.ToString()/@second.ImageUrl" class="width-100" style="min-height: 230px;" />
                            </a>
                        </div>
                        <div class="col-md-6 bordered">
                            @{
                                var third = cabinetBanners.FirstOrDefault(entry => entry.Order == 2) ?? new Banner();
                            }
                            <a href="@Url.Action("CreateOrUpdate", new { id = third.Id, order = 2 })">
                                <img src="~/Images/@BannerType.PartnerPageBanners.ToString()/@third.ImageUrl" class="width-100" style="min-height: 230px;" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 bordered">
                            @{
                                var fourth = cabinetBanners.FirstOrDefault(entry => entry.Order == 3) ?? new Banner();
                            }
                            <a href="@Url.Action("CreateOrUpdate", new { id = fourth.Id, order = 3 })">
                                <img src="~/Images/@BannerType.PartnerPageBanners.ToString()/@fourth.ImageUrl" class="width-100" style="min-height: 250px;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
