@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@using Benefit.Services.Domain
@model Product

@{
    var image = Model.Images.OrderBy(entry => entry.Order).FirstOrDefault();
    var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", Model.UrlName, Model.SKU) });
    //var sellerUrl = Url.SubdomainAction(Model.Seller.UrlName, "Index", "Home", null);
    var sellerUrl = Url.RouteUrl(RouteConstants.SellerCatalogRouteName, new { id = Model.Seller.UrlName, category = string.Empty, options = string.Empty });
    var reviewsCount = Model.Reviews.Count;
    var availableForPurchase = Model.AvailableForPurchase(RegionService.GetRegionId());
    var categoryToSellerDiscountPercent = ViewBag.CategoryToSellerDiscountPercent as Dictionary<string, double>;
    var categoryDiscount = Model.Seller.UserDiscount;
    if (categoryToSellerDiscountPercent != null && categoryToSellerDiscountPercent.ContainsKey(Model.SellerId))
    {
        categoryDiscount = categoryToSellerDiscountPercent[Model.SellerId];
    }
    var isFavorites = ViewBag.IsFavorites as bool?;
}

<div class="product-item col-m-25 col-md-3 col-sm-4 col-xs-6">
    @if (isFavorites.GetValueOrDefault(false))
    {
        <div class="margin-bottom-5">
            <a href="#" class="remove-from-favorites" data-product-id="@Model.Id">
                <i class="fa fa-remove"></i>
                Видалити із улюблених
            </a>
        </div>
    }
    <div class="item" id="@Model.Id">
        <div class="img" style="text-align: left; position: relative; overflow: hidden;">
            <a href="@productDetailsUrl" title="@Model.Title">
                <div class="row">
                    <div class="span2">
                        @if (image == null)
                        {
                            <img src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Title" title="@Model.Title">
                        }
                        else
                        {
                            if (image.IsAbsoluteUrl)
                            {
                                <img src="@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                            }
                            else
                            {
                                <img src="~/Images/ProductGallery/@Model.Id/@image.ImageUrl" alt="@Model.Title" title="@Model.Title">
                            }
                        }
                    </div>
                </div>
            </a>

            <div class="stickers">
                @if (categoryDiscount > 0)
                {
                    <div class="sticker_sale_text">@categoryDiscount %</div>
                }
                @if (Model.Seller.SafePurchase)
                {
                    <div class="sticker_safe">Безпечна покупка</div>
                }
                @*<div class="sticker_khit">Хит</div>*@
            </div>

            <a href="@productDetailsUrl" class="dark_link" style="font-size: 16px; font-weight: bold; height: 66px; display: block; overflow: hidden;">@Model.Name</a>

            <div class="rating" style="width: 100%;">
                <div class="iblock-vote small">
                    <table class="table-no-border">
                        <tbody>
                            <tr>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <td>
                                        <div class="star-@(i <= Model.AvarageRating.GetValueOrDefault(0) ? "active" : "empty") star-voted" title="@i"></div>
                                    </td>
                                }
                                @if (reviewsCount > 0)
                                {
                                    <td><a href="@productDetailsUrl#reviews" style="padding-left: 20px;">@reviewsCount відгуків</a></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="sa_block" style="width: 100%; float: left;">
                <div class="item-stock">
                    <i class="fa @Enumerations.GetDisplayDescriptionValue(Model.AvailabilityState)" style="color: @Enumerations.GetEnumDescription(Model.AvailabilityState); font-size: 1.2em;"></i>
                    <span class="value" style="color: @Enumerations.GetEnumDescription(Model.AvailabilityState);">
                        @Enumerations.GetDisplayNameValue(Model.AvailabilityState)
                    </span>
                </div>
                <div class="article_block"></div>
            </div>
            @*<div>
                    <div class="margin-top-5 margin-bottom-5">
                        @if (User.Identity.IsAuthenticated && Model.Favorites.Any(entry => entry.UserId == User.Identity.GetUserId()))
                        {
                            <a href="#" class="remove-from-favorites">
                                <i class="fa fa-remove"></i>
                                Видалити із улюблених
                            </a>
                            <a href="#" class="add-to-favorites" style="display: none;">
                                <i class="fa fa-heart"></i>
                                Додати до улюблених
                            </a>
                        }
                        else
                        {
                            <a href="#" class="add-to-favorites">
                                <i class="fa fa-heart"></i>
                                Додати до улюблених
                            </a>
                            <a href="#" class="remove-from-favorites" style="display: none;">
                                <i class="fa fa-remove"></i>
                                Видалити із улюблених
                            </a>
                        }
                    </div>
                </div>*@

            <div class="cost prices clearfix">
                <div class="price_matrix_block">
                    <div class="price_matrix_wrapper ">
                        <div class="price">
                            @if (Model.OldPrice.HasValue)
                            {
                                <span style="font-size: 14px; color: grey; text-decoration: line-through; margin-right: 10px;">@Model.OldPrice.Value.ToString("F") грн/@(@Model.IsWeightProduct ? "кг" : "шт")</span>
                                <br><br>
                            }
                            <span class="price_value">@Model.Price.ToString("F") грн/@(@Model.IsWeightProduct ? "кг" : "шт")</span>
                            @if (Model.WholesalePrice.HasValue)
                            {
                                <span class="green">| @Model.WholesalePrice.Value.ToString("F") <span class="small">грн/опт</span></span>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="counter_wrapp ">
                @if (availableForPurchase.Key)
                {
                    <div class="counter">
                        <div class="minus">-</div>
                        @if (Model.IsWeightProduct)
                        {
                            <input class="text quantity" name="quantity" type="text" value="0.1" data-weight-product="true" />
                        }
                        else
                        {
                            <input class="text quantity" name="quantity" type="text" value="1" data-weight-product="false" />
                        }
                        <div class="plus">+</div>
                    </div>
                }
                <div style="width: 15px; height: 15px; float: right" class="hidden-xs"></div>

                @if (availableForPurchase.Key)
                {
                    <div class="button_block product_buy" data-product-id="@Model.Id" data-seller-id="@Model.Seller.Id" data-is-weight-product="@Model.IsWeightProduct">
                        <span class="small to-cart btn btn-default" style="height: 36px; padding: 7px 10px 10px 10px;">
                            <i class="visible-xs fa fa-shopping-cart" style="width: 20px; font-size: 1.5em;"></i>
                            <i></i>
                            <span class="hidden-xs" style="font-weight: bold;">Купити</span>
                        </span>
                    </div>
                }
                else
                {
                    <a class="button_block title-to-tooltip" href="@productDetailsUrl">
                        <span class="small btn btn-default bg-grey" style="height: 36px; padding: 7px 10px 10px 10px;">
                            <i></i>
                            <span style="font-weight: bold;">Детальніше</span>
                        </span>
                    </a>
                }
                <div class="button_block hidden-lg"></div>
                <br class="clear" />
            </div>
            <div class="item-stock" style="padding-top: 10px; text-align: left;">
                <a href="@sellerUrl">@Model.Seller.Name</a><br>
                @Model.Seller.PrimaryRegionName
            </div>
        </div>
    </div>
</div>