@model Benefit.DataTransfer.ViewModels.NavigationEntities.ProductsViewModel
<div class="bx_filter bx_filter_vertical">
    <div class="bx_filter_section" id="productFilters">
        <div class="bx_filter_parameters_box title">
            <div class="bx_filter_parameters_box_title">
                Фільтри по параметрам
                <div class="sort_header view_block hidden-lg" style="float: right">
                    <!--noindex-->
                    <div class="sort_filter filter-section" data-filter-name="sort">
                        @*<a href="#sort=SHOWS&amp;order=asc" class="sort_btn current desc SHOWS" rel="nofollow">
                                <i class="icon" title="По популярності"></i><span>По популярності</span><i class="arr icons_fa"></i>
                            </a>*@
                        <a href="" data-sort-value="Name" data-sort-type="Asc" class="sort_btn asc NAME" rel="nofollow">
                            <span class="icon" title="По алфавіту">A</span>
                            <span>По алфавіту</span>
                            <i class="arr icons_fa"></i>
                        </a>
                        <a href="" data-sort-value="Price" data-sort-type="Asc" class="sort_btn asc PRICE" rel="nofollow">
                            <span class="icon" title="За ціноб">&#36;</span>
                            <span>За ціною</span><i class="arr icons_fa"></i>
                        </a>
                    </div>
                    <!--/noindex-->
                </div>
            </div>
        </div>

        @foreach (var filter in Model.ProductParameters.OrderBy(entry => entry.Order))
        {
            if (filter.ProductParameterValues.Any())
            {
                <div class="bx_filter_parameters_box active filter-section" data-expanded="Y" data-filter-name="@filter.UrlName">
                    <span class="bx_filter_container_modef"></span>
                    <div class="bx_filter_parameters_box_title icons_fa">
                        <div>
                            @filter.Name
                            <div class="char_name">
                                <div class="props_list">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bx_filter_parameters_box_container">
                        @if (filter.Type == typeof(string).ToString())
                        {
                            foreach (var filterValue in filter.ProductParameterValues.OrderBy(entry => entry.Order))
                            {
                                var name = filterValue.ParameterValueUrl == null ? string.Empty : filterValue.ParameterValueUrl.Replace(" ", string.Empty);
                                <div class="bx_filter_block limited_block">
                                    <div class="bx_filter_parameters_box_container">
                                        <input type="checkbox" id="@filterValue.ParameterValueUrl" name="@name" class="hidden">
                                        <label class="bx_filter_param_label  last" for="@filterValue.ParameterValueUrl">
                                            <span class="bx_filter_input_checkbox">
                                                <span class="bx_filter_param_text" title="Tarkett">@filterValue.ParameterValue @filter.MeasureUnit</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="clb"></div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
        <div style="clear: both;"></div>
    </div>
</div>