@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@model Benefit.DataTransfer.ViewModels.ProductPartialViewModel

@{
    var image = Model.Product.Images.OrderBy(entry => entry.Order).FirstOrDefault();
    var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { categoryUrl = Model.CategoryUrl ?? Model.Product.Category.UrlName, productUrl = Model.Product.UrlName });
    var sellerUrl = Url.RouteUrl(RouteConstants.SellersRouteName, new { id = Model.Product.Seller.UrlName, action = string.Empty });
}

<div class="product-item col-m-25 col-md-3 col-sm-4 col-xs-6" @(Model.PageMark == null ? "" : "id=" + Model.PageMark)>
    <div class="item" style="height: 585px;">
        <div class="img shine" style="text-align: left;">
            <a href="@productDetailsUrl" class="thumb">
                @if (image == null)
                {
                    <img src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Product.Title" title="@Model.Product.Title">
                }
                else
                {
                    if (image.IsAbsoluteUrl)
                    {
                        <img src="@image.ImageUrl" alt="@Model.Product.Title" title="@Model.Product.Title">
                    }
                    else
                    {
                        <img src="~/Images/ProductGallery/@Model.Product.Id/@image.ImageUrl" alt="@Model.Product.Title" title="@Model.Product.Title">
                    }
                }
            </a>

            <div class="stickers">
                @if (Model.Product.Seller.UserDiscount > 0)
                {
                    <div class="sticker_sale_text">@Model.Product.Seller.UserDiscount %</div>
                }
                @*<div class="sticker_khit">Хит</div>*@
                @*<div class="sticker_aktsiya">Сове</div>*@
            </div>

            <a href="@productDetailsUrl" class="dark_link" style="font-size: 16px; font-weight: bold">@Model.Product.Name</a>

            <div class="rating" style="width:100%; ">
                <div class="iblock-vote small">
                    <table class="table-no-border">
                        <tbody>
                            <tr>
                                @if (Model.Product.AvarageRating.HasValue)
                                {
                                    for (int i = 1; i <= Model.Product.AvarageRating; i++)
                                    {
                                        <td>
                                            <div class="star-active star-voted" title="@i"></div>
                                        </td>
                                    }
                                    <td><a href="#" style="padding-left: 20px;">@Model.Product.Reviews.Count відгуків</a></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="sa_block" style="width:100%; float: left; ">
                <div class="item-stock">
                    <span class="icon stock"></span>
                    <span class="value" style="color: @Enumerations.GetEnumDescription(Model.Product.AvailabilityState);">
                        @Enumerations.GetDisplayNameValue(Model.Product.AvailabilityState)
                    </span>
                </div>
                <div class="article_block"></div>
            </div>

            <div class="cost prices clearfix">
                <div class="price_matrix_block">
                    <div class="price_matrix_wrapper ">
                        <div class="price">
                            @if (Model.Product.OldPrice.HasValue)
                            {
                                <span style="font-size: 14px; color: grey; text-decoration: line-through; margin-right: 10px;">@Model.Product.OldPrice грн/@(@Model.Product.IsWeightProduct ? "кг" : "шт")</span>
                                <br><br>
                            }
                            <span class="price_value">@Model.Product.Price грн/@(@Model.Product.IsWeightProduct ? "кг" : "шт")</span>
                            @if (Model.Product.WholesalePrice.HasValue)
                            {
                                <span class="green">| @Model.Product.WholesalePrice.Value.ToString() <span class="small">грн/опт</span></span>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="counter_wrapp ">
                <div class="counter">
                    <div class="minus">-</div>
                    @if (Model.Product.IsWeightProduct)
                    {
                        <input class="text quantity" name="quantity" type="text" value="0.1" data-weight-product="true" />
                    }
                    else
                    {
                        <input class="text quantity" name="quantity" type="text" value="1" data-weight-product="false" />
                    }
                    <div class="plus">+</div>
                </div>
                <div class="button_block product_buy" data-product-id="@Model.Product.Id" data-seller-id="@Model.Product.Seller.Id" data-is-weight-product="@Model.Product.IsWeightProduct">
                    <span class="small to-cart btn btn-default transition_bg animate-load" style="height: 36px; padding: 10px;">
                        <i class="visible-xs fa fa-shopping-cart" style="width: 20px;"></i>
                        <i></i><span class="hidden-xs">Купити</span>
                    </span>
                </div>
                <div class="button_block hidden-lg"></div>
                <br>
                <div class="item-stock" style="margin-top: 20px; text-align: left;">
                    <a href="@sellerUrl">@Model.Product.Seller.Name</a><br>
                    @Model.Product.Seller.PrimaryRegionName
                </div>
            </div>
        </div>
    </div>
</div>