@using Benefit.Common.Constants
@model Benefit.DataTransfer.ViewModels.ProductPartialViewModel

<div class="product_container" id="@Model.Product.Id">
    <div class="product">
        <div class="product_img_wrap">
            @{
                var image = Model.Product.Images.OrderBy(entry=>entry.Order).FirstOrDefault();
                var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteWithSellerName, new { categoryUrl = Model.CategoryUrl ?? Model.Product.Category.UrlName, sellerUrl = Model.SellerUrl ?? Model.Product.Seller.UrlName, productUrl = Model.Product.UrlName });
            }

            <a href="@productDetailsUrl" title="@Model.Product.Name">
                @if (image == null)
                {
                    <img src="~/Images/ProductGallery/default_product_thumbnail.png" alt="@Model.Product.Name">
                }
                else
                {
                    <img src="~/Images/ProductGallery/@Model.Product.Id/@image.ImageUrl" alt="@Model.Product.Name">
                }
            </a>
        </div>

        <p class="product_name">
            <a href="@productDetailsUrl" title="@Model.Product.Name">
                <span>@Model.Product.Name</span>
            </a>
        </p>

        <div class="rating_wrap">
            <div class="perelik_rating @CommonConstants.RatingToClass[Model.Product.AvarageRating ?? default(int)]"></div>
            <p class="rating_reviews">@Model.Product.ApprovedReviews.Count відгуків</p>
        </div>
        <div class="product_price">
            @*            <span class="old_price">80,40</span>*@
            @Model.Product.Price грн/@(@Model.Product.IsWeightProduct ? "кг" : "шт")
        </div>
        <div class="product_control_wrap">
            <div class="product_like product_like_red"></div>
            <div class="product_scale"></div>
            @if (Model.Product.AvailableAmount != 0)
            {
                if (Model.AvailableForPurchase.Key)
                {
                    <a class="product_buy" href="#" data-product-id="@Model.Product.Id" data-seller-id="@Model.Product.SellerId" data-is-weight-product="@Model.Product.IsWeightProduct" disabled>Купити</a>
                }
                else
                {
                    <a class="product_buy bg-grey title-to-tooltip" href="#" disabled="disabled" title="Доставка по вибраному регіону неможлива. Доставка здійснюється по: @Model.AvailableForPurchase.Value">Купити</a>
                }
            }
            else
            {
                <a class="product_buy bg-grey" href="#" disabled="disabled">Відсутній</a>
            }
        </div>
        @*        todo: add seller label and promotion*@
        @*        <div class="product_stock">Акція</div>*@
    </div>
</div>