@using System.Text
@using Benefit.Common.Constants
@using Benefit.Domain.Models
@model Seller
@{
    var categoryIds = Model.SellerCategories.Select(entry => entry.CategoryId).Distinct().ToList();
    categoryIds.AddRange(Model.SellerCategories.Where(entry => entry.Category.ParentCategory != null).Select(entry => entry.Category.ParentCategory.Id).Distinct());
    var categoryIdsStr = string.Join(",", categoryIds);
    var sellerOptions = new StringBuilder();
    if (Model.IsBenefitCardActive)
    {
        sellerOptions.Append("BenefitCard");
    }
    if (Model.IsBonusesPaymentActive)
    {
        sellerOptions.Append(",");
        sellerOptions.Append("BonusPayment");
    }
    if (Model.ShippingMethods.Any(entry => entry.FreeStartsFrom != null))
    {
        sellerOptions.Append(",");

        sellerOptions.Append("FreeShipping");
    }
    if (Model.IsAcquiringActive)
    {
        sellerOptions.Append(",");
        sellerOptions.Append("Acquiring");
    }
}
<div class="provider_container" data-category-ids="@categoryIdsStr" data-seller-options="@sellerOptions">
    <div class="provider">
        <div class="provider_main_info">
            <div class="provider_bonus_label">@(Model.UserDiscount)%<br>бонус</div>

            <div class="provider_img_wrap">
                @{
                    var logo = Model.Images.FirstOrDefault(entry => entry.SellerId == Model.Id && entry.ImageType == ImageType.SellerLogo);
                    var logoUrl = logo == null ? "" : logo.ImageUrl;
                }
                <img src="~/Images/SellerLogo/@logoUrl" alt="@Model.Name">
            </div>
            <p class="provider_name">@Model.Name</p>
            @{
                var specifics = Model.SellerCategories.FirstOrDefault(entry => entry.IsDefault);
                var specificsStr = specifics == null ? "не доступно" : specifics.Category.Name;
            }
            <p class="provider_type">@specificsStr</p>
            <div class="rating_wrap">
                <div class="perelik_rating top"></div>
                <p class="rating_reviews">15 відгуків</p>
            </div>
            <div class="reviews_menu_wrap">
                @if (Model.HasEcommerce)
                {
                    <a href="@Url.RouteUrl(RouteConstants.SellersRouteName, new { id = Model.UrlName, action = string.Empty })" class="reviews_info margin-right-20">Інфо</a>
                    <a href="@Url.RouteUrl(RouteConstants.SellerCatalogRouteName, new { sellerUrl = Model.UrlName, categoryUrl = ViewBag.SellerUrl ?? ""})" class="reviews_menu">@Model.CatalogButtonName</a>
                }
                else
                {
                    <a href="@Url.RouteUrl(RouteConstants.SellersRouteName, new { id = Model.UrlName, action=string.Empty })" class="reviews_info width-100-px">Інфо</a>
                }
            </div>
        </div>
        <div class="provider_additional_info">
            @{
                var address = Model.Addresses.FirstOrDefault();
            }
            @if (address != null)
            {
                <div class="provider_address">
                    <span>
                        @address.Region.Name_ua
                        @if (!string.IsNullOrEmpty(address.AddressLine))
                        {
                            <span>, @address.AddressLine</span>
                        }
                    </span>
                </div>
            }
            @if (Model.IsBenefitCardActive)
            {
                <div class="provider_benefit_card"><span>Benefit Card</span></div>
            }
            @if (Model.ShippingMethods.Any())
            {
                var shipping = Model.ShippingMethods.First();
                <div class="provider_delivery"><span>Регіон доставки: @shipping.Region.Name_ua</span></div>
            }
            @{
                var schedule = Model.Schedules.FirstOrDefault(entry => entry.Day == DateTime.UtcNow.DayOfWeek);
            }
            @if (schedule != null && schedule.StartHour != null)
            {
                <div class="provider_order_intake"><span>Години роботи сьогодні<br> з @schedule.StartHour до @schedule.EndHour</span></div>
            }
            @*            <div class="provider_ball_ratio"><span>2 грн = 1 бал</span></div>*@
            @if (Model.IsBonusesPaymentActive)
            {
                <div class="provider_bonus_payment"><span>Розрахунок бонусами</span></div>
            }
        </div>
    </div>
</div>
