@model Benefit.DataTransfer.ViewModels.ProductsViewModel

<div class="vertical_menu padding-bottom-15 clear-fix" id="right-menu" data-seller-url="@(Model.Seller == null ? "" : Model.Seller.UrlName)" data-category-id="@(Model.Category == null ? "" : Model.Category.Id)">
</div>
<br class="clearfix" />

<div id="productFilters">
    @if (Model.ProductParameters.Any())
    {
        foreach (var filter in Model.ProductParameters)
        {
            if (filter.ProductParameterValues.Any())
            {
                <div class="filter-section" data-filter-name="@filter.UrlName">
                    <hr/>
                    <div class="margin-bottom-5">
                        <strong>
                            @filter.Name
                        </strong>
                    </div>
                    <div>
                        @if (filter.Type == typeof (string).ToString())
                        {
                            foreach (var filterValue in filter.ProductParameterValues)
                            {
                                <input id="@filterValue.ParameterValueUrl" class="hidden" type="checkbox">
                                <label class="label_for_check" for="@filterValue.ParameterValueUrl">@filterValue.ParameterValue</label>
                            }
                        }
                    </div>
                </div>
            }
        }
    }
</div>