@using Benefit.Common.Constants
@model Benefit.DataTransfer.ViewModels.SellersViewModel

<div id="sellerFilters">
    @if (Model.Category.ChildAsFilters)
    {
        var childCategories = Model.Category.ChildCategories.Where(entry => entry.IsActive).ToList();
        if (childCategories.Any())
        {
            <fieldset>
                <legend>Спеціалізація</legend>
                @foreach (var child in childCategories)
                {
                    var nameWithSellersCount = string.Format("{0} ({1})", child.Name, 
                        Model.Items.Count(entry => 
                                entry.SellerCategories.Select(sc => sc.CategoryId).Contains(child.Id)
                                ||
                                entry.SellerCategories.Select(sc => (sc.Category.ParentCategory == null ? null : sc.Category.ParentCategory.Id)).Contains(child.Id)
                            ));
                    <input class="hidden" type="checkbox" id="subcategory-@child.Id" name="category-ids" value="@child.Id" />
                    <label class="label_for_check" for="subcategory-@child.Id">@nameWithSellersCount</label>
                }
            </fieldset>
        }
    }
    else
    {
        <div class="vertical_menu" id="right-menu" data-category-id="@Model.Category.Id">
        </div>
    }

    <fieldset class="width-100 sidebar_hidden">
        <legend>Критерії</legend>
        <input class="hidden" type="checkbox" name="seller-options" value="MyCityOnly" id="MyCityOnly">
        <label class="label_for_check" for="MyCityOnly">Тільки моє місто (@Model.Items.Count(entry => entry.Addresses.Select(addr => addr.RegionId.ToString()).Contains(Request.Cookies[DomainConstants.RegionIdCookieKey].Value)))</label>

        <input class="hidden" type="checkbox" name="seller-options" value="BenefitCard" id="BenefitCard">
        <label class="label_for_check" for="BenefitCard">Benefit Card (@Model.Items.Count(entry => entry.IsBenefitCardActive))</label>

        <input class="hidden" type="checkbox" name="seller-options" value="FreeShipping" id="FreeShipping">
        <label class="label_for_check" for="FreeShipping">Безкоштовна доставка (@Model.Items.Count(entry => entry.ShippingMethods.Any(sh => sh.FreeStartsFrom != null)))</label>

        <input class="hidden" type="checkbox" name="seller-options" value="Acquiring" id="BankCard">
        <label class="label_for_check" for="BankCard">Оплата карткою (@Model.Items.Count(entry => entry.IsAcquiringActive))</label>

        <input class="hidden" type="checkbox" name="seller-options" value="BonusPayment" id="BonusPayment">
        <label class="label_for_check" for="BonusPayment">Використати бонуси(@Model.Items.Count(entry => entry.IsBonusesPaymentActive))</label>
    </fieldset>
</div>


@*  <p class="left_sidebar_subtitle">Балове співвідношення</p>
    <fieldset>
        <input class="hidden" type="checkbox" id="ball_ratio_01" name="ball_ratio_01" checked>
        <label class="label_for_check" for="ball_ratio_01">2 грн = 1 бал</label>

        <input class="hidden" type="checkbox" id="ball_ratio_02" name="ball_ratio_02">
        <label class="label_for_check" for="ball_ratio_02">4 грн = 1 бал</label>

        <input class="hidden" type="checkbox" id="ball_ratio_03" name="ball_ratio_03">
        <label class="label_for_check" for="ball_ratio_03">1 грн = 2 бали</label>
    </fieldset>

    <p class="left_sidebar_subtitle">Мін. сума замовлення</p>
    <fieldset>
        <input class="hidden" type="checkbox" id="min_sum_01" name="min_sum_01">
        <label class="label_for_check" for="min_sum_01">до 100 грн</label>

        <input class="hidden" type="checkbox" id="min_sum_02" name="min_sum_02">
        <label class="label_for_check" for="min_sum_02">до 200 грн</label>

        <input class="hidden" type="checkbox" id="min_sum_03" name="min_sum_03">
        <label class="label_for_check" for="min_sum_03">до 300 грн</label>
    </fieldset>
    <input type="submit" value="Фільтрувати"/>*@
