@using Benefit.Common.Constants
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.NavigationEntities.CategoriesViewModel
@{
    ViewBag.Title = Model.Category.Title;
}
@section meta
{
    <meta name="description" content="@(Model.Category == null ? string.Empty : Model.Category.MetaDescription)">
    <meta property="og:description" content="@(Model.Category == null ? string.Empty : Model.Category.MetaDescription)" />
    <meta property="og:title" content="@Model.Category.Name" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Host, Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = Model.Category.UrlName}))" />
    <meta property="og:image" content="@string.Format("{0}://{1}/Images/CategoryLogo/{2}", Request.Url.Scheme, Request.Url.Host, Model.Category.ImageUrl)" />
    <meta property="og:site_name" content="Benefit Company" />
}

<div class="wraps hover_shine">
    <div class="wrapper_inner front">
        <section>
            @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
        </section>
        <div class="right_block  wide_">
            <div class="middle ">
                <div class="container">
                    <div class="catalog_section_list row items">
                        <div class="section_block">
                            <div class="sections_wrapper">
                                <div class="list items">
                                    <div class="margin0">
                                        <div class="page-top maxwidth-theme ">
                                            @if (Model.Category.ParentCategory != null)
                                            {
                                                <div class="visible-xs">
                                                    <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = Model.Category.ParentCategory.UrlName})" style="font-size: 16px; font-weight: bold;">
                                                        < @Model.Category.ParentCategory.Name
                                                    </a>
                                                </div>
                                            }
                                            <h1 style="text-align: left;">@Model.Category.Name</h1>
                                        </div>

                                        @foreach (var cat in Model.Items)
                                        {
                                            <div class="col-md-25 col-sm-4 col-xs-6 no-padding">
                                                <div class="item category-item" style="height: 230px;">
                                                    <div class="img shine">
                                                        <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = cat.UrlName})" class="thumb">
                                                            <img src="~/Images/CategoryLogo/@cat.ImageUrl" alt="@cat.Title" title="@cat.Title">
                                                        </a>
                                                        <div class="name">
                                                            <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = cat.UrlName})" class="dark_link">@cat.Name</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <br style="clear: both;" />
                            <br />
                            <p>
                                @Html.Raw(Model.Category.Description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="left_block hidden-xs">
            <div class="left_catalog">
                @if (Model.Category.BannerImageUrl != null)
                {
                    <a href="@Model.Category.BannerUrl">
                        <img src="~/Images/CategoryBanner/@Model.Category.BannerImageUrl" style="width: 100%;" />
                    </a>
                }
                @Html.Partial("~/Views/News/_LastNewsPartial.cshtml", ViewBag.LastNews as IEnumerable<InfoPage>)
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Category.Tag))
{
    @Html.Action("ShowMessagePopup", "Home", new { message = Model.Category.Tag, showButtons = true })
}