@using Benefit.Common.Constants
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.NavigationEntities.CategoriesViewModel
@{
    //ViewBag.SellerUrlName = Model.Seller.UrlName;
    //ViewBag.Title = string.Format("{0} - {1}", Model.Category == null ? Model.Seller.CatalogButtonName : (Model.Category.Title ?? Model.Category.Name), Model.Seller.Name);
    ViewBag.Title = Model.Category.Name;
    //ViewBag.SellerUrl = Model.Seller.UrlName;
}
@section meta
{
    <meta name="description" content="@(Model.Category == null ? string.Empty : Model.Category.Description)">
}
<div class="wraps hover_shine">
    <div class="wrapper_inner front">
        <section>
            @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
        </section>

        <div class="right_block  wide_">
            <div class="middle ">
                <div class="container">
                    <div class="catalog_section_list row items visible-xs" style="margin-top: 30px;"></div>
                    <div class="catalog_section_list row items">
                        <div class="section_block">
                            <div class="sections_wrapper">
                                <div class="list items">
                                    <div class="row margin0">
                                        <h1>@Model.Category.Name</h1>
                                        @foreach (var cat in Model.Items)
                                        {
                                            <div class="col-md-25 col-sm-4 col-xs-6">
                                                <div class="item category-item" style="height: 230px;">
                                                    <div class="img shine">
                                                        <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName })" class="thumb">
                                                            <img src="~/Images/CategoryLogo/@cat.ImageUrl" alt="@cat.Title" title="@cat.Title">
                                                        </a>
                                                        <div class="name">
                                                            <a href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new { categoryUrl = cat.UrlName })" class="dark_link">@cat.Name</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="left_block">
            <div class="left_catalog">
                @Html.Partial("~/Views/News/_LastNewsPartial.cshtml", ViewBag.LastNews as IEnumerable<InfoPage>)
            </div>
        </div>
    </div>
</div>