@using System.Text
@using Benefit.Common.Constants
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models.Enums
@using Benefit.Services.Domain
@model ProductsViewModel

@{
    var title = new StringBuilder();
    if (Model.Category != null)
    {
        title.Append(Model.Category.Name + " - ");
    }
    if (Model.Seller != null)
    {
        title.Append(Model.Seller.Name);
    }
    ViewBag.Title = title.ToString();
}
@section meta
{
    <meta name="description" content="@(Model.Category == null?  Model.Seller.ShortSescription : Model.Category.Description)">
}
@section scripts{
    <script>
        var addToCartUrl = '@Url.Action("AddProduct", "Cart")';
        var checkSellerCartUrl = '@Url.Action("CheckSeller", "Cart")';
        var skip = parseInt('@ListConstants.DefaultTakePerPage');
        var getProductsUrl = '@Url.Action("GetProducts", "Catalog")';
        @{
            var categoryId = Model.Category == null ? "" : Model.Category.Id;
            var sellerId = Model.Seller == null ? "" : Model.Seller.Id;
        }
        $(function () {
            //select all checkboxes from url
            var parts = location.href.split('/');
            var lastSegment = parts.pop() || parts.pop(); // handle potential trailing slash
            var options = "";
            @if (Model.Category != null)
            {<text>
            if (lastSegment != '@Model.Category.UrlName') {
                options = lastSegment;
                $.each(options.split(";"), function (i, urlSegment) {
                    if (urlSegment === "") return;
                    var optKeyValue = urlSegment.split("=");
                    var optionName = optKeyValue[0];
                    var optionValues = optKeyValue[1].split(",");
                    if (optionName === "sort") {
                        $("select#provider_sort_select").val(optionValues[0]);
                    } else {
                        $.each(optionValues, function (j, optValue) {
                            $(".filter-section[data-filter-name=" + optionName + "] input#" + optValue).prop('checked', true);
                        });
                    }
                });
            }
            </text>
            }

            $("#add-more-products").click(function (e) {
                e.preventDefault();
                $.get(getProductsUrl + "?categoryId=@categoryId&sellerId=@sellerId&skip=" + skip + "&sort=" + $("select[name=sort]").val(), function (data) {
                    if (data.number <= parseInt('@ListConstants.DefaultTakePerPage')) {
                        $("#more-products").hide();
                    }
                    $("#more-products").before(data.products);
                    skip += data.number;
                });
            });

            var productOptionsUrl = '@Url.Action("GetProductOptions", "Tovar")';
            $("body").on("click", ".product_buy", function (e) {
                e.preventDefault();
                var productId = $(this).attr("data-product-id");
                var isWeightProduct = $(this).attr("data-is-weight-product").toLowerCase() === 'true';
                var sellerId = $(this).attr("data-seller-id");
                $.get(checkSellerCartUrl + "?sellerId=" + sellerId, function (isAnotherSeller) {
                    if (isAnotherSeller) {
                        if (!confirm("Увага! У кошику є товари від іншого постачальника. Вони будуть видалені, якщо Ви продовжите цю дію.")) {
                            return;
                        }
                    }

                    $.get(productOptionsUrl + "?productId=" + productId, function (data) {
                        if (data) {
                            $("#product-options-wrap").html(data);
                            $("#product_modal").modal('show');
                        } else {
                            AddOrderProduct(productId, sellerId, false, isWeightProduct);
                        }
                    });
                });
            });

            $("body").on('click', "#buy-product-with-options", function () {
                var productId = $(this).attr("data-product-id");
                var sellerId = $(this).attr("data-seller-id");
                AddOrderProduct(productId, sellerId, true, false);
            });

            @if (Model.Category != null)
            {
                <text>
                $("#productFilters input[type=checkbox], select#provider_sort_select").change(function () {
                    $(".loader").show();
                    var parts = location.href.split('/');
                    var lastSegment = parts.pop() || parts.pop(); // handle potential trailing slash
                    var options = "";

                    if (lastSegment != '@Model.Category.UrlName') {
                        options = lastSegment;
                    }


                    var parent = $(this).parents(".filter-section");
                    var optionName = parent.attr("data-filter-name");
                    var optionNameIndex = options.indexOf(optionName);

                    var currentOption = '';
                    var selectedValues = parent.find("input[type=checkbox]:checked").map(function () {
                        return $(this).attr("id");
                    }).get();
                    if ($(this).attr("id") === "provider_sort_select") {
                        selectedValues.push($("select#provider_sort_select").val());
                    }
                    if (selectedValues.length > 0) {
                        currentOption = optionName;
                        currentOption += "=";
                        currentOption += selectedValues.join();
                        currentOption += ";";
                    }

                    if (optionNameIndex >= 0) {
                        var ending = options.indexOf(";", optionNameIndex);
                        var oldOption = options.substring(optionNameIndex, ending + 1);
                        options = options.replace(oldOption, currentOption);
                    } else {
                        options += currentOption;
                    }
                    if (lastSegment !== '@Model.Category.UrlName') {
                        var locBuilder = location.href.replace(lastSegment + "/", "") + options;
                        if (options.length > 0)
                            locBuilder += "/";
                        location.href = locBuilder;
                    } else {
                        var locBuilder = location.href;
                        if (location.href[location.href.length - 1] !== "/") {
                            locBuilder += "/";
                        }
                        location.href = locBuilder + options + "/";
                    }
                });
                </text>
            }
        });

        function AddOrderProduct(productId, sellerId, hasOptions, isWeightProduct) {

            $(this).attr("disabled", "disabled");
            $("#buy-product, #buy-product-with-options").attr('disabled', 'disabled');
            $("#" + productId).css("opacity", 0.3);

            //todo: add products amount in the products list
            var productAmount = 1; //$("#product_amount").val();
            var productOptions;
            if (hasOptions) {
                productOptions = $(".product_modal_form input[type=checkbox]:checked, .product_modal_form input[type=radio]:checked").map(function () {
                    var id = $(this).attr("id");
                    var amount = $(this).siblings(".modal_amount_wrap").find(".product_modal_amount").val();
                    if (!amount) {
                        amount = 1;
                    }
                    return {
                        ProductOptionId: id,
                        Amount: amount
                    };
                }).get();
            } else {
                productOptions = [];
            }

            var product = {
                ProductId: productId,
                Amount: productAmount,
                IsWeightProduct: isWeightProduct,
                OrderProductOptions: productOptions
            };

            var order = {
                product: product,
                amount: productAmount
            };
            $.post(addToCartUrl + "?sellerId=" + sellerId,
                order,
                function (data) {
                    $('#product_modal').modal('hide');
                    setTimeout(function () {
                        $("#buy-product, #buy-product-with-options").removeAttr('disabled');
                        $("#" + productId).css("opacity", 1);
                        setCartSummary(data);
                    }, 1000);
                });
        }
    </script>
}
@section LeftAside{
    @Html.Partial("~/Views/Catalog/_ProductFilters.cshtml", Model)
}

@*<main class="full_content full_content_product">*@
<div class="product_row clearfix">
    <div class="padding-bottom-15 clearfix">
        <div class="col-md-9">
            @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
        </div>
        <div class="provider_sort col-md-3 filter-section" data-filter-name="sort">
            <label for="provider_sort_title">Сортувати</label>
            <select id="provider_sort_select" name="sort" class="provider_sort_select">
                <option value="Order">По замовчуванню</option>
                <option value="PriceAsc">Ціна &#8593;</option>
                <option value="PriceDesc">Ціна &#8595;</option>
                <option value="NameAsc">А-Я</option>
                <option value="NameDesc">Я-А</option>
            </select>
        </div>
    </div>
    @if (Model.Items.Any())
    {
        <div id="products-list">
            @foreach (var product in Model.Items.Take(ListConstants.DefaultTakePerPage))
            {
                var regionId = RegionService.GetRegionId();
                var partialModel = new ProductPartialViewModel { Product = product, CategoryUrl = Model.Category == null ? null : Model.Category.UrlName, AvailableForPurchase = product.AvailableForPurchase(regionId) };
                @Html.Partial("~/Views/Catalog/_ProductPartial.cshtml", partialModel)
            }
            @if (Model.Items.Count > ListConstants.DefaultTakePerPage)
            {
                <div class="product_container" id="more-products">
                    <div class="product">
                        @*<div class="more-items"></div>*@
                        <div>
                            <a class="more-items" href="#" id="add-more-products">Показати ще</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>У вибраній вами категорії не знайдено жодного товару</div>
    }

</div>
<div id="product-options-wrap"></div>
@*</main>*@
