@using System.Text
@using Benefit.Common.Constants
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@model ProductsViewModel

@{
    var title = new StringBuilder();
    if (Model.Category != null)
    {
        title.Append(Model.Category.Name + " - ");
    } 
    if (Model.Seller != null)
    {
        title.Append(Model.Seller.Name);
    }
    ViewBag.Title = title.ToString();
}

@section scripts{
    @if (Model.Category != null)
    {
        <script>
            var skip = parseInt('@ListConstants.DefaultTakePerPage');
            var getProductsUrl = '@Url.Action("GetProducts", "Catalog")';
            $("#add-more-products").click(function(e) {
                e.preventDefault();
                $.get(getProductsUrl + "?categoryId=@Model.Category.Id&skip=" + skip, function(data) {
                    if (data.number <= parseInt('@ListConstants.DefaultTakePerPage')) {
                        $("#more-products").hide();
                    }
                    $("#more-products").before(data.products);
                    skip += data.number;
                });
            });

        </script>
    }
}
@section LeftAside{
    @Html.Partial("~/Views/Catalog/_ProductFilters.cshtml", Model)
}

<main class="full_content full_content_product">
    <div class="product_row clearfix">
        @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
        @*  <div class="provider_sort">
                <label for="provider_sort_title">Сортувати</label>
                <select id="provider_sort_select" class="provider_sort_select">
                    <option>по рейтингу</option>
                </select>
            </div>*@
        @if (Model.Items.Any())
        {
            foreach (var product in Model.Items.Take(ListConstants.DefaultTakePerPage))
            {
                var partialModel = new ProductPartialViewModel { Product = product, CategoryUrl = Model.Category.UrlName };
                @Html.Partial("_ProductPartial", partialModel)
            }
            if (Model.Items.Count > ListConstants.DefaultTakePerPage)
            {
                <div class="product_container" id="more-products">
                    <div class="product">
                        @*<div class="more-items"></div>*@
                        <div>
                            <a class="more-items" href="#" id="add-more-products">Показати ще</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div>У вибраній вами категорії не знайдено жодного товару</div>
        }

    </div>
</main>
