@using Benefit.Common.Constants
@model Benefit.DataTransfer.ViewModels.NavigationEntities.SellersViewModel

@{
    ViewBag.Title = "Каталог постачальників - " + (Model.Category.Title ?? Model.Category.Name);
}
@section meta
{
    @*<meta name="description" content="@Model.Category.Description">*@
    <meta property="og:description" content="@ViewBag.Title" />
    <meta property="og:title" content="Каталог постачальників" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Host, Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = "postachalnuky"}))" />

    <meta property="og:site_name" content="Benefit Company" />
}
@section scripts{
    <script>
        var getSellersUrl = '@Url.Action("GetSellers", "Catalog")';
        var options = "";
        window.addEventListener('DOMContentLoaded', function() {
            $('body').on("click",
                ".remove-filter",
                function () {
                    var optionName = $(this).parent().attr("data-option-name");
                    var optValue = decodeURI($(this).parent().attr("data-option-value"));
                    var checkbox = $(".filter-section[data-filter-name=" + optionName + "] input#" + optValue);
                    if (checkbox.length === 0) {
                        checkbox = $(".filter-section[data-filter-name=" + optionName + "] input[name=" + optValue.replace(" ", "") + "]");
                    }
                    checkbox.click();
                });

            $(".ajax_load_btn").click(function (e) {
                e.preventDefault();
                var moreBtn = $(this);
                var currentPage = parseInt(moreBtn.attr("data-page"));
                $(".loader").show();
                $.get(getSellersUrl + "?page=" + (currentPage + 1)  + "&options=" + options, function (data) {
                    if (data.number <= parseInt('@ListConstants.DefaultTakePerPage')) {
                        moreBtn.hide();
                    }
                    $(".seller-item:last").after(data.sellers);
                    moreBtn.attr("data-page", currentPage + 1);
                    $(".loader").hide();
                });
            });

            $(".bx_filter_parameters_box_title").click(function() {
                $(this).parent().toggleClass("active");
                $(this).next().slideToggle();
            });

            $(".filter_opener").click(function(){
                $(this).toggleClass("opened");
                $(".bx_filter_vertical, .bx_filter").slideToggle(333);
            });

            //select all checkboxes from url
            var parts = location.href.split('/');
            var lastSegment = (parts.pop() || parts.pop()).replace('#', ''); // handle potential trailing slash
            var sortControl = $(".sort_btn[data-sort-value=Rating]");
            @if (Model.Category != null)
            {<text>
                 if (lastSegment.toLowerCase() != '@Model.Category.UrlName.ToLower()') {
                     options = lastSegment;
                     $.each(options.split(";"), function (i, urlSegment) {
                         if (urlSegment === "") return;
                         var optKeyValue = urlSegment.split("=");
                         if (optKeyValue.length < 2) return;
                         var optionName = optKeyValue[0];
                         var optionValues = optKeyValue[1].split(",");
                         if (optionName === "sort") {
                             var optionValue = optionValues[0];
                             sortControl = $(".sort_btn[data-sort-value=" + optionValue + "]");
                             $(".sort_btn span").removeClass("badge");
                         } else {
                             $.each(optionValues, function (j, optValue) {
                                 var checkbox = $(".filter-section[data-filter-name=" + optionName + "] input#" + decodeURI(optValue));
                                 if (checkbox.length === 0) {
                                     checkbox = $(".filter-section[data-filter-name=" + optionName + "] input[name=" + decodeURI(optValue).replace(" ", "") + "]")
                                 }
                                 checkbox.prop('checked', true);
                                 var optionvalueText = checkbox.attr("text");
                                 if (!optionvalueText) {
                                     optionvalueText = optValue;
                                 }
                                 $(".selected-filters").append(
                                     "<span class='badge padding_5 margin-right-10 margin-top-5 ' data-option-name='" + optionName + "' data-option-value='" + optValue + "'>" + optionvalueText + " <i class='fa fa-times-circle pointer remove-filter' style='font-size:1.5em'></i></span>"
                                 );
                             });
                         }
                     });
                 }
             </text>
            }
            sortControl.find("span").addClass("badge");

            @if (Model.Category != null)
            {
                <text>
                    $('body').on('change click', "#sellerFilters input[type=checkbox], .sort_btn", function (e) {
                        e.preventDefault();
                        $(".loader").show();
                        var parts = location.href.split('/');
                        var lastSegment = (parts.pop() || parts.pop()).replace("#",""); // handle potential trailing slash
                        var options = "";

                        if (lastSegment != '@Model.Category.UrlName') {
                            options = lastSegment;
                        }

                        var parent = $(this).parents(".filter-section");
                        var optionName = parent.attr("data-filter-name");
                        var optionNameIndex = options.indexOf(optionName);

                        var currentOption = '';
                        var selectedValues = parent.find("input[type=checkbox]:checked").map(function () {
                            return $(this).attr("id");
                        }).get();

                        if ($(this).attr("class").indexOf("sort_btn") >= 0) {
                            var val = $(this).attr("data-sort-value");
                            selectedValues.push(val);
                        }
                        if (selectedValues.length > 0) {
                            currentOption = optionName;
                            currentOption += "=";
                            currentOption += selectedValues.join();
                            currentOption += ";";
                        }

                        if (optionNameIndex >= 0) {
                            var ending = options.indexOf(";", optionNameIndex);
                            var oldOption = options.substring(optionNameIndex, ending + 1);
                            options = options.replace(oldOption, currentOption);
                        } else {
                            options += currentOption;
                        }
                        if (lastSegment !== '@Model.Category.UrlName') {
                            var locBuilder = location.href.replace(lastSegment + "/", "") + options;
                            if (options.length > 0)
                                locBuilder += "/";
                            location.href = locBuilder;
                        } else {
                            var locBuilder = location.href;
                            if (location.href[location.href.length - 1] !== "/") {
                                locBuilder += "/";
                            }
                            window.location.href = locBuilder + options + "/";
                        }
                    });
                </text>
            }
        });
    </script>
}
<div class="wraps hover_shine" id="content">
    <!--title_content-->
    <div class="top_inner_block_wrapper maxwidth-theme" style="height: 80px;">
        <section class="page-top maxwidth-theme ">
            @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)
            <div class="page-top-main">
                <h1 id="pagetitle">Каталог постачальників</h1>
            </div>
        </section>
    </div>					<!--end-title_content-->

    <div class="wrapper_inner " style="margin-top: 10px;">

        <div class="right_block  wide_N">
            <div class="middle ">
                <div class="container">

                    <div class="right_block1 clearfix catalog vertical" id="right_block_ajax">
                        <div class="js_filter filter_horizontal">
                            <div class="bx_filter bx_filter_vertical"></div>
                        </div>
                        <div class="inner_wrapper">
                            <div class="adaptive_filter">
                                <a class="filter_opener">
                                    <i class="fa fa-filter black"></i>
                                    <span>Фільтри та сортування</span>
                                </a>
                            </div>

                            <!--'start_frame_cache_viewtype-block'-->
                            <div class="sort_header view_block">
                                <!--noindex-->
                                <div class="sort_filter visible-lg filter-section" data-filter-name="sort">
                                    <span style="display: table-cell; vertical-align: middle;">Показати спочатку: </span>
                                    <a href="" data-sort-value="Rating" class="sort_btn" rel="nofollow">
                                        <span class="padding-10">За рейтингом</span>
                                    </a>
                                    <a href="" data-sort-value="NameAsc" class="sort_btn" rel="nofollow">
                                        <span class="padding-10">По алфавіту</span>
                                    </a>
                                    <a href="" data-sort-value="BonusDesc" class="sort_btn" rel="nofollow">
                                        <span class="padding-10">За відсотком бонуса</span>
                                    </a>
                                </div>

                                <div class="clearfix"></div>
                                <!--/noindex-->
                            </div>

                            <div class="ajax_load list">
                                <div class="display_list show_un_props">
                                    @foreach (var seller in Model.Items.Take(ListConstants.DefaultTakePerPage))
                                    {
                                        @Html.Partial("_SellerPartial", seller)
                                    }
                                </div>
                                <div class="bottom_nav margin-top-20">
                                    @if (Model.Items.Count > ListConstants.DefaultTakePerPage)
                                    {
                                        <div class="ajax_load_btn" data-page="0">
                                            <span class="more_text_ajax">Показати ще</span>
                                        </div>
                                    }
                                    @*<div class="module-pagination">
                                            <div class="nums">
                                                @for (int i = 0; i < Model.; i++)
                                                {
                                                    <a href="#" class="dark_link" id="page-">@(i + 1)</a>
                                                }
                                            </div>
                                        </div>*@
                                </div>
                                <div class="group_description_block bottom">
                                    <div>Опис каталогу постачальників</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!--'end_frame_cache_viewtype-block'-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="left_block">
            <div class="bx_filter bx_filter_vertical">
                <div class="bx_filter_section" id="sellerFilters">
                    <div class="bx_filter_parameters_box title">
                        <div class="bx_filter_parameters_box_title">
                            Фільтри
                            <div class="selected-filters">
                            </div>
                            <div class="sort_header view_block hidden-lg" style="float: right">
                                <!--noindex-->
                                <div class="sort_filter filter-section" data-filter-name="sort">
                                    <span style="display: table-cell; vertical-align: middle;">Показати спочатку: </span>

                                    <a href="" data-sort-value="Rating" class="sort_btn" rel="nofollow">
                                        <span class="icon padding_5" title="За рейтингом">&#9734; ↓</span>
                                    </a>
                                    <a href="" data-sort-value="NameAsc" class="sort_btn" rel="nofollow">
                                        <span class="icon padding_5" title="По алфавіту">A ↑</span>
                                    </a>
                                    <a href="" data-sort-value="BonusDesc" class="sort_btn" rel="nofollow">
                                        <span class="icon padding_5" title="За відсотком бонуса">% ↓</span>
                                    </a>
                                </div>
                                <!--/noindex-->
                            </div>
                        </div>
                    </div>
                    @if (Model.Category.ChildAsFilters)
                    {
                        <div class="bx_filter_parameters_box active filter-section" data-expanded="Y" data-filter-name="category">
                            <span class="bx_filter_container_modef"></span>
                            <div class="bx_filter_parameters_box_title icons_fa">
                                <div>
                                    Категорія
                                    <div class="char_name">
                                        <div class="props_list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bx_filter_parameters_box_container">
                                @foreach (var subcat in Model.Category.ChildCategories.OrderBy(entry => entry.Order))
                                {
                                    <div class="bx_filter_block limited_block">
                                        <div class="bx_filter_parameters_box_container">
                                            <input type="checkbox" id="@subcat.UrlName" name="@subcat.UrlName" text="@subcat.Name" class="hidden">
                                            <label class="bx_filter_param_label  last" for="@subcat.UrlName">
                                                <span class="bx_filter_input_checkbox">
                                                    <span class="bx_filter_param_text">@subcat.Name</span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="clb"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="bx_filter_parameters_box active filter-section" data-expanded="Y" data-filter-name="filter">
                        <span class="bx_filter_container_modef"></span>
                        <div class="bx_filter_parameters_box_title icons_fa">
                            <div>
                                Критерії
                                <div class="char_name">
                                    <div class="props_list">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bx_filter_parameters_box_container">
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="mycity" name="mycity" class="hidden" text="моє місто">
                                    <label class="bx_filter_param_label  last" for="mycity">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Тільки моє місто</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="paymentcard" name="paymentcard" class="hidden" text="банківською картою">
                                    <label class="bx_filter_param_label  last" for="paymentcard">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Оплата банківською картою</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="paymentbonuses" name="paymentbonuses" class="hidden" text="Використати бонуси">
                                    <label class="bx_filter_param_label  last" for="paymentbonuses">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Використати бонуси</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="freeshipping" name="freeshipping" class="hidden" text="Безкоштовна доставка">
                                    <label class="bx_filter_param_label  last" for="freeshipping">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Безкоштовна доставка</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="benefitcard" name="benefitcard" class="hidden" text="Benefit Card">
                                    <label class="bx_filter_param_label  last" for="benefitcard">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Benefit Card</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                            <div class="bx_filter_block limited_block">
                                <div class="bx_filter_parameters_box_container">
                                    <input type="checkbox" id="benefitonline" name="benefitonline" class="hidden" text="Benefit Online">
                                    <label class="bx_filter_param_label  last" for="benefitonline">
                                        <span class="bx_filter_input_checkbox">
                                            <span class="bx_filter_param_text">Benefit Online</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="clb"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    @Html.Partial("_SocialGroups")
                </div>
            </div>
        </div>
    </div>
</div>

