@model  Benefit.Web.Models.ProductOptionsViewModel

@{
    ViewBag.Title = "Опції продукта";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script>
        function ProductOptionGroup(id) {
            $("#groupEditContainer").load(routePrefix + "/Admin/ProductOptions/ProductOptionGroup?categoryId=@Model.CategoryId&sellerId=@Model.SellerId&productId=@Model.Product.Id&id=" + id, function (response, status, xhr) {
                $("#dialog").removeClass('hide').dialog({
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        }

        function ProductOptionValue(parentId) {
            $("#groupEditContainer").load(routePrefix + "/Admin/ProductOptions/ProductOptionValue?parentId=" + parentId + "&categoryId=@Model.CategoryId&sellerId=@Model.SellerId&productId=@Model.Product.Id", function (response, status, xhr) {
                $("#dialog").removeClass('hide').dialog({
                    minWidth: 500,
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        }
    </script>
}

<a class="btn btn-purple btn-sm" onclick="ProductOptionGroup('')" href="#">Додати групу опцій</a>
<br />
<div id="groupEditContainer" class="margin-top-10">

</div>
@foreach (var group in Model.ProductOptions)
{
    <div class="margin-top-10">
        <h3 class="pull-left">@group.Name</h3>
        @if (group.Editable)
        {
            <a class="btn btn-success btn-sm margin-right-10 pull-left" onclick="ProductOptionValue('@group.Id')" title=" додати опцію">
                <i class="icon-plus"></i>
            </a>
            <a class="btn btn-primary margin-right-10 pull-left btn-sm" href="#" target="_blank" title="Редагувати" onclick="ProductOptionGroup('@group.Id')">
                <i class="icon-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm pull-left" title="Видалити" href="@Url.Action("Delete", new { id = group.Id, categoryid = Model.CategoryId, sellerid = Model.SellerId, productid = Model.Product.Id })" onclick=" return confirm('Ви впевненні?') ">
                <i class="icon-trash"></i>
            </a>
        }
        <div class="clearfix"></div>
    </div>
    <hr class="margin-top-0" />
    foreach (var child in group.ChildProductOptions)
    {
        <div>
            @child.Name (+@child.PriceGrowth)
            @if (group.Editable)
            {
                <a href="@Url.Action("Delete", new { id = child.Id, categoryid = Model.CategoryId, sellerid = Model.SellerId, productid = Model.Product.Id })" onclick=" return confirm('Ви впевненні?') ">
                    <i class="icon-remove red"></i>
                </a>
            }
        </div>
    }
}