@model  Benefit.Web.Models.ProductOptionsViewModel
@using Benefit.Domain.Models
@{
    if (Model.CategoryName != null)
    {
        ViewBag.Title = "Опції товарів категорії " + Model.CategoryName;
    }
    if (Model.ProductId != null)
    {
        ViewBag.Title = "Опції товару " + Model.Product.Name;
    }
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    <script>
        function ProductOptionGroup(id) {
            $("#groupEditContainer").load(routePrefix + "/Admin/ProductOptions/ProductOptionGroup?categoryId=@Model.CategoryId&sellerId=@Model.SellerId&productId=@Model.ProductId&id=" + id, function (response, status, xhr) {
                $(".modal").modal();
            });
        }

        function ProductOptionValue(parentId) {
            $("#groupEditContainer").load(routePrefix + "/Admin/ProductOptions/ProductOptionValue?parentId=" + parentId + "&categoryId=@Model.CategoryId&sellerId=@Model.SellerId&productId=@Model.ProductId", function (response, status, xhr) {
                $("#dialog").removeClass('hide').dialog({
                    minWidth: 500,
                    position: { my: "center", at: "center top+300", of: window },
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        }

        $(function () {
            var saveOptionsOrderUrl = '@Url.Action("Index")';
            var connectOptionsUrl = '@Url.Action("Connect")';

            $(".chosen-select").chosen({
                search_contains: true
            });

            $("#SellerId").change(function () {
                var sellerId = this.value;
                location.href = insertUrlParam("sellerId", sellerId);
            });

            $(".options-list").sortable();
            $(".options-list").disableSelection();

            $(".show-connect-section").click(function (e) {
                e.preventDefault();
                var li = $(this).parent();
                var section = $(".options-select-container").eq(0).clone();
                $(this).after(section);
                li.find(".options-select-container").show();
            });

            $("body").on("click", ".btn-connect-option", function () {
                var optionId = $(this).parents("li").attr("data-option-id");
                var connectToOptionId = $(this).prev("select").val();
                $.post(connectOptionsUrl, { optionId: optionId, connectToOptionId: connectToOptionId }, function () {
                    location.reload();
                });
            });

            $("#save-ordering").click(function () {
                $("#save-ordering").prop("disabled", true);
                var groupsList = [];
                $("#product-options-container ul").each(function () {
                    var groupId = $(this).attr("data-option-id");
                    groupsList.push(groupId);
                    var currentListContaner = $(this);
                    var sortedCats = [];
                    currentListContaner.find("li").each(function () {
                        var catId = $(this).attr("data-option-id");
                        sortedCats.push(catId);
                    });
                    $.ajax({
                        type: 'Post',
                        dataType: 'json',
                        url: saveOptionsOrderUrl,
                        data: JSON.stringify({ sortedOptions: sortedCats }),
                        contentType: 'application/json; charset=utf-8',
                        async: true
                    });
                });

                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    url: saveOptionsOrderUrl,
                    data: JSON.stringify({ sortedOptions: groupsList }),
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        flashMessage(data);
                        $("#save-ordering").removeAttr("disabled");
                    },
                    error: function (data) {
                        console.debug(data);
                    }
                });
            });
        });
    </script>
}
<div>
    @if (Model.ProductId != null)
    {
        <h3>Опції товару "@Model.Product.Name"</h3>
        <a href="@Url.Action("Index", new { sellerId = Model.Product.SellerId, categoryId = Model.Product.CategoryId })" class="font-bigger">
            Редагування опцій категорії "@Model.Product.Category.Name"
        </a>
        <br />
    }
    else
    {
        <a href="@Request.UrlReferrer.AbsoluteUri"><= Назад до опцій товару</a>
        <h3>Опції категорії "@Model.CategoryName"</h3>
    }
</div>
<div class="options-select-container clearfix" style="display: none;">
    <select class="form-control width-70 pull-left">
        @foreach (var group in Model.ProductOptions.OrderBy(entry => entry.Order))
        {
            <optgroup label="@group.Name">
                @foreach (var child in group.ChildProductOptions.OrderBy(entry => entry.Order))
                {
                    <option value="@child.Id">@child.Name</option>
                }
            </optgroup>
        }
    </select>
    <button class="btn-connect-option btn btn-sm btn-success pull-left">Прив’язати</button>
</div>
<div class="row">
    @if (string.IsNullOrEmpty(Request.QueryString["productId"]) && Seller.CurrentAuthorizedSellerId == null)
    {
        <div class="col-md-3">
            @Html.DropDownList("SellerId", Model.Sellers as IEnumerable<SelectListItem>, "Не обрано", new { @class = "chosen-select" })
        </div>
    }
    <div class="col-md-12">
        <a class="btn btn-purple btn-sm margin-top-10" onclick="ProductOptionGroup('')" href="#">Додати групу опцій</a>
        <a class="btn btn-success btn-sm margin-top-10" href="#" id="save-ordering">Зберегти сортування</a>
    </div>
</div>
<br />

<div id="groupEditContainer" class="margin-top-10">
</div>
<div id="product-options-container">
    @foreach (var group in Model.ProductOptions.OrderBy(entry => entry.Order))
    {
        <div class="margin-top-10">
            <h3>
                <span class="pull-left margin-right-10">@group.Name</span>
                @if (group.Editable)
                {
                    <a class="btn btn-success btn-sm margin-right-10 pull-left" onclick="ProductOptionValue('@group.Id')" title=" додати опцію">
                        <i class="icon-plus"></i>
                    </a>
                    <a class="btn btn-primary margin-right-10 pull-left btn-sm" href="#" title="Редагувати" onclick="ProductOptionGroup('@group.Id')">
                        <i class="icon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm pull-left" title="Видалити" href="@Url.Action("Delete", new { id = group.Id, categoryid = Model.CategoryId, sellerid = Model.SellerId, productid = Model.ProductId })" onclick=" return confirm('Ви впевненні?') ">
                        <i class="icon-trash"></i>
                    </a>
                }
                else
                {
                    <span>(редагування в опціях категорії)</span>
                }
            </h3>
            <div class="clearfix"></div>
        </div>
        <hr class="margin-top-0" />
        <ul class="options-list no-list-style" data-option-id="@group.Id">
            @foreach (var child in group.ChildProductOptions.OrderBy(entry => entry.Order))
            {
                <li class="well well-sm clearfix width-30 margin-bottom-5 cursor-move" data-option-id="@child.Id">
                    @child.Name (+@child.PriceGrowth)
                    @if (child.BindedProductOption != null)
                    {
                        <span>(-> @child.BindedProductOption.Name)</span>
                    }
                    @if (group.Editable)
                    {
                        <a href="@Url.Action("Delete", new {id = child.Id, categoryid = Model.CategoryId, sellerid = Model.SellerId, productid = Model.ProductId})" onclick=" return confirm('Ви впевненні?') ">
                            <i class="icon-remove red"></i>
                        </a>
                    }
                    <a href="#" class="show-connect-section">
                        <i class="icon-exchange green"></i>
                    </a>
                </li>
            }
        </ul>
    }
</div>