@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@using Benefit.Common.Helpers
@model Benefit.DataTransfer.ViewModels.PartnerTransactionsViewModel
<div id="personal_charges" class="personal_charges tab-pane fade active in">
    <div class="controls_block clearfix padding-top-15">
        <form class="controls_block_form">
            <div class="finance_tab_title">
                <a href="" class="partner_menu_back"></a>
                <span>Особисті нарахування</span>
            </div>
            <p class="controls_block_title orders_title">Пошук по даті нарахувань</p>
            <div class="controls_block order_controls clearfix">
                <form class="controls_block_form">
                    <div class="calendar-icon"></div>
                    <input class="controls_block_search width-40 date-range-picker" type="text" placeholder="Оберіть дату" value="@Model.DateRange">
                    <button class="controls_block_search_btn"><i></i>Пошук</button>
                </form>
            </div>
        </form>
    </div>
    <div class="finance_table_wrap">

        <table class="personal_charges_table main_table">
            <tr>
                <th>Дата</th>
                <th>Вид операції</th>
                <th>Бонуси</th>
                <th>Баланс в обробці</th>
                <th>Баланс доступні</th>
            </tr>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.Time.ToLocalTimeWithDateFormat()</td>
                    <td>
                        <span>
                            @Enumerations.GetEnumDescription(transaction.Type)
                            @if (transaction.Type == TransactionType.CashbackBonus || transaction.Type == TransactionType.HangingToGeneral)
                            {
                                <span>№@transaction.Order.OrderNumber</span>
                            }
                        </span>
                        @if (transaction.Type == TransactionType.CashbackBonus || transaction.Type == TransactionType.HangingToGeneral)
                        {
                            <div class="details_button" data-order-id="@transaction.Order.Id"></div>
                        }
                    </td>
                    @{ var className = transaction.Bonuses > 0 ? "text-success" : "text-danger"; }
                    <td class="@className">
                        @if (transaction.Bonuses > 0)
                        {
                            <span>+</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                        @transaction.Bonuses.ToDoubleDigits()
                    </td>
                    <td>
                        @if (transaction.Type == TransactionType.CashbackBonus)
                        {
                            <span>
                                @transaction.BonusesBalans.ToDoubleDigits()
                            </span>
                        }
                    </td>
                    <td>
                        @if (transaction.Type != TransactionType.CashbackBonus)
                        {
                            <span>
                                @transaction.BonusesBalans.ToDoubleDigits()
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>