@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Order
<div class="history_modal modal fade in" id="history_modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="history_modal_close" data-dismiss="modal" aria-hidden="true"><span></span></div>
            <div class="modal-body">
                <p class="history_modal_title">Інформація про замовлення</p>
                <table class="order_ifo_table">
                    <tbody>
                        <tr>
                            <th>Номер</th>
                            <th>Дата</th>
                            <th>Сума (грн)</th>
                            <th>Бали</th>
                            <th>Бонуси</th>
                            <th>Спосіб оплати</th>
                            <th>Спосіб доставки</th>
                            <th>Адреса доставки</th>
                        </tr>
                        <tr>
                            <td>@Model.OrderNumber</td>
                            <td>@Model.Time.ToLocalTimeWithDateFormat()</td>
                            <td>@Model.Sum.ToString("F")</td>
                            <td>@Model.PointsSum.ToString("F")</td>
                            <td>@Model.PersonalBonusesSum.ToString("F")</td>
                            <td>@Enumerations.GetEnumDescription(Model.PaymentType)</td>
                            <td>@Model.ShippingName</td>
                            <td>@Model.ShippingAddress</td>
                        </tr>
                    </tbody>
                </table>
                <p class="history_modal_title">Товари в кошику</p>
                <table class="order_in_table">
                    <thead>
                        <tr>
                            <th>Назва</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th>Сума</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.OrderProducts)
                        {
                            var productOptionsSum = product.DbOrderProductOptions.Sum(entry => entry.ProductOptionPriceGrowth * entry.Amount);
                            var productSum = product.ProductPrice * product.Amount;
                            <tr>
                                <td>@product.ProductName</td>
                                <td>@product.Amount</td>
                                <td>@product.ProductPrice</td>
                                <td>@((productSum + productOptionsSum).ToString("F"))</td>
                            </tr>
                            foreach (var productOption in product.DbOrderProductOptions)
                            {
                                <tr>
                                    <td>@productOption.ProductOptionName</td>
                                    <td>@productOption.Amount</td>
                                    <td>@productOption.ProductOptionPriceGrowth</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <table class="order_status_table">
                    <tbody>
                        <tr>
                            <td>
                                Статус замовлення: @Enumerations.GetEnumDescription(Model.Status)
                            </td>
                            <td>
                                <table class="order_status_table">
                                    <tr>
                                        <td>
                                            Сума
                                        </td>
                                        <td>
                                            @Model.Sum.ToString("F")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Доставка
                                        </td>
                                        <td>
                                            @Model.ShippingCost.ToString("F")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            До сплати
                                        </td>
                                        <td>
                                            @((Model.Sum + Model.ShippingCost).ToString("F"))
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @* <div class="order_repeat_wrap">
                        <button class="order_repeat">Повторити замовлення</button>
                        <div class="order_question">?</div>
                    </div>*@
            </div>
        </div>
    </div>
</div>