@using Benefit.Common.Extensions
@model  KeyValuePair<int, IEnumerable<Benefit.Domain.Models.ApplicationUser>>
@if (Model.Value.Any())
{
    var isHiddenClass = Model.Key == 0 ? "" : "hidden";
    <ul class="clearfix structure_table @isHiddenClass">
        @foreach (var partner in Model.Value)
        {
            <li class="partner-level-@Model.Key" id="@partner.Id" data-structure-level="@Model.Key">
                <div class="structure_table_row">
                    <div class="expand"></div>
                    <div class="table_content">
                        <div class="structure_table_name">@partner.FullName</div>
                        <div class="structure_table_status">@partner.Status.ToString()</div>
                        <div class="structure_table_balls">@partner.PointsAccount.ToString("F")</div>
                        <div class="structure_table_bonuses">@partner.BonusAccount.ToString("F")</div>
                        <div class="structure_table_register_date">@partner.RegisteredOn.ToLocalTimeWithDateFormat()</div>
                        <div class="structure_table_register_location">@partner.Region.Name_ua</div>
                        <div class="structure_table_register_email">
                            <input type="text" value="@partner.Email" />
                        </div>
                        <div class="structure_table_register_phone">@partner.PhoneNumber</div>
                        <div class="structure_table_register_card_number">@partner.CardNumber</div>
                        <div class="structure_table_register_ref_code">@partner.ExternalNumber</div>
                    </div>
                </div>
            </li>
        }
    </ul>
}