@using System.Globalization
@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.PartnerTransactionsViewModel

@{
    ViewBag.Title = "Фінансовий облік";
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}

@section PartnerHead
{
    @Html.Partial("_PartnerHead", Model.User)
}
@section styles {
    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script>
        $(function () {
            $('.date-range-picker').daterangepicker({
                locale: {
                    format: 'DD.MMM.YYYY',
                    "applyLabel": "Ок",
                    "cancelLabel": "Відміна",
                    "customRangeLabel": "Обрати період",
                    "firstDay": 1,
                    "daysOfWeek": [
                        "Нд",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ],
                    "monthNames": [
                        "Січень",
                        "Лютий",
                        "Березень",
                        "Квітень",
                        "Травень",
                        "Червень",
                        "Липень",
                        "Серпень",
                        "Вересень",
                        "Жовтень",
                        "Листопад",
                        "Грудень"
                    ]
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                autoApply: true
            });

            var orderDetailsUrl = '@Url.Action("GetOrderDetails", "Panel")';

            $(".details_button").click(function () {
                var orderId = $(this).attr("data-order-id");
                $.get(orderDetailsUrl + "?orderId=" + orderId, function (data) {
                    if (data) {
                        $("#order-details-wrap").html(data);
                        $("#history_modal").modal('show');
                    }
                });
            });

            $(".controls_block_search_btn").click(function (e) {
                e.preventDefault();
                var loc = location.href.toString();
                var dateRange = $(this).prev(".date-range-picker").val().replace(/ /g, '');//.replace(new RegExp('/', 'g'), '.');
                var startIndexOf = loc.indexOf("dateRange=");
                if (startIndexOf > 0) {
                    var endIndexOf = loc.indexOf('#');
                    if (endIndexOf < 0) {
                        endIndexOf = loc.length;
                    }
                    var oldDateRange = loc.substring(startIndexOf + 'dateRange='.length, endIndexOf);
                    loc = loc.replace(oldDateRange, dateRange);
                    location.href = loc;
                    return;
                } else {
                    var startHash = loc.indexOf("#");
                    var tab = "";
                    if (startHash > 0) {
                        tab = loc.substring(startHash, loc.length);
                        loc = loc.substring(0, startHash);
                    }
                    if (loc.indexOf("?") > 0) {
                        loc = loc + "&dateRange=" + dateRange + tab;
                    } else {
                        loc = loc + "?dateRange=" + dateRange + tab;
                    }
                    location.href = loc;
                }
            });
        });
    </script>
}
<div class="partner_main col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <ul class="profile_menu nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#bonus_account">Облік <br>бонусів</a></li>
        <li><a data-toggle="tab" href="#personal_charges">Особисті <br>нарахування</a></li>
        <li><a data-toggle="tab" href="#bonuses_invitation">Бонус за <br>запрошення</a></li>
        @*        <li><a data-toggle="tab" href="#bonuses_sum">Загальна <br>сума бонусів</a></li>*@
        <li><a data-toggle="tab" href="#bonuses_used">Використати <br>бонуси</a></li>
    </ul>

    <div class="finance_fixed_block">
        <div class="bonuses_available">
            Доступні бонуси: <span>
                @Model.User.BonusAccount.ToDoubleDigits()
            </span>
        </div>
        <div class="bonuses_processing">
            Бонуси в обробці:  <span>
                @Model.User.HangingBonusAccount.ToDoubleDigits()
            </span>
        </div>
        @*        <div class="products_full">Баловий товарообіг партнерів за поточний період: <span>650,97</span></div>*@
    </div>

    <div class="tab-content">
        @Html.Partial("_FinanceGeneralPrtial", Model)

        @Html.Partial("_FinancePersonalPartial", Model)

        @Html.Partial("_FinanceMentorPartial", Model)


        @*<div id="bonuses_sum" class="bonuses_sum tab-pane fade">
                <table class="bonuses_sum_table main_table">
                    <tr>
                        <th>Період</th>
                        <th>Сума нарахувань</th>
                    </tr>
                    <tr>
                        <td>вересень 2016</td>
                        <td>3250,00</td>
                    </tr>
                    <tr>
                        <td>серпень 2016</td>
                        <td>8965,5</td>
                    </tr>
                    <tr>
                        <td>липень  2016 </td>
                        <td>13,01</td>
                    </tr>
                    <tr>
                        <td>червень  2016 </td>
                        <td>14,00</td>
                    </tr>
                    <tr>
                        <td>травень 2016 </td>
                        <td>6565,00</td>
                    </tr>
                    <tr>
                        <td>квітень 2016 </td>
                        <td>2270,00</td>
                    </tr>
                    <tr>
                        <td>березень 2016 </td>
                        <td>4143,20</td>
                    </tr>
                    <tr>
                        <td>лютий 2016 </td>
                        <td>250,00</td>
                    </tr>
                    <tr>
                        <td>січень 2016 </td>
                        <td>65,98</td>
                    </tr>
                    <tr>
                        <td>грудень 2015 </td>
                        <td>300,26</td>
                    </tr>
                    <tr class="bonuses_sum_total_row">
                        <td>Всього</td>
                        <td class="bonuses_sum_total">356089,90</td>
                    </tr>
                </table>

                <div class="bottom_control clearfix">
                    <div class="pagination_wrap">
                        <div class="pagination_prew">&lt;</div>
                        <ul class="pagination">
                            <li class="active">1</li>
                            <li>2</li>
                        </ul>
                        <div class="pagination_next">&gt;</div>
                    </div>
                </div>
            </div>*@


        <div id="bonuses_used" class="bonuses_used tab-pane fade">
            <p class="bonuses_used_title">Оплата бонусами за товари та послуги</p>
            <p class="bonuses_used_decription">
                Використати бонуси ви можете для замовлення продуктів харчування, господарських та дитячих товарів, побутової
                хімії, ваучерів для поповнення мобільного телефону, паливних карток для АЗС, піци, суші та інших страв і напоїв у закладах харчування, а також бонусних карток та терміналів Benefit Card.<br>
                Перелік пропозицій для обміну бонусів постійно зростає. Комісія при оплаті бонусами становить 4%.
            </p>
            <a href="#" class="bonuses_used_btn">Перейти до закладів</a>

            <p class="bonuses_used_title">Переведення бонусів іншому партнеру</p>
            <p class="bonuses_used_decription">Перерахунок іншому партнеру доступний від 1000 бонусів. Комісія при перерахунку становить 1%. <br>Введіть реферальний код партнера, якому буде проводитись переказ.</p>
            <a href="#" class="bonuses_used_btn">Перевести іншому  партнеру</a>

            <p class="bonuses_used_title">Виведення коштів у готівку</p>
            <p class="bonuses_used_decription">
                У вас є можливість вивести готівку із рахунку в системі Benefit.<br>
                Для цього ваш акаунт має бути верифікований. Для цього заповніть форму,
                яка відкриється  після натиснення кнопки.
            </p>
            <a href="#" class="bonuses_used_btn">Верифікація акаунту</a>
        </div>

    </div>
</div>
<div id="order-details-wrap"></div>