@model Benefit.Domain.Models.ApplicationUser

@{
    ViewBag.Title = "Профіль";
    ViewBag.CabinetProfileClass = "kabinet_profile";
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/jquery.mask.min.js"></script>
    <script src="~/Scripts/address.js"></script>
    <script>
        var deleteAddressUrl = '@Url.Action("DeleteUserAddress")';
        var deleteCardUrl = '@Url.Action("RemoveRegisteredCard", "BenefitFamily")';

        $(function () {
            $("body").on("click", "#partner-referal", function () {
                $(this).select();
            });
            try {
                $('.number-input').mask("999999");
            } catch (err) {
            }

            SetRegionsAutocomplete();

            $(".address_delete").click(function () {
                var addressBlock = $(this).parents(".address_block");
                var addressId = $(this).attr("data-address-id");
                $.post(deleteAddressUrl + "?id=" + addressId, null, function () {
                    addressBlock.remove();
                });
            });
            
            $(".remove-card").click(function(e) {
                e.preventDefault();
                var parent = $(this).parent();
                var cardNumber = $(this).attr("data-card-number");
                $.post(deleteCardUrl, {
                    cardNumber: cardNumber
                }, function() {
                    parent.remove();
                });
            });
        });
    </script>
}
<div class="partner_main col-lg-9 col-md-9 col-sm-9 col-xs-9">
    @Html.Partial("_FlashMessage")

    <ul class="profile_menu nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#base">Основна</a></li>
        @*        <li><a data-toggle="tab" href="#addition">Додатково</a></li>*@
        <li><a data-toggle="tab" href="#address">Адреси доставки</a></li>
        <li><a data-toggle="tab" href="#security">Безпека</a></li>
        <li><a data-toggle="tab" href="#change_data">Зміна даних</a></li>
        <li><a data-toggle="tab" href="#registered-cards">Мої реєстраційні карти</a></li>
    </ul>

    <div class="tab-content">
        <div id="base" class="base tab-pane fade in active">
            <p class="profile_title">Ім’я та прізвище</p>
            <p class="profile_title_description">@Model.FullName</p>
            <p class="profile_title">Електронна пошта</p>
            <p class="profile_title_description">@Model.Email</p>
            <p class="profile_title">Телефон</p>
            <p class="profile_title_description">@Model.PhoneNumber</p>
            <p class="profile_title">Реєстраційний код</p>
            <p class="profile_title_description">@Model.ExternalNumber</p>
            @using (Html.BeginForm("Profile", "Panel"))
            {
                <p class="profile_title">Реєстраційне посилання</p>
                <p class="profile_title">
                    <input id="partner-referal" type="text" value="@Url.RouteUrl("OldRegister", new { id = Model.ExternalNumber }, Request.Url.Scheme)" readonly />
                </p>
                <hr class="col-md-12" />

                @Html.ValidationSummary()
                <p class="profile_title">Номер картки</p>
                <p class="profile_title">
                    @if (string.IsNullOrEmpty(Model.CardNumber))
                    {
                        <input id="partner-referal" class="number-input" name="CardNumber" type="text" />
                    }
                    else
                    {
                        <input id="partner-referal" name="CardNumber" type="text" value="@Model.CardNumber" readonly />
                        <a href="@Url.Action("contact_us", new { subject = "Запит на видалення картки/брелка з мого акаунту", body = "Прошу видалити картку номер " + Model.CardNumber + " у зв’язку з:" })" title="Видалити картку" id="remove-card" class="title-to-tooltip">
                            <i class="glyphicon glyphicon-remove font-red"></i>
                        </a>
                    }
                </p>

                <p class="profile_title">
                    <label for="profile_name">Місто / Населений пункт</label>
                    <input id="profile_name" class="regionSearch" type="text" value="@Model.Region.Name_ua">
                    <input id="profile_name" name="RegionId" type="hidden" value="@Model.RegionId">
                    <label for="profile_address">Адреса</label>
                    <input id="profile_address" name="Address" type="text" value="@Model.Address">
                </p>

                <input type="submit" class="btn btn-success font-white" value="Зберегти дані" />

                if (Model.IsCardVerified)
                {
                    <img src="~/Content/img/kartka_verifikovana.png" style="width: 100%;" />
                }
                else
                {
                    <p class="verification_data">Для отримання можливості взяти участь у плані винагород<br> необхідно пройти процедуру верифікації бонусної картки</p>
                    <a class="profile_verification" href="@Url.Action("VerifyCard")">Верифікація картки</a>
                }

                <p class="verification_data">Для операцій по перерахунку бонусів чи виведення їх в готівку<br> в цілях безпеки та згідно чинного законодавства України<br> вам потрібно пройти верифікацію акаунту</p>

                <button type="button" class="profile_verification">Верифікація акаунту</button>
            }

        </div>

        @*<div id="addition" class="addition tab-pane fade">
                <form class="profile_addition_form">
                    <label for="profile_birthday">Дата народження</label>
                    <input onkeyup="this.value=this.value.replace(/[^\d\.]+/g,'')" id="profile_birthday" type="text" placeholder="18.04.1994">

                    <label for="profile_sex">Стать</label>
                    <select name="profile_sex" id="profile_sex">
                        <option selected>жіноча</option>
                        <option>чоловіча</option>
                    </select>

                    <label for="profile_aducation">Освіта</label>
                    <input id="profile_aducation" type="text" placeholder="базова вища">

                    <label for="profile_job">Професія</label>
                    <input id="profile_job" type="text" placeholder="викладач">

                    <label for="profile_family">Сімейний статус</label>
                    <input id="profile_family" type="text" placeholder="Заміжня">

                    <label for="profile_children">Діти</label>
                    <input id="profile_children" type="text" placeholder="1">

                </form>
            </div>*@

        <div id="address" class="address tab-pane fade">
            <p class="profile_adress_title">Адреси доставки</p>
            @foreach (var address in Model.Addresses)
            {
                <div class="address_block">
                    <p class="adress_name">@address.FullName</p>
                    <p class="adress_main">@(address.Region.Name_ua + ", " + address.AddressLine)</p>
                    <p class="adress_phone">@address.Phone</p>
                    <a class="address_adit" href="@Url.Action("UserAddress", new { id = address.Id })">Редагувати</a>
                    <a class="address_delete" data-address-id="@address.Id">Видалити</a>
                </div>
            }
            <a class="address_add" href="@Url.Action("UserAddress")">Додати нову адресу</a>
        </div>

        <div id="security" class="security tab-pane fade">
            @using (Html.BeginForm("ChangePassword", "Account", new { area = string.Empty }))
            {
                <div class="form-group">
                    <input name="currentPassword" type="password" placeholder="Поточний пароль" class="form-control width-30" />
                    <br />
                    <input name="newPassword" type="password" placeholder="Новий пароль" class="form-control width-30" />
                    <br />
                    <button class="btn btn-success">Змінити пароль</button>
                </div>

            }
            @*<button class="change_pin">змінити пін-код</button>
                <p class="security_description">Пін-код використовується під час проведення будь-яких фінансових операцій, які пов’язані із використанням бонусів.</p>
                <p class="security_description">При зміні паролю чи пін-коду необхідно перейти за посиланням, яке буде відправлено компанією на вашу електронну пошту.</p>*@
        </div>

        <div id="change_data" class="change_data tab-pane fade">
            <form class="profile_change_data_form" action="@Url.Action("SendProfileChangeRequest", "Panel")" method="POST">
                <textarea placeholder="Введіть дані, які необхідно змінити.
Та вкажіть причину зміни." name="message"></textarea>
                <button class="request_change_data" type="submit">Подати запит на зміну персональних даних</button>
            </form>
        </div>
        <div id="registered-cards" class="tab-pane fade">
            @Html.Action("RegisteredCards", "BenefitFamily", new { id = Model.Id })
        </div>
    </div>
</div>
