@using System.Globalization
@model Benefit.Domain.Models.InfoPage
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#uk">
                <i class="icon-country icon-uk bigger-110"></i>
                Українська
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#ru">
                <i class="icon-country icon-ru bigger-110"></i>
                Русский
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="uk" class="tab-pane in active">
            <div class="form-group">
                <label class="control-label col-md-1" for="Name">Назва</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="UrlName">Url назва</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UrlName, new { @class = "urlName" })
                    @Html.ValidationMessageFor(model => model.UrlName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="Order">Порядковий номер</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Order)
                    @Html.ValidationMessageFor(model => model.Order)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="IsActive">Активна</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsActive)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="IsNews">Новина</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsNews)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="Name">Дата створення</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CreatedOn)
                    <span>(Формат: 12/23/2016 4:12:05)</span>
                    @Html.ValidationMessageFor(model => model.CreatedOn)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="Keywords">Ключові слова для пошуку (через кому)</label>

                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Keywords, new { @class = "width-50" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="ShortContent">Короткий опис (до 160 символів)</label>

                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.ShortContent, new { cols = 45, rows = 5, @class="width-50" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-1" for="Description">Контент</label>

                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content, new { cols = 45, rows = 5 })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">Зображення</label>
                @Html.HiddenFor(m => m.ImageUrl)

                <div class="col-md-10">
                    <input type="file" name="newsLogo" id="newsLogo" />

                    <img src="~/Images/NewsLogo/@Model.ImageUrl" />
                </div>
            </div>
        </div>

        <div id="ru" class="tab-pane">
            @for (var i = 0; i < Model.Localizations.Count; i++)
            {
                <div class="form-group">
                    @Html.HiddenFor(m => m.Localizations[i].Id)
                    @Html.HiddenFor(m => m.Localizations[i].LanguageCode)
                    @Html.HiddenFor(m => m.Localizations[i].ResourceField)
                    @Html.HiddenFor(m => m.Localizations[i].ResourceId)
                    @Html.HiddenFor(m => m.Localizations[i].ResourceType)
                    <label class="control-label col-md-1" for="Name">
                        @HttpContext.GetGlobalResourceObject("Resources", Model.Localizations[i].ResourceField, new CultureInfo("ru-RU"))
                    </label>
                    <div class="col-md-10">
                        @if (Model.Localizations[i].ResourceField == "Content")
                        {
                            @Html.TextAreaFor(m => m.Localizations[i].ResourceValue, new { cols = 45, rows = 5 })
                            @*  <script type="text/javascript">
                                    CKEDITOR.replace("InfoPage.Localizations[" + i + "].ResourceValue", {
                                        //                filebrowserImageBrowseUrl: '/home/uploadPartial',
                                        //                filebrowserImageUploadUrl: '/home/uploadnow'
                                        filebrowserImageUploadUrl: '/home/UploadImage'
                                    });
                                </script>*@
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Localizations[i].ResourceValue)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>