@model Benefit.Domain.Models.InfoPage

@{
    ViewBag.Title = "Інфо сторінка "+ Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('textarea').ckeditor({
                filebrowserImageUploadUrl: routePrefix + '/home/UploadImage'
            });
        });
    </script>
}
@using (Html.BeginForm("CreateOrUpdate", "InfoPages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        @Html.Partial("_PageLocalizedInfo")
    </div>
    <div class="control-group">
        <input type="submit" value="Зберегти" class="btn btn-success width-20" />
        @Html.ActionLink("Cкасувати", "Index", "InfoPages", null, new { @class = "btn btn-danger width-20" })
    </div>
}