@model IEnumerable<Benefit.Domain.Models.InfoPage>

@{
    ViewBag.Title = "Інформаційні сторінки";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
        $("#infoPages").sortable();
        $("#infoPages").disableSelection();
    
        function SaveCatOrder() {
            $("#savePagesOrder").prop("disabled", true);
            var sortedPages = [];
            $("#infoPages li").each(function () {
                var pageId = $(this).attr("data-pageId");
                sortedPages.push(pageId);
            });
            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: routePrefix + "/Admin/InfoPages/Index",
                data: JSON.stringify({ sortedPages: sortedPages }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    flashSuccess(data);
                    $("#savePagesOrder").removeAttr("disabled");
                },
                error: function (data) {
                    console.debug(data);
                }
            });
        }
    </script>
}
<p>
    @Html.ActionLink("Створити нову сторінку", "Create", "InfoPages", null, new { @class = "btn btn-info" })
</p>
<ol class="dd-list width-30" id="infoPages">
    @foreach (var page in Model)
    {
        <li class="dd-item cursor-move" data-pageId="@page.Id">
            <div class="dd-handle">
                @page.Name

                <a class="pull-right btn btn-danger btn-sm cursor" href="@Url.Action("Delete", new { id = page.Id })" onclick="return confirm('Видалити сторінку @page.Name?');">
                    <i class="icon-trash"></i>
                </a>
                <a class="pull-right btn btn-primary btn-sm margin-right-10" href="@Url.Action("Edit", new { id = page.Id })">
                    <i class="icon-edit"></i>
                </a>
                <div style="clear: both;"></div>
            </div>
        </li>
    }
</ol>

@if (Model.Count() > 2)
{
    <hr />
    <div class="control-group">
        <button id="savePagesOrder" class="btn btn-success width-20" onclick="SaveCatOrder();">Зберегти сортування</button>
        @Html.ActionLink("Cкасувати", "Index", "InfoPages", null, new { @class = "btn btn-danger width-20" })
    </div>
}
