@using Benefit.Common.Extensions
@using Benefit.Common.Helpers
@using Benefit.Common.Constants
@model Benefit.DataTransfer.ViewModels.BalanceViewModel
@{
    ViewBag.Title = "Мій баланс";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/datepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/styles/admin.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/Areas/Admin/assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Areas/Admin/assets/js/flot/jquery.flot.resize.min.js"></script>
    <script>
        var createBillUrl = '@Url.Action("CreateBill", "Dashboard")';
        $(function () {
            $(".fn-show-order").click(function (e) {
                e.preventDefault();
                var requestUrl = $(this).attr("href");
                $.get(requestUrl, function (data) {
                    $(".modal-body").html(data);
                    $(".modal").modal();
                });
            });

             $(".date-picker").datepicker();
             $('#date-range-picker').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Ок",
                    "cancelLabel": "Відміна",
                    "customRangeLabel": "Обрати період"
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                autoApply: true
            });

            $("#fn-create-bill").click(function () {
                var sum = $("#data-bill-sum").val();
                $.post(createBillUrl, { sum: sum }, function (data) {
                    flashMessage("Рахунок на оплату створено", false, true);
                });
            });

            var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '250px' });
            var data = [
                { label: "В обробці", data: 24.5, color: "#2091CF" },
                { label: "Успішно завершені", data: 38.7, color: "#68BC31" },
                { label: "Неуспішно завершені", data: 18.6, color: "#DA5430" }
            ]
            function drawPieChart(placeholder, data, position) {
                $.plot(placeholder, data, {
                    series: {
                        pie: {
                            show: true,
                            tilt: 0.8,
                            highlight: {
                                opacity: 0.25
                            },
                            stroke: {
                                color: '#fff',
                                width: 2
                            },
                            startAngle: 2
                        }
                    },
                    legend: {
                        show: true,
                        position: position || "ne",
                        labelBoxBorderColor: null,
                        margin: [-30, 15]
                    }
                    ,
                    grid: {
                        hoverable: true,
                        clickable: true
                    }
                })
            }
            drawPieChart(placeholder, data);
        });
    </script>
}
<div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#history">
                    Історія транзакцій
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#invoices">
                    Рахунки на оплату
                    <span class="badge badge-danger">@ViewBag.NotPaidCount</span>
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#reports">
                    Звіти
                </a>
            </li>

        </ul>
        <div class="tab-content no-border no-padding">
            <div id="history" class="tab-pane active padding-top-15">
                @Html.Partial("~/Areas/Admin/Views/Dashboard/_CabinetPartial.cshtml", Model.Seller)
                <div class="alert alert-secondary orders-filters margin-top-20">
                    @using (Html.BeginForm())
                    {
                        <div style="width: 140px;">
                            <p>Номер замовлення</p>
                            <input type="text" class="form-control" name="OrderNumber" value="@Model.OrderNumber" />
                        </div>
                        <div style="width: 260px;">
                            <p>Код товару</p>
                            <input type="text" class="form-control" name="ProductSKU" value="@Model.ProductSKU" />
                        </div>
                        <div style="width: 360px;">
                            <p>Тип операції</p>
                            @Html.EnumDropDownListFor(m => m.TransactionType)
                        </div>
                        <div style="width: 260px;">
                            <p>Дата операції</p>
                            <input type="text" id="date-range-picker" name="DateRange" class="form-control" placeholder="Виберіть період" value="@Model.DateRange" autocomplete="off">
                        </div>
                        <div style="clear:both; margin-top:25px;">
                            <button type="submit" class="btn btn-purple btn-sm">
                                Фільтрувати
                            </button>
                        </div>
                        <br style="clear:both" />
                    }

                </div>
                <table class="transactions-table border-top margin-top-20">
                    <thead>
                        <tr class="border-bottom">
                            <th>
                                Номер<br /> операції
                            </th>
                            <th>
                                Дата операції
                            </th>
                            <th>
                                Тип операції
                            </th>
                            <th>
                                ID замовлення
                            </th>
                            <th>
                                ID товару
                            </th>
                            <th>
                                Ціна, грн
                            </th>
                            <th>
                                К-ть
                            </th>
                            <th>
                                Загальна вартість, грн
                            </th>
                            <th>
                                Нарахування, грн
                            </th>
                            <th>
                                Списання, грн
                            </th>
                            <th>
                                Баланс, грн
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.SellerTransactions)
                        {
                            <tr class="border-bottom">
                                <td>@transaction.Number</td>
                                <td>@transaction.Time.ToLocalDateTimeWithFormat()</td>
                                <td class="secondary">@Enumerations.GetDisplayNameValue(transaction.Type)</td>
                                <td>
                                    <a class="fn-show-order" href="@Url.Action("GetOrderPartial", "Orders", new { id = transaction.OrderNumber })">@transaction.OrderNumber</a>
                                </td>
                                <td>
                                    @if (transaction.ProductSKU != default(int))
                                    {
                                        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { productUrl = string.Format("{0}-{1}", transaction.ProductUrlName, transaction.ProductSKU) });
                                        <a href="@productDetailsUrl" target="_blank">@transaction.ProductSKU</a>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td>@transaction.Price.ToString("F")</td>
                                <td>@transaction.Amount</td>
                                <td>@transaction.TotalPrice.ToString("F")</td>
                                @{
                                    var chargeClass = transaction.Type == Benefit.Domain.Models.SellerTransactionType.SalesComission ? "secondary" : "";
                                }
                                <td class="@chargeClass">
                                    @if (!transaction.Charge.HasValue)
                                    {
                                        <span>
                                            –
                                        </span>
                                    }
                                    else
                                    {
                                        <span>@transaction.Charge.Value.ToString("F")</span>
                                    }
                                </td>
                                @{
                                    var writeoffClass = transaction.Type == Benefit.Domain.Models.SellerTransactionType.Reserve ? "secondary" : "";
                                }
                                <td class="@writeoffClass">
                                    @if (!transaction.Writeoff.HasValue)
                                    {
                                        <span>
                                            –
                                        </span>
                                    }
                                    else
                                    {

                                        <span>@transaction.Writeoff.Value.ToString("F")</span>
                                    }
                                </td>
                                <td>
                                    <b>@transaction.Balance.ToString("F")</b>
                                    <br />
                                    <span>(-@transaction.GreyZoneBalance.ToString("F"))</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div id="invoices" class="tab-pane">
                @Html.Action("Invoices")
            </div>
            <div id="reports" class="tab-pane">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document" style="width:85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-remove-sign"></i>
                </button>
            </div>
            <div class="modal-body" id="order-details">

            </div>
        </div>
    </div>
</div>