@using Benefit.DataTransfer.ViewModels
@model List<Benefit.Domain.Models.InfoPage>

@{
    ViewBag.Title = "Новини";
}
@section meta
{
    <meta name="description" content="Новини Benefit Company">
    <meta property="og:description" content="Новини Benefit Company" />
    <meta property="og:title" content="Новини" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:site_name" content="Benefit Company" />
}
@section scripts{
    <script>
        var fetchNewsUrl = '@Url.Action("FetchNews")';
        
        window.addEventListener('DOMContentLoaded', function() {
            $(".ajax_load_btn").click(function () {
                var moreBtn = $(this);
                var currentPage = parseInt(moreBtn.attr("data-page"));
                var url = fetchNewsUrl + "?page=" + (currentPage + 1);
                $.get(url,
                    function (data) {
                        $(".items .news-block:last").after(data);
                        moreBtn.attr("data-page", currentPage + 1);
                    });
            });
        })
    </script>
    
}
<div class="wraps hover_shine" id="content">
    <!--title_content-->
    <div class="top_inner_block_wrapper maxwidth-theme">
        <section class="page-top maxwidth-theme">
            @Html.Partial("_BreadcrumbsPartial", new BreadCrumbsViewModel() { IsNews = true })
            <div class="page-top-main">
                <h1 id="pagetitle">Новини</h1>
            </div>
        </section>
    </div>
    <!--end-title_content-->

    <div class="wrapper_inner wide_page">
        <div class="middle ">
            <div class="container">
                <div class="maxwidth-theme">
                    
                    <div class="sub_container fixed_wrapper">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="item-views table-type-block table-elements news2">
                                    <div class="items row flexbox">
                                        @foreach (var page in Model)
                                        {
                                            @Html.Partial("_PageBlock", page)
                                        }
                                    </div>
                                    <div class="bottom_nav">
                                        <div class="ajax_load_btn" data-page="0">
                                            <span class="more_text_ajax">Показати ще</span>
                                        </div>
                                        @*<div class="module-pagination">
                                            <div class="nums">
                                                <ul class="flex-direction-nav">
                                                    <li class="flex-nav-next "><a href="/company/news/?PAGEN_1=2" class="flex-next"></a></li>
                                                </ul>
                                                @for (int i = 0; i < Model.Count; i++)
                                                {
                                                    <a href="#" class="dark_link" id="page-">@(i+1)</a>
                                                }
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  with-padding-left hidden-xs hidden-sm">
                                <div class="fixed_block_fix"></div>
                                <div class="ask_a_question_wrapper">
                                    <div class="ask_a_question">
                                        <div id="fb-root"></div>
                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=635571649935665";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));
                                        </script>
                                        <div class="fb-page" data-href="https://www.facebook.com/https.benefit.ua/" data-tabs="timeline" data-width="285" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/https.benefit.ua/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/https.benefit.ua/">Global Benefit Network Company</a></blockquote></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

