@using Benefit.Common.Helpers
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@using Benefit.Web.Helpers
@model Seller
@{
    Layout = "";
    var seller = ViewBag.Seller as Seller;
    var sellerLogo = seller.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerLogo);
    var todayShedule = seller.Schedules.FirstOrDefault(entry => entry.Day == DateTime.Now.DayOfWeek);
    var address = seller.Addresses.FirstOrDefault();
}

<!DOCTYPE html>
<html class="bx-core bx-no-touch bx-no-retina bx-firefox" lang="ru">
<head>
    <title>@ViewBag.Title - @ViewBag.Seller.Name</title>
    <meta name="description" content="@ViewBag.Seller.ShortDescription">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/seller-bc/files/kernel_main.css" type="text/css" rel="stylesheet">
    <link href="~/Content/seller-bc/files/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="~/Content/seller-bc/files/css.css" type="text/css" rel="stylesheet">
    <link href="~/Content/seller-bc/files/page_2ea1e9132ff7190bbd3265252e5f7524.css" type="text/css" rel="stylesheet">
    <link href="~/Content/seller-bc/files/template_7db76020cbd8036c92a2dba09d133e0f.css" type="text/css" data-template-style="true" rel="stylesheet">

    <script type="text/javascript" src="~/Content/seller-bc/files/kernel_main.js"></script>
    <script type="text/javascript" src="~/Content/seller-bc/files/jquery-2.js"></script>

    <style type="text/css">
        .owl-carousel .animated {
            -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $('.slider').owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                smartSpeed: 1000,
                responsiveRefreshRate: 0,
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                navContainer: '.slider'
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $('.fancyimage').fancybox({
                helpers: {
                    title: {
                        type: 'inside',
                        position: 'bottom'
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/Content/seller-bc/files/template_ee6a4d428e645c07de79d5fb81e50b58.js"></script>
    <script type="text/javascript" src="~/Content/seller-bc/files/page_366c92ece73556fd3b2a608b9cbd4cff.js"></script>

    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <style type="text/css">
        body {
            padding-top: 25px;
        }

        .ic-tooltip-body {
            padding-top: 0
        }

        .ic-tooltip {
            background-color: #444444;
            display: flex;
            justify-content: space-between;
            position: fixed;
            height: 25px;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1
        }

        .ic-tooltip__logo {
            display: flex;
            align-items: center;
            padding-left: 25px;
        }

        .ic-tooltip__buttons {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            padding-right: 20px;
            align-items: center;
        }

            .ic-tooltip__buttons a {
                display: inline-block;
                text-align: center;
                font-size: 13px;
                color: #fff;
                background-color: #7a2511;
                min-height: 20px;
                line-height: 20px;
                padding: 0 20px;
                text-decoration: none;
                margin: 0 10px;
                border-radius: 2px;
            }

                .ic-tooltip__buttons a:hover {
                    text-decoration: none;
                    opacity: .9;
                    color: #fff;
                }
    </style>

</head>

<body>
    <div class="page-wrapper">
        <div class="hidden-xs hidden-sm header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="header">
                        <div class="col-md-2">
                            <a class="logo" href="/">
                                <!--LOGO-->
                                <img src="~/files/seller-bcLogo/@sellerLogo.ImageUrl" alt="@seller.Name" width="160">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p class="tagline">
                                <!--TAGLINE-->
                                @seller.Name
                            </p>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row">
                                <div class="head-blocks">
                                    <div class="col-md-6">
                                        <div class="location">
                                            <!--ADDRESS-->
                                            <div class="map">
                                                <a class="btn btn-default" href="#map" role="button"><i class="fa fa-map-marker"></i><span>На мапі</span></a>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contacts">
                                            <!--CONTACTS-->
                                            <p>
                                                <span class="icon"><i class="fa fa-phone"></i></span>
                                                <span class="phone">@seller.OnlineOrdersPhone</span>
                                                <span class="hidden-md hidden-lg call">
                                                    <a class="btn btn-success" href="tel:@seller.OnlineOrdersPhone" role="button"><i class="fa fa-phone"></i><span>Зателефонувати</span></a>
                                                </span>
                                            </p>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu-wrapper" style="">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--TOP_MENU-->

                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="visible-xs visible-sm navbar-brand" href="/">
                                            <!--LOGO-->
                                            <img src="~/files/seller-bcLogo/@sellerLogo.ImageUrl" alt="@seller.Name" width="100">
                                        </a>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#"><i class="hidden-xs hidden-sm fa fa-home"></i><span class="visible-xs visible-sm">Головна</span></a></li>
                                            <li><a href="#about">Про нас</a></li>
                                            <li><a href="#foto">Фотогалерея</a></li>
                                            <li><a href="#reviews">Відгуки</a></li>
                                            <li><a href="#map">Контакти</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs visible-sm container loc-cont-buttons-wrapper">
            <div class="row loc-cont-buttons">
                <div class="col-xs-6 col-sm-6">
                    <a class="btn btn-default" href="#map" role="button"><i class="fa fa-map-marker"></i><span>На мапі</span></a>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <a class="btn btn-default" href="javascript:void(0)" data-toggle="collapse" data-target="#bs-contacts-collapse-2" role="button">Контакти<span class="caret"></span></a>
                </div>
            </div>
            <div class="collapse contacts-collapse" id="bs-contacts-collapse-2">
                <ul class="nav contacts-nav">
                    <li>
                        <!--CONTACTS-->
                        <p><span class="icon"><i class="fa fa-phone"></i></span><span class="phone">@seller.OnlineOrdersPhone</span><span class="hidden-md hidden-lg call"><a class="btn btn-success" href="tel:+74990000000" role="button"><i class="fa fa-phone"></i><span>Позвонить</span></a></span></p>
                    </li>
                </ul>
            </div>
        </div>
        <!--BLOCK_SLIDER-->
        <div class="slider-wrapper">
            <div class="slider owl-carousel">
                @foreach (var image in seller.Images.Where(entry => entry.ImageType == ImageType.SellerGallery).OrderBy(entry => entry.Order))
                {
                <a class="slider-item" href="javascript:void(0)" style='background-image:url(~/files/seller-bcGallery/@seller.Id/@image.ImageUrl);'>
                    <span class="item-caption">
                        <span class="item-title">@seller.Name</span>
                        <span class='item-text'></span>
                    </span>
                </a>
                }
            </div>
        </div>
        <!--BLOCK_ADVANTAGES-->
        <div class="services-wrapper hidden-xs">
            <div class="container">
                <div class="row advantages">
                    @foreach (var page in seller.InfoPages.OrderBy(entry => entry.Order).Take(3))
                    {
                    <div class="col-sm-6 col-md-3">
                        <div class="adv-caption">
                            <div class="adv-icon">
                                <img src="~/files/NewsLogo/@page.ImageUrl" />
                            </div>
                            <div class="adv-text">@page.Name</div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!--BLOCK_SERVICES-->
        <!--BLOCK_CONTENT-->
        <div class="content-wrapper" id="about">
            <div class="container">
                <div class="row content">
                    <div class="col-md-12">
                        @Html.Raw(seller.Description)
                    </div>
                </div>
            </div>
        </div>
        <!--BLOCK_CONTENT-->
        <!--BLOCK_GALLERY-->
        <div class="gallery-wrapper" id="foto">
            <div class="container">
                <div class="row gallery">
                    <div class="col-md-12">
                        <div class="h1">Фотогалерея</div>
                    </div>



                    @foreach (var image in seller.Images.Where(entry => entry.ImageType == ImageType.SellerGallery).OrderBy(entry => entry.Order))
                    {

                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <a class="gallery-item fancyimage" href="~/files/SellerGallery/@seller.Id/@image.ImageUrl" data-fancybox-group="gallery">
                            <span class="item-image" style="background-image: url(~/files/SellerGallery/@seller.Id/@image.ImageUrl); height: 198px;"></span>
                            <span class="item-caption-wrap" style="height: 198px;">
                                <span class="item-caption">
                                    <span class="item-title">@seller.Name</span>
                                    <span class="item-text"></span>
                                </span>
                            </span>
                        </a>
                    </div>

                    }



                    @Html.Partial("_ReviewsPartial", new ReviewsViewModel
                    {
                    CanReview = false,
                    SellerId = seller.Id,
                    TargetName = Model.Name,
                    Reviews = seller.ApprovedReviews
                    })



                </div>
            </div>
        </div>
        <!--BLOCK_GALLERY-->
        <!--BLOCK_LOCATION-->
        <div id="map" class="map-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-caption">
                            <div class="h1">На мапі</div>
                            <div class="address">
                                <!--ADDRESS-->
                                @if (address != null)
                                {
                                <p>
                                    @address.Region.Name_ua
                                    @if (!string.IsNullOrEmpty(address.AddressLine))
                                    {
                                    @address.AddressLine
                                    }
                                </p>
                                }
                            </div>
                            <div class="contacts">
                                <!--CONTACTS-->
                                <p><span class="icon"><i class="fa fa-phone"></i></span><span class="phone">@seller.OnlineOrdersPhone</span><span class="hidden-md hidden-lg call"><a class="btn btn-success" href="tel:+74990000000" role="button"><i class="fa fa-phone"></i><span>Зателефонувати</span></a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-direction">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21100.589661940616!2d22.266766856929205!3d48.61800267532989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47391853419953f3%3A0xa1b9697b8801ac13!2z0LLRg9C70LjRhtGPINCh0L7QvdGP0YfQvdCwLCAxLCDQo9C20LPQvtGA0L7QtCwg0JfQsNC60LDRgNC_0LDRgtGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4ODAwMA!5e0!3m2!1sru!2sua!4v1518788290600" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!--BLOCK_LOCATION-->


        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="footer">
                        <div class="col-md-4">
                            <div class="copyright">
                                <!--COPYRIGHT-->
                                @seller.Name © 2018.<br>
                                Сайт створено на платформі Benefit
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <!--SOCIAL-->
                            <ul class="join-us">
                                <li><a rel="nofollow" title="ВКонтакте" href="https://vk.com/" target="_blank" style="background:#4d739c;"><i class="fa fa-vk"></i></a></li>
                                <li><a rel="nofollow" title="Фейсбук" href="https://www.facebook.com/" target="_blank" style="background:#3b5998;"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" title="Твиттер" href="https://twitter.com/" target="_blank" style="background:#00aced;"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" title="Ютуб" href="https://www.youtube.com/" target="_blank" style="background:#e62117;"><i class="fa fa-youtube"></i></a></li>
                                <li><a rel="nofollow" title="Гугл плюс" href="https://plus.google.com/" target="_blank" style="background:#c53b29;"><i class="fa fa-google-plus"></i></a></li>
                                <li><a rel="nofollow" title="Инстаграм" href="https://www.instagram.com/" target="_blank" style="background:#855a51;"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-2"></div>
                        <div class="col-sm-6 col-md-2">
                            <!--DEVELOPER-->
                            <a class="developer" title="Benefit Company" target="_blank" href="https://benefit-company.com">Підключитись<br>до Benefit<span class="logo">B</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="scroll-up" href="javascript:void(0)" id="scrollUp"><i class="fa fa-angle-up"></i></a>
        <div class="ic-tooltip " data-ic-tooltip>
            <div class="ic-tooltip__logo hidden-md-down">
                <a href="#">
                    <img src="~/Content/seller-bc/files/b.jpg" width="20" class="custom-logo">
                </a>
                <div class="ic-tooltip__buttons hidden-xs">
                    <a href="@Url.SubdomainRoute(seller.UrlName, "pagesRoute", new {id="stati_postachalnikom" }, true)" target="_blank">
                        Пакет «@Enumerations.GetEnumDescription(seller.Status)»
                    </a>

                    <a href="@Url.SubdomainRoute(seller.UrlName, "pagesRoute", new {id="stati_postachalnikom" }, true)" title="Стати постачальником Benefit" target="_blank">
                        Стати постачальником
                    </a>
                </div>
            </div>
            <div class="ic-tooltip__buttons hidden-xs">
                <a href="@Url.SubdomainAction(seller.UrlName, "order", "cart" , new { id=seller.Id }, true)">
                    Кошик (<span class="count cart-items-number">0</span>)
                </a>
            </div>
        </div>
    </div>
</body>
</html>
