@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("index", "panel", new { area = Benefit.Common.Constants.DomainConstants.CabinetAreaName })">@HttpUtility.UrlDecode(Request.Cookies[Benefit.Common.Constants.RouteConstants.FullNameCookieName].Value)</a>
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right pull-right" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()"><img src="~/Content/img/logout.png" /> </a>
    }
}
else
{
    <div>
        <a href="@Url.Action("login","account")">Вхід</a> |
        <a href="@Url.Action("register","account")">Реєстрація</a>
    </div>
}
