@using Benefit.Common.Extensions
@model Benefit.Domain.Models.InfoPage

<li class="item_block visible">
    <div class="item inner_wrap">
        <div class="img shine">
            <a href="@Url.RouteUrl("pagesRoute", new { id = Model.UrlName })">
                <img src="~/Images/NewsLogo/@Model.ImageUrl" alt="@Model.Keywords" />
            </a>
        </div>
        <div class="info">
            <div class="date">@Model.CreatedOn.ToLocalDateTimeWithFormat()</div>
            <a class="name dark_link" href="@Url.RouteUrl("pagesRoute", new { id = Model.UrlName })">@Model.Name</a>
        </div>
    </div>
</li>