@model Benefit.DataTransfer.ViewModels.MainPageViewModel
@using Benefit.Common.Constants

@{
    ViewBag.Title = "Головна";
    ViewBag.MainPageClass = "main_page";
    ViewBag.MainContentClass = "main_content";
}
@section LeftAside{
    <div class="vertical_menu" id="right-menu">
    </div>
}
@section meta
{
    <meta name="description" content="Benefit Company – це глобальний інтернет ресурс, який надає можливість замовляти ряд різних товарів та послуг онлайн, та заробляти на рекомендаціях. Ви можете замовити будь-що, починаючи від продуктів харчування, їжі з улюбленого ресторану і закінчуючи меблями для дому. І все це, на одному ресурсі. Ми працюємо над тим, щоб забезпечити Ваші потреби! Замовляйте все потрібне на одному ресурсі з доставкою додому у будь-який куточок України, рекомендуйте нас та заробляйте з нами. Benefit Company – Ваше стабільне майбутнє!">
    <meta name="keywords" content="партнерська програма онлайн торговий центр інтернет магазин кешбек">
}
<div class="top_slider">
    @foreach (var banner in Model.Banners)
    {
        <a href="@banner.NavigationUrl">
            <img class="item" src="~/Images/@banner.BannerType/@banner.ImageUrl">
        </a>
    }
</div>
<!-- product carousel -->
<p class="center_p">Товари дня</p>
<div class="product_carousel">
    @foreach (var hit in Model.FeaturedProducts)
    {
        var image = hit.Images.FirstOrDefault();
        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteWithSellerName, new { categoryUrl = hit.Category.UrlName, sellerUrl = hit.Seller.UrlName, productUrl = hit.UrlName });
        <a class="item product_item" href="@productDetailsUrl">
            @* <div class="product_special">
                    <div class="special red">-45%</div>
                    <div class="special orange">бонус 15%</div>
                </div>*@
            <div class="img" style="background-image: url('../../Images/ProductGallery/@hit.Id/@image.ImageUrl');"></div>
            <p>@hit.Name</p>
            @*            <span class="price old">3999,00 грн</span>*@
            <span class="price new">@hit.Price грн</span>
        </a>
    }
</div>
<!-- .product carousel -->
<!-- product carousel -->
<p class="center_p center_p_s">Новинки</p>
<div class="product_carousel recomend_slider">
    <!-- product item -->
    @foreach (var newProd in Model.NewProducts)
    {
        var image = newProd.Images.FirstOrDefault();
        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteWithSellerName, new { categoryUrl = newProd.Category.UrlName, sellerUrl = newProd.Seller.UrlName, productUrl = newProd.UrlName });
        <a class="item product_item" href="@productDetailsUrl">
            @* <div class="product_special">
                    <div class="special red">-45%</div>
                    <div class="special orange">бонус 15%</div>
                </div>*@
            <div class="img" style="background-image: url('../../Images/ProductGallery/@newProd.Id/@image.ImageUrl');"></div>
            <p>@newProd.Name</p>
            @*            <span class="price old">3999,00 грн</span>*@
            <span class="price new">@newProd.Price грн</span>
        </a>
    }
</div>
<!-- .product carousel -->