@using Benefit.Domain.Models
@using Benefit.Web.Helpers
@model Benefit.DataTransfer.ViewModels.MainPageViewModel

@{
    ViewBag.Title = Model.Description.Title;
    var categories = ViewBag.Categories as List<Category>;
}
@section meta
{
    <meta name="description" content="Benefit Company – це глобальний інтернет ресурс, який надає можливість замовляти ряд різних товарів та послуг онлайн, та заробляти на рекомендаціях. Ви можете замовити будь-що, починаючи від продуктів харчування, їжі з улюбленого ресторану і закінчуючи меблями для дому. І все це, на одному ресурсі. Ми працюємо над тим, щоб забезпечити Ваші потреби! Замовляйте все потрібне на одному ресурсі з доставкою додому у будь-який куточок України, рекомендуйте нас та заробляйте з нами. Benefit Company – Ваше стабільне майбутнє!">
}
@section scripts
{
    <script>
        var productOptionsUrl = '@Url.Action("GetProductOptions", "Tovar")';
        var addToCartUrl = '@Url.Action("AddProduct", "Cart")';
    </script>
    <script src="~/Scripts/v3/products.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $(function () {
            $(".toggle-descr").click(function (e) {
                e.preventDefault();
                $(this).parent().find(".contents").css("max-height", "");
                $(this).parent().find(".gradient").remove();
                $(this).remove();
            });

            $('.slider').owlCarousel({
                loop: true,
                margin: 0,
                dots: true,
                responsiveClass: true,
                nav: true,
                navText: [
                    '<a class="banner-nav" href="#"><i class="fa fa-angle-left"></i></a>',
                    '<a class="banner-nav" href="#"><i class="fa fa-angle-right"></i></a>'
                ],
                items: 1,
                autoplay: true,
                autoplayTimeout: 7000,
                startPosition: '0',
                fluidSpeed: true,
                smartSpeed: 1000
            });
        })
    </script>
}
@section styles
{
    <link href="~/Content/v3/css/menu.css" rel="stylesheet" />
    <style>
        .desctop-slider img {
            height: 212px !important;
        }

        .product_carousel .owl-stage {
            padding: 18px 0;
        }

        .owl-prev {
            float: left;
            position: absolute;
            top: 50%;
            margin-top: -15.5px;
            left: 0;
            font-size: 22px;
        }

        .owl-next {
            float: right;
            position: absolute;
            top: 50%;
            margin-top: -15.5px;
            right: 0;
            font-size: 22px;
        }

        .slider {
            width: 98% !important;
        }

            .slider .owl-prev {
                left: 5px;
                font-size: 42px;
                margin-top: -30px;
                color: #9d9a95;
            }

            .slider .owl-next {
                right: 5px;
                font-size: 42px;
                margin-top: -30px;
                color: #9d9a95;
            }

                .slider .owl-prev:hover, .slider .owl-next:hover {
                    color: #fff;
                }

            .slider .owl-dots .owl-dot span {
                width: 18px;
                height: 18px;
                background: #fff;
                border: 1px solid #cdcbca;
                box-sizing: border-box;
            }

            .slider .owl-dots .owl-dot.active span, .slider .owl-dots .owl-dot:hover span {
                background: #990000;
                border-color: #990000;
            }

            .slider .owl-dots {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
    </style>
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
}

<div class="wraps hover_shine" id="content">
    <div class="wrapper_inner front">
        <div class="left_block">
            @Html.Partial("_CategoriesPartial", categories)
            @Html.Partial("_SocialGroups")
        </div>
        <div class="right_block wide_">
            <div class="middle">
                @Html.Partial("_ImageSlider", Model)

                <div class="sections_wrapper">
                    <div class="top_block">
                        <h3 class="title_block">Рекомендовані товари</h3>
                    </div>
                    <div class="list items">
                        <div class="row margin0">
                            @foreach (var product in Model.FeaturedProducts)
                            {
                                @Html.Partial("~/Views/Catalog/_ProductPartial.cshtml", product)
                            }
                        </div>
                    </div>
                </div>

                @if (Model.FirstRowBanner != null)
                {
                    <div class="adv_bottom_block hover_blink">
                        <div class="item">
                            <div class="img shine">
                                <div class="img_inner">
                                    <a href="@Model.FirstRowBanner.NavigationUrl" title="@Model.FirstRowBanner.Title">
                                        <span style="background-image: url(Images/FirstRowMainPage/@Model.FirstRowBanner.ImageUrl)"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!--
                <div class="tizers_block">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="bx_3218110189_2398" class="item">
                                <div class="img">
                                    <img src="images/a970a7b4269ae431dd116d89f1e81fdb.png" alt="Подарочные  сертификаты" title="Подарочные  сертификаты">
                                </div>
                                <div class="title">Подарочные сертификаты</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="bx_3218110189_2399" class="item">
                                <div class="img">
                                    <img src="images/5919a535332800567dd2816811239c25.png" alt="Весь товар сертифицирован" title="Весь товар сертифицирован">
                                </div>
                                <div class="title">Весь товар сертифицирован</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="bx_3218110189_2400" class="item">
                                <div class="img">
                                    <img src="images/e5df9380338e4e6f2d047ed55918af4b.png" alt="30 дней на обмен и возврат" title="30 дней на обмен и возврат">
                                </div>
                                <div class="title">30 дней на обмен и возврат</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="bx_3218110189_2401" class="item">
                                <div class="img">
                                    <img src="images/15cb3aab3d8da3702fe6130bb00d0cbe.png" alt="Удобная и быстрая  доставка" title="Удобная и быстрая  доставка">
                                </div>
                                <div class="title">Удобная и быстрая доставка</div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="wrapper_inner1 wides float_banners hidden-xs">
                    <div class="start_promo other row margin0">
                        <div class="item s_1 hover normal">
                            <a href="#" class="opacity_block1 dark_block_animate" title="де використати бонуси"></a>
                            <div class="scale_block_animate img_block" style="background-image: url('Content/v3/images/de-vikoristati-bonusi2.jpg')"></div>
                        </div>
                        <div class="item s_2 hover normal">
                            <a href="#" class="opacity_block1 dark_block_animate" title="як зробити замовлення"></a>
                            <div class="scale_block_animate img_block" style="background-image: url('Content/v3/images/jak-zroboti-zamovlenna2.jpg')"></div>
                        </div>
                        <div class="item s_3 hover normal">
                            <a href="#" class="opacity_block1 dark_block_animate" title="переваги картки Benefit Card"></a>
                            <div class="scale_block_animate img_block" style="background-image: url('Content/v3/images/perevagi-kartki2.jpg')"></div>
                        </div>
                        <div class="item s_4 hover normal">
                            <a href="#" class="opacity_block1 dark_block_animate" title="заклади benefit Card"></a>
                            <div class="scale_block_animate img_block" style="background-image: url('Content/v3/images/zakladi-benefit-card2.jpg')"></div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="sections_wrapper">
                    <div class="top_block">
                        <h3 class="title_block">Новинки</h3>
                    </div>
                    <div class="list items">
                        <div class="row margin0">
                            @foreach (var product in Model.NewProducts)
                            {
                                @Html.Partial("~/Views/Catalog/_ProductPartial.cshtml", product)
                            }
                        </div>
                    </div>
                </div>

                <div class="news_akc_block clearfix">
                    <div class="top_block">
                        <h3 class="title_block">Новини та акції</h3>
                        <a href="@Url.Action("index", "news")">Всі новини</a>
                    </div>
                    <div class="news_wrapp">
                        <div class="flexslider loading_state shadow border custom_flex top_right" data-lg_count="5" data-plugin-options='{"animation": "slide", "directionNav": true, "itemMargin":30, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [4,3,3,2,1]}'>
                            <ul class="items slides">
                                @foreach (var news in Model.News)
                                {
                                    @Html.Partial("_NewsPartial", news)
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                @if (Model.SecondRowBanner != null)
                {
                    <div class="adv_bottom_block hover_blink">
                        <div class="item">
                            <div class="img shine">
                                <div class="img_inner">
                                    <a href="@Model.SecondRowBanner.NavigationUrl" title="@Model.SecondRowBanner.Title">
                                        <span style="background-image: url(Images/SecondRowMainPage/@Model.SecondRowBanner.ImageUrl)"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Description != null)
                {
                    <div class="company_bottom_block">
                        <div class="row wrap_md">
                            <div class="col-md-3 col-sm-3 hidden-xs img">
                                <img src="~/Images/NewsLogo/@Model.Description.ImageUrl">
                            </div>
                            <div class="col-md-9 col-sm-9 big" style="position: relative;">
                                <div class="contents" style="padding-right: 20px; max-height: 150px;overflow: hidden; text-align: justify;">
                                    @Html.Raw(Model.Description.Content)
                                </div>
                                <div class="gradient">
                                </div>
                                <a href="#" class="btn btn-default toggle-descr">Детальніше</a>
                            </div>
                        </div>
                    </div>
                }

                <div class="brand_main_wrapper">
                    <div class="brands_slider_wrapp flexslider loading_state clearfix" data-plugin-options='{"animation": "slide", "directionNav": true, "itemMargin":30, "controlNav" :false, "animationLoop": true, "slideshow": true, "slideshowSpeed": 5000, "animationSpeed": 600, "counts": [5,4,3,2,1]}'>
                        <ul class="brands_slider slides">
                            @foreach (var seller in Model.Brands)
                            {
                                var sellerUrl = Url.SubdomainAction(seller.UrlName, "Index", "Home", null);
                                var sellerLogo = seller.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerLogo);
                                if (sellerLogo != null)
                                {
                                    <li class="visible" id="bx_1373509569_2440">
                                        <a href="@sellerUrl">
                                            <img class="noborder" src="~/Images/SellerLogo/@sellerLogo.ImageUrl" alt="@seller.Name" title="@seller.Name" />
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
