@model Tuple<List<Benefit.Domain.Models.Product>, List<Benefit.Domain.Models.Product>>
@using Benefit.Common.Constants

@{
    ViewBag.Title = "Головна";
}
@section LeftAside{
    <div class="vertical_menu" id="right-menu">
    </div>
}
<div class="top_slider">
    <img class="item" src="~/Images/MainPageBanners/1.jpg">
    <img class="item" src="~/Images/MainPageBanners/2.jpg">
    <img class="item" src="~/Images/MainPageBanners/3.jpg">
    <img class="item" src="~/Images/MainPageBanners/4.jpg">
    <img class="item" src="~/Images/MainPageBanners/5.jpg">
</div>
<!-- product carousel -->
<p class="center_p">Хіти продажу</p>
<div class="product_carousel">
    @foreach (var hit in Model.Item1)
    {
        var image = hit.Images.FirstOrDefault();
        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { categoryUrl = hit.Category.UrlName, sellerUrl = hit.Seller.UrlName, productUrl = hit.UrlName });
        <a class="item product_item" href="@productDetailsUrl">
            @* <div class="product_special">
                    <div class="special red">-45%</div>
                    <div class="special orange">бонус 15%</div>
                </div>*@
            <div class="img" style="background-image: url('../../Images/ProductGallery/@hit.Id/@image.ImageUrl');"></div>
            <p>@hit.Name</p>
@*            <span class="price old">3999,00 грн</span>*@
            <span class="price new">@hit.Price грн</span>
        </a>
    }
</div>
<!-- .product carousel -->
<!-- product carousel -->
<p class="center_p center_p_s">Новинки</p>
<div class="product_carousel recomend_slider">
    <!-- product item -->
    @foreach (var newProd in Model.Item2)
    {
        var image = newProd.Images.FirstOrDefault();
        var productDetailsUrl = Url.RouteUrl(RouteConstants.ProductRouteName, new { categoryUrl = newProd.Category.UrlName, sellerUrl = newProd.Seller.UrlName, productUrl = newProd.UrlName });
        <a class="item product_item" href="@productDetailsUrl">
            @* <div class="product_special">
                    <div class="special red">-45%</div>
                    <div class="special orange">бонус 15%</div>
                </div>*@
            <div class="img" style="background-image: url('../../Images/ProductGallery/@newProd.Id/@image.ImageUrl');"></div>
            <p>@newProd.Name</p>
@*            <span class="price old">3999,00 грн</span>*@
            <span class="price new">@newProd.Price грн</span>
        </a>
    }
</div>
<!-- .product carousel -->