@using Benefit.Common.Constants
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.SellerDetailsViewModel
@{
    ViewBag.Title = Model.Seller.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section image_src
{
    @{
        var image_src = Model.Seller.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerGallery);
    }
    @if (image_src != null)
    {
        <link rel="image_src" href="~/Images/SellerGallery/@Model.Seller.Id/@image_src.ImageUrl" />
    }
}
@section meta{
    <meta name="description" content="@Model.Seller.ShortDescription">
}
@section scripts{
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 50.127346, lng: 30.111094 },
                zoom: 8
            });

            var geocoder = new google.maps.Geocoder();
            var center;
            @if (Model.Seller.Latitude != null && Model.Seller.Longitude != null)
            {
                <text>
            center = @string.Format("{{lat: {0}, lng: {1}}};", Model.Seller.Latitude, Model.Seller.Longitude)
            SetMarker(map, center);
            </text>
            }
            else{

                var mapAddress = Model.Seller.Addresses.FirstOrDefault();
                var addressStr = string.Empty;
                if (mapAddress != null)
                {
                    addressStr = mapAddress.Region.Name_ua + "," + mapAddress.AddressLine;
                }
                <text>
            address = "@addressStr";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    SetMarker(map, results[0].geometry.location)
                }
            });
            </text>
            }
        }

        function SetMarker(map, center) {
            map.setCenter(center);
            map.setZoom(18);
            var content = "<strong>@Model.Seller.Name</strong><br/>" +
                  "<a href='https://www.google.com/maps/dir/?api=1&destination=" + center.lat + "," + center.lng + "'>Прокласти маршрут</a><br/>";
            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                position: center,
                map: map,
                title: "@Model.Seller.Name"
            });
            google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                return function () {
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                };
            })(marker, content, infowindow));
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Ryf-Uk4SouHzTJPPuUXAVSmaAQ5X-oM&callback=initMap" async defer></script>
}
<div class="clearfix">
    @Html.Partial("_FlashMessage")
    @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)

    <h1 class="margin-bottom-5">@Model.Seller.Name</h1>
    @{
        var specific = (Model.Seller.SellerCategories.FirstOrDefault(entry => entry.IsDefault) ?? Model.Seller.SellerCategories.FirstOrDefault(entry => entry.IsDefault)).Category.Name;
    }
    <p class="organization_type">
        @specific
        <span class="rating_star @CommonConstants.RatingToClass[Model.Seller.AvarageRating ?? default(int)]"></span>
    </p>
    <div class="organization_slider_wrap">
        <div id="organization_slider" class="organization_slider">
            @foreach (var image in Model.Seller.Images.Where(entry => entry.ImageType == ImageType.SellerGallery).OrderBy(entry => entry.Order))
            {
                <img class="item" src="~/Images/SellerGallery/@Model.Seller.Id/@image.ImageUrl" alt="@Model.Seller.AltText" />
            }
        </div>
        @if (Model.Seller.IsBenefitCardActive)
        {
            <div class="benefit_card_bage"></div>
        }
    </div>

    <div class="organization_submenu">
        <div class="organization_bonus">
            -@Model.Seller.UserDiscount %
        </div>
        @if (Model.Seller.Addresses.Any())
        {
            <div class="organization_adress">
                @{
                    var address = Model.Seller.Addresses.FirstOrDefault();
                }
                @if (address != null)
                {
                    <div class="provider_address">
                        <span>
                            @address.Region.Name_ua
                            @if (!string.IsNullOrEmpty(address.AddressLine))
                            {
                                <br />
                                <span>@address.AddressLine</span>
                            }
                        </span>
                    </div>
                }
            </div>
        }

        <div class="organization_hours">
            @{
                //todo: refactor schedules
                var monSchedule = Model.Seller.Schedules.First(entry => entry.Day == DayOfWeek.Monday);
                var satSchedule = Model.Seller.Schedules.First(entry => entry.Day == DayOfWeek.Saturday);
                var sunSchedule = Model.Seller.Schedules.First(entry => entry.Day == DayOfWeek.Sunday);
            }
            Пн.-Пт.
            @if (monSchedule.StartHour == null)
            {
                <span>вихідний</span>
            }
            else
            {
                <span>@monSchedule.StartHour:@monSchedule.StartMinutes.GetValueOrDefault(0).ToString("00") - @monSchedule.EndHour:@monSchedule.EndMinutes.GetValueOrDefault(0).ToString("00")</span>
            }
            <br />
            Сб.
            @if (satSchedule.StartHour == null)
            {
                <span>вихідний</span>
            }
            else
            {
                <span>@satSchedule.StartHour:@satSchedule.StartMinutes.GetValueOrDefault(0).ToString("00") - @satSchedule.EndHour:@satSchedule.EndMinutes.GetValueOrDefault(0).ToString("00")</span>
            }
            <br />
            Нд.
            @if (sunSchedule.StartHour == null)
            {
                <span>вихідний</span>
            }
            else
            {
                <span>@sunSchedule.StartHour:@sunSchedule.StartMinutes.GetValueOrDefault(0).ToString("00") - @sunSchedule.EndHour:@sunSchedule.EndMinutes.GetValueOrDefault(0).ToString("00")</span>
            }
        </div>
        @if (Model.Seller.HasEcommerce)
        {
            <a class="goto_menu" href="@Url.RouteUrl(RouteConstants.SellerCatalogRouteName, new { sellerUrl = Model.Seller.UrlName, categoryUrl = "" })">@Model.Seller.CatalogButtonName</a>
        }
    </div>

    <ul class="tab_menu nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#about_org">Про нас</a></li>
        <li><a data-toggle="tab" href="#map_org">На карті</a></li>
        @*        todo: add Додатково*@
        @*        <li><a data-toggle="tab" href="#addition_org">Додатково</a></li>*@
        @if (!string.IsNullOrEmpty(Model.Seller.ShippingDescription) && Model.Seller.HasEcommerce)
        {
            <li><a data-toggle="tab" href="#delivery_org">Доставка</a></li>
        }
        <li>
            <a data-toggle="tab" href="#recall_org">
                Відгуки
                @if (Model.Seller.Reviews.Any())
                {
                    <span class="badge badge-danger">
                        @Model.Seller.Reviews.Count(entry => entry.ReviewId == null && entry.IsActive)
                    </span>
                }
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="about_org" class="about_org tab-pane fade in active">
            @Html.Raw(Model.Seller.Description)
        </div>

        <div id="addition_org" class="addition_org tab-pane fade">
            <ul>
                <li>Benefit Card</li>
                <li>Wi-Fi</li>
                <li>Оплата карткою</li>
                <li>Парковка </li>
                <li>Дитяча кімната</li>
                <li>Vip кімната</li>
                <li>Тераса</li>
            </ul>
        </div>
        <div id="map_org" class="addition_org tab-pane fade">
            <div id="map" style="width: 100%; height:400px;"></div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Seller.ShippingDescription) && Model.Seller.HasEcommerce)
        {
            <div id="delivery_org" class="delivery_org tab-pane fade">
                <div>
                    @Html.Raw(Model.Seller.ShippingDescription)
                </div>
                @* <p>
                        @foreach (var shipping in Model.Seller.ShippingMethods)
                        {
                            <p>
                                Доставка по <b>@shipping.Region.Name_ua</b> службою <b>@shipping.Name</b>
                                @if (shipping.CostBeforeFree == 0)
                                {
                                    <span>безкоштовна</span>
                                }
                                else
                                {
                                    <span>
                                        становить @shipping.CostBeforeFree грн, від @shipping.FreeStartsFrom - безкоштовна
                                    </span>
                                }
                            </p>
                        }
                    </p>*@
            </div>
        }
        <div id="recall_org" class="recall_org tab-pane fade">
            @Html.Partial("_ReviewsPartial", new ReviewsViewModel
            {
                CanReview = true,
                SellerId = Model.Seller.Id,
                TargetName = Model.Seller.Name,
                Reviews = Model.Seller.ApprovedReviews
            })
        </div>
    </div>
</div>
